[2018-05-28 15:15] shannonmoeller opened #9 "Button Components"
RFC: https://github.com/uber-web/baseui/issues/16
Design: https://www.figma.com/file/L7MSVAit4clxkfGE22NMX86Q/Base-UI?node-id=11558%3A42
Branch: https://github.com/uber-web/baseui/tree/feature/button-components

- [x] Primary
   - [x] Focus
   - [x] Hover
   - [x] Active
   - [x] Compact
- [x] Secondary
   - [x] Focus
   - [x] Hover
   - [x] Active
   - [x] Compact
- [x] Tertiary
   - [x] Focus

[2018-05-28 15:30] shannonmoeller opened #10 "Icon Components"
RFC: https://github.com/uber-web/baseui/issues/15
Design: https://www.figma.com/file/L7MSVAit4clxkfGE22NMX86Q/Base-UI?node-id=19590%3A0
Branch: https://github.com/uber-web/baseui/tree/feature/icon-components

- [x] Components
- [ ] Figma to SVG Component Script
- [ ] Theme
  - [x] Light
  - [ ] Dark

[2018-05-29 22:16] shannonmoeller opened #15 "[RFC] Icon Components"
Icons will be based on SVG so that they can scale as needed. They will use `fill: currentColor;` to inherit from the container's text color. Specific icons will be imported directly.

[code]

[2018-05-29 22:35] shannonmoeller opened #16 "[RFC] Button Components"
TBD

[2018-07-06 18:28] schnerd opened #47 "[RFC] Support for PropTypes"
### Background

Internally we use flow for static type checking and documenting what props our components expect to receive. However, there are valid reasons to consider using PropTypes as a second type checking mechanism:

1. We cannot guarantee that customers of baseui will be using flow (especially if we open source it). If customers do not use flow, they will get zero warnings if they are pass

[2018-07-10 01:30] nadiia opened #48 "[Theming] `borders.useRoundedCorners` prop check along with border radius values"
Seems like the usage of `borders.useRoundedCorners` alongside of `borders.radiusX` can introduce some confusion around the combination of two. When all `borders.radiusX` values are set to `0` while `borders.useRoundedCorners` is still set to `true`. Or what would be the situations one would not use the `useRoundedCorners` check in the border-radius declaration.

Let's rethink the need of this addi

[2018-07-23 20:32] nadiia opened #80 "Extending styled elements cross components"
[code]
Extend styles only if a component itself reused. For example a Tooltip component reuses Popover underneath and so it extends some of popover’s styled elements. In case of two independent component avoid importing and extending styled elements from of any not related component.

[2018-08-02 23:43] rtsao opened #104 "[RFC] bundling + tooling"
- [x] Drop Rollup and just use Babel for transpilation, no need to bundle the library
- [ ] Use file extensions in imports statements, so it is valid ESM and module resolution would work without bundling in the browser (i.e. someone could use unpkg.com urls and `<script type="module">` instead of webpack). You can change the import lint rule to enforce this
- [x] Use webpack to bundle E2E tests

[2018-08-07 21:00] nadiia opened #106 "[Theming] Allow component specific global theme overrides"
There seems to be a need to override global styles per component due to design language differences and variations. Per component global overrides should be on a theme or the ThemeProvider level.

### Current Behavior
Currently, in order to override styles on a specific component across the whole application, you'd need to create and use a customized component that passes needed overrides to the B

[2018-08-07 22:49] KevinGrandon opened #108 "Proposal: Remove e2e/e2e.js in favor of usinga docker-compose workflow"
The current script at `e2e/e2e.js` composes multiple build steps and service orchestration, which can be defined clearly in a standardized file format within docker-compose.

In https://github.com/uber-web/baseui/pull/95 we are adding support for spinning up necessary services (a chrome selenium service, as well as the webserver). We should be able to leverage the same docker based workflow locall

[2018-08-17 01:21] kahwee opened #131 "[Discussion] cloneElement vs createContext"
In RadioGroup, currently we use `cloneElement` to pass the necessary props to `StyledRadio`:

[code]

This allows this cool trick to happen where `props` seem to be automatically passed to the children:

[code]

The downside of this is that `StatelessCheckbox` always has to be a direct descendent of `StatefulRadioGroup` and you cannot do wrap you `StatelessCheckbox` in another element, such as `<d

[2018-08-17 19:15] schnerd commented on #131
I think Ryan had some good comments in favor of this approach in chat:

Or abstract bits of dom into stateless components. this will work with context approach but will break cloneElement

The only trade-off that I can think of here is that `<Radio>` now _only_ works with context. You would be unable to use `<Radio>` without a corresponding `<RadioGroup>`, unless you were to break `<Radio>` up int

[2018-08-17 21:15] blackswanny commented on #131
The only downside of context we have to create extra context component (“ContextRadio”) or do some other sugaring around it. Otherwise it should work faster

https://reactjs.org/docs/context.html

From: David Schnurr <notifications@github.com>
Reply-To: uber-web/baseui <reply@reply.github.com>
Date: Friday, August 17, 2018 at 12:15 PM
To: uber-web/baseui <baseui@noreply.github.com>
Cc: Oleg Gomozo

[2018-08-18 04:01] kahwee commented on #131
We might end up having names like StatefulRadioGroupWithProvider. :( I'm already not a fan of prefixes like "Stateful" and "Stateless" as it gets way too overly verbose when compared to good ole HTML.

I could give a stab at a possible implementation via a PR if there's not much objection. I'm kinda curious what this leads to as well.

[2018-08-20 17:30] abmai commented on #131
I love the new Context API - and would be awesome to see a code proof of concept, Kahwee. I think it'll drive more discussions as well. Could you throw up a PR?

[2018-08-20 23:40] lxe opened #139 "Kitchen Sink Demo"
The storybook is great, but I'd like to see a kitchen sink demo or a couple of examples of how to structure the apps. For example:

https://material-ui.com/page-layout-examples/
https://material-ui.com/page-layout-examples/dashboard/
https://getbootstrap.com/docs/4.0/examples/
https://getbootstrap.com/docs/4.0/examples/dashboard/
https://github.com/ant-design/examples

etc...

[2018-08-22 15:11] emersonlaurentino commented on #9
@shannonmoeller what u think about an `icon` prop and other `iconPosition` to define position `left` or `right`.

Icon of type `string` or `node` (to pass a component) and iconPosition an `enum` of `["left", "right"]`.

[2018-08-22 18:36] abmai commented on #9
The approach here is a bit out of date. I've started working on another `Button` component due to need and will be submitting a new RFC + proof of concept tomorrow.

[2018-08-23 01:05] vctormb commented on #131
Why not using Render Props pattern instead of Context API?

Like this one below, I think that it is a clean way to understand the code and there's no complexity of using Context (just my opinion):
[code]

And the Container would be the manager to pass down the props:
[code]

[2018-08-24 18:24] arkadyp opened #150 "Demo integrating form components with ReduxForm"
It would be super helpful to have a few canonical examples of how to integrate the form components with ReduxForm.

Additionally, it may be worth considering adding some ReduxForm HOC to wrap the components:
[code]
If BaseUI doesn't expose these wrappers, I think that each project that wants to integrate with ReduxForm will need to reimplement this boilerplate.

I wanted to kick off a discussion o

[2018-08-24 18:40] kahwee commented on #150
I use `redux-form` a lot too and it will be nice to have a `baseui-redux-form` repo that exposes the render methods.

[2018-08-25 01:35] ajbogh opened #151 "Add Typescript types to DefinitelyTyped project"
Most of the global developers using a typed language are using Typescript (43% of developers on npm according to a recent conference presentation from the npm team). It would benefit the project to also support Typescript or conversation to Typescript completely instead of Flow.

[2018-08-29 23:50] gergelyke commented on #104
@rtsao can you help how I should change the import rule lint to enforce this?

[2018-08-30 16:34] rtsao commented on #104
IIRC there’s a way to enforce that relative imports have file extensions.

I think I tried this out but it didn’t support auto-fixing, so we’ll probably want to codemod the changes.

[2018-08-31 18:24] schnerd opened #171 "Select UX review changes"
Some of the changes that we discussed while reviewing the new Select component.

**Styles**
- [x] Select element has `not-allowed` cursor even though not disabled, should have default cursor
- [x] Center search dropdown (currently alligned left)
- [x] Selected option in single-select looks very dim, should be black
- [x] Tag styles/padding (@nguyensomniac to update the designs)
- [x] Active single

[2018-09-04 19:28] schnerd opened #183 "[RFC] Internationalization Strategy"
The topic of customizing labels for internationalization came up in #178, and it seemed like we haven't really discussed internationalization/rtl too much.

Regarding _translations_ specifically, here are some of the approaches other folks are using:

- **Atlaskit** supports an `i18n` object prop on components to override labels ([Example](https://atlaskit.atlassian.com/packages/core/pagination)).

[2018-09-04 19:38] schnerd commented on #183
And to be clear about where translated strings may be needed...

Datpicker has quite a few static labels:
<img src="https://user-images.githubusercontent.com/875591/45053306-7314bd00-b03e-11e8-9c73-b03b8efd69e6.png" width="300" />

Select/Input has the default input and and "No Results"
<img src="https://user-images.githubusercontent.com/875591/45053413-c2f38400-b03e-11e8-8854-6f7e7702e62a.png" wi

[2018-09-04 19:54] MarkReeder commented on #183
My preference would be to handle text strings/i18n concerns as we handle themes. If we go that route, we'd probably want some tooling around scoping/merging/extracting of individual component string sets so that you wouldn't have to import all the strings for the entire suite of components to use a single component. That could also be something we punt until later if there are only a handful of st

[2018-09-05 04:23] abmai opened #184 "[Bug] withStyleDeep errors on non StyledComponents"
The change introduced in https://github.com/uber-web/baseui/pull/162 created an error scenario where if the user is trying to style a non-StyledComponents component, the app will error out.

The following use case will error out

[code]

We will try to apply `withStyleDeep` on `BaseComponent`, but `withStyleDeep` expects a `StyledComponent`. `withStyleDeep` does not cover the same surface as `styl

[2018-09-05 05:33] abmai opened #185 "[Menu] Fixes and TODOs"
* [x] Remove/rename `mapStyletronProps`
* [x] Add condensed styles
* [x] a11y check-thru
* [x] Better management of `key`
* [ ] Pass-thru on-click handlers for stateless `Menu`
* [x] Trigger event listeners only on focus
* [ ] Add `isLoading` state with a spinner view
* [x] Add `noResults` state with a 'No results' default message

[2018-09-05 16:30] schnerd opened #188 "Testing components in Node environments"
In #186 we ran into a case where a component was throwing errors server-side because it tried to reference browser specific globals.

Our current unit tests and e2e tests make sure that our components work in browser environments, but we don't have any tests to ensure that errors aren't thrown when rendering on the server.

We've historically used [unitest](https://github.com/rtsao/unitest) for th

[2018-09-05 16:56] kahwee commented on #188
Interesting use case. So we are discussing two issues (I think):

1. jest vs tape
2. how do we make a system that test in node and browser env

I prefer `jest` personally, it's a plus that fusionjs is using it too.

For 2, is it possible to run the same test over both node and browser configurations?

[2018-09-05 17:36] gergelyke commented on #188
I like the Jest projects option - do you want me to give it a try @schnerd , or will you?

[2018-09-05 17:40] schnerd commented on #188
To be clear, this issue is not about jest vs tape. We're sticking with jest.

I don't think so unfortunately, many of our current unit tests invoke component functionality that is dependent on a DOM–or a fake DOM like jsdom–being present. Enzyme's `mount()` isn't intended to work in a node environment and we use that in plenty of our tests.

@gergelyke it'd be awesome if you or someone else on the

[2018-09-05 17:54] gergelyke commented on #188
yeah, I'll do it!

[2018-09-05 17:59] schnerd commented on #184
Hmm neither of them are beautiful. For some reason the second one seems conceptually simpler to me–the use of `__STYLETRON__` isn't ideal but i'd be surprised if that changed, we could always add a unit test to make sure it's present on styled components so a styletron version bump doesn't bite us.

It's also interesting to think about what this will look like if we get Ryan to implement the "midd

[2018-09-05 18:03] abmai commented on #184
Yep also agree that `__STYLETRON__` is much cleaner for now. I'll go ahead and do that. Thanks!

[2018-09-05 20:06] gergelyke opened #191 "Usage examples for menu"
Let's add both basic and advanced (if needed) usage examples for menu.

Examples can be found in the `rfcs` folder for other components.

[2018-09-05 20:07] austin94 opened #192 "[Accessibility] Duplicate IDs are present in Input and Textarea components"
* [x] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

An expected behavior for a standard `Input` (with an associated `Label`) is to have a unique ID for each pairing.

## Current Behavior

The current `Input` and `Textarea` components are providing a `defaultProp` for ID using the `getBuiId

[2018-09-05 20:12] gergelyke commented on #192
thanks a lot for reporting it @austin94 - can you open a pull request with your changes?

[2018-09-06 15:20] MarkReeder opened #199 "Implement Cards Component"
@MarkReeder

[2018-09-06 16:42] #199 closed

[2018-09-06 17:32] #184 closed

[2018-09-06 18:19] austin94 commented on #192
Will do.

[2018-09-07 18:28] abmai opened #207 "[Button] Improvement TODOs"
* [x] A11Y Check-thru
  * [x] Focus style if we do `outline: none`?
  - read: https://jmperezperez.com/outline-focus-ring-a11y/
  - read: https://a11yproject.com/posts/never-remove-css-outlines/
* [x] Design Review
  * [x] Spacing / padding
* [x] Special kind for `spinner`
* [x] justify items `center` and not `space-between` by default

[2018-09-08 21:01] abmai opened #208 "[Proposal] Consolidate all override usages to using `getOverrideObject`"
Replace all instances where we use `getOverride` + `getOverrideProps` with `getOverrideObject`. I added the latter helper with the most recent `Menu` changes and looks like we would always want to pass-thru component + props + style overrides together anyway?

Example code snippet:

[code]

**Pros**
* Consolidate everything into 1 function call
* Less chances of forgetting to do props overriding

[2018-09-08 22:55] abmai commented on #16
Closing since there's a `Button` component now

[2018-09-08 22:55] #16 closed

[2018-09-08 22:55] abmai commented on #9
Closing since there's a `Button` component now

[2018-09-08 22:55] #9 closed

[2018-09-10 17:14] blackswanny commented on #208
ok, good idea

[2018-09-10 23:10] #191 closed

[2018-09-11 00:08] #15 closed

[2018-09-11 00:08] #10 closed

[2018-09-11 19:43] schnerd opened #220 "[Proposal] Change handler consistency"
Here's a quick snapshot of our change handlers:

**Checkbox:** `onChange(evt) { console.log(evt.target.checked); }`
**Input:** `onChange(evt) { console.log(evt.target.value); }`
**Menu:** `onItemSelect(selectedItem: object)`
**Modal:** `onClose(closeSource: string)`
**Pagination:** `onPageChange?: (nextPage: number, prevPage: number)`
**Popover:** `onOpen()`, `onClose()`
**RadioGroup:** `onChange(

[2018-09-11 20:15] gergelyke commented on #220
Thanks for putting this together David!

As I see, moving to a standardized change handler makes users' life a lot simpler. The only thing I'd change is the order of the arguments to be the following: `onChange(event, value, meta)`, because of:

* more intuitive - if you write [native change handlers](https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XUL/Attribute/onchange), you'll get the eve

[2018-09-11 20:33] blackswanny commented on #171
https://github.com/uber-web/baseui/pull/221

[2018-09-11 22:11] schnerd commented on #171
Also it seems like the click target should be the whole highlighted row, not just the text:

![kapture 2018-09-11 at 15 09 50](https://user-images.githubusercontent.com/875591/45390658-f4d39000-b5d4-11e8-9796-6c825ff207e2.gif)

Is this an issue with Select or Menu?

cc @abmai

[2018-09-11 22:41] schnerd commented on #220
I agree it's more similar to native, however in my opinion the frustration users would experience when seeing the inconsistency of event objects outweighs the desire align with native. Our `<Select>`, for example, does not emit native select `change` events and if a user tried to access `event.target.value` it may not be available, this could mislead and confuse many users. Similarly, the events e

[2018-09-11 23:05] gergelyke commented on #220
makes sense David, thanks for the extra information 👍 - it seems I've only checked the libraries which reinforced my point :facepalm:

[2018-09-12 01:46] nguyensomniac opened #226 "[Proposal] Use system font stack for Base UI"
Design is revisiting the type for the internal version of Base UI, and as part of that we'd like to take a stronger opinion on a typeface for the open-source version, i.e. using the system font stack instead of Helvetica.

Looking at what the new type looks like compared to various other typefaces (San Francisco, Helvetica) you can see, the new font for body text is proportionally similar to San F

[2018-09-12 04:44] abmai commented on #220
Maybe controversial opinion here. If we're building for the future anyway - and we're not entirely trying to mimic native handlers, why not go all the way to object params i.e. `onChange({value, event, meta})` so we can forgo order altogether and allow users to just pick out what they need?

I agree that we should come to some sort of standardized API for the non-native change handlers.

[2018-09-12 04:50] gergelyke commented on #220
i like this approach a lot @abmai

[2018-09-12 17:45] gergelyke opened #229 "Flaky checkbox end-to-end test"
In the past weeks the `Checkbox Test Suite › Indeterminate state` failed sometimes - example build :https://buildkite.com/uberopensource/baseui/builds/252#0f493d34-7621-4fa2-bb96-8a2170e7bd2d

[2018-09-12 23:36] alex-page commented on #226
We implemented system fonts across our design system ( https://github.com/govau/uikit ) to great success. For our team the main reasons were to reduce total download size for users in remote locations.

I have also heard good things from designers using system fonts. They have a consistent x-height across all systems which makes it possible to align the different families to a grid in a consistent

[2018-09-13 03:43] schnerd commented on #220
That's a big improvement over event-first I think. With this paradigm we may not need the explicit `meta` property anymore–those properties could just be added to the main object `onChange({prevValue})`.

I do wonder what this object should be named if its not being destructured. Maybe we could use meta for that? `onChange(meta: {})`

[2018-09-13 05:05] abmai opened #237 "[Input Component] Stateless Input should be fully-uncontrolled by default(?)"
We want to be able to have full control over the `.value` of the `Input` component. Using `StatefulInput` means we don't have a way to programmatically clear the value when we need to. So we're trying to use `Input` directly, but right now we'd have to explicitly set `value={null}` when rendering the component to get a fully-uncontrolled `Input`, which seems a bit unintuitive imo.

To expand, we w

[2018-09-13 05:10] abmai commented on #220
What about `data`?

[2018-09-13 17:06] schnerd commented on #237
I'm sort of confused on the use case. You can obtain "full control over the input" by passing a `value` prop to it. Why doesn't the following work?

[code]

[2018-09-13 17:48] blackswanny commented on #220
In my recent designed components `value` was not popular, or it was not a primitive type (object for instance). So I would leave event as first argument. Sometimes value is found in event itself. So my preference to leave only two arguments: event and meta, which may contain any extra information helpful for consumption, including the value itself

[2018-09-13 17:59] schnerd commented on #220
By the same reasoning, sometimes value is *not* found in the `event` (select, slider, pagination, datepicker, etc), so event is "not popular" in those cases. By encouraging users to use the explicit `value` property we'd reduce the cognitive overload they have when implementing different components.

I think Anh's API does a pretty good job of balancing the concern of whether event or value should

[2018-09-13 18:03] blackswanny commented on #220
@schnerd  what should we do if there is no `value` for `onChange` handler (or even other handlers)? Set it to `undefined` ?

[2018-09-13 18:05] abmai commented on #237
We're not keeping track of the `value` ourselves. In this case, we would like to just leave it to the DOM and react to it through the `onChange` handler.

From another perspective, I would expect this input to be functional, but it's not (it doesn't accept user input) until I explicitly set `value={null}`.

[code]

[2018-09-13 18:32] schnerd commented on #220
Just leave it out. Modal `onClose` for example: `onClose({event, source})`

[2018-09-13 18:43] schnerd commented on #237
Interesting – you're right that this is how native `input` behaves in React. Though I do wonder if they were forced to support both behaviors in a single native element, whereas in userland we have the ability to define StatefulInput and Input.

It does still feel a bit strange – like you're trying to use a stateless component as a stateful component. But that said, if the only thing we need to ch

[2018-09-13 18:47] abmai commented on #237
Haha, that's certainly a design choice that needs to be re-visited. We will probably refactor to do that at some point (seems like controlled form component is what React recommends anyway), but are trying to do the least amount of work to integrate Base UI atm and ran into this peculiarity.

And yes, the only change here is to remove the default prop for `value`, wanted to make sure it wasn't som

[2018-09-13 19:47] nadiia commented on #237
I would agree with the David's comment on this interesting approach, but setting it to `null` seems reasonable. Thanks for the PR for it!

[2018-09-13 20:29] gergelyke commented on #220
What would be the benefit of calling it `data` and what would be the benefit of calling it  `event`?

[2018-09-13 20:51] schnerd commented on #220
Calling it `event` makes sense semantically, but when reading code/docs people might initially think it's the normal event object until they read further – it seems like a different name would reduce ambiguity.

Also `originalEvent` might be the react synthetic event, if users want the real native event for some reason they might have to do `event.originalEvent.nativeEvent` which feels a bit gnarl

[2018-09-13 21:36] #237 closed

[2018-09-13 21:36] gergelyke commented on #220
That makes sense - @nadiia would you be ok with `data` or `params`?

[2018-09-13 23:32] abmai commented on #220
In terms of follow-ups (once we determine the final object name - I don't really have a preference there), looks like this will be a breaking change.

There are some other breaking changes that I'd like to get in as well. Should we plan for a v2.0.0, and gather API change proposals somewhere?

[2018-09-13 23:36] gergelyke commented on #220
Just created a 2.0.0 milestone - just add any issues/prs to it that you'd like to include

[2018-09-13 23:39] abmai commented on #106
Are we still looking for a solution here?

[2018-09-13 23:47] blackswanny commented on #220
So I am for one argument as well. Imo, more than 2 arguments becomes confusing of purpose.
One param arg is more flexible.

[2018-09-14 15:40] gergelyke commented on #220
@schnerd @abmai @blackswanny actually, do we want to have a 2.0.0 milestone?

How about we just do major bumps for this, and for the menu too? Then we wouldn't have to wait for merging PRs, so we could move faster with addressing these changes. The user of this library would have to update their usage for either way, just that if we release a major whenever we are ready, they can do it in smaller

[2018-09-14 17:06] blackswanny commented on #220
@gergelyke Ok. nit: usually next major version means some complete change in framework.

[2018-09-14 17:11] gergelyke commented on #220
strictly speaking, it just means an [incompatible API change](https://semver.org/)

[2018-09-14 17:48] abmai commented on #220
Hm, maybe we can still do a "milestone" release, but apply some sort of cadence to major version bumps, so we're not just bumping major versions all the time?

My worry is that a lot of the components are still being battle-tested, whether through our own integration or not, and we might need to evolve the API a handful of times in the next few months. How do we make sure we don't end up with `bas

[2018-09-14 17:54] gergelyke commented on #220
I wouldn't be concerned with that - as I see that's just a number. The smaller the API surface for any given major version, the simplest it will be for consumer to upgrade.

What's your take on it @schnerd @nadiia ?

[2018-09-14 18:04] abmai commented on #220
Just discussed with @gergelyke in chat, we agree that since we're still under pretty heavy development, we should optimize to move faster and bump major versions as often as needed. Once we are more stable (and `baseui` is used by more internal apps), we can slow down to a better major release train. What does everyone else think?

[2018-09-14 18:26] blackswanny commented on #220
all good. Just in case if anyone used our baseui already one of the ways is to do a pre-release version (npm suffixed), so they won't update it automatically and wont take breaking change, send release email and only after remove pre-release suffix from version

[2018-09-14 18:35] abmai commented on #220
Major bumps should already prevent these accidental upgrades for existing users so I don't think we need to do a pre-release. What other cases were you thinking of?

[2018-09-14 18:36] blackswanny commented on #220
no other. What is major bump in this case? we change signature of handlers, so user has to change usage of handlers as well

[2018-09-14 22:10] schnerd commented on #106
Still seems like a problem worth solving, but I don't think we've settled on a solution yet. Folks should feel free to share feedback on the ones proposed above, or any new ideas they might have.

[2018-09-14 23:18] jckr opened #252 "[Theming] create a theme factory?"
* [x] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
TL;DR - I want to be able to create variations of existing themes. Right now in the LightTheme, a lot of the options come from constants in the file which are not exposed. What if in addition to existing themes we added a function that cou

[2018-09-14 23:28] schnerd commented on #252
There are some related ideas in #48

[2018-09-14 23:34] jckr commented on #252
also I just worded the issue. The idea came from @schnerd as an answer to how this could be done.
So I'm new to this. What's the approach for creating proofs of concept?

[2018-09-15 21:42] JoshRosenstein commented on #207
Hey there, I was just pokin around and was wondering if there was a reason Button has justifyContent space-between and not centered? This may result in undesired style for for full width Buttons if both enhancers are not supplied.

Example:
[![Edit uber_centerBTN](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/w0wzxvp608?view=preview)

[2018-09-15 21:59] abmai commented on #207
I think this was originally intended to create the "flushing" behavior for enhancers. I agree that we should follow native behavior and use `center` here; we can flush the enhancers separately or leave that up to the users.

Will PR up a fix. Thanks for pointing this out!

[2018-09-15 22:03] abmai commented on #252
Similar ideas indeed. Do we want to first proceed with a short RFC on how the theme creation/extension could be improved? @jckr I don't think we have a particular RFC format for non-component RFC so it's pretty much free-form at this point.

[2018-09-15 22:09] abmai commented on #171
Seems to be an issue in `Select` atm because the `onClick` handler is attached to the custom label component.

[2018-09-16 01:08] JoshRosenstein opened #256 "[Card] Tiny Bug with overrides prop"
* [x] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
overides prop should not be passed to DOM

## Current Behavior
getting passed down

## Proposed Solution

### Change
[code]

### TO
[code]

## Steps to Reproduce

Link:

1. https://baseui.netlify.com/?selectedKind=Card&selectedStory=Headli

[2018-09-17 17:02] gergelyke commented on #256
Thanks for reporting @JoshRosenstein!

@MarkReeder can you take a look please?

[2018-09-18 05:55] ywu151 opened #270 "Fail to build in udeploy after adding baseui into package.json"
* [ ] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Project could build in udeploy after adding baseUI

## Current Behavior
It always fails in building in udeploy  after adding baseUI

## Context
I use `yarn add baseui` to my project. It works well locally. While it always fails in building

[2018-09-18 06:12] abmai commented on #270
@ywu151 `baseui` needs `styletron-standard` and `styletron-react-core` as `peerDependencies` - so I think you need to install those in your app separately. Can you double check that you have these peerDependencies installed?

https://github.com/uber-web/baseui/blob/master/package.json#L106

[2018-09-18 15:37] nadiia commented on #270
What version of baseui was installed? @ywu151 could you update the package to the latest?

[2018-09-18 16:34] gergelyke commented on #270
closing in favor of discussing internally.

[2018-09-18 16:34] #270 closed

[2018-09-18 17:42] ywu151 commented on #270
Resolved by adding/updating either the peer deps or an unrelated dep
[https://code.uberinternal.com/rMAIROIO8e3cb437c069076f655870133112efc33cbf5446](https://code.uberinternal.com/rMAIROIO8e3cb437c069076f655870133112efc33cbf5446) and [https://code.uberinternal.com/rMAIROIO2e4fd681d818d666965df8e3e94dcc4edde08cda](https://code.uberinternal.com/rMAIROIO2e4fd681d818d666965df8e3e94dcc4edde08cda)
Thx t

[2018-09-18 18:57] tlevin opened #273 "[Tags] Error importing light theme in dist"
There is an error in the relative import for tag/constants.js resulting in this error when importing StatefulSelect
`./node_modules/baseui/tag/constants.js
Module not found: Error: Can't resolve '../../src/themes/light-theme' in '/Users/todd.levin/Uber/ihub/node_modules/baseui/tag`

* [x] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that th

[2018-09-18 19:41] #273 closed

[2018-09-18 22:31] schnerd commented on #256
Thanks Josh! Just merged the proposed fix, we'll cut a release soon enough (let us know if you need that expedited for any reason).

[2018-09-18 22:31] #256 closed

[2018-09-19 14:39] JoshRosenstein commented on #256
No problem. no need to expedite, Im just going through the codebase and studying yalls methods. I really like yalls methodology of having the overrides prop for each component (especially for a CSS-JS based UI, in order to target nested components styles without the use of selectors.) and keeping functional, stateless and state-full components separate.  Great work,

[2018-09-19 15:50] gergelyke commented on #256
Hi Josh,

the new version is now on npm 👌

[2018-09-19 16:29] JoshRosenstein commented on #171
was just about to create an issue but just saw @schnerd comment. Along with the click target bug, the Select Icon is off. in storybook, the "Show Info" button is hiding the the issue.

![select_Issue](https://user-images.githubusercontent.com/32781407/45766593-f705a200-bc05-11e8-91fe-5fbcbd730254.gif)

[2018-09-19 21:01] blackswanny commented on #171
@schnerd  click is fixed
@JoshRosenstein arrow is fixed

[2018-09-20 19:29] gergelyke opened #285 "Sauce Labs improvements"
- [x] run tests in different browsers
- [x] proper instructions on running Sauce Labs tests from local dev envs
- [x] migrating over to Nightwatch
- [x] link sauce lab builds to PRs
- [x] "thank you" to sauce labs in the README

[2018-09-20 19:39] gergelyke commented on #220
@schnerd do you want to take this on, or do you want us to prio it for one of the next sprints?

[2018-09-20 21:30] gergelyke commented on #220
that sounds good, thanks!

[2018-09-20 23:45] ywu151 opened #288 "Bugs about Tooltip"
The onClick function of its child component will become useless.
The tooltip will not disappear even when losing cursor after mouse moves away if mouse moves very fast.

* [ ] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

1. The `onClick` function of its child component will become useless

[2018-09-20 23:54] nadiia opened #289 "FileUploader"

[2018-09-20 23:56] #289 closed

[2018-09-20 23:56] schnerd commented on #288
First issue is fixed by #290

Second issue I'm going to dig into a bit further.

[2018-09-21 00:59] #207 closed

[2018-09-21 21:57] ywu151 opened #296 "Bugs about Single Select"
Dropdown list will not disappear after selecting

* [ ] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Withdraw the dropdown list after selecting one option, which is still there after selection.

## Current Behavior

## Context
Here is my code
[code]

## Your Environment

| Tech    | Versio

[2018-09-21 22:08] gergelyke commented on #288
Released in 1.11.0 🚢

[2018-09-21 22:08] #288 closed

[2018-09-22 19:51] abmai opened #297 "[Theming] Uber specific theme"
Creating one to house some of the `TODO`s currently inside `light-theme.js` so probot will stop complaining.

[2018-09-24 17:41] schnerd opened #298 "Menu Component: Use margin instead of padding for first/last child options"
Current hover style:
![kapture 2018-09-24 at 10 37 52](https://user-images.githubusercontent.com/875591/45968564-322d1a00-bfe6-11e8-95a5-ab2ba147f787.gif)

Desired hover style:
![kapture 2018-09-24 at 10 39 11](https://user-images.githubusercontent.com/875591/45968569-36f1ce00-bfe6-11e8-8d17-adc7abba058b.gif)

@nguyensomniac thoughts?

[2018-09-24 17:47] schnerd commented on #298
Actually Lily is out of office but just checked with Jeff and the second one is the intended style.

[2018-09-24 18:07] abmai commented on #298
Built the first one with intention, probably should have checked with design first. I'll put up a fix!

[2018-09-24 23:16] #298 closed

[2018-09-25 19:52] schnerd opened #306 "[RFC] Component for quick layout, spacing, and typography"
One of the most common needs when building web apps is creating layout elements that have certain layout and typography styles.

For more traditional apps that use global stylesheets, many of the popular CSS frameworks have helper classes to quickly create styled elements (see [Bootstrap](https://getbootstrap.com/docs/4.1/utilities/sizing/), [Tachyons](http://tachyons.io/docs/layout/spacing/)). Ub

[2018-09-25 20:49] ywu151 opened #308 "[Select] Overrides Style for Select Should Have A Simple Way"
* [ ] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Overrides style could be passed easily, for example:
[code]

## Current Behavior
We have to import`StyledRoot` and redefine it in order to change the styles.
[code]

## Context
The width of select component will change based on content whi

[2018-09-25 22:26] schnerd commented on #306
@Warbring3r @kahwee these comments are useful, can you copy them over to [the PR](https://github.com/uber-web/baseui/pull/309/files)?

[2018-09-25 22:27] kahwee commented on #306
Definitely. Thanks @schnerd

[2018-09-25 22:33] Warbring3r commented on #306
Yes, done 👍

[2018-09-25 23:04] nadiia opened #312 "[select] Revisit/refactor the select component"
## Expected Behavior

Provide a stateless select component where a selected values can be controlled.

## Current Behavior

Currently `Select` handles selected values within its internal state and doesn't provide any hook to manage the value without actually selecting/deselecting those.

[2018-09-26 21:56] schnerd commented on #171
Oleg and I just discussed some further changes over Zoom, adding them here:

- [ ]
- [ ]
- [ ]

[2018-09-26 22:00] schnerd commented on #171
Oleg and I just discussed some further changes over Zoom, adding them here:

- [ ] Currently `props.onChange` is called for both _selected value_ change and _text input value_ change. We should refactor so that `onChange` is only called when _selected value_ changes, and we create another `onTextInputChange` for changes to the _text input_ value
- [ ] Rather than having `onTextInputChange` return

[2018-09-26 22:06] schnerd commented on #171
@abmai @nadiia ^ let us know if you have feedback on that

[2018-09-28 19:45] zirho opened #321 "[Controlled Input] Losing focus when Controlled Input has overrides for Input or InputContainer"
Version 1.10.0

[code]

When you render this component, it loses focus on every key press.
I think it's due to rendering a new component on every render in this code.
https://github.com/uber-web/baseui/blob/master/src/input/base-input.js#L102-L104

According to my investigation, it happens when either Input or InputContainer is provided to the ControlledInput.

[2018-10-02 23:17] gergelyke commented on #48
@schnerd  @nadiia is this still something we want to work on? or should we close it?

[2018-10-02 23:27] #285 closed

[2018-10-02 23:28] #229 closed

[2018-10-03 21:42] gergelyke opened #339 "Tag component should use $theme"
Instead of directly depending on values from the [light theme](https://github.com/uber-web/baseui/blob/master/src/tag/constants.js#L12), tag should depend on the [$theme prop](https://github.com/uber-web/baseui/pull/338#discussion_r222471860).

[2018-10-04 16:41] gergelyke commented on #297
closing as https://github.com/uber-web/baseui/pull/342 is merged

[2018-10-04 16:41] #297 closed

[2018-10-08 20:23] gergelyke opened #363 "Fix e2e test reporting for the master branch"
The mocha test runner for nighwatch currently does not support getting the test status in an afterEach hook, so we can't report proper statuses now.

[2018-10-09 14:59] #339 closed

[2018-10-09 23:04] schnerd commented on #312
Just merged #373 – which I think addresses this. Feel free to re-open otherwise.

[2018-10-09 23:04] #312 closed

[2018-10-10 02:38] abmai opened #375 "[RFC] Component Overrides Standardization & Documentation"
### Current State of Overrides API

We have a fairly powerful overrides API. However, I think there are two issues we need to address sooner rather than later.

1. It is not clearly documented to the users and is not easily understood at each component's level. I have received a few repeated questions from users about how to override parts of their components.

2. There is a lack of standardizatio

[2018-10-10 19:32] nadiia commented on #321
@zirho You are correct, the issue is in the creating a new component on every render, but the root of it is in the code of the example above:
[code]
`withStyle` creates a new component here. In order to fix it you'll need to move the override component creating out of the `render`. Try this quick example:
[code]

[2018-10-10 19:33] nadiia commented on #321
Closing the issue as it's not a component bug.

[2018-10-10 19:33] #321 closed

[2018-10-11 00:41] caseyhebebrand opened #377 "[Bug] Select various bugs"
* [x ] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
1. `multiple` prop should default to false
2. `rows` prop should indicate number of options shown in the dropdown list
3. each option needs an `id` in order for the selected styling to be applied appropriately
4. Keyboard shortcuts expose

[2018-10-11 03:52] #48 closed

[2018-10-11 23:40] blackswanny commented on #377
@caseyhebebrand I checked this example. Which `Select` do you use? We use `StatefulSelect`, which holds all states itself. So per issues:
1) Search has no single select mode. Cause we don't have design for it. @nguyensomniac, can you check if it's possible to add design for it?
 I can mention it in RFC, so for Search mode `multiple` is always `true`

2) Valid case. Seems like we broke something.

[2018-10-12 00:20] caseyhebebrand commented on #377
@blackswanny Thanks for answering. I was just testing using `Select`, not `StatefulSelect` which could be my problem for 4.

1. This would be a great use case to make possible.
3. I think clairfying that `id` is necessary in RFC
4. I will send the additional code to you in the morning tomorrow.

Thanks!

[2018-10-12 16:38] caseyhebebrand commented on #377
@blackswanny Here is the code you requested. Let me know if you need anything else.

OptionOverride is just a WIP styled div:
`const OptionOverride = styled('div', {
  padding: 0
});`

EmployeeResultItem is a component which I have modified a bit so it will be easier to test without any extra code:

`const Main = withNewsFont(
  styled('div', props => ({
    ...props.$styles,
    ':hover': {

[2018-10-12 17:56] hanweifish opened #380 "overrides does not work for pagination"
try: overrides={{DropdownMenu: {style: {bottom: '10px'}}}}

seems like the overrides does not propagate styles to the very end node

[2018-10-12 17:58] blackswanny commented on #380
yes, I checked this case. Most popular way to override styles doesn't come through
![image](https://user-images.githubusercontent.com/1851469/46885709-a13fa680-ce0d-11e8-9d50-6ae599f7e1cf.png)

It  stops propagating at menu stateful container
![image](https://user-images.githubusercontent.com/1851469/46885738-b87e9400-ce0d-11e8-837b-5365b4891279.png)

[2018-10-12 18:21] schnerd commented on #380
Thanks for reporting this.

The issue is that `DropdownMenu` is not a styled component, it is another baseui component that we are re-using inside of Pagination. We're still figuring out the best way to support propagating style overrides into other baseui components re-used internally. See **Components Re-use & Overrides** in #375 for related discussion, and please share thoughts if you have any.

[2018-10-12 18:27] schnerd commented on #375
Good timing – #380 is an example of a user getting blocked by **Components Re-use & Overrides**

[2018-10-12 18:36] schnerd commented on #252
I think this exists now, see docs here:
https://github.com/uber-web/baseui/tree/master/src/themes

Feel free to re-open if there's still functionality that's missing.

[2018-10-12 18:36] #252 closed

[2018-10-12 18:44] blackswanny commented on #375
We do not allow to entirely override functional components as it will literally not work and possible break it. I think the main idea of overrides is for granular changes, mostly styles.

This is the great way to explain subcomponents. Something like this:
![image](https://user-images.githubusercontent.com/1851469/46887910-d6e78e00-ce13-11e8-9a16-1ab70e5c6e57.png)

And we need to decide whether to

[2018-10-12 19:03] schnerd commented on #375
@blackswanny can you clarify what you're advocating for by showing a code example for how Select/Menu overrides would work?

[2018-10-12 19:31] abmai commented on #380
Thanks for flagging this, @hanweifish!

@blackswanny what you pointed out is definitely a bug, but not the cause here. Specifically, in this case, it's not completely clear how to override the styles for this `DropdownMenu`. The API is overriding the top level `Menu` component but the styling needs to be applied to an internal styled component.

I'll throw up a fix for this that should get us to a

[2018-10-12 19:50] blackswanny commented on #375
@schnerd We can do
[code]
or
[code]

I prefer second option. Only very most parent declares overrides , which are passed to all internal. For that all overrides should be unique across all Base UI . So instead of `Root` we would have `SelectRoot`, `MenuRoot`, etc

[2018-10-12 21:44] phou87 opened #381 "[Input] Flow typing for onChange's emitted event should be SyntheticEvent<HTMLInputElement>"
Instead, it is SyntheticEvent<HTMLElement> which runs into issues when trying to access event.target.value.

[2018-10-12 22:58] schnerd commented on #375
I don't think the name exposed by parent component needs **exactly** match the one exposed by the it's child. Providing a different name could actually be more descriptive in the public API.

This is especially useful if a component is reused twice. Datepicker will have `Button`s to switch between months and `Button`s for quick select ('3 months', etc). These buttons look and function differently,

[2018-10-12 23:03] blackswanny commented on #375
@schnerd yes, it can be unique only inside of exact component. So if we had original `Root` in `Menu`, it should be renamed and exposed under different name in `Select` usage.
I like the hierarchy you provided here. As it's still under one `overrides` property, which belongs to the very top component. But I would like not to use example I shown above, where we dig into internal props of innner com

[2018-10-12 23:39] nadiia commented on #375
Thank you @abmai for bringing it up and creating the issue and proposals for it! This is a growing issue of inconsistency and confusion. We already have in place the different approaches mentioned here and we do need to standardize on it and make sure we expose overrides for the reused components in a consistent way across the library.
I'm in favor of the 3rd option David mentioned:
[code]
One mor

[2018-10-12 23:51] blackswanny commented on #377
@caseyhebebrand fix for 2)
https://github.com/uber-web/baseui/pull/382

[2018-10-15 23:19] junsuhlee opened #387 "Select Requires filterOption, but it is optional on storybook"
{ Select } is requiring filterOption as mandatory props (on flow check), but on storybook, it says filterOption is an optional and has default behavior.

[2018-10-16 00:27] shanshanzhu opened #388 "Add more icons"
Add icons such as chevron-up and chevron-right, alert with exclamation point in a triangle

* [x ] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

There should be more Icons than it currently has.

## Current Behavior

Limited choices of icons
## Context

[2018-10-16 12:15] schnerd commented on #375
@nadiia great question. I'm inclined to say that we should just keep it simple for now and not allow props overrides for reused components internally, since that helps keep the overrides hierarchy a bit less hectic and people can still do the component replacement if they need to. We could also selectively expose certain props in the top-level component (like offering getSelectPageLabel and passin

[2018-10-16 16:38] gergelyke commented on #388
Hi @shanshanzhu ! for a more comprehensive list of icons, please use the internal `@uber/icons` package.

[2018-10-16 16:38] #388 closed

[2018-10-16 16:44] junsuhlee commented on #387
Thank you!

[2018-10-16 16:44] #387 closed

[2018-10-16 18:42] zirho commented on #321
Oh, thanks!

[2018-10-18 05:13] jasonbarone opened #402 "StatefulToggle checked prop doesn't change state of the toggle"
I'm trying to pass state into the StatefulToggle component's `checked` prop and it doesn't look like it will trigger state the way onChange does.

## Expected Behavior
Passing the `checked` prop via state should change state in the component similar to how the onChange method works.

## Current Behavior
Passing checked will not set state in the toggle.

## Steps to Reproduce
Pass a boolean into ch

[2018-10-18 20:22] hanweifish opened #404 "Pagination issue with onPageChange"
Pagination code here:

https://github.com/uber-web/baseui/blob/master/src/pagination/pagination.js#L79

Why put onPageChange and onNextClick trigger here both, if user set both, it will trigger twice.
Should we only set onPageChange only?

[2018-10-18 20:34] abmai commented on #404
Heya! Thanks for bringing this up.

This is intended behavior, since `onPageChange` is supposed to signal when the page is changing, and `onNextClick` etc is supposed to act as the `onClick` listener for the button itself. So there are two distinct events happening, the `currentPage` is changing **and** the button is being clicked on.

There's a different bug here though, we should be spreading `.

[2018-10-18 20:55] gergelyke commented on #404
Thanks Anh!

[2018-10-18 20:55] #404 closed

[2018-10-18 21:49] #363 closed

[2018-10-18 21:52] #171 closed

[2018-10-19 16:53] gergelyke opened #406 "[Modal] Modal ref type fix"
Make modal ref work without the `any` type: https://github.com/uber-web/baseui/blob/master/src/modal/types.js#L70

[2018-10-19 17:06] nadiia commented on #402
Hi @jasonbarone, thanks for filing the issue! In the example you provided it seems that `StatefulCheckbox` is used. In order to set the initial state for a stateful checkbox you'd need to pass it like this:
[code]
Further change of the `checked` prop will be controlled by the `StatefulCheckbox`'s internal state and cann't be updated based on a new value passed to the `initialState` prop during the

[2018-10-19 17:15] nadiia commented on #402
@jasonbarone I noticed that you use a string value for the `checkmarkType` - it's recommended to import the `STYLE_TYPE` constant and use it as `checkmarkType: STYLE_TYPE.toggle`

[2018-10-19 18:04] #402 closed

[2018-10-19 18:06] jasonbarone commented on #402
Thanks @nadiia, `Checkbox` is exactly what I needed.

[2018-10-19 20:20] ywu151 commented on #296
I add a prop `key` to solve this problem. The component will be re-rendered after every selection since the key always changed. It works well now.
THX

[2018-10-23 16:24] caseyhebebrand commented on #377
@blackswanny Thanks for getting the rows/maxHeight fix out! I am wondering what the progress is on bugs 1 and 4?

1. When the multiple prop is not specified and when it is set (multiple={false}) I am still able to select several options
4. When a custom option is used, the keyboard arrows will accurately navigate through the dropdown options. However, the style of the focused item is overridden by

[2018-10-23 21:20] blackswanny commented on #377
@caseyhebebrand for first one I sent a request to design team. For 4) bug I made a fix https://github.com/uber-web/baseui/pull/411
So in this case your custom `getOptionLabel` will receive `isHighlighted` property also to indicate if it is highlighted by Menu inner logic. So it can be used to override styles as you wish

[2018-10-24 01:37] hanweifish opened #414 "Modal Background Scroll Bar Lock"
Want to have scroll bar lock when modal open,
but tried with Root overflow none does not work.

What dost "Root" point to and how to lock the background if possible?

Ref: overrides: {Root, Backdrop, Dialog, DialogContainer, Close}

[2018-10-25 11:35] schnerd commented on #414
Thanks for opening this issue – preventing background scroll when a modal is open is definitely something we should support.

The `Root` element is just the element holding the modal overlay and its contents, applying `overflow: hidden` to that element won't necessarily prevent the background from scrolling.

Most modal implementations apply `overflow: hidden` to the body element when the modal is

[2018-10-25 19:29] #381 closed

[2018-10-25 22:16] blackswanny opened #424 "[Select] Accessibility test for Select component fails due to unrecognized reason."
Accessibility test for Select component in src/select/e2e.js fails due to unrecognized reason.
aXe core code doesn't reflect any violations of Accessibility, however nightwatch plugin, which utilizes it, returns error back as no results come from aXe.

Need to add it back.
[code]

[2018-10-29 20:51] #380 closed

[2018-10-30 18:06] gergelyke commented on #108
fixed in https://github.com/uber-web/baseui/commit/f7b07772b0166118a4313d4ea38ec536e7444d18

[2018-10-30 18:06] #108 closed

[2018-10-30 18:06] gergelyke commented on #220
It was released in 4.0.0

[2018-10-30 18:06] #220 closed

[2018-11-01 23:43] KevinGrandon opened #446 "Declarative API for Toast components"
### Problem
The current API of the Toast component makes it difficult to render on the server. This means applications which leverage Fusion.js, or SSR, will have a difficult time working with the Toast component.

This has further implications in a redux world when I would expect to be able to use an API like:
[code]

### Recommendation:
Allow for SSR of the Toast component, showing on first load

[2018-11-05 18:33] #414 closed

[2018-11-06 22:31] phou87 opened #457 "Suggested syntax for inlined override components in documentation is flawed"
The documentation suggests providing overrides in the following manner:
[code]

However, this leads to problems with several of the BaseUI components. Below is an example:

https://codesandbox.io/s/6wz97z4qn3

Try checking/unchecking the box and then de-focusing it by clicking the text input. Notice that the styling stays focused.

The reason this doesn't work is that the arrow function creates a

[2018-11-07 01:55] schnerd commented on #457
Great find. Makes sense – defining override functions inline implicitly creates a new component on each render. Sounds like a good pitfall to call out in general overrides documentation, and we should audit overrides examples for all existing components.

[2018-11-07 15:21] gergelyke commented on #457
Hi @phou87 , @schnerd,

thanks for bringing it up! We've just created a story for our next sprint and we'll tackle it then!

[2018-11-08 21:07] nadiia opened #473 "[Accordion] TODOs"
- add support for the `aria-controls` attr
- add unit tests for the accordion component

[2018-11-08 21:12] gergelyke commented on #446
Thanks Kevin! We've added it to our backlog & will tackle this in the next couple sprints!

[2018-11-12 20:18] gergelyke commented on #457
@phou87 @schnerd can you take a look https://github.com/uber-web/baseui/pull/491 ?

[2018-11-12 22:01] #457 closed

[2018-11-12 23:32] ywu151 opened #492 "Initial select component has wrong style"
I just update my baseui to the latest version 4.3.0 and the select component shows the wrong style

[code]

## Expected Behavior

Selected option and dropdown icon are listed as a row instead of column

Remove the solid border

<img width="394" alt="screen shot 2018-11-12 at 3 26 49 pm" src="https://user-images.githubusercontent.com/33992458/48381220-d733ad00-e68f-11e8-8bb0-2acb3aa7f660.png">

##

[2018-11-12 23:34] #492 closed

[2018-11-13 00:46] gergelyke opened #493 "Select should not have a border set"
![image pasted at 2018-11-12 16-44](https://user-images.githubusercontent.com/2174968/48383447-9e4d0580-e69a-11e8-8729-520c66cbf5de.png)

[2018-11-13 17:00] austin94 opened #495 "Remove usage of `any` in flow definitions of `styledWrapper` utility"
The usage of `any` in the `styledWrapper` utility of `src/styles/styled.js` is a temporary work-around to avoid Flow errors.

This should be a more specific type.

* [x] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

## Context

Removing ProBot warnings for `TODO` statements without a linked ticket.

[2018-11-14 20:19] #493 closed

[2018-11-15 18:53] austin94 opened #512 "[DISCUSSION] Modify theming scale values to allow style calculation"
* [x] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

While developing or overriding components that consume theme values I expect to be able to calculate associated styling values from the theme provided.

i.e. If a style in a component should always have a `marginTop` value that is 50% the

[2018-11-15 19:19] schnerd commented on #512
It's maybe worth pointing out that such a change would make baseui a strict pixel-based system. As of right now customers could theoretically create a theme that uses `rem`/`em` for font sizes or spacing. Not necessarily a blocker, but worth considering.

One alternative to consider, though I'm not 100% sure of the support/performance implications, is using `calc()`, which works with any units

[c

[2018-11-15 19:51] nguyensomniac commented on #512
The latter! We lean on the `scale` system—it's a bit manual in that sense but helps us enforce a 4px grid system everywhere.

[2018-11-15 20:10] leyanlo commented on #512
+1 for @schnerd's comment about using `calc()`. Much prefer having scale values you can use directly without having to concatenating units everywhere to use them

[2018-11-15 21:37] austin94 commented on #512
`calc()` is supported all the way down to IE10 so we should be good for browser compatibility.

If there isn't a need for non-CSS logic around the theming values I think that would be the preferred path.

[2018-11-15 22:22] blackswanny commented on #512
So I vote for this improvement as I believe in responsive design, which is easier to develop with relative units (`em`, `%` or `rem`). We can apply pixels as default units as middleware between styletron and base ui. However, adding `px` or other units (overriden) adds some extra performance here

[2018-11-16 10:09] AjayPoshak opened #516 "ES6 code not shipped"
I have seen that the lib tries to make bundles of code transpiled in `es2015` and `es` formats.
From what I have seen is that both bundles are essentially the same.  I am just curious about it. Is that intentional or I am missing something here?

## Expected Behavior
It should have ES6 and ES2015 code published so that consuming libs can make a decision about transpiling it.

## Current Behavior
I

[2018-11-17 02:37] leyanlo commented on #512
I'm not sure if this would actually help in terms of responsive design, though. If, for example, we were to set `typography.font200.lineHeight` to `20` instead of `'20px'`, how else would we use it? Unless I'm missing something, there probably isn't a case where we would want `20em` or `20%` or `20rem` from this. Really it only makes sense as a pixel value, and therefore it's actually helpful that

[2018-11-19 16:40] austin94 commented on #512
I agree with @leyanlo. I'm going to close this in favor of using `calc()`

[2018-11-19 16:40] #512 closed

[2018-11-19 17:46] blackswanny commented on #512
@leyanlo So with relative `em`, `rem` and `%` we can change base font size
(usually applied to `body`) or other size to force the whole app be scaled correspondingly.

[2018-11-20 19:00] shanshanzhu opened #526 "Toast icon is slightly uncentered"
* [x] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior
Adding some margin to the close icon

Close Icon should be centered.
For example, adding a {marginTop: '2px'} to the svg fix it.
## Current Behavior

## Context

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI |

[2018-11-20 19:13] gergelyke commented on #526
Hi @shanshanzhu ! Thanks for opening this issue!

The toast component follows our design spec, and the close icon is not meant to be centered:

<img width="513" alt="screen shot 2018-11-20 at 11 12 25 am" src="https://user-images.githubusercontent.com/2174968/48796739-41160d00-ecb5-11e8-84cb-47a896094a49.png">

[2018-11-20 19:13] #526 closed

[2018-11-20 20:03] shanshanzhu commented on #526
The top of close icon is not aligned with the top of the text like the previous version. We notice this change when upgrading from v2.3.0 to v4.4.x.

It looks odd when the text is only one line

[2018-11-20 20:06] shanshanzhu commented on #526
Latest 4.4.x version
![screen shot 2018-11-20 at 12 05 13 pm](https://user-images.githubusercontent.com/5092813/48799655-9bff3280-ecbc-11e8-9ff5-3b4750337bbd.png)

2.3.0 version
![screen shot 2018-11-20 at 12 01 50 pm](https://user-images.githubusercontent.com/5092813/48799656-9bff3280-ecbc-11e8-8fab-1c1badde4c50.png)

[2018-11-21 00:10] vicapow opened #529 "Component props should use exact types"
This will help prevent regressions for deprecated/renamed props, like `rows` which was renamed `maxDropdownHeight`.

[2018-11-21 17:33] #446 closed

[2018-11-22 00:40] chasestarr opened #536 "Add PR comment with netlify deploy preview"
I just noticed that on new PRs we deploy a preview of the storybook site, but i think it would be useful if this was more visible to folks less familiar with the project. Would others find it helpful to have netlify post a comment into the pr with a link to the preview site?

[2018-11-22 16:07] gergelyke commented on #536
I think that makes perfect sense! 👍

[2018-11-22 18:01] agentcooper opened #537 "shadowFocus and shadowError colors"
In https://github.com/uber-web/baseui/blob/master/src/themes/creator.js#L121:
[code]

Shouldn't those be calculated from `primary400` and `negative400` accordingly?

I did a quick fix for my theme with

[code]

If this looks sane, I can open a PR.

[2018-11-26 17:08] austin94 commented on #537
These values should definitely be calculated form the theme variables.

This conversion could be easy enough for us to maintain the transform utilities are selves, but I could see us needing some more advanced operations in the future.

Could this be a good time to leverage https://polished.js.org/ ?  Should be a very limited bundle increase and has some more advanced utilities like `parseToRgb` a

[2018-11-26 20:58] chasestarr opened #539 "flow $Values utility type does not match against literal"
originally brought up by @brentertz in baseui [slack](https://baseui.slack.com/archives/CCGJPJA1H/p1543243130000200)

## Current Behavior

[code]

## Context

Flow's `$Values` utility type by default does not compare against the string literal, but instead compares to simple string type. The referenced object should be frozen to operate as expected.

[code]

5 or so [instances](https://github.com/

[2018-11-27 00:00] gergelyke commented on #539
Thanks for opening this Chase! Adding it to our backlog

[2018-11-28 04:13] AjayPoshak commented on #516
Sorry, for the delay in response. Yes, I have checked the latest version. I can see that you're publishing ES6 modules in `es` folder under `dist` folder.  Upon further investigation, I came to know that, the transpiled code doesn't contain ES6 modules, moreover there is no difference between commonjs built and ES6 built files.

For example,
`dist/accordion/constants.js`
[code]

And below code fro

[2018-11-28 18:00] blackswanny opened #551 "Select components overlap each other"
Some bug was found by designers team about Select layers of subcomponents

## Expected Behavior

DropDown menu of first Select is overlapped (behind) by inout of second Select ( see attachments)

## Current Behavior

DropDown menu of first Select should not be overlapped by any regular components (not modal) and should be visible to be used properly

## Your Environment

http://3d0b6bb1.ngrok.io/

[2018-11-28 20:23] schnerd opened #553 "Select "Dropdown" overrides naming mismatch"
In latest code on master I think there's a mismatch in naming for the "Dropdown" overrides option.

The code uses `Dropdown` and `DropdownOption`:
[code]
https://github.com/uber-web/baseui/blob/master/src/select/dropdown.js#L115

The RFC says `DropDown` and `DropDownOption`:
[code]

I think the RFC just needs to be changed?

[2018-11-28 20:54] #551 closed

[2018-11-28 20:54] #553 closed

[2018-11-29 23:17] chasestarr commented on #536
set up, see example here: https://github.com/uber-web/baseui/pull/565#issuecomment-443027414

[2018-11-29 23:17] #536 closed

[2018-11-30 00:50] jonsadka opened #568 "[Select] Select component does not ellipsis long values"
Selecting a value with long text in the `<Select>` component does not shorten the string
## Expected Behavior

String should be shortened via some method, preferably an ellipsis.

## Current Behavior

String extends beyond the edge of the container and makes it hard to see the icons

![kapture 2018-11-29 at 16 45 10](https://user-images.githubusercontent.com/6504944/49261398-d53f4d00-f3f6-11e8-80c

[2018-11-30 03:08] #539 closed

[2018-11-30 09:05] nadiia commented on #308
@ywu151 Could you update to the latest version and verify if you still see any of the above issues?

[2018-11-30 09:28] nadiia opened #572 "[Tag] Tag component doesn't handle text overflow when the width of a tag is limited"
* [ x] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

<img width="202" alt="screen shot 2018-11-30 at 1 18 52 am" src="https://user-images.githubusercontent.com/1920399/49280414-fe83cb80-f43e-11e8-8f3b-1e2b1ea65b29.png">
or
<img width="212" alt="screen shot 2018-11-30 at 1 26 10 am" src="ht

[2018-11-30 10:09] vicapow opened #573 "Would it be possible to slow down the rate of major version changes?"

[2018-11-30 16:35] chasestarr commented on #104
is enforcing file extensions still a priority? this eslint [rule](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/extensions.md) seems to do what we want. i could take care of the codemod fairly quick

[2018-11-30 16:38] gergelyke commented on #573
Hi @vicapow!

That's a valid questions - in the past few majors, we stabilized Base UI, we had to work on making right a few early decisions. Moving forward, I'd expect the rate of major versions to slow down.

[2018-11-30 16:38] #573 closed

[2018-11-30 16:38] gergelyke commented on #104
That would be great @chasestarr !

[2018-11-30 17:09] #568 closed

[2018-11-30 18:47] ywu151 commented on #308
No, it works well new. Thx for your work

[2018-11-30 18:47] #308 closed

[2018-11-30 23:56] vicapow opened #580 "screener-storybook should be a devDep"
I think screener-storybook should be a dev dep, based on the description of the package.

[2018-12-03 16:55] chasestarr commented on #580
good find @vicapow , thanks

[2018-12-03 16:55] #580 closed

[2018-12-04 07:55] AjayPoshak commented on #516
May I go ahead and fix it?

[2018-12-06 00:14] #104 closed

[2018-12-07 00:28] NameFILIP opened #626 "Return `mixed` type instead of `void`"
It's better to specify a `mixed` return type instead of `void` on the component handlers like:

[code]

[.../button/types.js](https://github.com/uber-web/baseui/blob/master/src/button/types.js#L29).

`mixed` means the function can return anything and do not care what it is unless you need to use it.

[2018-12-07 00:47] schnerd commented on #626
+1 for being more flexible with the return types. One case where I've found this useful is if I want to make my handler an async function.

[code]

^ async functions implicitly return a promise and flow complained that baseui expected void. Seems like `mixed` would fix this–I don't have a better alternative.

[2018-12-07 16:38] chasestarr commented on #626
good suggestion. I think making this change should be safe

[2018-12-07 18:23] NameFILIP opened #629 "[Menu] Select component with 1500 options takes 500ms to render"
An example is here: https://github.com/NameFILIP/baseui-performance-test

![flamegraph](https://user-images.githubusercontent.com/834796/49665557-155f8a80-fa0a-11e8-98db-59fda0419890.png)

[2018-12-07 19:44] gergelyke commented on #629
Hi @NameFILIP

can you help us what's your use-case for 1500 options?

Also, I've run a quick comparison with Material UI: https://codesandbox.io/s/jnm2kj28w3 - it takes ~3 seconds with it.

With that said, I am sure we can do better! Do you want to take this on and look into it?

[2018-12-07 20:55] NameFILIP commented on #629
I tried replacing an existing component that we use (which takes 200ms). 500ms is very noticeable, so I'll hold off the migration to the baseui element. I might or might not investigate why it happens.

[2018-12-07 22:31] schnerd commented on #629
Rendering 1500 elements is probably just a bad idea in general, especially if only ~10 are visible in the viewport at a given time. And nobody is going to look through a list of 1500 items anyway, they'll just search instead.

We probably want a virtualized list (https://github.com/bvaughn/react-window) or we can do something more naive and just show 50 until the user starts scrolling down to the

[2018-12-10 18:12] tajo opened #634 "Introduce BaseProvider"
Today, if you want to use BaseUI components you need to install Styletron as a separate dependency and set it up for yourself. This has two downsides:

- It creates an extra friction when starting with BaseUI.
- We (BaseUI team) don't have a control over the default settings for Styletron. For example, if we want to start supporting Android 4+ across the board, we can't do it just with a bump of B

[2018-12-10 19:33] rtsao commented on #634
Definitely agreed that extra dependencies introduces more friction.

At the very least, this should be slightly reduced after:
1. Because of changes in Flow 0.85, as of https://github.com/styletron/styletron/pull/279 `styletron-react-core` no longer serves a purpose so it has been deleted (and can be removed as a peer dependency from base UI).
2. https://github.com/uber-web/baseui/pull/635 is land

[2018-12-13 20:36] #226 closed

[2018-12-13 21:54] nadiia opened #649 "[Select] Clicking on the select control or the select arrow should toggle the dropdown"
* [x] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

Clicking on the select control or the select arrow while the dropdown is open should close the drop-down. A subsequebt click should toggle the drop-down.

## Current Behavior

Clicking on the select control or the select arrow while the d

[2018-12-14 18:30] gergelyke commented on #516
That would be amazing!

[2018-12-15 01:07] nadiia opened #658 "[Menu][Select] Menu doesn't scroll into the view initially set highlighted item"
* [x] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

When the initial value of `highlightedIndex` is set it should scroll the highlighted item into the view on initial render.

## Current Behavior

Doesn't scroll an initially set highlighted item into the view on initial render.

[2018-12-18 01:17] #658 closed

[2018-12-19 00:05] nadiia opened #671 "[Select] Make the first item be selectable by default on type+hit Enter action"
* [x] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

## Expected Behavior

When start typing set the highlighted index in the dropdown to the first item and make it selectable on when Enter is pressed.

## Current Behavior

While typing and having the dropdown opened with list of items hitting Enter doesn't do a

[2018-12-19 00:24] chasestarr opened #672 "browser support"
chose to base support off of `css-grid` https://caniuse.com/#feat=css-grid

browsers in the table linked [here](https://caniuse.com/#compare=ie+11,edge+16,firefox+60,chrome+58,safari+10.1,opera+44,ios_saf+10.3,android+67,and_chr+70&compare_cats=CSS,HTML5,JS,JS%20API,Other,SVG) are what i recommend

IE 11
Edge 16
Firefox 60 ([esr](https://www.mozilla.org/en-US/firefox/organizations/))
Safari 10.1
O

[2018-12-19 16:40] gergelyke commented on #672
do you want to open a PR to add it to the docs site?

[2018-12-19 19:44] chasestarr commented on #672
yes, I will after reviewing browser usage in GA

[2018-12-21 00:34] yogurtandjam commented on #629
Note - performance drastically increases when not running components through a CSS Processor (in this case, styled components)

Not saying you should extract all styling into inline styles, just something I've found.

Used a custom component dropdown with 1500 items and ran through react profiler

Inline styles - 79ms initial render
<img width="1162" alt="profileinlinestylescustom" src="https://us

[2018-12-21 20:31] gergelyke commented on #649
can we close this @tajo ?

[2018-12-21 20:31] gergelyke commented on #671
can we close this @tajo ?

[2018-12-21 20:57] #671 closed

[2018-12-21 20:57] #649 closed

[2018-12-21 22:45] lutherism commented on #629
Here's my quick method to speed up rendering, slice the options list to 20 items max, after doing text match filtering. Means they can't scroll through the whole list, but the faster rendering during typing is more important IMO.

[code]

[2018-12-22 01:38] yogurtandjam opened #693 "Throttle keypress to handle medium size dropdowns"
At around 70 options, keypresses wont display new highlights when the user holds it down. Instead there is a lag in DOM updating and the user will see no new information until after letting go of the arrow key, where the highlighted tag will jump as all the keydown events are resolved.

## Feature description
Solution: Add throttle (wait can be 0ms) to allow DOM to update between events. Differenc

[2018-12-22 01:40] yogurtandjam opened #694 "Allow circular scrolling"
Currently, selecting up at the 0 index option will have no response.

Feel like users would expect to go the last index, creating a 'circular' flow of scrolling.

[2018-12-28 19:55] schnerd opened #696 "Intro pages in Storybook stopped working"
https://baseui.design/?selectedKind=Theming&selectedStory=Theming%20values&full=0&addons=1&stories=1&panelRight=0&addonPanel=REACT_STORYBOOK%2Freadme%2Fpanel

![image](https://user-images.githubusercontent.com/875591/50526499-5130c180-0a97-11e9-953b-29c6959c2a3d.png)

Looks like Introduction, Contributing, and Theming pages stopped working in Storybook. I'm assuming they got left behind in the rec

[2018-12-28 22:06] gergelyke commented on #696
They are there, but for some reason it shows you the bottom content only in full screen - you can drag this little thing to show the content:

<img width="800" alt="screen shot 2018-12-28 at 2 04 02 pm" src="https://user-images.githubusercontent.com/2174968/50529449-bc838f00-0aa9-11e9-97af-9a246e748996.png">

[2018-12-28 22:07] gergelyke commented on #696
Please reopen if it does not work for you

[2018-12-28 22:07] #696 closed

[2019-01-02 19:50] schnerd commented on #696
Weird – I think this happened when switching between an external monitor and laptop screen with different sizes. Thanks for looking into it.

[2019-01-02 19:56] #672 closed

[2019-01-08 19:10] #629 closed

[2019-01-08 19:12] chasestarr commented on #629
Added an example to show integration with react-virtualized. Maybe create a stack overflow post with the baseui tag to share other approaches to handle this use case?

[2019-01-10 22:35] #634 closed

[2019-01-10 23:01] #80 closed

[2019-01-11 00:54] nadiia commented on #106
There are some component specific props added to the theme creator. Those mainly handle colors for theme variations.
As per more granular global component overrides, we've come to the decision that a current solution we'd recommend is to create a wrapper component for a Basse UI one that provides necessary overrides to it. And then import and reuse a wrapped customized component when needed.
[code

[2019-01-11 19:58] yogurtandjam opened #744 "[Select] Allow component to mount with dropdown rendered"
## Feature description

Either by altering the implementation of autoFocus or by adding a new prop, allow the user to pass in a prop to Select/StatefulSelect that allows it to render the dropdown upon mounting.

Currently, autoFocus does focus the component when it mounts, but it does not trigger a dropdown render. Feel free to play with this code sandbox https://codesandbox.io/s/8k682q3nrl

[2019-01-11 21:56] Warbring3r commented on #150
Warning: If onChange from redux-form as a HoC is naively passed through to a StatefulSelect component, the first time the StatefulSelect element is changed, the value will not be updated. If the redux-form onChange event is not passed through, the StatefulSelect works as expected. The current fix is to not pass the onChange event through from redux-form as a HoC to Base-UI, but I don't think that'

[2019-01-14 20:08] tseth-uber commented on #626
I think this should be done. I'm bumping into the issue now.

[2019-01-16 19:46] chasestarr commented on #131
I've been thinking about this approach recently in relation of the [button-group](https://github.com/uber-web/baseui/tree/master/src/button-group). A nice benefit of mapping over children is that we can encapsulate identifiers for each child element based on the array index. Some open source [examples](https://github.com/EmaSuriano/react-radio-group-context#controlled-component) of context radio-g

[2019-01-16 23:32] Warbring3r commented on #150
Here is how we got BaseUI and redux-form working nicely together.

First, the redux-form wrapper:
`
         <Field
              name="trailerType"
              label={'Trailer Type*'}
              component={ReduxFormSelectField}
              placeholder={'Select one'}
              required={true}
              options={trailerOptions}
              maxDropdownHeight={'200px'}

[2019-01-30 09:28] agentcooper opened #813 "[Datepicker] Interaction leads to page scroll"
Clicking on the year scroll the page up. Probably an anchor issue.

1. Open https://baseui.design/components/datepicker/
2. Scroll the page a bit
3. Click on the year in the Datepicker

## Current Behavior

Page scrolls up.

## Expected Behavior

Scroll should not be affected.

## Your Environment

BaseUI on https://baseui.design/components/datepicker/.

[2019-02-05 01:45] yogurtandjam opened #849 "[checkbox] allow stylings/ 'compact' prop"
Some components allow for a compact/smaller version. This can be handled with an override but it would be great if the users of the StatefulCheckbox component had some power over some of the stylings.

Or if nothing else, allowing for a compact version as is available in some other baseUI components would be awesome!

As you can see, the current layout I have looks less than optimal.

Worst comes

[2019-02-05 18:10] gergelyke commented on #849
Hi @yogurtandjam, thanks for raising this! We'll work with design to land this soon in Base UI

[2019-02-07 16:18] kahwee opened #859 "[block] Adding more props, e.g. backgroundColor"
These are fairly common use cases for a couple of projects I'm working on.

Can we have the following props available for Block?

* `backgroundColor?: string`
  * Accepts all themeable color properties (`primary200`, etc.).
* `lineHeight?`: [available values](https://developer.mozilla.org/en-US/docs/Web/CSS/line-height)
* `fontWeight?`: [available values](https://developer.mozilla.org/en-US/docs/W

[2019-02-11 21:09] yogurtandjam opened #872 "[datepicker] StatefulDatepicker issues with render method"
Although Datepicker is exported, browser does not recognize it as an element but as a string - there is probably an issue in the render method of the Datepicker component.

This is the example code sandbox with the example code given for Unstable_Datepicker
https://codesandbox.io/s/j430y1pm79?module=/example.js

"Invariant Violation
Element type is invalid: expected a string (for built-in componen

[2019-02-12 04:22] #872 closed

[2019-02-12 04:23] yogurtandjam commented on #872
looks like it just was an unreleased feature that appeared on the docs

[2019-02-13 22:34] bencohen2 opened #883 "Allow date picker quick select to be used for single-day selects"
## Feature description
Quick select on date pickers is only enabled for date pickers for which `isRange` is `true`. Would be great to allow quick select for date pickers where the goal is to pick one specific date.

[2019-02-14 16:45] chasestarr commented on #883
can you provide some examples of useful quick select options?

[2019-02-14 16:48] chasestarr commented on #572
fixed here: https://github.com/uber-web/baseui/pull/882

[2019-02-14 16:48] #572 closed

[2019-02-14 16:52] chasestarr commented on #208
somewhat related - i've been using [this pattern](https://github.com/uber-web/baseui/blob/master/src/file-uploader/file-uploader.js#L34-L58) in components. feels like it cleans up the render function a bit by reducing the override props spreading

[2019-02-14 21:48] schnerd commented on #208
One thing to be wary of is that your logic is creating new react components on every single render. I'm pretty sure this could cause the same bug [encountered here](**url**) with inlined override functions – where focus or other state may not be maintained properly.

That said, wiring up the override logic can certainly feel repetitive/cumbersome, I share your desire to somehow simplify it. A cust

[2019-02-15 15:29] bencohen2 commented on #883
A user is scheduling an appointment for a specific day/time, and 'today' or 'tomorrow' could be quick select links for that specific day

[2019-02-15 18:37] chasestarr commented on #208
good point - i just got bit by that override bug yesterday after i posted that comment

[2019-02-15 18:39] chasestarr commented on #150
going to close this issue since it seems like folks have developed some effective patterns. this post will be still searchable and i've created a stack post for folks searching there

[2019-02-15 18:39] #150 closed

[2019-02-15 21:18] fanglansheng opened #897 "Input component onKeyPress flow type is SyntheticInputEvent"
https://jeng.uberinternal.com/browse/WPT-2563

[2019-02-15 21:18] #897 closed

[2019-02-20 02:09] #406 closed

[2019-02-20 19:40] bschwartz757 opened #918 "BaseUI Block `gridTemplateColumns` accepts array of values but throws Flow error"
## Current Behavior

I am able to pass an array of values to a BaseUI `Block` component and those values are used as media queries - they behave as one would expect, and I don't see any errors/warnings in my editor (VSCode). However, when I run `yarn flow` on my project, it throws an error:

[code]
...
`Cannot create Block element because array literal [1] is incompatible with string [2] in proper

[2019-02-24 23:47] zebralight opened #945 "Accordion's Stateful panel does not respond to "expanded" props"
## Current Behavior
When passing in a value for expandable like so `<StatefulPanel expanded={true} >...`, the component does not render expanded per the documentation.

## Expected Behavior
From API docs:
[code]

See "Expected Behavior"
## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v6.2.0  |
| React   |         |
| browser |         |

- [x] I have searched the [issu

[2019-02-25 19:07] chasestarr commented on #945
responded in the pr

[2019-02-25 19:07] #945 closed

[2019-02-25 21:45] gergelyke commented on #183
this is currently in progress https://github.com/uber-web/baseui/pull/951

[2019-02-25 22:11] VladimirMilenko opened #955 "[Select] Creatable select"
It would be nice to have `creatable` property for Select component.
## Feature description
So, that you can allow creating a new element if there is no option user wants to select.
See example:
https://react-select.com/home#creatable

[2019-02-28 22:13] jasonbarone opened #969 "[breadcrumbs] Update Separator key to be unique"
## Current Behavior
The Separator component inside of Breadcrumbs has a key value that uses the array index. https://github.com/uber-web/baseui/blob/master/src/breadcrumbs/breadcrumbs.js#L36

## Expected Behavior
Key should be unique, so it doesn't conflict when using a map as Breadcrumb children.
[code]

[2019-03-01 01:53] #183 closed

[2019-03-03 00:42] enjoylife opened #976 "Popovers violate invariant rendering after ssr"
I pulled in the latest alpha of [fusion-react](https://github.com/fusionjs/fusion-react/releases/tag/v2.0.0-alpha.2), and was testing out baseui components which are server side rendered, but the popover component was throwing invariant violations, `Invariant Violation: Portals are not currently supported by the server renderer. Render them conditionally so that they only appear on the client rend

[2019-03-05 20:38] #976 closed

[2019-03-06 17:22] VladimirMilenko opened #988 "[Select] Change event value type to object/array"
## Feature description
Right now, onChange handler on select gives you array of values.

It would be nice to separate them. When it's multi select - return an array, when it's just select - return object.

[2019-03-06 23:55] gergelyke commented on #918
Fixed

[2019-03-06 23:55] #918 closed

[2019-03-07 00:01] gergelyke commented on #988
we'll keep this in mind for future breaking changes

[2019-03-07 00:01] #988 closed

[2019-03-07 00:02] #969 closed

[2019-03-07 00:04] gergelyke commented on #955
Just moved this to our internal tracker, closing here

[2019-03-07 00:04] #955 closed

[2019-03-07 04:57] chrisirhc opened #993 "[Menu/Select] make hovered item equivalent to highlighted item"
## Feature description
I think it could be useful to unify the hover and keyboard interactions so that the user can highlight a menu item, and use up/down keys to move the selection up and down.

This avoids the following inconsistent states (Case 1, 2):

Case 1: there's a highlighted selection and also a hovered selection (via the mouse):
<img src="https://user-images.githubusercontent.com/132584

[2019-03-07 05:23] chrisirhc opened #994 "[Menu/Select] add onHighlightedItemChanged handler"
## Feature description
Add a way to listen to changes in the highlighted item in a menu or select. It is called when the highlighted item changes and it can be called with null if no option is highlighted.

## Use case
Display additional information based on the highlighted item in the menu in a separate view.

[2019-03-07 16:10] chasestarr commented on #994
Does this achieve what you're looking for? https://codesandbox.io/s/zkwjqo30rp

[2019-03-07 16:32] gergelyke commented on #993
Thanks for raising this Chris! We have a task for this in our current sprint :) Let me link this issue to that story

[2019-03-07 18:06] chrisirhc commented on #994
@chasestarr yep, I did look at using the `stateReducer`, but forgot to clarify here that I couldn't find a way to attach a `stateReducer` on the `StatefulMenu` for a `select` component.

[2019-03-10 02:15] chasestarr commented on #994
Thanks for the clarification. Looking into Menu component more next week.

[2019-03-11 21:29] gergelyke commented on #813
fixed

[2019-03-11 21:29] #813 closed

[2019-03-12 17:54] yogurtandjam opened #1011 "[Progress Bar] High volume of warnings from adding shorthand margin styles"
https://codesandbox.io/s/8x8n4po2ql

Currently the styling on the progress bar uses 4 longhand margin styles to create a 12px margin uniformly.
Using shorthand margins causes an extremely high volume of warnings, interfering significantly with console visibility.

Very willing to submit a PR to detect shorthand margins and cascade into longhand styles to prevent this
[code]

[2019-03-12 19:54] chasestarr commented on #1011
I recommend always using longhand properties. Refer to the styletron docs for a better description: https://www.styletron.org/concepts/#shorthand-and-longhand-properties

There may be some expansion you could do outside of base ui to save key strokes, but is likely not something we would like to build in the core package

[2019-03-12 19:54] #1011 closed

[2019-03-13 21:58] #424 closed

[2019-03-14 17:33] parkerdan opened #1022 "Select in Modal draws under Modal"
Upgrading from `6.2` to `6.6` and it breaks some of our UI.

We render a `Select` in a `Modal` and the `Select` dropdown contents are drawn under the `Modal` and therefore unselectable

[2019-03-14 18:00] gergelyke commented on #1022
Hi Dan! in our next sprint (starting next Monday) we'll add a z-index manager to Base Web, as we've run into issues like this in the past. For the time being, we'd like to ask you to work around it using the overrides pattern, and pass in a zindex https://baseweb.design/theming/understanding-overrides/

[2019-03-14 18:00] #1022 closed

[2019-03-14 18:09] tajo commented on #1022
Just a note: You should override the Modal `zIndex` in this case.

[2019-03-14 18:11] parkerdan commented on #1022
I understand I can correct things with overrides.  I am just reporting the issue as the default behavior should not be like this IMO.

[2019-03-14 18:12] gergelyke commented on #1022
Yes, we agree - we'll land a fix next week

[2019-03-14 18:13] parkerdan commented on #1022
We will just stay on `6.2` until upgrades are smooth.

We love baseui!!  Keep up the good work!!

[2019-03-15 01:08] schnerd opened #1026 "[Select] Custom option schema + getOptionLabel + noResultsMsg prone to cause errors"
## Current Behavior

Using a custom option schema in conjunction with the `getOptionLabel` prop render a label that uses multiple properties from your object is pretty common.

However, when using `noResultsMsg="..."` to render a pseudo-option when someone types a query that doesn't match, your getOptionLabel callback will be passed this pseudo-option which may not have the properties expected.

T

[2019-03-15 01:37] fadeojo commented on #151
@gergelyke what would it take to get this done?

[2019-03-15 15:51] chasestarr commented on #1026
Tested this with flow checking and it seems to properly warn when I'm dangerously accessing a missing property. Is that coming up when importing the package as a dependency?

<img width="500" alt="Screen Shot 2019-03-15 at 8 32 02 AM" src="https://user-images.githubusercontent.com/5317799/54442949-d7ef5500-46fc-11e9-9d48-4c667db01aa3.png">

I find that there's a lot to be gained from co-locating t

[2019-03-15 16:10] chasestarr commented on #993
Hi Chris - check out this [preview](https://deploy-preview-1016--baseui.netlify.com/components/menu/#menu-with-child-menu) of the proposed changes. Let me know if you have any feedback

[2019-03-15 18:08] chasestarr commented on #185
added event listeners on focus here: https://github.com/uber-web/baseui/pull/1016

[2019-03-15 18:56] schnerd commented on #1026
Interesting – I'm sort of reporting this on behalf of another engineer on the team, but I think the way our code is structured, the flowtype for this callback was getting lost, thus we weren't getting warned though.

Either way, I don't think it's unreasonable to allow Option with a custom schema. How else are we supposed to do custom rendering that uses a variety of fields (not just leveraging `l

[2019-03-15 19:33] chrisirhc commented on #993
This looks great! A couple of things in my quick test.

Really liking:
* Outline indicating focus around the child menu! Nice touch.

Some things I noticed:
* When I clicked on an item in the Menu Stateful example, it seems that I'm unable to use the arrow keys (might unnecessary use case in real environments since the menu would close when something is selected, but it seemed odd when I tried it

[2019-03-15 21:03] YobertyAlej opened #1033 "[error] deploying hello world with next and now"
Error thrown at hello world example deployment using next.js and now

baseui + next.js configuration from: https://www.styletron.org/getting-started/#with-nextjs
Hello World example from official usage: https://github.com/uber-web/baseui#usage

## Current Behavior

_After running now, console logs an error_

**baseui@6.6.0** throws an error at :

**error baseui@6.6.0**: The engine "node" is incomp

[2019-03-15 23:06] zirho opened #1035 "Select in Modal does not show dropdown list correctly"
## Current Behavior
dropdown list is hidden behind the backdrop of the modal

## Expected Behavior
it should show up over the modal

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v6.6.0  |
| React   |  v16.5.0       |
| browser | chrome        |

- [x] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is

[2019-03-15 23:07] zirho commented on #1035
I found the duplicates

[2019-03-15 23:07] #1035 closed

[2019-03-19 15:56] gergelyke commented on #1033
Hi @YobertyAlej ! can you please update your Node.js version to be at least 8.11.0, as the error message suggests?

[2019-03-19 15:56] #1033 closed

[2019-03-19 15:59] gergelyke commented on #993
@chrisirhc any chance you had the time to take a look at the updated menu component? do you think we can close this issue, or are there open concerns?

[2019-03-19 18:09] jh3y commented on #859
Hey @kahwee 👋

Not sure if this would be an accepted solution. To apply certain styles to a `Block`, you could do this via the `overrides` prop.

[code]

[2019-03-19 18:34] leyanlo commented on #859
I think `backgroundColor` makes sense, but shouldn’t `lineHeight` and `fontWeight` come from one of your `font` theme values? Also the X and Y versions of margin/padding seem a little non-standard, not part of CSS or Styletron. Are the `margin` and `padding` shorthands not enough for this purpose?

[2019-03-19 18:36] fadeojo commented on #151
@gergelyke I tried to use dts-gen in this library but the converter doesn't work well with EMS modules. I can help if someone can help with getting started.

[2019-03-19 21:19] chrisirhc commented on #993
Please see my response above. I've reviewed the updated menu component and given my feedback in https://github.com/uber-web/baseui/issues/993#issuecomment-473415299

[2019-03-20 02:21] jasonbarone opened #1044 "[Accordion] CSS focus outline clipping/flickering"
## Current Behavior
Opening/closing an accordion item will show a noticeable flicker of the CSS outline because it's clipping with the accordion item below it.

## Expected Behavior
Outline should not flicker or clip.

[2019-03-20 14:26] AndrewUldin opened #1045 "[File-uploader] Allow to override button component"
## Feature description
That would be great to have an opportunity to override button component. I have a request from UI-designer to implement file-uploader as only a button without drag-and-drop area. I easily changed styles for drag-and-drop but button is fixed and also overrides base button.

[2019-03-20 16:48] #1044 closed

[2019-03-20 17:25] chasestarr commented on #993
PR linked above fixes disabled keyboard navigation after a mouse-out, fixes the virtualized menu example, and initially highlights the first option on focus in. Thanks for the feedback!

[2019-03-20 17:27] chrisirhc commented on #993
Nice! Thanks folks!

[2019-03-20 17:27] #993 closed

[2019-03-20 20:45] gergelyke commented on #626
this is released

[2019-03-20 20:45] #626 closed

[2019-03-21 23:40] jasonbarone opened #1065 "[Toast] Remove CSS floats from CloseIcon"
## Current Behavior
The Toast component uses floats to handle positioning of the CloseIcon component

## Expected Behavior
Toast component should use CSS that has native RTL support, such as Flex or Grid. Handling RTL currently requires passing an RTL prop into component and using custom CSS styling, or it requires refactoring the Toast container to support this natively.

[2019-03-22 00:18] jasonbarone opened #1066 "[Toast] Tab focus should focus to close button when it exists"
## Current Behavior
The default tab focus on Toast will focus to the Toast container, even if the `closeable` option is used.

## Expected Behavior
Focusing to Toast should focus to the close button when it exists. Material has a good example: https://material-components.github.io/material-components-web-catalog/#/component/snackbar. Tabbing through close button should move focus to the content ar

[2019-03-22 01:31] rtsao opened #1068 "Test flow files are being published to npm"
## Current Behavior

`.js.flow` files in `__tests__` are being published to npm.

For example, see: https://unpkg.com/baseui@6.9.0/input/__tests__/

## Expected Behavior

These should not be published, which can be the source of Flow errors when consuming BaseUI in a project

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v6.9.0  |

- [x] I have searched the [issues](

[2019-03-22 16:25] #1068 closed

[2019-03-22 17:02] #1066 closed

[2019-03-22 20:29] #1065 closed

[2019-03-23 22:24] jasonbarone opened #1079 "[Toast] Consider adding a wrapper and moving the icon inside"
## Feature description
The Toast component has an optional close icon, which is rendered as a direct child of the `Body` wrapping component. props.children is a sibling. This makes more difficult to style the icon for full-width notification styles that have a max-width on the inner content. In other words, if your props.children components has a max-width with auto margins, your icon will be outs

[2019-03-25 16:47] chasestarr commented on #1079
@jasonbarone do you mind sharing a codesandbox reproducing the issue? Here's something to get started: https://codesandbox.io/s/8x8rzm0j68?module=/example.js

[2019-03-26 15:50] chasestarr commented on #131
Going to close since it's been sitting for a while. Happy to start the conversation if there is some requirements we can't achieve with the current pattern

[2019-03-26 15:50] #131 closed

[2019-03-26 18:38] chasestarr opened #1085 "[Avatar] Enable top-level API to render initials by default"
Right now, the `Avatar` component assumes that an image will always try to be rendered. Some applications do not provide profile image features to users, but want to show the error fallback state by default. Doing so requires a 'hack' where a developer provides an invalid `src` prop to always trigger the fallback state.

Here is a reproducing code-sandbox: https://codesandbox.io/s/20203jxn80

Ther

[2019-03-26 18:56] tajo commented on #1085
Should we just make the `src` prop optional and when missing using the fallback state immediately?

[2019-03-26 19:29] chasestarr commented on #1085
yeah I think that's a better api 👍

[2019-03-27 05:40] ashish-kale commented on #1085
Is anyone working on this? Can I pick this up?

[2019-03-27 14:45] chasestarr commented on #1085
Hi @ashish-kale it is available. Thanks for looking into it. Let me know if you have any questions about developing on the project

[2019-03-29 17:43] JPTeasdale opened #1099 "[Input] Ref Type does not match react type."
## Current Behavior

StatefulInput's inputRef expects a type of `{ current:  ?HTMLInputElement }` but `React.createRef<HTMLInputElement>` returns a type of `{current:  null | HTMLInputElement}` these are incompatible as ?HTMLInputElement can also be undefined.

So you either get:

[code]
or
[code]

## Expected Behavior

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v

[2019-03-31 20:18] IgorWilbert commented on #994
Hello @chasestarr ! Does this issue still needs to be solved? If yes, may I take it? Thanks!

[2019-03-31 20:21] IgorWilbert commented on #1045
Hello @AndrewUldin ! Is there anyone working on this issue? If not, may I take it? Thanks!

[2019-03-31 21:07] IgorWilbert opened #1102 "[Pagination] Pagination variant proposal"
## Feature description
I think it would be quite interesting to implement a variation of the pagination component, in which some of the numbers of the pages are displayed on the screen instead of using a drop down menu. I apologise if this feature already exists or if there is an open issue for it, I could not find any. Here are some examples:

![example1](https://user-images.githubusercontent.com

[2019-04-01 15:16] chasestarr commented on #994
Thanks @IgorWilbert ! It's available. Thanks for taking a look. Please reach out if you have any questions about the project or the approach

[2019-04-01 15:23] chasestarr commented on #1102
This can be done with overrides - check out an example here: https://codesandbox.io/s/zr0lyovny4

[2019-04-02 20:30] #1085 closed

[2019-04-03 11:09] conradreuter opened #1109 "Inconsistent use of is-prefix in boolean props"
Some of the components are inconsistent in the use of the `is`-prefix for boolean props.

Button
- isLoading
- isSelected
- disabled

Checkbox
- isIndeterminate
- checked
- disabled

Select
- isLoading
- clearable
- disabled
- error
- ... more

Tag
- isHovered
- isFocused
- closable
- disabled

Modal
- isOpen
- closable

Tooltip, Popover
- isOpen
- ignoreBoundary
- showArrow

I propose to drop the

[2019-04-03 11:12] conradreuter commented on #1109
Not completely related to this ticket, but I will still squeeze it in: Would it be a big deal to rename `disabled` while still capturing the intent? I was thinking of `off`. but I don't like it that much.

[2019-04-03 16:23] IgorWilbert opened #1111 "Support for Windows set up"
Hello! I am having many troubles while trying to set up `baseui` on Windows 10. Here are the steps I took:

- The first issue I had was with a `cp command not found` here.https://github.com/uber-web/baseui/blob/cedaaab62c5e137c22e5ee31bb6e559391a230ab/package.json#L26
 After changing the command to `copy` and updating the paths with backslash instead of slash, the file was copied.
- After that I h

[2019-04-03 16:30] gergelyke commented on #1111
Thanks for opening this issue @IgorWilbert - I can put up a PR quickly to fix this

[2019-04-03 16:31] IgorWilbert commented on #1111
@gergelyke sorry, do you want me to fix it or will you fix it?

[2019-04-03 16:33] gergelyke commented on #1111
If you can, that's great! But I am happy to do that too - let me know what you prefer

[2019-04-03 16:34] IgorWilbert commented on #1111
I would really appreciate if you could do it, since I claimed other 2 issues already. Thanks a lot!!!

[2019-04-03 16:45] gergelyke commented on #1111
can you give this a try ? https://github.com/uber-web/baseui/pull/1112

[2019-04-03 18:04] IgorWilbert commented on #1111
@gergelyke sorry, I can only give a try when I get home in around 5 hours, but I'll let you know about it. Thanks!

[2019-04-03 18:07] gergelyke commented on #1111
sounds good, thank you! please reopen if needed! :)

[2019-04-04 01:26] IgorWilbert commented on #1111
Hi @gergelyke ! Unfortunately, I am still having some trouble. `yarn` command was run without errors, but this was the result of `yarn documentation:dev`. The server for the documentation did not launch automatically. I checked `localhost:3000` and `localhost:8081`, but there was nothing to be seen.
![dev](https://user-images.githubusercontent.com/42987854/55523055-ed9dcd80-565d-11e9-9d81-7177e467

[2019-04-04 01:28] IgorWilbert commented on #1111
Also, I don't have permission to reopen the issue.

[2019-04-04 01:29] gergelyke commented on #1111
this happens if the dev server cannot start listening on port 3000 - can you double check if you have nothing listening on that port?

[2019-04-04 01:39] IgorWilbert commented on #1111
I confirm, all ports are available

[2019-04-04 17:05] gergelyke commented on #1111
@IgorWilbert can you give this branch a try? https://github.com/uber-web/baseui/pull/1121

[2019-04-04 17:33] IgorWilbert commented on #1111
@gergelyke thanks, I will try it as soon as I get home, I'll let you know how it goes.

[2019-04-04 22:21] chasestarr commented on #1079
I would rather not add an additional wrapper + override, when this use-case is currently possible check out https://codesandbox.io/s/62o4k86p23

[2019-04-04 22:21] #1079 closed

[2019-04-05 00:28] IgorWilbert commented on #1111
Awesome @gergelyke ! On this branch it launched the documentation website on `localhost:3000` with no issues at all! Thank you for such quick fix! But, as it was mentioned on #1121, I think it will be necessary to add `shx` on the other commands.

[2019-04-05 17:52] jasonbarone opened #1129 "[Tabs] Consider making SEO friendly"
The Tab component does not render Tab panel content until the user interacts with the tab navigation. This prevents content from being crawled properly because search engines don't interact with components.

Would be great to discuss the possibility of rendering all content and use CSS show/hide instead of rendering it on the fly.

[2019-04-05 22:39] ardok opened #1135 "[Datepicker] provide `onClose`"
## Feature description

When `Datepicker` (range) is closed, display an error message if user has only selected one date.

We do not want to show error message while the `Datepicker` is still open.

We do not want to use `Calendar` because we would lose the click outside and other functionalities.

---

For example, the error message in the screenshot should show up after `Datepicker` is closed.

[2019-04-05 23:37] #1135 closed

[2019-04-06 00:39] gergelyke commented on #1111
should be fixed - let us know if you run into further issues!

[2019-04-06 00:39] #1111 closed

[2019-04-09 13:17] chirgjn opened #1139 "Allow adding a prefix to the href attribute of the side-nav"
Currently the Link's href is set to item.itemId in the side-nav component. This makes it cumbersome if all Links need to be prefixed.

I can take this up if needed.

[2019-04-09 21:45] chasestarr commented on #1139
Can the prefix not be applied in the `item.itemId`? I agree this is more effort than a built-in utility in the component, but it allows for a simple interface that all developers understand

[2019-04-10 16:01] chirgjn commented on #1139
I handled it using a HOC just thought would be a nice addition.

[2019-04-10 20:03] lxe opened #1141 "Datepicker preserves state/highlighted day when scrolling through months."
## Current Behavior

![datepicker-highlights-state mov](https://user-images.githubusercontent.com/1486609/55909439-e7917a80-5b90-11e9-9789-2d7051f99f10.gif)

Should not preserve last highlighted day when scrolling

## Your Environment

https://codesandbox.io/embed/v6jxlxx5zl

- [X] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is n

[2019-04-12 00:18] IgorWilbert commented on #1141
Hey @lxe ! Unless you plan to work on it, I'd be happy to take this issue. Thanks!

[2019-04-12 19:56] chasestarr opened #1144 "[Table] header cell border does not fill vertical space if multiple lines"
## Current Behavior

![Image Pasted at 2019-4-12 11-06](https://user-images.githubusercontent.com/5317799/56062744-4a664b80-5d22-11e9-8768-f4dd2593e54e.png)

![image](https://user-images.githubusercontent.com/1380581/56069876-e485be00-5d39-11e9-9a99-af67342ee915.png)

## Expected Behavior

vertical line extends fully

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v6.

[2019-04-13 00:17] yangannyx opened #1152 "Allow passing custom Popper.js modifiers to Popover Component"
## Feature Request
It would be awesome if Popover exposed a way for users to pass custom Popper.js modifiers for some positioning edge-cases.

## Use Case
In my specific usecase, my Popover is anchored to an element inside a `overflow: scroll` sidebar. The [default](https://popper.js.org/popper-documentation.html#modifiers..preventOverflow.boundariesElement) modifier `preventOverflow.boundariesEle

[2019-04-14 01:38] IgorWilbert commented on #744
Hey! Is this issue still available. If yes, may I take it? Thanks!

[2019-04-14 02:42] IgorWilbert opened #1153 "Add Badge component"
## Feature description
This might be a quite small addition, but I guess it would be nice to add a Badge component, since [Material](https://material-ui.com/demos/badges/) and [Bootstrap](https://react-bootstrap.github.io/components/badge/) have some nice examples of it. Personally, I prefer the Material implementation, since it is significantly different from tag component of baseui.

[2019-04-15 11:53] Nargonath opened #1154 "Broken link in README for custom themes"
## Current Behavior
Tried to access the "Creating custom themes" link in the README but led to a 404 page.

## Expected Behavior
I guess it should redirect the actual page with the related information.

## Your Environment
Not relevant.

| Tech    | Version |
| ------- | ------- |
| Base UI | v?.?.?  |
| React   |         |
| browser |         |

- [x] I have searched the [issues](https://github.c

[2019-04-15 16:54] #1045 closed

[2019-04-15 16:59] chasestarr commented on #1153
Thanks @IgorWilbert - badges are not an established pattern in the design system, so I don't imagine this happening any time soon. Will revisit if designers need something like this

[2019-04-15 19:27] #1154 closed

[2019-04-15 22:05] chasestarr opened #1159 "[Slider] Handle labels overlap if too close together"
## Current Behavior

![Image Pasted at 2019-4-15 17-15](https://user-images.githubusercontent.com/5317799/56168351-c7e2c380-5f8f-11e9-8a85-153bde4c8abc.png)

## Expected Behavior

I would expect that the labels change position to avoid overlapping

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v6.13.0  |

- [x] I have searched the [issues](https://github.com/uber-web

[2019-04-16 01:34] IgorWilbert commented on #1153
No problem @chasestarr ! I'm still trying to figure out what may or may not be interesting for this project. Feel free to close this issue if it is not relevant at the moment. Thanks!

[2019-04-17 18:14] #994 closed

[2019-04-17 22:15] leyanlo opened #1166 "Docs site accessibility issues"
Running an accessibility checker [Chrome extension](https://chrome.google.com/webstore/detail/accessibility-insights-fo/pbjjkligggfmakdaogkfomddhfmpjeni), we see a few accessibility issues on the docs site:

![Screen Shot 2019-04-17 at 11 59 55 AM](https://user-images.githubusercontent.com/1285326/56324289-520f6100-6123-11e9-84b7-30186c8d5e09.png)
![Screen Shot 2019-04-17 at 11 59 59 AM](https://u

[2019-04-17 22:18] leyanlo opened #1167 "[ProgressSteps] Tail overlaps the icon"
If you look closely, you’ll see that the ProgressSteps tail overlaps the current step’s icon.

<img width="129" alt="Screen Shot 2019-04-17 at 2 49 12 PM" src="https://user-images.githubusercontent.com/1285326/56324569-13c67180-6124-11e9-878a-ee64a312504b.png">

## Expected Behavior

Would expect the tail to be under the icon, or to at least have no overlap.

- [x] I have searched the [issues](htt

[2019-04-18 01:02] chirgjn commented on #1139
Hey can I pick this up?

[2019-04-18 16:18] chasestarr commented on #1139
yes. rather than only a prefix, can it be a transform function?

[2019-04-19 15:25] chirgjn commented on #1139
Sure, have any good `prop` names in mind for the transformer, `pathTransfromer`?

[2019-04-19 15:34] chasestarr commented on #1139
`transformItem` ? I would to enable the entire item to be transformed rather than just the item `title`

[2019-04-19 15:39] chirgjn commented on #1139
:+1: That's a good one, I will start working on the PR then :smile:

[2019-04-22 19:42] yogurtandjam commented on #1167
https://github.com/uber-web/baseui/pull/1177

[2019-04-23 01:18] healy-uber opened #1179 "Select Component's Menu Still Catches Click Even When It's No Longer Visible"
[Base UI's Select Component](https://baseui.netlify.com/components/select/) has a dropdown menu which conditionally renders depending on if the select component is active. However, after selecting an item, the list persists in the DOM for around 1 second, and can still collect mouse clicks.

This is an issue for our team at Uber because our Form UI has several `Input` and `Select` components stack

[2019-04-23 08:27] #1153 closed

[2019-04-23 18:07] tajo commented on #1179
Looking into it this week. Thanks for the report!

[2019-04-25 22:59] austintang opened #1190 "[Select] Typing a value that doesn't match any option then clicking elsewhere results in a brief display of the options list"
Here is a GIF of the bug in action:
![select_component_issue](https://user-images.githubusercontent.com/42187119/56773191-076c9500-6772-11e9-86e2-8b0d3ae2fdd3.gif)

## Current Behavior

After typing a value that doesn't match any option, if the user proceeds to click elsewhere, the options list gets displayed for a split second with a horizontal offset.

## Expected Behavior

After typing a value

[2019-04-26 00:28] tajo commented on #1179
Fixed and released as `v6.15.1`

[2019-04-26 00:28] #1179 closed

[2019-04-26 19:37] tajo commented on #1190
Thanks! Looking into this soon.

[2019-04-29 18:38] jasonbarone opened #1198 "[Tab] Tab component $active prop doesn't work"
## Current Behavior

The Tabs's `Tab` component $active prop does not seem to work when using overrides.

Please use the example below. https://codesandbox.io/s/5y0p987v14. Clicking the item will force the $active state to true, and the color will not change.

[2019-04-29 20:45] jasonbarone commented on #1198
Closing out. With some help from the team I realized that the active state is actually handled by the container, and already works.

[2019-04-29 20:45] #1198 closed

[2019-04-30 21:38] pkrawc opened #1205 "Toggle Component"
## Feature description

There doesn't seem to be a Toggle component and it's a pretty common UI element in a lot of forms.

It's used often to indicate immediate state changes (eg. the interface would use a toggle to allow the user to turn on/off their wifi functionality).

The key properties of a toggle is that is instantly attempts to save the state change and persist it. In this way it's also u

[2019-04-30 22:01] gergelyke commented on #1205
hi @pkrawc ! you can find it here: https://baseweb.design/components/checkbox/#checkbox-as-a-toggle

[2019-04-30 22:01] #1205 closed

[2019-05-01 00:24] pkrawc commented on #1205
Thanks for the clarification @gergelyke

[2019-05-01 01:11] vlad opened #1209 "Export flow types for Style, Component overrides (and differentiate function vs object)"
## Request: export flow types for overrides to encourage components to follow the base web overrides syntax

As a developer, I would like to enable the same Base Web overrides= interface in my own custom components.  This way, there is one convention in our particular codebase instead of many conventions (such as accepting attributes like component1Style=, componentAbcStyle= ...).

I'm using flow

[2019-05-01 20:25] chirgjn opened #1215 "Add destructive/danger KIND for the Button Component"
## Add destructive/danger `KIND` for the `Button` Component
All the currently supported styles `primary`, `secondary`, `tertiary`, and `minimal` don't work for a destructive action like "Delete".

[2019-05-01 21:18] chasestarr commented on #1215
Hi @chirgjn, this is intentional from design. [This article](https://medium.com/refactoring-ui/7-practical-tips-for-cheating-at-design-40c736799886) (near the bottom) does a good job of describing alternatives.

Going to close for now, but feel free to continue the discussion

[2019-05-01 21:18] #1215 closed

[2019-05-01 21:35] chirgjn commented on #1215
I've read that book :p
My usecase is exactly that: A primary irrevocable destructive action.
The destructive state needs to be used sparsely but it has its place.
Just a small nit, I used overrides with $theme values but it was a lot of work choosing colors for every state (focused, selected etc).

[2019-05-01 21:44] chasestarr commented on #1215
This is a pattern I recommend if you need alternate button colors: https://github.com/chasestarr/baseweb-workshop/blob/master/src/lessons/customizing-themes/solution.js

[2019-05-01 22:05] chirgjn commented on #1215
This is going to be so helpful, thanks a lot :)

[2019-05-02 00:08] chirgjn opened #1221 "bug(side-nav) : DarkTheme is not applied as expected"
`DarkTheme` doesn't change side-nav's appearance

## Current Behavior
Wrapping `Navigation` inside a `ThemeProvider` and using the `DarkTheme` doesn't change the side-nav appearance as per the docs
https://codesandbox.io/embed/zrp78r8533

## Expected Behavior
It should change the side-nav appearance as per the docs

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v6.16

[2019-05-02 00:35] IgorWilbert opened #1222 "[ButtonGroup] Button Group checkbox mode with strange highlight"
## Current Behavior
![Gif](https://user-images.githubusercontent.com/42987854/57051227-ecf55880-6c56-11e9-8917-ed06e39e921a.gif)

The default being light grey, on hover the button gets dark grey and on click it gets blue, as expected. However, when it is clicked while active (blue), it gets permanently dark grey, and only returns to light grey upon clicking again elsewhere.

## Expected Behavior

[2019-05-02 00:35] IgorWilbert commented on #1222
If this happens to be a valid issue, I would like to work on it. Thanks!

[2019-05-02 01:01] IgorWilbert commented on #1221
Thanks @chirgjn ! However, `DarkTheme` does change the side-nav appearance, as can be seen here https://codesandbox.io/s/718287n9vq . Did you expect a different change?

[2019-05-02 01:14] IgorWilbert commented on #1209
@chasestarr the need for overriding subcomponents reminds me of #994. Do you any suggestion to implement it in a general way?

[2019-05-02 14:13] chirgjn commented on #1221
<img width="721" alt="Screenshot 2019-05-02 at 7 40 48 PM" src="https://user-images.githubusercontent.com/3641378/57081408-3fe01600-6d12-11e9-85e7-3159a95ecfdc.png">
 [This](https://baseweb.design/components/sidenav/) is how it shows in the docs with dark theme enabled.

[2019-05-02 15:24] chirgjn opened #1224 "feat(header-navigation): Can we implement a stateful version similar to the side-nav"
The Side Navigation has stateful version which really comes in handy and covers a large amount of major use-cases, but header navigation lacks a stateful version. It would really help having a stateful version for header navigation.

[2019-05-02 15:32] gergelyke commented on #1222
Hi @IgorWilbert ! thanks for opening this issue!

The current behaviour is as expected - the dark grey color stays to show the user what's the focused element, because of accessibility reasons.

[2019-05-02 15:32] #1222 closed

[2019-05-02 15:43] gergelyke commented on #1221
Hi @chirgjn @IgorWilbert,

we are waiting for design to finalize the side navigation - once that's done, we'll update the component. Thank you for your patience!

In the meantime, you can do something like this, that we did for the documentation site: https://github.com/uber-web/baseui/blob/4dff84a366a4cfe501bb4d852dea4f599258f897/documentation-site/components/sidebar.js#L22-L35

I hope it helps!

[2019-05-02 15:43] #1221 closed

[2019-05-02 15:46] gergelyke commented on #139
Closing this, as we have a few examples at https://baseweb.design/getting-started/learn/

[2019-05-02 19:29] tlrobinson commented on #375
Just wanted to chime in with my "overrides" implementation using hooks or higher-order components to eliminates all the manual prop spreading: https://github.com/tlrobinson/overrides

(caveat: I just hacked this together last night and haven't used it for anything real yet. It's possible I'm missing a reason why this is a terrible idea. The only downside I've come up with is the extra layer of wra

[2019-05-02 19:38] vlad commented on #1209
Thanks @gergelyke.  I updated the description to also ask if we could split StyleOverrideT into multiple types so I could be specific about what kind of override syntax my custom component understands.  Fo example, StyleObjectOverrideT, StyleFunctionOverrideT, and StyleOverrideT (for both).

[2019-05-02 20:38] #1190 closed

[2019-05-03 10:18] audiocommander commented on #512
hm, just stumbled upon this really nice project, but I wonder why there are still so many pixel-values all over the place (e.g. [sizing](https://baseweb.design/theming/theming-values/))? Using px values is an absolute no-go for me, as making things responsive and inclusive/barrier-free is a top priority. Is there any roadmap to get rid of px values?

I'm using `em` and `rem` with priority, `%` and

[2019-05-03 15:43] #1139 closed

[2019-05-04 21:48] efleurine commented on #1033
hi @gergelyke out of your mind does downgrading to 8.10 would case a significant issue.
the thing is now platform only use the 8.10 currently.

thanks.

[2019-05-04 23:33] chirgjn commented on #1224
I can start working on this, if anyone could confirm that we want to support this :)

[2019-05-06 06:43] paschalidi opened #1236 "[Accessibility] ARIA Improvement for Modal component"
Hello 👋 🌸 everybody! Thanks for the amazing work you are going here and thanks for giving us such a nice project to look up to! 🏆

As currently the modal functions, there might be some improvements to be made on the accessibility side.
[I take w3 accessibility practises as guide](https://www.w3.org/TR/wai-aria-practices/#dialog_modal). Following the link we can see that in the section "Keyboard In

[2019-05-06 12:47] devey opened #1237 "Grid system"
Hallo, do you have any plans to have a [grid system](https://ant.design/components/grid/)?

[2019-05-06 15:32] gergelyke commented on #1224
@nadiia @chasestarr @tajo what do you all think?

[2019-05-06 15:37] gergelyke commented on #1236
thanks for the kind words, and for opening this issue @paschalidi !

I think it definitely makes sense - would you mind chiming in @schnerd ?

[2019-05-06 19:35] chasestarr commented on #1224
sgtm 👍

[2019-05-06 19:40] tajo commented on #1237
Yes, it's on our radar but not sure when. In meantime, you can use the `<Block />` component that supports all CSS grid and flex properties.

[2019-05-06 20:18] healy-uber commented on #1179
Thanks @tajo !

[2019-05-06 22:50] schnerd commented on #1236
@paschalidi Thanks for reporting this! We're definitely striving to follow w3 accessibility practices and it's possible that we missed out on a couple things.

As of right now we shift focus to the dialog container element itself when it opens (https://github.com/uber-web/baseui/blob/master/src/modal/modal.js#L199). It's difficult for us to automatically shift focus to the "first tabbable element"

[2019-05-06 22:52] gergelyke commented on #1236
Thanks David!

@paschalidi would you be interested in exploring how these items could be fixed? Also, looping in @nadiia as she worked on the LayerManager, that may be relevant here

[2019-05-06 22:57] schnerd commented on #1236
Could look to Blueprint or other libs for ideas here:
https://github.com/palantir/blueprint/blob/develop/packages/core/src/components/overlay/overlay.tsx#L276
https://github.com/palantir/blueprint/blob/develop/packages/core/src/components/overlay/overlay.tsx#L432

[2019-05-07 00:00] leyanlo opened #1242 "Select value appears as [object Object] in DOM"
Select value appears as `[object Object]` in DOM

<img width="1392" alt="Screen Shot 2019-05-06 at 4 55 31 PM" src="https://user-images.githubusercontent.com/1285326/57262239-2d225580-7020-11e9-9285-89400f36e712.png">

## Current Behavior

I would expect the value to be equal to the `valueKey` in this case, rather than the value object.

## Expected Behavior

In the case above, when selecting Anti

[2019-05-07 16:54] #1166 closed

[2019-05-07 16:55] gergelyke commented on #1167
fixed in https://github.com/uber-web/baseui/commit/8fd990f68dadb2993062cec8fa7672e480706ee0

[2019-05-07 16:55] #1167 closed

[2019-05-07 19:37] #1242 closed

[2019-05-08 20:15] leyanlo commented on #150
@Warbring3r’s solution was super helpful, but we ran into issues around redux-form’s default value being an empty string:
https://redux-form.com/8.2.0/docs/api/field.md/#-code-input-value-any-code-

This ended up being incompatible with the Base Select component, and we would not see the placeholder (#1252). We also removed the inline function declaration to avoid memory leaks. For those who might

[2019-05-08 23:10] lxe opened #1259 "Setting `expanded` on StatefulPanel from Accordion doesn't render it as expanded."
https://codesandbox.io/s/k2jnn4vo93

![image](https://user-images.githubusercontent.com/1486609/57414162-dba6d180-71ab-11e9-9483-61bb1e839f2d.png)

## Current Behavior

Setting `expanded` on StatefulPanel from Accordion doesn't render it as expanded.

## Expected Behavior

Should render as expanded.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v6.17.2  |
| React

[2019-05-08 23:13] lxe commented on #1259
`initialState={{expanded: true}}` works but that doesn't match the docs

[2019-05-09 00:16] IgorWilbert commented on #1259
Thanks @lxe ! I'll look into it :)

[2019-05-09 01:18] nadiia commented on #1259
Got a fix for it #1263

[2019-05-09 17:53] #1259 closed

[2019-05-09 19:57] lxe opened #1268 "noResultsMsg doesn't affect the no results message in Select"
https://codesandbox.io/s/qx0qzjvjpw

<img width="1358" alt="Screen Shot 2019-05-09 at 12 56 13 PM" src="https://user-images.githubusercontent.com/1486609/57482628-f6d01a80-7259-11e9-818e-b9e40ed749cd.png">

noResultsMsg doesn't affect the no results message in Select

<!--

[2019-05-10 04:58] shavo007 opened #1270 "question on code splitting"
In my boilerplate project I have a dynamic import for Toastr component.

When I look at the webapck bundle analyser, vendors_Toastify it pulls in alot of files related to icon. Is this expected?

## Your Environment

My repo can be found at https://github.com/shavo007/react-boilerplate

run yarn build to see the report

i have attached a screenshot also

| Tech    | Version |
| ------- | ------- |

[2019-05-10 04:59] shavo007 commented on #1270
<img width="430" alt="Screenshot 2019-05-10 at 14 58 40" src="https://user-images.githubusercontent.com/5466825/57503619-3834f880-7334-11e9-9075-072bf13913dc.png">

[2019-05-10 12:53] IgorWilbert commented on #1259
Thanks @nadiia ! I think I'll have to be a little faster to keep up with you 😅

[2019-05-10 17:53] nadiia commented on #1026
Added the no results state in here #1245 and closing this issue.

[2019-05-10 17:53] #1026 closed

[2019-05-10 20:45] tajo commented on #1224
Yes, we would be happy for a PR!

[2019-05-10 20:54] tajo commented on #1268
Being fixed now. Thanks!

[2019-05-10 20:54] gergelyke commented on #1270
fixed in https://github.com/uber-web/baseui/pull/1271

[2019-05-10 20:54] #1270 closed

[2019-05-10 20:54] gergelyke commented on #1270
thanks for reporting @shavo007 !

[2019-05-11 01:27] IgorWilbert opened #1272 "New showcase example on CodeSandbox"
## Feature description

I think it would be interesting to have an editable example in README, like the ones from [Blueprint](https://codesandbox.io/s/nko3k41y60) and [Material](https://codesandbox.io/s/4j7m47vlm4) (however the Material one may be too simple). I tried to run the [example](https://github.com/tajo/fusion-baseui) by @tajo on codesandbox, but had no luck so far. Apparently, the depend

[2019-05-11 02:24] IgorWilbert opened #1273 "Code "compilation" inside documentation"
## Feature description
I was checking the [Semantic React UI library](https://react.semantic-ui.com/elements/button/#types-button) and I found it amazing how you can edit code and compile it immediately to see the changes in the components. Upon closer inspection, I found that apparently it is all custom-made to work like this, as can be seen [here](https://github.com/Semantic-Org/Semantic-UI-Reac

[2019-05-11 07:49] chirgjn commented on #1224
I'll start working on it then 😁

On Sat, 11 May, 2019, 2:15 AM Vojtech Miksu, <notifications@github.com>
wrote:

[2019-05-12 08:00] shavo007 commented on #1270
my pleasure @gergelyke . btw, followed you on risingstack, keep up the good work!

[2019-05-13 11:12] parigi-n commented on #1237
Nice, it would be really cool to have a bootstrap-like grid system (or whatever easy to use system) integrated directly in BaseUi :+1:

[2019-05-13 16:03] gergelyke commented on #1270
🤗

[2019-05-13 17:32] tajo commented on #1273
Yea, I would like that too! We did that for [styletron.org](https://www.styletron.org) while using [react-live](https://github.com/FormidableLabs/react-live). It's fairly straightforward, we just need to define the scope (imports) for every example/component.

cc @gergelyke

[2019-05-13 17:35] tajo commented on #1272
The more examples, the merrier! CodeSandbox should work; however, without Fusion.js. Do you want to give it a shot?

[2019-05-14 01:15] IgorWilbert commented on #1272
Nice! Yes, I would like to. I will let you know how it goes :)

[2019-05-15 13:18] norenma opened #1282 "onClick prop on StatefulPopover"
When using StatefulPopover on a clickable element, it propagates the click event and calls the click handler for the outer element.  To able to stop propagation on click on the anchor of a StatefulPopover, it would be nice to have an onClick prop that would pass the event from the anchor, so stopPropagation can be called on it.

## Feature description
An onClick prop on the StatefulPopover that pa

[2019-05-15 19:00] tajo commented on #1268
Should be fixed in the latest release.

[2019-05-15 19:00] #1268 closed

[2019-05-15 19:38] #859 closed

[2019-05-16 23:16] claudio-carmeli opened #1293 "How to modify fill of an active input field?"
I would like to find out how I can have a text input turn e.g. yellow once I click on it. I would expect a "inputFillActive" primitive like many others but it's missing.

## Feature description
An easy and intuitive way to control the fill colour of an input component on click (or whenever it becomes active).

[2019-05-17 17:59] #1237 closed

[2019-05-18 12:32] IgorWilbert commented on #1272
Hi @tajo ! Sorry for coming back to you so late, I had a tough week. I tried to follow the instructions to run your [example](https://github.com/tajo/fusion-baseui), but got the following error:
![error](https://user-images.githubusercontent.com/42987854/57969414-041d9100-794d-11e9-8609-be54a0887bc7.JPG)
When I tried to open `https://unpm.uberinternal.com/baseui/-/baseui-5.4.0.tgz#b4606513b264b610

[2019-05-20 16:18] chasestarr commented on #1272
try pulling the latest master. it should resolve the `unpm` issues

[2019-05-20 17:34] tajo commented on #1272
@IgorWilbert Oops, my bad. I committed wrong yarn.lock. It's fixed now.

[2019-05-21 00:52] IgorWilbert commented on #1272
No problem @tajo, now I was able to run the project, thank you for fixing it. Do you have any suggestion about where should I start working to remove fusion? Thanks!

[2019-05-21 07:06] shavo007 commented on #1270
![Screenshot 2019-05-21 at 17 05 30](https://user-images.githubusercontent.com/5466825/58075325-c76ec580-7bea-11e9-85c4-0fe3effcd33e.png)

[2019-05-21 07:06] shavo007 commented on #1270
all good

[2019-05-21 18:13] ywu151 opened #1301 "Datepicker Shows Wrong Date String in Datepicker in a popover"
## Current Behavior
![image](https://user-images.githubusercontent.com/33992458/58120016-2ca9c300-7bb9-11e9-921d-a5b5fcde78bb.png)
When selecting time range `2018/12/01 - 2018/12/31`, the text input shows `2018/12/01 - 2019/12/31`, even though the date in event is still 2018/12/31

## Expected Behavior

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v6.19.0  |
| React

[2019-05-21 18:42] tajo commented on #1272
I think you can keep Fusion? CodeSandbox has a Next.js template. Fusion is very similar to Next.js so I assume it should work in that environment as well. If not, I would replace Fusion with Next.js. Or there is `create-react-app` template as well. So this would be my preference:

1. Preserve Fusion
2. Use Next.js template
3. Use CRA template

[2019-05-22 03:55] freaksauce opened #1304 "Accessibility issues with the Datepicker"
## Current Behavior

When using Mac OS Voice Over when you use the keyboard to navigate to the current Datepicker you get the previous month button announced correctly as below:
![Screen Shot 2019-05-22 at 1 38 13 pm 2](https://user-images.githubusercontent.com/5125097/58146255-a795db00-7c98-11e9-9eb8-f884447a1af0.png)

However when you tab to the month or year select controls it simply announces

[2019-05-22 06:35] freaksauce commented on #1304
I was unaware that you could use the `overrides` prop on `StatefulCalendar` to add a `MonthSelect` aria-label which fixes the issue above, closing issue.

[2019-05-22 13:37] IgorWilbert commented on #1272
Hey @tajo ! Just to keep you updated, I started a sandbox with Next.js and uploaded files manually. It automatically shifted to Node.js template, and seems to be working fine, as can be seen [here](https://codesandbox.io/s/elegant-dhawan-b7kgx). I'll review it more carefully soon, as there seem to be some details missing. Thanks!

[2019-05-22 15:37] gergelyke commented on #1304
Thanks for opening this Jon! would you be up for sending a PR fixing the issues mentioned above?

[2019-05-22 16:23] #1301 closed

[2019-05-22 23:13] bvluong opened #1312 "Error: "Could not find module in path..." in Code Sandbox"
## Current Behavior
Code Sandbox examples from baseui are not able to import baseui module.

![Screen Shot 2019-05-22 at 4 02 25 PM](https://user-images.githubusercontent.com/24781265/58214840-13357380-7cac-11e9-9465-29a78aee5283.png)

![Screen Shot 2019-05-22 at 4 02 31 PM](https://user-images.githubusercontent.com/24781265/58214832-0dd82900-7cac-11e9-8c41-365babcefd58.png)

| Tech    | Version |

[2019-05-23 00:00] lxe commented on #1312
Looks like it's mispublished... top-level files live in dist/ now.

[2019-05-23 00:00] lxe commented on #1312
Repro:

https://codesandbox.io/s/upbeat-resonance-1iwub

[2019-05-23 01:21] gergelyke commented on #1312
fixed in 6.19.3 - thanks for the report!

[2019-05-23 01:21] #1312 closed

[2019-05-23 21:04] kirbydcool opened #1318 "Border radius uses invalid longhand property name"
https://github.com/uber-web/baseui/pull/1308 used the wrong longhand border property names. e.g. it should be `borderTopLeftRadius` rather than `borderRadiusTopLeft`

## Current Behavior
Border radius isn't applied for a lot of components such as Input.

Example from the doc site
<img width="634" alt="image" src="https://user-images.githubusercontent.com/696150/58286487-b7c6bc80-7d63-11e9-801c-680

[2019-05-23 21:10] gergelyke commented on #1318
Thanks for the report @kirbydcool !

https://github.com/uber-web/baseui/pull/1319 closes it

[2019-05-23 21:15] kirbydcool commented on #1318
Great thanks!

[2019-05-23 21:25] gergelyke commented on #1318
Fixed, will be released in 6.20.0 in a few minutes

[2019-05-23 21:25] #1318 closed

[2019-05-24 02:10] IgorWilbert commented on #1272
@tajo I reviewed it and it seems to be fine https://codesandbox.io/s/elegant-dhawan-b7kgx .The console errors are the same that can be seen if you run the project. What would you like me to do with it? Transfer the sandbox to another account, add the link above to `README`, or something else?

[2019-05-26 08:21] GavBaros opened #1323 "Accordion UI Bug"
## Blue border highlighted when open, but when back to being closed, bottom blue border is hidden while the left, right and top borders remain highlighted in blue.
Shouldn't they all be deselected when the accordion closes?

![uberaccordionuibug](https://user-images.githubusercontent.com/30755017/58379121-6999ff00-7f97-11e9-84fc-f3e46fa439c0.gif)

## Expected Behavior

## Your Environment

I teste

[2019-05-29 00:05] DianaSuvorova opened #1328 "Select Component onChange Flow type error"
Select Component onChange Flow type Definitions

## Current Behavior
if options have any other fields beside `id` and `name`, flow would error.

## Expected Behavior

onChange should return the same flow type  as the options provided as props to the component

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v6.20  |

- [ X] I have searched the [issues](https://github.c

[2019-05-30 18:30] #1272 closed

[2019-05-31 20:49] chasestarr commented on #1323
This is the element's 'focus' indicator. Pressing 'tab' should focus the next accordion panel and display the border. The hidden bottom-border is not ideal, but we should maintain the borders in general

[2019-05-31 20:54] chasestarr commented on #1293
this can be done with overrides and switching on the value of [$isFocused](https://github.com/uber-web/baseui/blob/master/src/input/types.js#L36). See documentation for how to customize component styles here: https://baseweb.design/theming/understanding-overrides/

[2019-05-31 20:54] #1293 closed

[2019-05-31 21:36] austintang opened #1348 "[Textarea] Add support for configuring minimum and maximum height"
Currently there isn't any way to specify the maximum and minimum height that a `Textarea` component can have. As a result, any user can resize the `Textarea` to any length they want. This may result in UI alignment issues in tools that consume the BaseUI `Textarea` component.
![Screen Shot 2019-05-31 at 2 33 55 PM](https://user-images.githubusercontent.com/42187119/58736099-76608d80-83b1-11e9-91e4

[2019-06-02 04:52] #47 closed

[2019-06-03 23:44] lxe opened #1357 "Errors when using flow-bin@0.100.0"
[code]

## Expected Behavior

## Repro Steps (paste in terminal and run):

[code]

| Tech    | Version |
| ------- | ------- |
| Base UI | v6.21.1  |
| flow-bin |  ^0.100.0  |

- [X] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

[2019-06-04 21:11] timalander opened #1366 "NavItem override does not work in SideNavigation component"
## Current Behavior

I forked the example sandbox from the documentation, found here: https://codesandbox.io/s/q1x5h?module=/example.js

I then edited a few of the CSS properties in the `NavItem` style function override.
Example of the forked sandbox with modified styles: https://codesandbox.io/s/side-navigation-with-overrides-qqlpd?module=/example.js

These changes do not propagate to the rendere

[2019-06-04 23:25] illogikal opened #1370 "Responsive typography"
I have created a functionality in my theme file to make the typography styles responsive:

## Feature description
[code]

However these do not work with the baseui typography classes because the fonts prop is filtered by individual keys, and I believe that the styles are also not deep merged. I could create my own custom typography components and probably will due to time, but I think it would be

[2019-06-05 21:41] #1357 closed

[2019-06-06 22:09] shannonmoeller opened #1383 "Links should inherit font size"
Links should inherit the text size and line height of their container.

## Current Behavior

Links are always a certain font size. This makes them unusable in contexts like table cells where the font size is smaller than default page content.

## Expected Behavior

Links should inherit the text size and line height of their container.

## Your Environment

| Tech    | Version |
| ------- | -------

[2019-06-07 14:30] brentertz commented on #1236
I'll just leave these here...

* https://github.com/davidtheclark/focus-trap-react
* https://github.com/facebook/react/blob/master/packages/react-events/docs/FocusScope.md

[2019-06-07 16:26] AndrewBarba commented on #1366
This is due to some inconsistent dep versions. Its fixed when using latest version of all Base deps

[2019-06-10 15:22] parigi-n opened #1386 "Font *50 are not bold anymore with v7"
## Current Behavior

https://baseweb.design/components/block/#block-with-font-customization
Font with 50 are the same as 00 font
ex: font200 is visually the same as font250

## Expected Behavior
Font with 50 are supposed to be bold as seen in https://v6.baseweb.design/components/block/#block-with-font-customization
ex: font250 should be the same size as font200 but bold

## Your Environment

| Tec

[2019-06-10 16:27] gergelyke commented on #1386
Hello Nicolas! Thank you for opening this ticket! This change was introduced as part of a bigger visual overhaul in the design system - if you want to get the old look and feel back, you can customize the theme: https://baseweb.design/theming/custom-themes/#creating-a-custom-theme

[2019-06-10 16:27] #1386 closed

[2019-06-10 17:54] parigi-n commented on #1386
Hi Gergely,

First, thank you for this quick answer. And thanks to all the contributor of BaseUi for this awesome library.

Ok I understand, so the old *50 font are just there to keep compatability with old versions ?
Maybe I could be less confusing to remove them from the font property example ?

[2019-06-10 17:59] gergelyke commented on #1386
The design system changed the font ramp too, so some of them are left there for compatibility reasons, some changed in the design system too. We are sorry for the confusion it created!

[2019-06-12 12:00] parigi-n commented on #1386
Nothing to be sorry about, thank you for your clear answer.

[2019-06-14 21:09] wilbertthelam opened #1408 "HeaderNavigation padding cannot be overridden with Styletron styled(...)"
For the HeaderNavigation component, using BaseUI Styletron styled(HeaderNavigation, { padding: '5px 20px'}), I can't override the default padding from BaseUI without using !important.  It looks like the class ordering seems incorrect.

## Current Behavior

Padding is set to padding-top: 12px and padding-bottom: 12px.

## Expected Behavior

Padding should be set to padding top/bottom: 5px and paddi

[2019-06-17 17:28] gergelyke commented on #1408
hi @wilbertthelam - this is how you can do it: https://codesandbox.io/s/header-navigation-basic-usage-nnvlk

[2019-06-17 17:28] #1408 closed

[2019-06-17 21:37] austintackaberry opened #1412 "[Layer] Expose LayersManager children and host styling"
## Feature description

### Problem

I recently removed all z-indexing from my app and converted to the Layer API which is pretty neat!

However, there was one styling issue that caused some problems for me. The fact that the `LayersManager` throws all of the `Layer`s into a `div` that cannot be styled:
https://github.com/uber-web/baseui/blob/master/src/layer/layers-manager.js#L29

This caused man

[2019-06-18 17:36] sandgraham commented on #1236
We just landed some modal A11y enhancements in `v7.4.0` (#1406)! Thanks @paschalidi for bringing this to our attention.

In brief, we added focus trapping to the modal & when `autofocus` is true (the default) we focus the first interactive element.

[2019-06-18 17:36] #1236 closed

[2019-06-18 18:15] paschalidi commented on #1236
Very sorry that I didnt have the time to work on this a little bit more. I would do next time for sure!
Keep the great work up! the lib looks amazing

[2019-06-18 19:34] #495 closed

[2019-06-19 10:40] jh3y commented on #1348
This can be achieved with `overrides`. It would mean adding `resize` to the `style` override of `Input` and also providing `minHeight` and `maxHeight` 👍

[code]

I'll create an example for the docs.

[2019-06-19 12:50] parigi-n opened #1424 "Petit espace blanc sur l'image du menu soldout"
![image](https://user-images.githubusercontent.com/20981240/59766897-78778700-92a1-11e9-8e9c-cbaaf3b9ece0.png)

[2019-06-19 12:50] #1424 closed

[2019-06-19 12:52] parigi-n commented on #1424
Total fail, created an issue on the wrong repository, sorry !

[2019-06-19 16:36] #1348 closed

[2019-06-19 16:41] #1323 closed

[2019-06-19 22:44] austintackaberry opened #1429 "[Icons] Add icon for "copy to clipboard""

[2019-06-19 23:08] #1152 closed

[2019-06-20 17:14] Mikewaite opened #1431 "[Select] - Drop down menu is 1px misaligned to the left"
As a designer, I was looking at the select component and I noticed that the drowdown menu is 1px off to the left.

https://imgur.com/bskQcrD

## Current Behavior

When opening a select component, the dropdown menu is 100% the width of the select width, but aligned 1px to the left.

## Expected Behavior

The dropdown menu should be aligned properly.

## Your Environment

This visual bug is found on

[2019-06-20 20:16] tajo commented on #151
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/baseui

[2019-06-20 20:16] #151 closed

[2019-06-21 15:17] jh3y commented on #1412
Hey @austintackaberry 👋

Could you potentially achieve what you want by not using a `LayersManager` and using an overridden `Block`? Then you could use that `Block` as a custom `mountNode` for `Layer`?

That might be a quick work around.

[2019-06-21 15:18] jh3y commented on #1099
This has been updated with a recent `flow` update 👍

[2019-06-21 15:18] #1099 closed

[2019-06-21 15:23] jh3y commented on #1144
Can't replicate this 🎉 - https://codesandbox.io/s/table-basic-usage-8hkj4

[2019-06-21 15:23] #1144 closed

[2019-06-21 15:29] jh3y commented on #1141
I'm not sure about this as a UX issue.

If you have a start and end date, your next click **should** be your chosen start date.

Consider the scenario where you have two dates selected. You click a new date that you want to be the start. If the next click clears the date, you will have to click again to select it. Therefore, you are clicking twice in order to select a start date.

I think this one

[2019-06-21 15:34] gergelyke commented on #1141
I think we should reopen this - if I am correct, Aleksey's comment was not about the clicks, but the fact that random days get highlighted when scrolling through days

[2019-06-21 16:20] jh3y commented on #1141
Correct @gergelyke 👍 Sorry for misinterpreting what was going on here 😅
I've added a fix for this in PR #1437 by removing `setHighlightedDate` from the `onMonthChange` handler. This ensures that the random highlight doesn't appear on scroll 👍

[2019-06-21 16:58] chasestarr commented on #1144
cc @ardok - I believe you reported this?

[2019-06-21 17:03] jh3y commented on #1209
Hey @vlad 👋
I've raised [#1438}(https://github.com/uber-web/baseui/pull/1438) exporting two new types which make up the union type for `StyleOverrideT`. Is this what you were looking for?

[2019-06-21 17:21] chasestarr commented on #1282
Hi @norenma please see the linked PR with discussion. The `onClick` callback is accessible using the `Popover` component. Please create a codesandbox repro if that does not meet your needs.

[2019-06-21 18:26] austintackaberry commented on #1412
Hey @jh3y!

I was able to find workarounds for my usecase. I only added the problems I faced and the codesandboxes in order to bolster my opinion that this feature is useful 🙂

[2019-06-22 01:31] qcho opened #1444 "Color picker"
## Color picker

A color picker should be a nice addition to the pickers list. In particular I'm working with a UI where you can choose the colour of certain visualization options.

Inspiration link:
https://casesandberg.github.io/react-color/

[2019-06-24 16:22] #1141 closed

[2019-06-24 22:28] chasestarr commented on #1429
Baseui generally only includes the icons necessary to render components. I recommend pulling in another icon lib if you need extras

[2019-06-24 22:28] #1429 closed

[2019-06-24 22:36] gergelyke commented on #1412
@austintackaberry @jh3y should we close this?

[2019-06-24 23:28] austintackaberry commented on #1412
It doesn't matter to me, but shouldn't it stay open until the feature is implemented?

[2019-06-25 15:41] #1129 closed

[2019-06-25 16:33] #1383 closed

[2019-06-25 17:19] #1282 closed

[2019-06-25 17:57] #1328 closed

[2019-06-25 18:29] #1366 closed

[2019-06-26 12:56] houmark opened #1457 "[TimezonePicker] Warning: Cannot update during an existing state transition"
When opening, clicking and generally using the TimezonePicker the console throws the following error:
`Warning: Cannot update during an existing state transition (such as within `render`). Render methods should be a pure function of props and state.`

I thought it may be something with my local setup (just testing out BaseWeb and TimezonePicker was my first component to test), but following the li

[2019-06-26 19:02] houmark opened #1462 "[PhoneInput] Type to search not working"
## Current Behavior

When opening the phone input one would expect it being possible to type either part of the country name or the dial code to filter or be moved to the best match. Though, typing does nothing.

## Expected Behavior

Typing should either filter or move the user to the nearest match for added usability. This list is LONG and scrolling through the list is exhausting.

## Your Envir

[2019-06-26 20:24] austintang opened #1466 "[Textarea] Outer width doesn't adapt to resize"
The textarea outer width doesn't respond to resize events as shown in this image:
![Screen Shot 2019-06-26 at 1 26 09 PM](https://user-images.githubusercontent.com/42187119/60212393-03163400-9816-11e9-992e-b7f4e604a9b8.png)

When performing textarea resize, the outer width should align with the resize icon found on the bottom right corner.

## Your Environment

This issue can be found in the offic

[2019-06-26 21:46] houmark commented on #1462
So after submitting this I saw a very fresh [blog post](https://baseweb.design/blog/phone-input/) about this exact field. Quoting from that post:

So it seems it's been on the radar when developing this component, but neither of the included examples actually has the filtering working. Weird?

[2019-06-26 21:48] gergelyke commented on #1462
Hi @houmark !

Thanks for bringing this up! This is something we want to address soon and is on our roadmap.

[2019-06-26 22:05] houmark opened #1468 "[TimezonePicker] Does not support `error` or `positive` property"
## Current Behavior

Most input fields have the `error` and `positive` which changes the design of the fields. The `TimezonePicker` seems to lack this feature.

## Expected Behavior

Setting `error` or `positive` will change the field state/design accordingly.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v7.8.0  |
| React   |   16.8.6      |
| browser |     Chrome

[2019-06-26 22:07] houmark opened #1469 "[TimePicker] Does not support `error` or `positive` property"
## Current Behavior

Most input fields have the `error` and `positive` which changes the design of the fields. The `TimePicker` seems to lack this feature. Related to #1468

## Expected Behavior

Setting `error` or `positive` will change the field state/design accordingly.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v7.8.0  |
| React   |   16.8.6      |
| browser

[2019-06-26 22:18] houmark opened #1470 "[StatefulDatepicker] Erratic month browsing behavior after date selection"
## Current Behavior

When a `StatefulDatepicker` is being used with `minDate` and `maxDate` browsing partly stops working after having selected a date.

This is my configuration:

[code]

**To reproduce:** Open date picker, click a date. Datepicker closes. Reopen the date picker. Try browsing on to the next month with the arrow button/icon. It may work. It may not. Try browsing back one month agai

[2019-06-27 16:37] jh3y commented on #1159
@tajo Would this be better addressed in the `react-range` package? There could be an internal state for overlap used in the render? Then hide one of the `Thumb` and set the others value to `Thumb 1 Value - Thumb 2 Value` or `Thumb 1 Value` if the values match. Could potentially hook this into the `getOffsets` method as the bounding rect for `Thumb`s are already being grabbed here.

[2019-06-27 18:15] tajo commented on #1159
@jh3y definitely, there is already a PR and discussion on this issue

https://github.com/tajo/react-range/pull/3

Do you want to take over the PR and push it through? There are some things to consider - we can keep discussion there.

[2019-06-27 19:02] jh3y commented on #1457
I've narrowed down the source of the issue here 👍
#1291 introduced a conditional inside `getRequiredItemProps` of [`src/menu/stateful-container#L210`](https://github.com/uber-web/baseui/blob/master/src/menu/stateful-container.js#L210) that triggers a `setState`.

This `setState` is updating the `aria-activedescendant` on the `Menu` being used in any `Select` component. This includes `TimezonePicke

[2019-06-27 19:27] houmark commented on #1457
I'm not sure this a good first issue anymore :)

I have a tight deadline, but do plan to collaborate in the future with fixes such as for example the missing error / positive state on some components. Those seem like good first issues, while this one seems to be potentially very breaking for several components that depend on it.

[2019-06-27 21:34] houmark commented on #1462
@gergelyke I appreciate you guys putting all these components out for the world to use as open source, but I think you should be more careful about announcing so proud features that are not present in the current released version in the future. It confuses us, developers, trying to use the components, and I would personally appreciate a more honest approach where you acknowledge in the blog post t

[2019-06-27 21:36] gergelyke commented on #1462
that makes perfect sense - we should have communicated more clearly on what is still needs to be done

if you could create a bug ticket, that would help us better track it! thank you

[2019-06-27 21:41] houmark opened #1483 "[PhoneInput] `disabled` state only partly disables the component"
## Current Behavior

Setting `disabled` on the PhoneInput disables the text field part of the component, but the country icon with flags still opens on click. Selecting a country does not change the selected option though.

## Expected Behavior

The entire component to be in disabled/readonly mode. There should be no pointer on the flag and clicking should not be possible.

## Your Environment

|

[2019-06-27 21:42] houmark commented on #1462
Thanks for your feedback Gergely! I appreciate it.

The disabled issue is now submitted in #1483

[2019-06-28 07:28] ancs21 opened #1485 "[Button] Show props not correct when using typescript"
Hello guys,

## Current Behavior

This error as picture.
![button_error](https://user-images.githubusercontent.com/9210835/60324981-b5b0d880-9975-11e9-8dd1-909de293f169.png)

## Expected Behavior

This correct need: `compact`, `default`, `large`

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v8.0.2  |
| React   |    16.8.6     |
| browser |         |

- [x] I have se

[2019-06-28 15:49] gergelyke commented on #1485
hey! we have an open PR for this here: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/36504

Please follow that ticket for the fix - I am going to close this one here

[2019-06-28 15:49] #1485 closed

[2019-06-28 16:09] jh3y commented on #1304
It seems the solution to this issue would require some extra thought 🤔

The dropdown list is rendered in a list inside a `Popper`. Because that `Popper` is appended to the body, tabbing doesn't take you to the list. You can try to combat this with a custom `mountNode` for the `Popper` that does allow you to tab into the `Popper` anchor. I was unable to tab into the list from there though.

[2019-06-28 16:15] jh3y commented on #1431
I dug into this issue and was able to replicate at certain sizes 👍

Misalignment tends to happen when the actual size of the element is a fraction of a pixel. On line `908` of `select.js`, `offsetWidth` is used. To be more accurate `getBoundingClientRect().width` could be used. However, this is only to factor for widths that aren’t whole pixels ( For example `576.4px` ). I think these are potentia

[2019-06-28 16:22] jh3y commented on #188
Opened a PR for this #1464 👍

[2019-06-28 18:40] #188 closed

[2019-06-28 20:18] #1483 closed

[2019-06-29 17:57] houmark opened #1491 "TimezonePicker is too opinionated about "noisy" timezones"
## Current Behavior

I am situated in timezone "America/Guayaquil". After scrambling over my timezone not being default selected and reading the TimezonePicker code, it looks like it's filtering "noisy" timezones (and mine seems to be such). But that has the unwanted side effect of removing the option that could match with `Intl.DateTimeFormat().resolvedOptions().timeZone;` which makes it either c

[2019-07-01 17:31] #1466 closed

[2019-07-01 19:17] shannonmoeller commented on #1383
Thanks!

[2019-07-04 03:23] rohit012 commented on #1470
I think this check in `renderNextMonthButton` in file - `calendar-header.js` is causing disabling of the button. https://github.com/uber-web/baseui/blob/6389c9b3e3044ba983487e1e22189b05a3f4158c/src/datepicker/calendar-header.js#L112

Probably we can get rid of this check. Shouldn't the check above that - `monthDisabledAfter` function take care of enabling and disabling the next button and . May be

[2019-07-04 13:44] #1431 closed

[2019-07-04 16:21] houmark commented on #1491
I dug into this more with the intent to attempt a fix.

I first thought that my timezone was just being filtered and I would be able to not filter it, if this is the current user timezone. So I removed the filter in timezone-picker.js to see my timezone default selected. That did not happen. It looks like my timezone `America/Guayaquil` is a "sub named zone" below `America/Lima` which gets filtere

[2019-07-04 16:23] houmark commented on #1470
@rohit012 Thanks for looking into this.

In my case, I did have a `minDate` and `maxDate` per my example above and while I have no dug into the code, maybe the `renderNextMonthButton` is choking while figuring out if it should enable that next button in relation to the `maxDate` set?

[2019-07-08 08:52] simPod opened #1515 "Override default property values"
I have not found a way how to globally set default value for eg. input size to `SIZE.compact`. Is there a way? I wonder that it could be possible via theming.

[2019-07-08 09:30] simPod opened #1516 "darkThemePrimitives"
I'd like to base my theme on DarkTheme but `darkThemePrimitives` [are not exported](https://github.com/uber-web/baseui/blob/5b0ed2308a96c15f12352e2b14d327b173627dfd/src/index.js#L19). Is it intentional?

[2019-07-08 09:33] simPod opened #1517 "TS definitions not up to date"
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/a176b84419c707516be04a8397cdd90e1f49ed38/types/baseui/index.d.ts#L28

It says `LightThemePrimitives` are exported. But `lightThemePrimitives` [are exported](https://github.com/uber-web/baseui/blob/5b0ed2308a96c15f12352e2b14d327b173627dfd/src/index.js#L21) actually. I can send PR, just not sure I'm right.

[2019-07-08 13:39] jh3y commented on #1491
Hey @houmark 👋

I took a look into this. If you know the `offset` and the `label` you want for a specific timezone that isn't included, could you not add this via `overrides` of the `Select`? `overrides` allows you to hook into the timezone options and add anything you like. You could then also set a default via the `Select` props.

[code]

[2019-07-08 14:13] jh3y commented on #1517
Hey @simPod 👋
Thanks for spotting this. Please feel free to open a PR on `DefinitelyTyped` 👍

[2019-07-08 18:38] houmark commented on #1491
Hey @jh3y!

Thanks for your feedback. I considered that option, but never got to try it. But if you are in fact in a time zone that's already in the list, won't I have duplicates? How can I know? I guess I can look at the list of countries before in some way.

[2019-07-08 21:59] jh3y commented on #1491
Hey @houmark 👋

No problem. That's true. The `TimezonePicker` uses `timezone-support` for its list of time zones.
If you were to override the `component` in the `Select` override, you could compare the list of available timezones to the desired timezone by referencing `props.options` 👍

[code]

[2019-07-08 22:13] houmark commented on #1491
Nice. This seems like a decent hack, and when used with a dynamic value, it could work nicely. I will try this out and post the final solution here in case anyone else may have interest in it.

Actually I think this should go into the core of this component to add the time zone if not found, so that it will work and correctly select any time zone, even if it's not in the default list.

[2019-07-08 23:09] houmark commented on #1491
Thanks again @jh3y!

Overriding in Baseweb is something I still am not too comfortable with, but it is really powerful. There really should be more examples of overrides like this in the docs site to get people started on tweaking and give inspiration to similar overrides.

Here's my final solution, which dynamically uses the current user time zone, but only if not already existing in the default

[2019-07-09 15:47] gergelyke commented on #1515
hi @simPod! yes, that makes perfect sense - we were thinking about providing a `compact` theme. Any chance you'd be up for contributing it?

[2019-07-09 15:54] gergelyke commented on #1516
Resolved in https://github.com/uber-web/baseui/pull/1521

[2019-07-09 17:11] #1491 closed

[2019-07-10 07:34] simPod commented on #1515
@gergelyke Like `compact` theme in addition to `light` and `dark`? I was rather thinking that there is no prop to override to pass to `createTheme`, that would be sufficient.

[2019-07-10 15:50] gergelyke commented on #1515
that makes sense too - can you send a draft PR to see how that would look, let's say with the button first?

[2019-07-10 15:52] #1468 closed

[2019-07-10 15:52] #1469 closed

[2019-07-11 07:42] vicapow opened #1535 "Seemingly invalid errors when using `styled('div')`"
## Current Behavior

[code]

## Expected Behavior

no error

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v8.4.0  |
| React   |    v16.8.2     |
| browser |    Chrome     |

- [x] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

[2019-07-11 13:10] jh3y commented on #1517
Closing as the PR was merged 🙌

[2019-07-11 13:10] #1517 closed

[2019-07-11 13:15] jh3y commented on #1159
@chasestarr @tajo I have a PR open on `react-range` that will support this 👍

[tajo/react-range#14](https://github.com/tajo/react-range/pull/14)

Awaiting a little help in getting the `e2e` tests to pass on `ci`. They pass locally in `Chromium`.

[2019-07-11 16:06] gergelyke commented on #1535
hi @vicapow - can you please provide a full example and the flow version you are using in your project?

[2019-07-11 17:17] vicapow commented on #1535
Taking a look at the definition for styled, seems pretty clear this case is missing: https://github.com/uber-web/baseui/blob/master/src/styles/styled.js#L34

[2019-07-11 17:19] gergelyke commented on #1535
would you mind sending a PR fixing it?

[2019-07-11 17:27] vicapow commented on #1535
I can. Also, are you busy today for a chat? I had some ideas on how we can better detect and prevent these types of issues in the future.

[2019-07-11 17:29] gergelyke commented on #1535
sounds great, thanks!

[2019-07-11 19:03] houmark commented on #1457
This seems to still be an issue and affects quite a lot of components that use `Select`. Should this not be a pretty high priority bug?

[2019-07-11 19:14] houmark opened #1537 "How to style a Button inside a ButtonGroup?"
## Current Behavior

I'm trying to style a Button inside a ButtonGroup. I have a `StatefulButtonGroup` in mode `radio` with two options. The idea is to have one in a positive color and one in a negative color, to use as a approve/reject situation.

If I have my buttons outside of a group, then I can style for example the button background without issues, but once they are inside the button group,

[2019-07-11 19:32] #1535 closed

[2019-07-11 22:21] aj-4 opened #1542 "<Select /> Element printing attribute-related console errors"
throws console errors:
```Warning: Received `true` for a non-boolean attribute `$clearable`.

If you want to write it to the DOM, pass a string instead: $clearable="true" or $clearable={value.toString()}.```

[code]

[code]

etc...

I'm just using the <Select /> *controlled example* from
https://baseui.netlify.com/components/select/

## Current Behavior

5+ console errors with the messaging above,

[2019-07-11 22:38] #1516 closed

[2019-07-11 22:47] gergelyke commented on #1537
hi @houmark - the reason it won't work, because we override the button styles inside the button-group component ourselves.

For your use-case, I'd recommend using the button component instead of the button-group - would that work?

Re your second question, we are working on a new component playground, that - hopefully - will address your issue. We'll get to that in a week or two :)

I am closing t

[2019-07-11 22:47] #1537 closed

[2019-07-11 23:17] houmark commented on #1537
I guess I can just do singular click events on each button and smash them together with another override. Should this not be kept open as a feature request to allow buttons to be overridden inside a button group?

Looking forward to the playground, even though I would find it even more useful to be able to have the component itself spit out useful info, but I understand that would also add to the

[2019-07-11 23:19] houmark commented on #1537
Adding to this, my reason for suggesting this is that powerful and flexibility is also equal to a deeper learning curve and the adoption of Baseweb may suffer from that. Being able to see what I could easily change in overrides right where I am working, would help me to better understand the possibilities.

[2019-07-12 00:07] u-juyang commented on #1542
Noticed the same behavior in Block component too.

[2019-07-12 00:17] chasestarr commented on #1542
can you reproduce the error in a codesandbox?

[2019-07-12 05:41] u-juyang commented on #1542
I was able to find the root cause of the warnings. They were caused by passing a wrong type of field to startEnhancer on Button component. The startEnhancer expects a ReactNode, but we passed a React Component class instead.

The stacktrace was a bit confusing, nevertheless sorry for the noise.

It works fine in codesandbox @chasestarr I didn't see any error / warning in codesandbox

[2019-07-12 09:29] qqingvarqq opened #1546 "Docs [Mobile view] Missing change theme icon"
## Current Behavior
It's not possible to set a dark theme when you use baseweb docs on mobile devices. (Missing change theme icon)
<img width="321" alt="1" src="https://user-images.githubusercontent.com/13419634/61116497-39ea7c00-a49d-11e9-8a1c-61301d07f1a2.png">
Also, padding looks weird: default header and when you use search.
<img width="324" alt="2" src="https://user-images.githubusercontent.c

[2019-07-12 09:35] #1412 closed

[2019-07-12 15:06] nbdn opened #1547 "Broken CodeSandbox link"
## Current Behavior
On the official documentation (https://baseweb.design/components/button-group/), when clicking an "Edit on CodeSandbox", the link does nothing. I have the following error in my console :

## Expected Behavior
The link must open a new tab on CodeSandbox.

## Your Environment

MacOS Mojave 10.14.5
Chrome Version 75.0.3770.100 (64 bits)

- [x] I have searched the [issues](https://

[2019-07-12 15:13] shannonmoeller opened #1548 "Incorrect Flow type for Slider props"
Slider prop flow types inconsistent with TypeScript types and documentation.

## Current Behavior

Slider Flow type for props requires `min`, `max`, `step`, and `disabled` to be defined.

## Expected Behavior

Slider Flow type for props allows `min`, `max`, `step`, and `disabled` to be optional.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v8.4.1 |
| Flow | v0.102.

[2019-07-12 15:45] gergelyke commented on #1547
Hi @nbdn - I could not reproduce this. Any chance you can try in an incognito window?

[2019-07-12 15:51] nbdn commented on #1547
Hi @gergelyke,

It was network related.

I was on a public network, I changed it to my 4G phone network and it works now. I think the issue should be "wontfix".

Thanks for your interest

[2019-07-12 15:52] gergelyke commented on #1547
Happy to hear that it works! Please let us know if you run into further questions / problems!

[2019-07-12 15:52] #1547 closed

[2019-07-12 16:16] gergelyke opened #1550 "[Select] fix tag overflow for multiselect"
horizontal spacing should be the same between rows

[2019-07-12 16:16] gergelyke commented on #1550
<img width="637" alt="Screen Shot 2019-06-25 at 10 24 34 AM (1)" src="https://user-images.githubusercontent.com/2174968/61142916-c25d2280-a485-11e9-82b9-c1ee54629b11.png">

[2019-07-12 16:17] gergelyke opened #1551 "[Input] remove the extra wrapper around the input if it's not using enhancers"

[2019-07-12 16:18] gergelyke opened #1552 "Prop overrides should accept a function"
Currently, you can pass a function into `style` and `component` overrides but not props. For example:

<Component overrides={{  props: { 'data-test': 'foo' } }} />

works but

<Component overrides={{  props: props => ({ 'data-test': 'foo' }) }} />

doesn't.

This makes it inconsistent with `style` and `component` overrides and prevents some use-cases like adding BEM class names for different inter

[2019-07-12 16:19] #1209 closed

[2019-07-12 16:20] gergelyke opened #1553 "Cleanup and document ENV flags for doc builds"
Currently, we use the following ENV vars for building the doc site:

- BUILD_ENV
- WEBSITE_ENV
- NODE_ENV

Let's settle on one, and document it. Please be aware, that the extract-react-proptypes package is depending on `WEBSITE_ENV` https://github.com/atlassian/extract-react-types/blob/master/packages/extract-react-types-loader/index.js#L38

[2019-07-12 16:39] gergelyke opened #1555 "[SEO Improvements] Header navigation"

[2019-07-12 16:39] gergelyke opened #1556 "[SEO Improvements] Breadcrumbs"

[2019-07-12 17:48] chasestarr commented on #1542
no worries - this is an warning likely related to styletron. react plans to release better logging tools in their next version, allowing styletron to improve.  that should help track down the issue more effectively

[2019-07-12 20:42] austintackaberry commented on #1412
Thanks for jumping on this! Is there a way for me to see which version will include this feature?

[2019-07-12 20:45] chasestarr opened #1559 "[Popover] SharedStylePropsArgT type is too strict"
[code]

I should only need to specify the fields in the example since others specified are not required by the styled function.

[2019-07-13 18:04] qqingvarqq commented on #1552
I want to attempt this one

[2019-07-14 22:05] shannonmoeller opened #1562 "Semantic Table"
# Semantic Table

The existing table components use non-standard HTML elements to emulate tables. This is overkill for many simple cases that would benefit from standard semantic HTML tables.

[2019-07-15 13:29] jh3y commented on #1553
@gergelyke @tajo After taking a proper look at this I'm not 100% sure on what to do here. `NODE_ENV` is of course used in a variety of places.
`WEBSITE_ENV` can't be dropped if it's relied on by a third party package?
`BUILD_ENV` is being used for `Netlify` and `Docker`. Not sure if `BUILD_ENV` could be swapped out for `NODE_ENV` here.

[2019-07-15 15:43] gergelyke commented on #1553
Let me send a draft pr with the idea

[2019-07-15 16:06] gergelyke commented on #1553
Actually, this should do the trick https://github.com/uber-web/baseui/pull/1565

[2019-07-15 16:54] #1553 closed

[2019-07-15 20:37] #473 closed

[2019-07-15 21:06] #1470 closed

[2019-07-15 22:29] chasestarr commented on #529
Our plan is to publish new components with exact prop types, but maintain the current inexact prop types until flow updates to exact by default. See [this comment](https://github.com/uber-web/baseui/pull/1525#issuecomment-511540957) for more thoughts. Going to close this for now. We've heard the feedback and will keep this in mind when making changes

[2019-07-15 22:29] #529 closed

[2019-07-16 16:47] #744 closed

[2019-07-16 20:57] #1542 closed

[2019-07-16 22:15] simPod commented on #1515
Still thinking about it. Now I came across the problem that I want to modify this property https://github.com/uber-web/baseui/blob/5b0ed2308a96c15f12352e2b14d327b173627dfd/src/input/styled-components.js#L335, also globally. IMO it's related to the ultimate solution.

[2019-07-17 00:44] chasestarr opened #1575 "[ThemeProvider] theme prop type is too strict"
## Current Behavior

given the code below, flow will error on the `theme` prop
[code]

Because `ThemeT` is an 'exact' type, it will not allow `CustomTheme` type provided here.

I made a couple changes to `ThemeProvider` and `createTheme` so that they accept inexact `ThemeT`, which allows the example above to work.

[code]

but consider the following example where this change is not sufficient:

[c

[2019-07-17 02:22] houmark opened #1576 "Height of StatefulInput vs. StatefulSelect in Safari"
## Current Behavior

I have a simple filtering UI with a `StatefulSelect` and a `StatefulInput` next to each other plugged inside a `Block` grid (I also tried this with the `FlexGrid` with the same result). Noticed that the `StatefulInput` renders 4px taller than the `StatefulSelect` in Safari (latest 12.1.1).

I've created this CodeSandbox, based on the Block demo, to show how this is happening.

[2019-07-17 02:25] houmark opened #1577 "Width of StatefulSelect when inside a Block or FlexGrid"
## Current Behavior

`StatefulSelect` is rendering super narrow when placed inside a Block or a FlexGrid.

In the linked demo I have outcommented the override, which makes it a min width, but I think it should not be needed to put an override to get a sensible default width?

Demo: https://codesandbox.io/s/block-with-grid-usage-h4u3j

## Expected Behavior

A better default width.

## Your Environm

[2019-07-17 04:56] houmark opened #1578 "Button with endEnhancer onClick issue"
## Current Behavior

I have a `Button` which has an endEnhancer, to show an icon. The button has an `onClick` event to update a state. If I click the button itself, then it will set the `value` of the `Button` no problem.

If I click the endEnhancer icon, then it will still run the `onClick` event from the button, but it the value will be `undefined`.

What is the correct use of this combo or is t

[2019-07-17 16:44] chasestarr opened #1579 "[Flow] accordion panel file provides error when using older versions of flow"
The error below (and similar errors) are caused by mismatched flow versions between what baseui uses, and your application. At this exact moment, baseui uses `v0.102.0`. Based on my [tests](https://gist.github.com/chasestarr/392e418fd944fa191b9922d2429c358e), it looks like v100+ do not show this error. You may want to explore updating the flow version you are using, or adding this file to your `.f

[2019-07-17 16:56] gergelyke commented on #1578
this seems like a bug to me - what do you think @chasestarr @tajo @sandgraham ?

[2019-07-17 17:38] sandgraham commented on #1578
This is how [event capturing & bubbling](https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Building_blocks/Events#Bubbling_and_capturing_explained) works by default in the browser.

I don't think we should change/hide this behavior. There may be legitimate use cases for allowing normal event capturing within an enhancer (a nested checkbox perhaps). The `onClick` still has context on which

[2019-07-17 17:43] chasestarr opened #1582 "[Avatar] styled component prop types are too restrictive"
StylePropsT ([link](https://github.com/uber-web/baseui/blob/master/src/avatar/types.js#L11-L14)) is an 'exact' type and will not allow for children to be provided to the component. My suspicion as to why this error is not surfaced in baseui source code is because of wrapping in overrides code

[code]

[2019-07-17 17:45] simPod opened #1583 "Reason for having multiple SIZE"
I'm trying to get to know the baseui better. Encountered multiple SIZE enums.

https://github.com/uber-web/baseui/blob/c56098a61219393cd2b00278b7d324a1c1d9f974/src/modal/index.d.ts#L6
https://github.com/uber-web/baseui/blob/c56098a61219393cd2b00278b7d324a1c1d9f974/src/input/index.d.ts#L14
https://github.com/uber-web/baseui/blob/c56098a61219393cd2b00278b7d324a1c1d9f974/src/button/index.d.ts#L12

Wh

[2019-07-17 18:03] chasestarr commented on #1583
distinctive size enums allows for them to diverge without causing migration pain for consumers

[2019-07-17 18:14] simPod commented on #1583
@chasestarr so if I understand correctly it is expected for them to be different in the future and not the other way around?

[2019-07-17 18:30] houmark commented on #1578
I understand fairly well how event bubbling and capturing works. Initially I had a button where I wanted to display a different icon depending on state and even make it possible to clear the state with the click of the icon. I was struggling with capturing the parent event on the icon though (still don't know how to get that) and changed course, but now this has turned into a bug for me, as clicki

[2019-07-17 18:38] chasestarr commented on #1583
yes - suppose we want to add a new size, but only for buttons

[2019-07-17 18:38] simPod commented on #1583
Thanks for info!

[2019-07-17 18:38] #1583 closed

[2019-07-17 19:24] gergelyke commented on #1582
@chasestarr should we mark this one as "good first issue", what do you think?

[2019-07-17 21:13] tajo commented on #1578
Yea, I don't think this is a bug. Why to use DOM to pass the value if you can pass it just by JS? What's the whole/bigger use case?

[2019-07-17 21:20] houmark commented on #1578
The situation is that simply adding an `endEnhancer` to show an icon within a button breaks the click event if you click on the icon. So while this may not be something baseui should automatically handle, there should be an example in the docs on how to get the value from the parent button inside the enhancer.... imho... I've struggled (and still didn't figure out) how to avoid to get `undefined`

[2019-07-17 21:29] tajo commented on #1578
You should probably just avoid using `event.target` altogether. As @sandgraham said:

So you can use that. `endEnhancer` accepts any React component, it could be multiple nested DOM elements, so you would have to do some recursive search trying to find the button or add a ref to the button. However, you can just do this: https://codesandbox.io/s/button-with-endenhancer-mgc28

[2019-07-17 22:12] houmark commented on #1578
So basically the change is as simple as using `event.currentTarget.value` instead of `event.target.value`. Clicking the icon does nothing and I could add any component there with its own `value` and `onClick` or inherit as needed in my use case.

Sometimes I guess it's okay to feel a little stupid :/

[2019-07-17 22:39] #1550 closed

[2019-07-18 01:18] #1551 closed

[2019-07-18 16:28] #1552 closed

[2019-07-18 16:30] gergelyke opened #1587 "Document the override prop function"
Add documentation for this feature: https://github.com/uber-web/baseui/pull/1560

Probably, this should live here: https://baseweb.design/theming/understanding-overrides/

[2019-07-18 21:25] houmark commented on #1576
In 8.7.0 the height is no longer the same in Chrome for `StatefulSelect` vs. `StatefulInput`.

Interestingly it seems that in Chrome the `StatefulSelect` is 44px and in Safari it's 48px tall.

`StatefulInput` is 48px in Chrome and 52px tall in Safari. This is with standard default `size` applied.

#1564 seems to be the reason for this change in height.

[2019-07-18 21:29] houmark commented on #1576
The Chrome issue is not an issue with standard fields. I had an beforeEnhancer with a 18px icon that made the field taller, but even with standard fields the issue is still present in Safari.

[2019-07-19 07:14] rohitb4 commented on #1577
Can I take up this issue?

[2019-07-19 14:51] qqingvarqq commented on #1559
I will take this issue

[2019-07-19 15:58] gergelyke commented on #1577
sure, thanks @rohitb4 !

[2019-07-19 16:25] rohitb4 commented on #1577
@chasestarr @tajo is setting a min-width to the select right approach? If we take the min-width approach, what should be the default value?

[2019-07-19 17:02] chasestarr commented on #1577
I would rather not take a `min-width` approach. I think we should ensure that the select component grows to fill available width. This aligns better with the current functionality of input components. It is likely more complicated if the container is included in a flex layout.

[2019-07-19 17:07] houmark commented on #1577
I agree with that approach @chasestarr and if I then want it not growing full width I can either overwrite or size down the container. But a fixed `min-width` is prone to (responsive) issues.

Unrelated, I would like to start doing some of the fixes myself also, but did not really do any TS before I was struggling a bit to get a development edition running where I could also test it out locally in

[2019-07-19 17:55] chasestarr commented on #1577
Thanks for the bug reports @houmark - very helpful to the improve the project. We don't have a great process for linking baseui with other apps. What I recommend is to create a reproducing failing test/scenario file and develop on the bug internal to the baseui repo

[2019-07-19 18:02] houmark commented on #1577
Yeah, but I do think a full get started guide with more details than the current one would be helpful for others. I'm not the only one being a bit green on TS and the entire setup, but once I got it working I should be able to do the simple "good first issue" bugs and gain confidence in contributing that way, so if you would have time to review the current guide and more details, then I would be m

[2019-07-19 19:41] #1582 closed

[2019-07-19 19:48] chasestarr commented on #1577
I'll take another look at the contributing docs next week

[2019-07-23 01:37] NameFILIP opened #1600 "Toast's onClose handler doesn't work well with explicit state management"
Approach 1 doesn't work (2 elements are closed on each click).
Approach 2 works, but is a bit hacky.

[code]

https://codesandbox.io/embed/toast-notification-basic-usage-giwmi

[2019-07-23 02:01] NameFILIP opened #1601 "Toast's close button is misaligned"
The "x" button should probably be in the middle of the line.
![image](https://user-images.githubusercontent.com/834796/61677065-05539d00-acb3-11e9-8b25-f2b8af1127ae.png)

[2019-07-23 12:06] zt-uber opened #1603 "Add support for RTL languages"
## Feature description
Add support for language direction in baseui components. In particular, when an element has a left/right padding or margin, the left/right values should be swapped so mirrored elements appear correctly.

## Example

1. Navigate to the [select component](https://baseweb.design/components/select/)
2. In console set `document.dir = "rtl"`
3. Observe that the cursor is up agains

[2019-07-23 16:24] gergelyke commented on #1601
Hi Filip,

thanks for opening this issue! The reason for that is to make sure, that for longer texts too it stays on top.

@nguyensomniac can you verify that please?

<img width="369" alt="Screen Shot 2019-07-23 at 9 23 57 AM" src="https://user-images.githubusercontent.com/2174968/61729244-a3834980-ad2b-11e9-81c7-c946589f2e57.png">

[2019-07-23 16:48] gergelyke commented on #1603
hi @zt-uber ! did you experience any issues with components other than the select?

[2019-07-23 17:38] zt-uber commented on #1603
@gergelyke The form I was working on involved the Input and Select components. My only issue was with Select. Don't know if the other components work out of the box for RTL, but it would be prudent to do a quick audit of the codebase for paddingLeft, paddingRight, etc. while resolving Select.

[2019-07-23 17:39] gergelyke commented on #1603
@zt-uber thanks!  any chance this is something you could contribute to base web?

[2019-07-23 17:42] nguyensomniac commented on #1601
Yes, @gergelyke is right—although we could probably do with 2px padding to align with the first line.

[2019-07-23 17:44] zt-uber commented on #1603
@gergelyke Yeah, I can dig into it some more and see how large of an undertaking it is, and at minimum fix it for Select.

[2019-07-23 17:48] gergelyke commented on #1603
sounds great, thank you!

[2019-07-23 17:58] jh3y opened #1607 "[SEO Improvements] Link"
## Feature description
- Site wide audit of currently used `Link`
- Make all `href` absolute
- Use `rel` where `href` is pointing externally

[2019-07-23 17:59] jh3y opened #1608 "[SEO Improvements] Pagination"
## Feature description
- Convert `Button` to anchors with `$as="a"` potentially

[2019-07-23 17:59] jh3y opened #1609 "[SEO Improvements] Side navigation"
## Feature description
- Items need changing to semantically create tags
- Entire component should be inside a `nav`

[2019-07-23 18:01] jh3y opened #1610 "[SEO Improvements] Tabs"
## Feature description
- Content should be within a `p` tag
- Update docs to recommend explicitly naming tabs where possible
- Actual tabs could/should potentially be mapped to new list item and anchor elements. Not simply cloning the content elements.

[2019-07-23 18:03] jh3y opened #1611 "[SEO Improvements] Accordion"
## Feature description
- All content should be SSE where possible
- The `Root` should be an unordered list.
- Semantic markup for list items and content wrapped in `p` tags.
- Provide option for `JS-LD` schema to be injected within a `script` tag alongside the markup.

[2019-07-23 18:04] jh3y opened #1612 "[SEO Improvements] Avatar"
## Feature description
- Provide option to inject `JS-LD` schema for person within `script` tag alongside component markup

[2019-07-23 18:05] jh3y opened #1613 "[SEO Improvements] Typography"
## Feature description
- Site wide audit of typography usage. Captions should be `caption`s, blocks should be within `p` tags etc.

[2019-07-23 18:06] jh3y opened #1614 "[SEO Improvements] Progress steps"
## Feature description
- Swap out current markup for semantically appropriate markup using ordered list and list item combinations.

[2019-07-23 18:08] jh3y opened #1615 "[SEO Improvements] Card"
## Feature description
- Text content within `p` rather than `div`.
- Heading should be at most `h2`.
- If the CTA is a navigational link, don't make it a `Button`. It should be an anchor.

[2019-07-23 18:09] jh3y opened #1616 "[SEO Improvements] Modal"
## Feature description
- Consider SSR for modals containing important content
- Wrap content in `p`
- Switch modal title to `h2` at most

[2019-07-23 18:12] gergelyke commented on #1600
hi!

you have to add a key to the `Toast`s if you want to handle the state yourself. Something like this should work:

[code]

[2019-07-23 18:12] #1600 closed

[2019-07-23 18:18] #1601 closed

[2019-07-23 21:03] NameFILIP commented on #1600
@gergelyke the Approach 1 still breaks once you get to two items with the same message + type. Try clicking on the first 3: https://codesandbox.io/embed/toast-notification-basic-usage-giwmi

[2019-07-23 22:44] gergelyke commented on #1600
Yeah, those keys should be unique - may doing `key={notification.message + notification.type + index}`

[2019-07-23 23:59] NameFILIP commented on #1600
@gergelyke It still behaves randomly after adding the `index` (click on the first number 3): https://codesandbox.io/embed/toast-notification-basic-usage-giwmi

Also, it works well when not passing `onClick`, but doing it via overrides, which suggest that the issue is in the component implementation. Would it make sense to reopen the issue?

[2019-07-24 00:04] NameFILIP commented on #1600
oh, actually, my override is incorrect and is not doing anything, it should be `onClick` instead of `onClose`, but all other points still valid

[2019-07-24 19:00] jonsadka opened #1628 "[Datepicker] Support a horizontal layout in the datepicker calendar"
Would love it if the calendar in the datepicker supported a horizontal layout

[2019-07-24 19:02] jh3y commented on #537
After some discussion, we agreed to close this issue. The theme primitives are static. The desire for shadows that match the theme colors is subjective. A utility function is also currently out of scope for `baseui` and would be something to additionally maintain.

[2019-07-24 19:02] #537 closed

[2019-07-24 19:45] #1613 closed

[2019-07-24 20:06] #1612 closed

[2019-07-24 20:07] IgorWilbert commented on #1587
@gergelyke may I take it, please?

[2019-07-24 20:10] IgorWilbert commented on #1546
Hi! I would like to work on this issue. Thanks :)

[2019-07-24 20:37] gergelyke commented on #1546
sounds great, thanks @IgorWilbert !

[2019-07-24 20:38] gergelyke commented on #1587
sure, thanks @IgorWilbert !

[2019-07-24 21:06] #1607 closed

[2019-07-24 21:58] #1616 closed

[2019-07-25 08:21] zifahm opened #1634 "Modal Body warning <div> cannot appear as descendant of <p>"
## Current Behavior

```Warning: validateDOMNesting(...): <div> cannot appear as a descendant of <p>```
I checked inside the modal body
[code]
## Expected Behavior
Modal body needs to be a div tag.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v8.11.0  |
| React   |   16.8.6      |
| browser |  chrome 75.0.3770.142       |

- [x] I have searched the [issues](https:/

[2019-07-25 08:27] houmark commented on #1634
Seeing the same in my end! Seems to be a regression introduced in #1627

[2019-07-25 09:02] zifahm commented on #1634
@houmark  yup it was changed into a p in last commit https://github.com/uber-web/baseui/pull/1627/commits/d24846d868412bc37ecc1aec97b41cc9f528c1a2

[2019-07-25 09:39] zifahm opened #1635 "Toast getting called twice under React.StrictMode"
## Current Behavior
Toast getting called twice under React.StrictMode

https://codesandbox.io/s/toaster-basic-usage-ydc7f

## Expected Behavior
Toast should only be called once.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v8.11.0  |
| React   |  16.8.6       |
| browser |    chrome 75     |

- [x] I have searched the [issues](https://github.com/uber-web/baseui/iss

[2019-07-25 16:30] #1634 closed

[2019-07-25 16:58] #1608 closed

[2019-07-25 17:15] #1559 closed

[2019-07-25 17:30] tajo commented on #1635
It intentionally invokes some methods twice: https://reactjs.org/docs/strict-mode.html#detecting-unexpected-side-effects - we run some unexpected side-effect

we should consider using `StrictMode` for our docs site.

[2019-07-25 21:04] #1628 closed

[2019-07-25 21:14] ywu151 opened #1643 "Bugs: multiple Inputs with clearable"
## Current Behavior
If there are multiple inputs with clearable, only the last input will be cleared no mater which clear icon we click

Follow the code here.
[code]

## Expected Behavior

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v8.11.0  |
| React   |         |
| browser |         |

- [ ] I have searched the [issues](https://github.com/uber-web/baseui/issues)

[2019-07-25 23:01] sandgraham commented on #1643
@ywu151 Still looking at exactly why this doesn't function as expected but a workaround is to pass a ref to each `Input` via the `inputRef` prop. There is something wrong with the default `ref` used but I need to test a couple of things before releasing a patch.

Here is a sandbox showing how to get around it for now with `inputRef`: https://codesandbox.io/s/clearable-input-with-explicit-inputref-

[2019-07-26 16:21] qqingvarqq commented on #1462
@gergelyke  I would be implementing this feature `Make a list of countries to be filterable` if no one working on it already.

[2019-07-26 17:10] jh3y commented on #1370
Hey @illogikal 👋

Are you able to provide a `CodeSandbox` example for what you are trying to achieve. From the code above, the media query keys wouldn't be populating as `mediaQueries` would be `undefined`. However, I'd imagine you have this code running somewhere 👍

[2019-07-26 17:12] jh3y commented on #1462
@qqingvarqq Please assign this issue to yourself if you've begun working on it 👍

[2019-07-26 17:37] yctercero commented on #1022
Hi there!

I am running into a similar problem with the PhoneInput country dropdown. We are using it within a modal of ours (we are not using the BaseUi modal component). When a user selects the country, the dropdown renders behind our modal. I attempted to use the overrides by targeting 'CountrySelectDropdown', but it is not doing anything.

When I inspect, I see that the component that I need to

[2019-07-26 17:39] yctercero commented on #1022
Hi there!

I am running into a similar problem with the PhoneInput country dropdown. We are using it within a modal of ours (we are not using the BaseUi modal component). When a user selects the country, the dropdown renders behind our modal. I attempted to use the overrides by targeting 'CountrySelectDropdown', but it is not doing anything.

When I inspect, I see that the component that I need to

[2019-07-26 17:52] tajo commented on #1022
@yctercero Are you using the latest `baseui` version? It should work correctly out of the box unless you are setting `zIndex` somewhere. More info: https://baseweb.design/components/layer/

[2019-07-26 17:54] qqingvarqq commented on #1462
@jh3y if I can, I would, but it seems only project members have permission to assign issues.

[2019-07-26 17:57] jh3y commented on #1462
@qqingvarqq Sorted 👍

[2019-07-26 18:12] yctercero commented on #1022
Thanks for the link @tajo! We had misplaced the BaseProvider.

[2019-07-26 20:48] jonsadka opened #1651 "[datepicker] `StatefulDatepicker` does not respect `range`"
### Description
When setting `range` prop on the `StatefulDatepicker`, the calendar will auto-close when the first date is selected and will not allow the user to select the end date. The expected behavior when `range` is set would be to wait until the end date is selected before closing the Calendar popup.

A quick example can be seen between the following two components and the corresponding gif

[2019-07-27 18:10] zifahm opened #1653 "Popover doesn't work on an avatar?"
## Current Behavior
Popover not getting triggered on avatars
https://codesandbox.io/s/avatar-with-available-sizes-5bu2j

## Expected Behavior
Popover should get triggered on an avatar

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | 18.11.0 |
| React   | 16.8.6 |
| browser |  chrome 75  |

- [ ] I have searched the [issues](https://github.com/uber-web/baseui/issues) of

[2019-07-27 18:15] #1653 closed

[2019-07-27 18:15] zifahm commented on #1653
add a div around it. works now

[2019-07-29 18:28] #1643 closed

[2019-07-29 21:09] #1611 closed

[2019-07-29 21:10] #1614 closed

[2019-07-30 00:08] sandgraham commented on #1643
@ywu151 This should be fixed in `v8.12.0` if you can bump your project.

[2019-07-30 02:18] NameFILIP commented on #1600
👋 Would it make sense to reopen the issue?

[2019-07-30 02:21] NameFILIP opened #1658 "Toast content overflow"
![image](https://user-images.githubusercontent.com/834796/62095613-9374e800-b29e-11e9-9c39-4fd24e20bf80.png)

Something like `overflow:scroll` so that a close button is visible can be a better UX.

[2019-07-30 16:30] chirgjn commented on #1224
@jh3y thanks for assigning this to me.
I will raise a PR by Monday :D

[2019-07-30 17:11] jh3y commented on #1658
Hey @NameFILIP 👋
Not sure if this is something we would put into the core styling. It's a little subjective in approach. You might extend the `width` of the `Toast`. Alternatively you may choose to use `word-break` or `overflow` to improve the UX.

For example, this would solve the UX problem if you wanted to maintain equal `width` toasts.
[code]
But alternatively you may not want the `word-break`

[2019-07-30 17:11] #1658 closed

[2019-07-30 18:29] ywu151 commented on #1643
Great!

On Mon, Jul 29, 2019 at 5:08 PM Graham Murdoch <notifications@github.com>
wrote:

[2019-07-30 19:51] leyanlo opened #1659 "Datepicker should allow keyboard typing the date"
## Feature description
It would be nice to be able to select the date by typing it in, similar to how Angular Material interprets the date based on input

[2019-07-30 23:24] NameFILIP commented on #1658
@jh3y Do you think when content goes out of the Toast is a better UX than allowing to scroll?
I know I can leverage overrides to customize it, but shouldn't the default behavior handle such a common use-case?

[2019-07-31 00:21] jh3y commented on #1658
@NameFILIP No. I completely agree it's not great UX for there to be overflowing content in your `Toast`. Yet, it also wouldn't be great UX to have the `Toast` container be scrollable.

It isn't a common use case to show large unbroken strings in a `Toast`. Displaying a stack trace or similar in the `Toast` might not be ideal. It would be common to have something like a small message about an Error

[2019-07-31 00:54] #1159 closed

[2019-07-31 10:57] aitchiss opened #1662 "[StatefulInput] Enter on password input field unmasks password"
## Current Behavior

Using a StatefulInput with type 'password' as the last element in a form results in the password becoming visible when the user hits enter in the input field, so what you see is:

- Password unmasks
- Form submits

Similarly, hitting the enter key when the focus is on the mask/unmask button results in the form submitting, when it should only mask/unmask the input.

You can rep

[2019-07-31 16:32] houmark commented on #1662
I'm seeing the same behavior and this is a pretty bad bug that I'm wondering how it made it in? Users privacy and overall security are being affected as the password is easily visible for 2-5 seconds when submitting a form (if someone is watching over your shoulder when logging in), depending on how long time for example login verification takes.

[2019-07-31 16:43] jh3y commented on #1576
I've had a look into this via the `storybook`.

The `StatefulSelect` and `StatefulInput` are the same `height` in `Chrome` and `Safari`. However, that size differs between the browsers. Seems there's a `margin` being included in `Safari` on the `input` itself. `margin: 0em` in `Safari` didn't seem to be doing what it was saying.

I've opened a PR for this 👍

[2019-07-31 19:15] ywu151 opened #1664 "Override Button Background Color Failure"
## Current Behavior
The override background color of button fails in some situations:
the color doesn't work after clicking
[code]
![ezgif com-optimize](https://user-images.githubusercontent.com/33992458/62240860-cac1c280-b38c-11e9-8167-2baa22c7aa79.gif)

It also happens when using modal
[code]
[code]
![Jul-31-2019 12-07-11](https://user-images.githubusercontent.com/33992458/62240869-d0b7a380-b38c

[2019-07-31 20:01] sandgraham commented on #1664
The `:focus` state is still using the default blue color. You need to override that as well.

[code]

[2019-07-31 20:07] #1664 closed

[2019-08-01 09:01] #1609 closed

[2019-08-01 15:42] #1576 closed

[2019-08-01 16:02] gergelyke commented on #1659
@leyanlo thanks for opening this! any chance you'd be up for taking this on?

[2019-08-01 16:02] gergelyke commented on #1662
Reproducing codesandbox: https://codesandbox.io/s/input-for-passwords-bc94h

[2019-08-01 16:35] #1587 closed

[2019-08-01 18:12] gergelyke opened #1668 "[RTL] Side navigation"
To reproduce, open the dev tools, and run `document.dir = 'rtl'`

AC:

* the component should have the same spacings and structure in `rtl` too.

<img width="254" alt="Screen Shot 2019-08-01 at 11 12 18 AM" src="https://user-images.githubusercontent.com/2174968/62316843-47b47100-b44d-11e9-9e59-20d651c481ba.png">
<img width="292" alt="Screen Shot 2019-08-01 at 11 12 04 AM" src="https://user-images.

[2019-08-01 18:14] gergelyke opened #1669 "[RTL] Button enhancers"
To reproduce, open the dev tools, and run `document.dir = 'rtl'`

AC:

* the component should have the same spacings and structure in `rtl` too.

<img width="233" alt="Screen Shot 2019-08-01 at 11 13 46 AM" src="https://user-images.githubusercontent.com/2174968/62316969-8813ef00-b44d-11e9-9a2e-1f17865b1e02.png">
<img width="242" alt="Screen Shot 2019-08-01 at 11 13 38 AM" src="https://user-images.