[2020-02-22 20:13] gwuah commented on #2862
Hey @chasestarr, I want to pick this up. Where do I start from?
There's not much in the `contribution.md` file relative to improving documentation.

[2020-02-24 05:13] houmark opened #2908 "[LayoutGrid] Conditionally render Cell in Grid"
## Current Behavior

Trying to conditionally render a `<Cell>` and returning `null` crashes the grid:

[code]

Condition example:

[code]

## Expected Behavior

It would be great if the grid would do a null check and simply move on if null/undefined. A workaround has been to use `span={0}` but it doesn't feel quite right.

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.56.0  |
| React

[2020-02-24 17:48] chasestarr commented on #2862
Hi @gwuah thank you for looking into improving the documentation. You will want to run the `yarn documentation:dev` command if you are on windows (this does not recompile on source code changes) or `yarn documentation:dev:watch` if you are on mac/linux. This should start the page locally at `localhost:3000`

This is a good example to base your work on: https://github.com/uber/baseweb/pull/2491/fil

[2020-02-25 01:03] #2800 closed

[2020-02-25 21:17] chasestarr commented on #2804
Closing, but feel free to continue the conversation with a reproduction

[2020-02-25 21:17] #2804 closed

[2020-02-25 21:19] chasestarr commented on #2640
I believe this was completed by https://github.com/uber/baseweb/pull/2717 but let me know if the issue is still unresolved

[2020-02-25 21:19] #2640 closed

[2020-02-26 02:07] chasestarr commented on #1457
This shouldn't have been closed as stale. I'm looking into the problem now. @houmark do you use `activedescendantId` in your application?

[2020-02-26 02:21] houmark commented on #1457
No, I do not. Also, I have not seen this issue pop up recently, which may be because it was inherited from `Select` which had that issue, but that was solved in [this PR](https://github.com/uber/baseweb/pull/2621).

[2020-02-26 13:10] cbranch101 opened #2921 "[Datepicker / Timepicker] Swappable date processing in the using date.io"
## Feature description

Would you guys be open to me submitting a PR to introduce swappable date processing in Datepicker and Time picker?

The idea is to move all the date processing calls into a single utils objects that would be passed down through context, similar to how it's implemented [here](https://material-ui-pickers.dev/getting-started/installation) in material ui. This would allow us to

[2020-02-26 15:44] gergelyke commented on #2921
I think this would make sense. Just to double-check - the implementation you are proposing would be opt-in, and would require no breaking changes. Is that correct?

[2020-02-26 16:10] chasestarr commented on #1457
Thank You

[2020-02-26 16:12] #1457 closed

[2020-02-26 17:29] cbranch101 commented on #2921
Exactly, if you don't add the provider, nothing will change

[2020-02-27 19:50] gwuah commented on #2862
Hey @chasestarr , thanks for your patience with my initial pull request.
I want to take on this issue(https://github.com/uber/baseweb/issues/2825) next.
Hope it's up for grabs?

[2020-02-28 00:27] chasestarr commented on #2862
Yes Thanks. Please write a comment on that issue. Github didn't work properly to assign it to you

[2020-02-28 00:27] #2862 closed

[2020-02-28 06:04] jasongi-actu commented on #2285
@gergelyke `for` has more uses than just focusing. It reads out the label when using a screen read when you focus on the input element. Without it (or `aria-labelledby`) then you have no idea what the input element is for. I think this issue should be reopened, and there should be a `for` and `id` (so that you can use `aria-labelledby`) prop for the FormControl that are applied to the Label for ac

[2020-02-28 06:40] jasongi-actu commented on #2285
I've just had a look at the code @gergelyke and it seems like the `for` attribute is set when an id is passed into the child component. This is better than I thought in that initial comment, but still provides no way of using aria-labelledby (which to be able to use you would have to be able to set the id of the label) and doesn't work if there is no id on the child element.

Since a lot of React

[2020-02-28 12:12] gwuah commented on #2825
I'm picking this up. cc. @chasestarr

[2020-02-28 16:13] gergelyke commented on #2285
@jasongi-actu can you send a proposal implementation in the form of a PR?

[2020-02-28 18:00] raunofreiberg commented on #2698
I'm starting to sound like a broken record, but to me, the issue has surfaced again: https://baseweb.design/components/button/ 🙈

[2020-02-28 20:34] gergelyke commented on #2698
I've created a story for our next sprint - sorry about the inconvenience

[2020-02-28 20:49] chasestarr opened #2943 "[build] yarn test fails on fresh clone"
On a fresh clone, `yarn test` fails with the error below

[code]

[2020-02-29 16:17] trevorwhealy opened #2955 "Open Source the Figma File"
## Feature description
To improve the adoption of the design library by other companies, it would be great if the Figma file could be open-sourced and shared so that designers could experiment with the library components, and not be forced to recreate them all manually.

It's nice that there are so many plug-and-play React components, but if the designers cannot easily plug-and-play the mocks into

[2020-03-02 15:58] gergelyke commented on #2955
@trevorwhealy you can find it in this blogpost: https://baseweb.design/blog/base-figma-community/

I'll update the doc site to have more links to it

[2020-03-02 15:58] #2955 closed

[2020-03-02 15:58] gergelyke commented on #2955
Also, feel free to reopen for further discussion

[2020-03-02 21:15] houmark opened #2962 "Input throws warning due to tabindex misspelling when `searchable` attribute is set"
## Current Behavior

In https://github.com/uber/baseweb/pull/2936 a tabIndex was added to the clearable icon. Unfortunately the spelling was wrong, which results in a warning when loading an `Input` with `searchable`  attribute set.

Please see this codesandbox, which throws the error on load:
https://codesandbox.io/s/input-r97tm

[code]

Solution is simple, replace `tabindex` with `tabIndex`.

I

[2020-03-03 00:30] #2943 closed

[2020-03-03 16:38] #2825 closed

[2020-03-03 16:41] gwuah commented on #2908
@chasestarr @gergelyke can I pick this up?

[2020-03-03 16:43] gergelyke commented on #2908
sure, I've just assigned it to you - thanks a lot @gwuah

[2020-03-03 20:21] #2512 closed

[2020-03-03 20:27] chasestarr commented on #2962
Thank you @houmark This was fixed by https://github.com/uber/baseweb/pull/2967

[2020-03-03 20:27] #2962 closed

[2020-03-03 21:50] candycanetrain opened #2969 "In Select's Search, there should be an option to not display noResultsMsg at all or a way to hook into it"
For Select's Search, if a custom `noResultsMsg` is not provided, then it would render a generic "No Results" message:
![image](https://user-images.githubusercontent.com/19182744/75822474-dfb46900-5d54-11ea-8922-ec2154dfe052.png)

If we provide a custom `noResultsMsg` and make it return null, it would return an empty box: [Reproduction sandbox link](https://codesandbox.io/s/select-as-single-pick-se

[2020-03-04 19:26] #2908 closed

[2020-03-04 19:36] gwuah commented on #2897
I’m picking this up @chasestarr

[2020-03-04 23:17] houmark opened #2980 "Select and other components using Menu / MenuStatefulContainer throws warnings"
## Current Behavior

In version 9.60.1 or the version before, probably due to https://github.com/uber/baseweb/pull/2947 but I could be wrong, changes have resulted in warnings being thrown both on load of a Select (and other components using Menu / MenuStatefulContainer as sub-components) when loading and when opening the Select.

This is the sandbox of the current Select on the demo page:
https:/

[2020-03-05 00:32] chasestarr opened #2982 "[Select] allow `inputValue` state to be controlled from outside component"
Use case: I have some application event to clear the input value. Right now this is not possible. It should be optionally controlled through a prop

[2020-03-05 00:46] candycanetrain commented on #2982
As stated offline, this is needed especially for Search as it is necessary to clear the `inputValue`. Currently, only `value` (which is the selectedValue as opposed to `inputValue`) is exposed right now. Pressing esc clears the `inputValue`, but I want to be able to clear it in other ways.

[2020-03-05 21:10] #2907 closed

[2020-03-06 17:20] chasestarr opened #2990 "[Input] add 'maxLength' prop at top level"
Applying `maxLength` as an override is currently possible, but it's unclear that this does not get forwarded to the underlying input element. We should add this the `Input` component top-level api.

https://codesandbox.io/s/input-eumbf

[2020-03-06 20:58] chasestarr commented on #2980
Thanks for the report @houmark. I think the reason this slips through is the over-reliance on automated tests which do not fail CI on these kind of warnings.

One next step we can take is try to `inbox-zero` the present warnings in unit-tests and review test log output before merging changes. I wonder if there is a way to fail on warnings/errors from react?

[2020-03-06 21:11] houmark commented on #2980
Thanks for your feedback @chasestarr.

It seems to me that those types of warnings are slipping through quite often and those can be potentially breaking for some users. Warning should not be, and if react crashes due to an error, I would assume the test will pick that up.

It's important to note that when React is running in production mode, those warnings are not displayed in the console, so Rea

[2020-03-06 21:33] chasestarr commented on #2982
@candycanetrain Can you provide more detail about what 'triggers' `inputValue` change in your use-case? Under what circumstances do we want the value to change?

[2020-03-07 07:03] chrisirhc opened #2998 "Feature request for `withWrapper` extension"
## Feature description
I would like to wrap some baseweb components, such as the Link.
However, using withWrapper `from 'styletron-react'` doesn't work as expected.

Repro:
[code]

Perhaps we need a `withWrapper` export on baseweb to fulfill such use cases?

[2020-03-07 07:31] joginder07 opened #2999 "[Tree-view] Replace index with id as key"
Index of tree node is set as key which needs to be replaced with getId(node).

## Current Behavior

On tree node mount, node id is stored in ref. When a node is replaced which has new id componentDidMount is not invoked because index is same and therefore new id is not stored in ref.

## Expected Behavior

Node id should be set as key. Secondly, we need to remove ref in componentWillUnmount.

## Y

[2020-03-09 16:35] chasestarr opened #3003 "[Select] focus another element does not call onBlur handler passed in props"
https://codesandbox.io/s/select-9l4yz

[2020-03-09 17:25] #1998 closed

[2020-03-09 17:26] #2897 closed

[2020-03-09 18:35] hackily opened #3006 "[Feature Request] CSS Longhand helper functions"
## Feature description
Since the official recommendation with baseui is to use longhand properties whenever possible, it would help developer ergonomics to have a utility that expands shorthand.

Right now, a user would need to type all of this out
[code]
But this could be simplified with a utility to something resembling shorthand
[code]

The first parameter could take in other types, such as `pa

[2020-03-09 18:44] candycanetrain commented on #2982
I was going to suggest allowing the [`clearValue()` function](https://github.com/uber/baseweb/blob/0aa015291d95428e2fefab03620d6ff66ca27773/src/select/select-component.js#L559) to be applicable for `inputValue`, but I see that it is already the case. The problem is that `renderClear()`, which renders the Clear button, has [a condition that only renders the Clear button if the `value` (selectedValu

[2020-03-09 19:43] andriuss commented on #3003
Clarification: onBlur fails on navigation with tabs. Navigating using mouse executes onBlur.

[2020-03-09 20:31] sandgraham commented on #2998
@chrisirhc I actually added this last week to fix some other issues. It extends the styletron `withWrapper` to include `$theme` in the props (similar to our `styled` and `withStyle` utilities).

You can try it by importing it like so:
[code]

The types are pretty weak right now but it should work for what you are doing in that example.

[2020-03-09 20:33] chasestarr commented on #2982
Thank you for the description. Based on your requirements, I'm assuming the linked PR does not do what you need. The better fix would be to expand the cases where the clear button is rendered?

[2020-03-09 20:33] chrisirhc commented on #2998
Yep tested that it worked. Though there's a lint rule recommending users not to import from internals.

[2020-03-09 20:35] sandgraham commented on #2998
Awesome - the lint rule should be fine with `baseui/styles`. Anything more than 2 "levels deep" is considered internal. Does the lint rule fire for this?

That said: I'll add to main import along with other utils to be consistent.

[2020-03-09 22:57] chasestarr commented on #2982
@candycanetrain do you mind reviewing the latest diff here? https://baseweb-git-select-render-clear-button-if-input-value-exists.uber-ui-platform.now.sh/components/select/

[2020-03-09 23:16] candycanetrain commented on #2982
@chasestarr i just reviewed the latest diff. It looks good, except when you've typed something in the input box and then click elsewhere triggering `onBlur`, the input box shows empty but the `Close` button is there. When you click on it again, the inputValue is present again.

I'd suggest if `onBlurResetsInput` is set to false, the inputValue should show even when `onBlur` and not just when `inFo

[2020-03-10 00:07] jasonbarone opened #3009 "[Select] Console warning when selecting"
When using one of the basic examples for the Select, it's returning a console error:

[code]

Example: https://codesandbox.io/s/select-basic-usage-czxlh

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.62.0  |
| React   |  16.8.6  |
| browser | Chrome latest  |

- [x] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe

[2020-03-10 00:12] houmark commented on #3009
Duplicate of #2980

[2020-03-10 00:15] #3009 closed

[2020-03-10 00:18] chrisirhc commented on #2998
Yep, got:
[code]

[2020-03-10 15:41] chasestarr commented on #2982
Yes - that makes sense. Thank You

[2020-03-10 19:43] chasestarr opened #3014 "[List] Button in EndEnhancer with MenuAdapter does not call click handler"
https://codesandbox.io/s/usage-with-menu-n892b?module=/example.js

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.63.0  |

[2020-03-10 20:41] AndrewUldin opened #3015 "SideNav improvments"
Hi team. It would be amazing if it would be possible to extend SideNav with these extra features:
1. ability to fold subtrees (as it is in tree view component)
2. ability to mark all parents to from root to active leaf with different style
3. icons for menu items
4. collapsing menu horizontally to make it thiner and keep only icons visible
5. `isActive` prop for item itself (also as a function), i

[2020-03-10 21:59] chasestarr commented on #3006
Hi there, thanks for submitting the issue. This can be reasonably built as a utility in application code or you could explore some open source modules like https://github.com/mahirshah/css-property-parser#expandshorthandpropertyproperty-string-value-string-recursivelyresolvefalse-includeinitialvaluesfalse-object

[2020-03-11 08:04] suzana-zevri commented on #3015
👍

[2020-03-11 23:15] chasestarr commented on #2982
@candycanetrain pushed some changes that addresses your most recent comment. Please review when you have the opportunity

[2020-03-12 04:54] jasongi-actu opened #3028 "[Grid] Typescript definitions for Grid/Cell do not have overrides"
## Current Behavior
Typescript Props for Grid and Cell are missing overrides
## Expected Behavior
Typescript props should match the flow props here:
https://github.com/uber/baseweb/blob/master/src/layout-grid/types.js#L42

## Your Environment
N/A

- [X] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe that this is not a duplicate.

I will work on

[2020-03-12 05:13] jasongi-actu commented on #3028
Actually, looks like they do, I just haven't got the latest baseweb version. Sorry!

[2020-03-12 05:13] #3028 closed

[2020-03-12 18:47] sandgraham commented on #2998
Hm I can't reproduce with `import {withWrapper} from "baseui/styles"` but it should be available from `"baseui"` directly now as well if that helps.

[2020-03-12 18:47] #2998 closed

[2020-03-12 20:35] #2982 closed

[2020-03-13 09:10] mrtnbroder opened #3039 "[DataTable] Fixed/Sticky Columns"
Hey there!

Love this lib, it's a pleasure to work with it!

I've recently looked into the Table component and noticed that we currently do not have the ability to make columns "stick" to one side, like I'm doing it here: https://codesandbox.io/s/fixed-sticky-table-4uqwl

It would be great to have this feature added!

[2020-03-13 16:25] gwuah commented on #2999
@chasestarr can I pick this up?

[2020-03-13 22:03] chasestarr commented on #2980
Landed a fix for the bug, and we've got some plans for failing CI on react errors

[2020-03-13 22:08] chasestarr commented on #3039
I'm glad you are enjoying baseweb. Fixed columns on the data-table are not priority for our own uses at the moment, but please feel free to contribute the feature if you're interested

[2020-03-13 22:11] chasestarr opened #3040 "[Select] backspaceRemoves prop should apply to single select"
Right now, the `backspaceRemoves` property does not apply to single-select, but it does make sense to include it. If `inputValue` is empty and a value exists, the component should remove it.

[2020-03-14 17:16] julianruizsa opened #3042 "Country change in PhoneInput logs a " Cannot update during an existing state transition (such as within `render`)..." React error"
When selecting a country from the dropdown of a PhoneInput component, React throws an error (although the message is referenced as a warning) that says: "index.js:1 Warning: Cannot update during an existing state transition (such as within `render`). Render methods should be a pure function of props and state"

Not sure if related, but the sandbox example with the error log is laggy compared to th

[2020-03-14 17:21] houmark commented on #3042
Duplicate of #2980 and I believe a PR is merged that solves this (unreleased at this time though).

[2020-03-14 17:22] houmark commented on #3042
#3038 should fix this and is merged.

[2020-03-15 16:36] matthewschwegler opened #3045 "[Datepicker] backspace should clear value"
Sandbox - https://baseweb.design/components/datepicker/

## Current Behavior
When I type backspace into the current date picker to clear a selection, it will auto fill in front of my deletes with the date "2001/02/01"

## Expected Behavior
When I type backspace into the current date picker to clear a selection, I expect to see a blank form for me to type a new date

## Your Environment

Testing in

[2020-03-15 16:44] LXSMNSYC opened #3046 "[Radio] Radio label not displaying."
Only the descriptions are showing. The value passed for the Radio children isn't empty nor null.

<img width="619" alt="Screen Shot 2020-03-16 at 12 42 50 AM" src="https://user-images.githubusercontent.com/4783372/76705981-1314d180-671f-11ea-85d0-79e86114eaa0.png">

The component is missing the third element which supposedly contains the title.

<img width="635" alt="Screen Shot 2020-03-16 at 12 4

[2020-03-15 16:47] matthewschwegler opened #3047 "[Timepicker] Can't clear date picker selection"
Sandbox - https://baseweb.design/components/datepicker/

## Current Behavior
1. Time picker loads with a time auto selected, this time field cannot be cleared with backspace. Pressing backspace gives user no feedback.
2. After typing a new time in and deleting that time dropdown selection defaults to 12:00AM but the input box has previously auto filled time in it
![image](https://user-images.githu

[2020-03-15 16:48] LXSMNSYC commented on #3046
Here is the JSX code:
<img width="436" alt="Screen Shot 2020-03-16 at 12 45 55 AM" src="https://user-images.githubusercontent.com/4783372/76706031-80286700-671f-11ea-97d7-055f7291e6a3.png">

I even added the H1 component but it doesn't seem to display at all.

The Base Demo in React DevTools is expected to have a Label component before the description.
<img width="242" alt="Screen Shot 2020-03-16

[2020-03-16 15:42] YashGadle opened #3048 "[Step] component unmounts Description component when Parent state changes."
Reproduce here - https://codesandbox.io/s/react-example-zq8mv

## Current Behavior
When rendering content inside a `Step` component using renderProp `Description` (inside `overrides`), the content is always unmounted when parent's state changes.
If we render an `input` inside a `Step` and then try to enter the text it would unmount and then rerender with empty text.

## Expected Behavior
It should

[2020-03-16 16:56] pixelgrid opened #3049 "[List] Usage with Menu issues with blurring and autofocus"
## Codesandbox
The one provided in https://baseweb.design/components/list/- no changes
https://codesandbox.io/s/u676x?module=/example.js

## Current Behavior
1. Once the component is rendered and you hover over it the list gets an outline. The outline stays on until you click outside of the element.
2. Hovering on a list item correctly applies the hover state styles (darker background, cursor: poi

[2020-03-16 17:04] chasestarr commented on #3042
Closing as duplicate

[2020-03-16 17:04] #3042 closed

[2020-03-16 17:07] chasestarr commented on #3046
Hi there, can you please edit this codesandbox to reproduce your issue? https://codesandbox.io/s/216pd?module=/example.js

[2020-03-16 17:09] chasestarr commented on #3006
Going to close this one. Our suggestion is to use a library/custom utility

[2020-03-16 17:09] #3006 closed

[2020-03-16 18:39] #2999 closed

[2020-03-17 00:14] LXSMNSYC commented on #3046
I am not sure if I can replicate the behavior, but I'll try the editing the code sandbox and see what happens.

[2020-03-17 11:41] pixelgrid opened #3058 "[ListItem, ListItemLabel] onClick not working"
Attaching an onclick event handler on `<ListItem>` or `<ListItemLabel>` does not work.

Example codesandbox
https://codesandbox.io/s/sublist-hhoeu

## Current Behavior
Attaching an `onClick` handler on `<ListItem>` or `<ListItemLabel>` does not work.
To make it work the `onClick` has to be registered as a prop override for Root

[code]

## Expected Behavior
Attaching an `onClick` handler on `<List

[2020-03-17 14:25] YashGadle commented on #3058
Probably because of this :
https://github.com/uber/baseweb/blob/cd4e0b2be33258f0aabb796790f58898a5d65971/src/list/list-item.js#L83
The `ListItem` takes out the `overrides -> Root -> props` and then spreads them on the `Root` component. It is not using the `onClick` passed via `props`.

[2020-03-17 15:58] LXSMNSYC commented on #3046
I have tried editing the code sandbox, and it seems that the problem stems to when I remove the <RadioGroup> component when using <Radio>

[2020-03-17 16:29] chasestarr commented on #3046
The `Radio` components will not work as expected without the `RadioGroup` component

[2020-03-17 17:35] LXSMNSYC commented on #3046
That's a shame, anyways, I am closing this issue for now.

[2020-03-17 17:35] #3046 closed

[2020-03-18 06:56] candycanetrain opened #3066 "Select component's ClearIcon override doesn't work"
Styling for ClearIcon from Select component cannot be overridden.

Repro: https://codesandbox.io/s/select-2igju

## Current Behavior

Following the docs:
![image](https://user-images.githubusercontent.com/19182744/76933757-163cc880-68ab-11ea-8820-0f0135e2aced.png)

shows that styles cannot be overridden.

## Expected Behavior

Styles can be overridden.

## Your Environment

| Tech    | Version |
|

[2020-03-18 09:58] minseoksuh opened #3067 "[datepicker] After setting date by clicking [Day], and then changing the value of the Calendar component, leaves the startDate selected by click highlighted. This feels like a glitch."
(Our team use version 9.0.0 datepicker from base ui,
but I think the same issue is there in the most recent version)

As described in the title,
If you set Date range by clicking the days (Event),
and then if you change the date range through "value" props of Calender component
(without Event: like quickSelect)
then you see a highlight remaining in the calendar for the startDate of the "Clicked Ra

[2020-03-18 11:59] kauly opened #3068 "[Modal] Docs"
## Current Behavior
The Modal documentation don't have a component to overrides they style like the others components.

## Expected Behavior
A open modal at the top of the overrides menu, just like the others components.

- [X] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe that this is not a duplicate.

[2020-03-18 15:06] gergelyke commented on #3066
thank you @candycanetrain - any chance you can help us with the bug fix?

[2020-03-18 15:12] gergelyke commented on #3068
hi @kauly - this is the expected behavior

you can click the `isOpen` know, so it will show the modal to you

[2020-03-18 15:12] #3068 closed

[2020-03-18 15:15] gergelyke commented on #3067
@minseoksuh would you mind creating a code sandbox for this? you can fork this one https://codesandbox.io/s/7t0oh?module=/example.js

[2020-03-18 23:45] jasonbarone opened #3073 "[DataTable] Component crashes on row selection when row array contains a number in first index"
## Current Behavior
When your data source has a number in the array's first index position, it will error on selection.

Example here: https://codesandbox.io/s/batch-actions-zutt8

To reproduce:
- Open example
- Click on a selection, or the select all button

## Expected Behavior
Component should not error.

- [x] I have searched the [issues](https://github.com/uber/baseweb/issues) of this reposit

[2020-03-19 05:52] minseoksuh commented on #3067
https://codesandbox.io/s/datepicker-y7xvr

I forked it and set up the setting in which the issue occurs.

If you select a range by clicking, and then if you select option in quickSelect,
the highlight for the startDate of the "Clicked range" remains. (Although the actual range has changed to select option range i.e. last week).
(Note: when I quickSelect in codeSandbox the whole picker sometimes di

[2020-03-19 11:28] conradreuter opened #3076 "Why was v9.64.3 released"
I am curious why version v9.64.3 was released.

Looking at this diff: https://github.com/uber/baseweb/compare/v9.64.2...v9.64.3

`baseui` does not seem to ship any code changes with this new version.

[2020-03-19 15:11] gergelyke commented on #3076
hi @conradreuter - we version all baseui packages, like the eslint plugin or vscode extension. this version was shipping a fix for the vscode extension

I'll clarify this in our versioning policity

[2020-03-19 15:11] #3076 closed

[2020-03-19 16:35] chasestarr commented on #3073
Can you please share more detailed reproduction steps? If I sort the `production budget` column I do not see an error

[2020-03-19 17:13] jasonbarone commented on #3073
Sorry I meant to say on selection, not on sort. I'll update issue.

[2020-03-19 17:34] chasestarr commented on #3073
Thank you - I can reproduce

[2020-03-19 18:23] #3040 closed

[2020-03-20 07:49] mrtnbroder opened #3087 "[DatePicker] Unexpected behaviour with range property"
Currently, when range is active and the user has choosen a daterange, if the user opens the calendar and tries to simply extend his choosen range by the next day, the range will reset itself and the user has to again choose the whole range. This is rather unexpected imo.

## Feature description

Once the user has selected a daterange, changing the date(s) should simply replace the first or last da

[2020-03-20 15:33] gergelyke commented on #3087
thanks @mrtnbroder - do I understand correctly, that the behavior you are looking for is what flights.google.com has?

[2020-03-20 22:56] chasestarr commented on #3073
Have you seen this problem not in codesandbox? I have not been able to reproduce anywhere else

[2020-03-20 23:18] chasestarr opened #3099 "[DataTable] Application should know what rows are rendered"
Suppose I need to export the table to csv after filter and sorting. This is not possible at the moment.

It can be achieved by adding a callback function (maybe named `onIncludedRowsChange` or similar) to the component called when `rows` [is recalculated](https://github.com/uber/baseweb/blob/master/src/data-table/data-table.js#L783).

[2020-03-21 04:58] andriuss commented on #3039
I would also use this feature for my project.

[2020-03-21 07:25] mrtnbroder commented on #3087
That pretty much nails it!

[2020-03-23 10:13] mrtnbroder commented on #3039
I will take a look at this this week.

[2020-03-23 11:49] dheeraj-jn opened #3102 "[Select] Allow customizing Popover content in Select"
## Feature description
I'm trying to override the `Popover` component and its `content` prop. So far the only thing preventing this overriding is that the Select component [expects a private instance variable `this.dropdown` to be set to the `ref` of the Popover content](https://github.com/uber/baseweb/blob/master/src/select/select-component.js#L1019). There is no way to assign`this.dropdown` from

[2020-03-23 16:18] chasestarr commented on #3102
Can you share a mockup design or diagram of the end goal you want to achieve?

[2020-03-23 17:34] dheeraj-jn commented on #3102
I'm building a custom datepicker. Using the `select` component seems the best match to my mockup, since I don't want the masked input of Base Web's own `Datepicker` and I need to be able to choose months and years separately.

So basically I'm pairing a simple `Select` with [`react-calendar`](https://github.com/wojtekmaj/react-calendar/).

[2020-03-23 19:47] nadiia commented on #3102
`DropdownContainer` gets that ref as a prop, so you could add an override for the `DropdownContainer` to get that ref and pass it onto a custom element.

[2020-03-23 19:52] #3066 closed

[2020-03-23 20:37] sandgraham opened #3103 "Functional props override with ListItemAnchor breaks link"
https://codesandbox.io/s/menu-anchor-overrides-props-function-bug-7rswb

When you use the functional props override with Menu's `ListItemAnchor` the link becomes un-clickable. If you change to the object form of props override things work as expected.

[Current work around](https://codesandbox.io/s/temp-fix-for-props-override-on-menu-anchor-0vlq6) if you really need dynamic props is to use the com

[2020-03-23 21:15] javidhsueh opened #3104 "Can't override the expand state of Panel in Accordion from props"
Please see the [demo](https://codesandbox.io/s/accordion-basic-usage-zlo6z)

## Current Behavior
Current the expand status is determine from state of props:
[code]
See the source:
https://github.com/uber/baseweb/blob/master/src/accordion/accordion.js#L93

This will prevent passing the expand status from props if the `isExpanded` from the state is `true`.

## Expected Behavior
The expand status sho

[2020-03-23 21:21] #2895 closed

[2020-03-23 22:10] chasestarr commented on #3104
We have a task in our backlog to handle this case with a 'stateless' accordion component. If you are stuck in the mean-time this will be useful https://codesandbox.io/s/accordion-basic-usage-l6q5o

[2020-03-24 03:17] javidhsueh commented on #3104
Thanks so much! this is very helpful!

[2020-03-24 10:24] dheeraj-jn commented on #3102
@nadiia Thanks for the tip, it works.

[2020-03-24 10:24] #3102 closed

[2020-03-24 11:39] AndrewUldin commented on #3003
https://stackblitz.com/edit/react-crzz7k?file=Hello.js

different sandbox

[2020-03-24 15:20] AndrewUldin opened #3108 "[Select] mimic native select text search option behaviour"
Select supports search option but very often list of options consist only of 2 or 3 options. Using search in that case doesn't make much sense but it would be handy to be able to navigate through the options by just typing on focused select as it is implemented for native select control.

It is also just a good practise to support native navigation patterns.

![screencast 2020-03-24 16-17-35](http

[2020-03-24 15:55] #2029 closed

[2020-03-24 15:56] gergelyke commented on #2201
Closing this - we'll reopen if more people start asking for this

[2020-03-24 15:56] #2201 closed

[2020-03-24 15:57] gergelyke commented on #2377
Closing this one - please reopen if you still need this feature

[2020-03-24 15:57] #2377 closed

[2020-03-25 00:14] chasestarr commented on #3058
We don't plan on adding `onClick` as a top level prop. Clickable elements add a significant amount of accessibility responsibility that is tough to get correct without a semantic `button` element. Please continue to override the component and manage the unique accessibility case for your application. If this element needs to be clickable, you may want to consider adding it to a `Menu` component

[2020-03-25 00:14] #3058 closed

[2020-03-25 00:15] chasestarr commented on #3067
This issue is not something we plan to fix since it has minimal impact on the component's functionality. Let me know if you'd like to contribute a fix and I can re-open.

[2020-03-25 00:16] chasestarr commented on #3108
We do not plan to support this feature. If the options need need to be searchable please use the built-in functionality to do so.

[2020-03-25 00:16] #3108 closed

[2020-03-25 01:26] minseoksuh commented on #3067
Yes, I would like to contribute a fix if I can.

[2020-03-25 10:30] Deliaz commented on #3099
Hi Chase,
It sounds as a missing feature that we also need in our project.
We plan to download the table data and to re-calculate some numbers based on what's left after filters have been applied. Just wondering, is there any ETA?
Thank you :)

[2020-03-25 12:24] eminmuhammadi opened #3115 "XSS vulnerability"
## Current Behavior
XSS vulnerability on [https://baseweb.design/components/slider/?code=alert(document.cookie);](https://baseweb.design/components/slider/?code=alert(document.cookie);)

## Expected Behavior
It should block the execution of **xss** based components

- [x] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe that this is not a duplicat

[2020-03-25 15:41] gergelyke commented on #3115
We'll get back to you on this in private.

[2020-03-25 15:41] #3115 closed

[2020-03-25 16:17] chasestarr commented on #3099
I plan to start looking into it this week

[2020-03-26 09:39] ashutosh1919 commented on #2658
@278kunal , since there was no activity on this issue since Jan 21, I have raised PR to fix example.
@gergelyke , please review #3119 .

[2020-03-26 13:20] derekmisler opened #3121 "[Input] Misaligned "show password" icon button"
The icon button to toggle the password visibility is misaligned. This can be seen on the current BaseWeb docs: https://baseweb.design/components/input/#input-for-passwords

## Current Behavior
<img width="603" alt="Screen Shot 2020-03-26 at 9 10 16 AM" src="https://user-images.githubusercontent.com/2684662/77651056-a087cb00-6f42-11ea-81ec-3c28d5a89928.png">

## Expected Behavior
<img width="610" a

[2020-03-26 17:34] chasestarr commented on #3103
The problem is that when we have a prop function, we dynamically create an HOC component in the `getOverrides` function. Whenever the component re-renders, it unmounts/mounts the component leading to the click event no longer having an associated dom element. Fixing this will require a significant refactor of how overrides work internally. It all comes down to how we instantiate override component

[2020-03-26 17:41] #2658 closed

[2020-03-26 18:50] #3121 closed

[2020-03-26 18:57] sandgraham commented on #3103
Oh I really like this.

[2020-03-26 20:59] #3049 closed

[2020-03-26 21:05] phou87 opened #3126 "bui generation results in mismatches with repeated renders"
The code in https://github.com/uber/baseweb/blame/master/src/utils/get-bui-id.js uses a global counter to provide a somewhat stable method of generating ID's. However, this does not work beyond the first time that the server renders something because the counter does not get reset for subsequent renders. Thus, you will ALWAYS have mismatches after the first time.

I don't have a great solution for

[2020-03-26 23:50] jasonbarone opened #3127 "Theme context of consumer different from theme context of parent provider"
## Current Behavior
I'm currently experiencing unusual behavior where the ThemeProvider theme is not the same as the theme argument in a ThemeContext.Consumer or ThemeConsumer. The theme argument returns a LightTheme as opposed to what is in your Provider. The following sandbox has an example: https://codesandbox.io/s/basic-usage-j7t0l

To see the issue:
1. Observe the theme in index.js (LightThem

[2020-03-28 15:59] Meemaw opened #3133 "[ListItem]: All overrides required in Typescript"
## Current Behavior

Typescript complains if some of the ListItem overrides are left out. For example, following example wont compile:

[code]

<img width="773" alt="Screenshot 2020-03-28 at 16 57 51" src="https://user-images.githubusercontent.com/8524109/77827335-4db23d00-7115-11ea-9300-2427415b030d.png">

## Expected Behavior

It should be possible to specify to specify only required overrides.

[2020-03-28 21:06] sandgraham opened #3135 "[LayoutGrid] API for baseline breakpoint"
The responsive props for `LayoutGrid`, such as `span` and `skip`, accept an array of values that correspond to the various breakpoints in your theme.

For instance, `<Cell span={[1, 2, 3]} />` means the cell spans 1 column on the small breakpoint, 2 columns on medium, and 3 columns on large and up. The values start at the small breakpoint, meaning you cannot set values for the baseline breakpoint

[2020-03-28 21:07] #3133 closed

[2020-03-28 21:53] houmark commented on #3135
Wouldn't that be breaking for users who have created 4 or more breakpoints in their application/custom theme?

[2020-03-29 08:50] shdq commented on #3135
Hello, there. Thank you for the baseweb. I'm making my first project and have questions.

It looks opinionated when you can't manage the baseline breakpoint with provided options. Yes, there aren't many devices with <320px screens but still.

My use case: I have a cell with widget-component hidden on medium and smaller breakpoints that start to pop up on the default breakpoint. For now, I hid cont

[2020-03-29 16:49] YashGadle opened #3138 "[Step] multiple Steps children are not rendered."
When passing child to the `Step` component the first `Step` renders its child but if there are multiple Steps then the subsequent Steps don't render children.

Reproduce here - https://codesandbox.io/s/naughty-wright-r5qr7

## Current Behavior
Its not rendering the children of all the Steps inside ProgressStep.

## Expected Behavior
It should render all the Steps with their children.

Environment

[2020-03-29 17:36] #3138 closed

[2020-03-29 18:00] YashGadle opened #3139 "[ProgressStep] We should let Step component override isActive."
ProgressStep is overriding the Step's prop isActive. So the property on the Step is useless as it is never used. I suggest we let the Step component override this prop.

## Feature description
<img width="1627" alt="Screenshot 2020-03-29 at 11 16 15 PM" src="https://user-images.githubusercontent.com/10195795/77856502-483c1c00-7215-11ea-983c-4eeaf518d60b.png">

[2020-03-29 18:06] YashGadle commented on #3139
<img width="1625" alt="Screenshot 2020-03-29 at 11 35 36 PM" src="https://user-images.githubusercontent.com/10195795/77856624-09f32c80-7216-11ea-932a-d08a91853980.png">

Is the above change acceptable?

[2020-03-30 14:10] MarcusMorba commented on #2029
Close it.

[2020-03-30 17:12] chasestarr commented on #3127
The problem here arises from how the baseui package includes multiple module types. Imports from the root `baseui` package are `esm`, and we've also set up first-level imports to default to the same `baseui/style`.  Where this gets inconsistent is when you need to import any deeper. For example, an import from `baseui/style/theme-provider.js` is commonjs.

There are two options to resolve, either

[2020-03-30 17:12] #3127 closed

[2020-03-30 17:56] sandgraham commented on #3135
[`StyledCell`](https://github.com/uber/baseweb/blob/master/src/layout-grid/styled-components.js#L68-L135) generates rules for each breakpoint, with each media query mapping to a certain index in the arrays passed through as responsive props. [This bit here](https://github.com/uber/baseweb/blob/master/src/layout-grid/styled-components.js#L121-L128) is the baseline CSS, which gets overwritten by eac

[2020-03-30 20:46] #3139 closed

[2020-03-30 20:47] tajo commented on #3126
It seems there is no good solution for this right now. If you run into this problem, you should always be able to set these IDs manually.

This would always fail when using SSR with

The problem is described/discussed in this [rfc](https://github.com/reactjs/rfcs/pull/32). Fortunately, somebody has stared implementing this: https://github.com/facebook/react/pull/17322

So it's probably best to wai

[2020-03-30 20:47] chasestarr commented on #3014
This is caused by defining the `endEnhancer` component in-line. If it's defined separately like the example below, it works fine.

[code]

[2020-03-30 20:47] #3014 closed

[2020-03-30 21:17] #3099 closed

[2020-03-30 23:41] tajo commented on #3048
@YashGadle Thanks for a great repro.

There is a problem with our overrides implementation. We dynamically combine override values and create components inside of the `render()` function of parent component (in this case `Step`). So it changes with any state update and gets remounted. That causes issues similar to yours.

There is no quick fix like applying `React.useMemo` but rather re-implementi

[2020-03-31 00:00] #2836 closed

[2020-03-31 08:26] minseoksuh commented on #3067
Just created a PR

I presume I did many things out of order.

Please let me know so I can edit it.

Thanks!

[2020-03-31 16:49] #2884 closed

[2020-03-31 22:29] #3003 closed

[2020-04-01 21:11] chasestarr commented on #3048
Hi @YashGadle I was not able to make this 'just work', but linked below is a recommendation to resolve. The problem comes from in-lining the override component. When the parent updates and re-renders, it creates a new component there. You'll need to provide a function that has referential equality to the previous render.

[example](https://github.com/uber/baseweb/pull/3153/files?file-filters%5B%5D

[2020-04-02 05:59] hhvys opened #3155 "Cannot override Popover styles in Menu component"
We cannot override Popover styles for Menu component. The same utility is present for Select component.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.65.1  |
| React   |         |
| browser |         |

- [x] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe that this is not a duplicate.

[2020-04-02 11:00] simPod opened #3156 "Two Rendered react components cannot have different sizes"
When I use ReactDom.render twice to render two different input components, they cannot have different sizes.

I have rendered input with size mini and second input with size large.

The first size is applied to both and second size attr is ignored.

https://codesandbox.io/s/input-g9f20

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.67.1  |

[2020-04-02 11:21] simPod commented on #3156
I failed to reproduce, mb. Will reopen if succeed

[2020-04-02 11:21] #3156 closed

[2020-04-02 17:45] simPod commented on #3156
Ok I found the issue. Styletron classnames are not unique per instance, had to prefix it with generated hash.

[2020-04-02 20:08] simPod opened #3158 "Allow styling select input color"
## Feature description

![image](https://user-images.githubusercontent.com/327717/78296579-45e80380-752e-11ea-9205-a1b0b10fd174.png)

The color for Select input cannot be styled through BaseWeb

Currently, I have to use

[code]

[2020-04-02 21:29] chasestarr commented on #3158
Hello, is the issue that the default dark-mode text color is bad? Overrides like in this example work fine: https://codesandbox.io/s/select-39ph5

[2020-04-03 06:13] jasongi-actu opened #3159 "[Styling] Longhand CSS attributes not used consistently for borders"
## Current Behavior

Non-longhand border styles are used in many components, instead of border[Left/Right/Top/Bottom][Style/Width/Color] border[Left/Right/Top/Bottom] or border[Style/Width/Color] is used instead. This can cause styling errors when overriding.

## Expected Behavior

Longhand styles should be used at all times.

- [ x] I have searched the [issues](https://github.com/uber/baseweb/iss

[2020-04-03 16:08] gergelyke commented on #3159
@jasongi-actu thank you for the thorough list! any chance you could help us send PRs fixing these?

[2020-04-05 22:45] simPod commented on #3158
@chasestarr yes. I'd like to have it white or of some bright grey shadow but set globally. Currently, there's no way to set it through Theming.

[2020-04-05 23:21] jasongi-actu commented on #3159
I can if I can find time, however wondering what the best way to do this would be since technically it could be a (minor?) breaking change - as people who have encountered the warnings would probably have used the shorthand styles, so when they upgrade baseweb they may get warning for the shorthand styles and it will mess up their styling.

[2020-04-06 15:29] gergelyke commented on #3159
historically, we just went ahead and fixed these issues - what's your take on this @chasestarr @sandgraham @tajo @nadiia ?

[2020-04-06 17:42] sandgraham commented on #3158
This looks like a regression. That text should not be dark.

[2020-04-06 17:51] tajo commented on #3159
We ask people to always use longhand properties so fixing this should not be considered as a breaking change.

Also for the tests and docs, it's ok to use shorthands. Those are our internal components, not a part of `baseui`.

[2020-04-06 18:06] gergelyke commented on #3159
@jasongi-actu in lights of Vojtech's comment, can you help us open a PR for this?

[2020-04-06 19:39] gwuah commented on #3158
Hi @sandgraham, I'd like to take on this bug. But i wanted to know if the fix would be to check if darkmode has been enabled and default the color to white if no color override has been provided? or there's a better(faster) way?

[2020-04-06 20:56] #2921 closed

[2020-04-07 01:15] sandgraham commented on #3155
Hi @hhvys could you add a bit of detail to this issue? Perhaps a code example of what you want to accomplish? The `Menu` doesn't use a `Popover` so I'm not sure what you would like to override.

[2020-04-07 01:30] sandgraham commented on #3158
Hey @gwuah, thanks for offering to take this on!

The easiest fix would be to see where the color is being set incorrectly (or not being set at all) in `src/select/styled-components.js`. That is where you will find all of the styled components used by `Select`. One of those components is not setting the color correctly.

The best way to assign the correct color is to use the `$theme` property pass

[2020-04-07 05:40] hhvys commented on #3155
@sandgraham Popover is used in displaying `ChildMenu`. I wanted to show an arrow on the child menu. https://codesandbox.io/s/kfisv?module=/example.tsx Can you please provide me a way to show an arrow on the child menu.

[2020-04-07 07:46] hemildesai commented on #3159
There's one example here as well - https://github.com/uber/baseweb/blob/master/src/card/styled-components.js#L47

[2020-04-07 19:10] sandgraham commented on #3155
Ohhh, you want to enable `showArrow` on the Popover used for child menus. Yeah we would need to add an override for nested menu popovers. Not much we can do about the arrow currently.

[2020-04-07 20:22] chasestarr commented on #3048
Closing this issue. Please review the linked example above for how to avoid the remount

[2020-04-07 20:22] #3048 closed

[2020-04-08 07:10] jasongi-actu commented on #3159
Have had a crack at this today
https://github.com/uber/baseweb/pull/3172

[2020-04-08 10:05] illogikal opened #3173 "Naming inconsistency with Datepicker vs TimePicker."
import { Datepicker } from "baseui/datepicker";
import { TimePicker } from "baseui/timepicker";
import { TimezonePicker } from "baseui/timezonepicker";

## Current Behavior

Datepicker the p is lower case.

## Expected Behavior

DatePicker with upper case P.

Maybe alias the name? Or perhaps this is just splitting hairs.

- [x ] I have searched the [issues](https://github.com/uber/baseweb/issues)

[2020-04-08 15:00] gergelyke commented on #3173
hi @illogikal - thank you for opening this issue. While I agree, that they should be consistent, I wouldn't change it, as it would incur a migration cost for all users, without real benefits

I'll close this, for now, please re-open if you feel strongly about it.

[2020-04-08 15:00] #3173 closed

[2020-04-09 07:30] hhvys commented on #3155
Same problem with Tooltip, too. Although tooltip provides `showArrow` functionality. I think `baseweb` should not use any internal component directly without input from overrides.

[2020-04-09 17:20] #3158 closed

[2020-04-09 17:35] sandgraham commented on #3155
@hhvys would be down to open a PR adding the override?

[2020-04-09 17:44] hhvys commented on #3155
Sure, will raise the PR

[2020-04-09 18:30] #3159 closed

[2020-04-09 19:08] candycanetrain opened #3187 "Popover does not close when you click outside the content"
For Popovers that utilize an open onClick, clicking outside the content does not close it.

https://codesandbox.io/s/popover-opens-on-click-u0ybm?file=/example.js

## Current Behavior

Once the content is opened via onClick, the content does not close when you click outside of it.

## Expected Behavior

Expected behavior should be similar to this: https://baseweb.design/components/popover/#popover

[2020-04-09 19:52] sandgraham commented on #3187
@candycanetrain I think this is an issue with codesandbox. I tried it locally as well as in the popover sandbox on the doc site and the it works as expected. Are you seeing this issue in your app?

[2020-04-09 20:20] candycanetrain commented on #3187
@sandgraham Yeah, I'm seeing it in my app.
Are you using the same versions of baseUI? Is the triggerType = click? The popover closes if triggerType is set to 'hover' (as opposed to 'click').

[2020-04-09 20:36] chasestarr opened #3188 "[Toast] Add docs site example to close from outside of toast"
This sandbox should be added to the docs site: https://codesandbox.io/s/toastercontainer-7yqdf?file=/example.js

[2020-04-09 20:38] chasestarr commented on #3187
Changing `BaseProvider` to esm import on codesandbox fixed it https://codesandbox.io/s/popover-opens-on-click-z8ze1?file=/index.js I wonder if codesandbox changed their module resolution? CC @tajo did you hear back about the bug you filed?

[2020-04-09 20:57] nadiia commented on #3187
Please make sure you use `BaseProvider` in your application as it adds `LayersManager` that handles actions like clickOutside for the layers (Popover creates a new Layer internally).

[2020-04-09 22:55] tajo commented on #3187
👍

@chasestarr  Oh no, this again. It seems that they did some es module resolution rewrite in January: https://github.com/codesandbox/codesandbox-client/pull/3370

Hard to tell when it was released or what it's doing. Welp, creating a ticket.

[2020-04-10 18:43] jcready opened #3194 "[Toast] Zombie toast not being removed from DOM"
After pressing the "x" to close the toast, mouse out and back over the toast before it disappears. Then try to click the "Show Notification" button again.
![zombie-toast](https://user-images.githubusercontent.com/358876/79014763-90264180-7b39-11ea-9723-4113e7f12a7f.gif)

https://codesandbox.io/s/toastercontainer-4d1gc?file=/example.js

## Current Behavior
Unable to click "Show Notification" button

[2020-04-12 00:57] GuilhermeGuiuler opened #3197 "createDarkTheme and createLightTheme are not exported from root path"
I'm looking at the documentation or createDarkTheme when importing the speech that doesn't exist

## Current Behavior
Attempted import error: 'createDarkTheme' is not exported from 'baseui'.

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.69.0  |
| React   |   16.13.1   |
| browser |         |

[2020-04-12 14:52] png-prakash opened #3199 "StyledTable not responsive"
See [this codesandbox](https://codesandbox.io/s/baseui-lack-of-responsive-styling-on-table-mohsr) reproducing the issue.

![page](https://user-images.githubusercontent.com/61315943/79071902-beec1580-7cfb-11ea-9406-8c41c157902f.png)

This is working fine. But in responsive screen not working.
Is it possible to make responsive table?
I checked with basic table (https://baseweb.design/components/tabl

[2020-04-12 18:48] sandgraham commented on #3199
See [this codesandbox](https://codesandbox.io/s/baseui-lack-of-responsive-styling-on-table-mohsr) for example of responsive styling issue.

[2020-04-12 18:57] sandgraham commented on #3199
Note, the basic table does not seem to handle narrow widths very well either: [codesandbox](https://codesandbox.io/s/baseui-table-default-responsive-styling-l8gw2?file=/example.js)

[2020-04-13 04:42] sandgraham commented on #3104
Resoled in #3180. Available as of v9.69.0. See the [example](https://baseweb.design/components/accordion/#stateless-accordion) on doc site.

[2020-04-13 04:42] #3104 closed

[2020-04-13 19:27] candycanetrain commented on #3187
Thank you @chasestarr and @nadiia. That fixed the issue! Will be closing this issue.

[2020-04-13 19:27] #3187 closed

[2020-04-14 16:14] shannonmoeller opened #3208 "[TableSemantic] Expose row and rowIndex to TableBuilder components"
Someone recently requested the ability to highlight a specific row with a background color. This isn't currently possible as we don't expose the current row or rowIndex as properties of the table row and cell styled components.

I suggest we add `$row` and `$rowIndex` properties to all row and cell components and that we add `$col` and `$colIndex` properties to all cell components so that this inf

[2020-04-14 19:25] #3208 closed

[2020-04-14 19:25] #3197 closed

[2020-04-15 15:51] kissthom opened #3213 "data-table's column gets sorted on click despite setting false sortable prop"
https://codesandbox.io/s/data-table-ignored-sortable-tm52n?file=/example.js

To reproduce the issue, click on the first column (categorical) and table gets sorted although sortable set to false for that column:

[code]

## Current Behavior

If you set sortable to false to any column type of a data-table the arrow symbol disappears but the onClick functionality (sorting) stays enabled.

## Expected

[2020-04-15 17:37] #3155 closed

[2020-04-15 19:22] andriuss opened #3214 "Clearable Datepicker on clear opens calendar"
https://baseweb.design/components/datepicker/

## Current Behavior
After clearing a date in datepicker, calendar is opened.

## Expected Behavior
After clearing a date in datepicker value should be cleared without the opening calendar.

https://codesandbox.io/s/datepicker-x8bxf

[2020-04-16 05:20] tvst commented on #2361
I can still repro this bug. Perhaps this is Linux-related?

[2020-04-16 06:12] sandgraham commented on #2361
Hi @tvst, we run our visual regression tests using ubuntu & puppeteer (headless chrome) and the radios don't seem to have this issue so I don't think this is strictly a linux/ubuntu issue. Do you have the page at the normal 100% zoom level when you take these screenshots?

[2020-04-17 02:15] jasongi-actu opened #3230 "[Datepicker] Inputting a date into input field results in wrong date"
## Current Behavior
If you go [here](https://baseweb.design/components/datepicker/), clear the field and start typing "1993/01/01" you end up with "2993/01/01"
I haven't really explored why this is happening, but it makes inputting the field in the textfield fairly useless. You can paste 1993/01/01 and it works fine, which makes me think it's somehow turning the incomplete year into a completely d

[2020-04-20 06:55] wnyao opened #3235 "Child components of NumberedStep not rendered"
Children components under NumberedStep component are not rendered when working with ProgressSteps. This issue also happened at the given [example](https://baseweb.design/components/progress-steps#numbered-progress-steps) provided on docs, as it specified child elements but are not rendered as the display shown.

[code]

**Sandbox:**
[https://github.com/wnyao/baseui-sandbox](https://github.com/wnya

[2020-04-20 07:57] wnyao commented on #3235
After digging the source code. I found that it is required to set `isActive` prop to true in order to have children rendered on numbered-step component [as it defaulted to false](https://github.com/uber/baseweb/blob/a4de154ced26570b320f9e90b7136db5e49c9d9f/src/progress-steps/numbered-step.js#L77).

Strangely compared to code in [progress-steps/step.js](https://github.com/uber/baseweb/blob/a4de154c

[2020-04-20 12:29] jayanthchandra commented on #3230
I looked it up and found that when the first character is typed in , the value returned here is "1 / / " and when passed to JS Date constructor with that field it returns Jan 2001.  Date object uses the first character in the string as month for the year 2001 so if you type the first character as 5 then the result would be 2001/05/01.
https://github.com/uber/baseweb/blob/a4de154ced26570b320f9e90b7

[2020-04-20 18:11] sandgraham commented on #3235
Hi @wnyao, thanks for looking into this. This seems like a regression caused by #3140. We probably need to update numbered step to match step's api again.

[2020-04-20 20:35] #3235 closed

[2020-04-21 08:15] a-peltier commented on #3214
Hi, I'm willing to tackle this bug if no one has started to work on it yet

@andriuss here is a codesandbox with the `clearable` prop added to the DatePicker (yours was missing it) https://codesandbox.io/s/datepicker-5sdge

[2020-04-21 08:20] andriuss commented on #3214
Thanks!

[2020-04-21 14:40] nicolad opened #3244 "Update Popper to v2"
- I've created a bug report since I didn't have any other way to relate an outdated package.
- The warning I am getting is following:
[code]

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.71.0  |
| React   |  16.13.1 |

- [x] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe that this is not a duplicate.

[2020-04-21 20:39] jasonbarone opened #3247 "[DataTable] Significant amount of styletron console warnings from a borderRight style"
## Current Behavior
When using a DataTable there are a significant amount of styletron errors appearing from a `borderRight: null` style that cells appear to be using. This amounts to hundreds/thousands of warnings on most data tables.

Example Codepen generated from a Baseweb.design example: https://codesandbox.io/s/wynxy?module=/example.js

## Expected Behavior
Zero console warnings.

## Your En

[2020-04-21 22:46] chasestarr commented on #2894
This is already possible here: https://github.com/uber/baseweb/blame/master/src/data-table/types.js#L129 I guess I overlooked that when creating this issue

[2020-04-21 22:46] #2894 closed

[2020-04-22 02:52] #3247 closed

[2020-04-22 15:55] a-peltier commented on #3214
Here is the line causing the calendar to open when the users clicks on the "clear" icon: https://github.com/uber/baseweb/blob/master/src/datepicker/datepicker.js#L339

because when the user clicks the icon, the input is explicitly focused : https://github.com/uber/baseweb/blob/master/src/input/base-input.js#L125

I don't see how to change (or even if we should?) that without altering the "focus" b

[2020-04-22 16:55] #3213 closed

[2020-04-23 12:49] FezVrasta commented on #3244
Popper maintainer here, just for your information, we provide a migration guide to help upgrade from v1 to v2:

https://popper.js.org/docs/v2/migration-guide/

The advantages of the new major version are a lot:

- Smaller bundle size (3kb for the base lib, vs 7kb of v1);
- Smarter defaults;
- Better offset parents detection (no need to override the boundaryElement option anymore);
- A ton of bug f

[2020-04-23 13:53] conradreuter opened #3259 "[Skeleton] What's the status?"
A while ago I wrote up a [proposal for a Skeleton component](../blob/f318b2f28e0d7ca6e427bea8f7157fab22f53d63/proposals/skeleton.md).

@chasestarr
What is the status on this?
Is the design team working on it? ([referring to the comment on my PR](../pull/2399#issuecomment-561396685))

[2020-04-23 18:48] #3067 closed

[2020-04-23 21:29] chasestarr commented on #3259
Added it to our next meeting notes

[2020-04-24 04:01] wseagar opened #3262 "[AppNavBar] MainNav Items on full screen should have a pointer cursor"
Reproduction can be seen in https://baseweb.design/components/app-nav-bar/

## Current Behavior

On full screen the nav items show a text cursor on hover.

## Expected Behavior

On full screen the nav items show a pointer cursor on hover.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | 9.72.0  |
| React   |   16.13.1 |
| browser |   chrome   |

- [x] I have searched t

[2020-04-24 05:45] jasongi-actu opened #3263 "[grid-layout]: Be able to put Cells in a subcomponent"
Currently, Grid and Cells need to be in the same component like this
[code]
But if you have a grid with a lot of cells, you probably want to split it up into subcomponents (especially if the number of Cells is variable) like this
[code]

Currently the grid component doesn't allow this due to the way it injects props into the cell components

https://github.com/uber/baseweb/blob/master/src/layout-g

[2020-04-24 10:56] hhvys opened #3265 "Popover is not appearing if anchor component does not forward ref"
## Feature description
Popover should not be dependent on attributes of child component.

Check 2 examples in the codesandbox for better understanding
https://codesandbox.io/s/statefulpopover-56pd9?file=/example.js

[2020-04-24 10:58] hhvys commented on #3265
A possible workaround is to wrap anchor element with a container in Popover itself.

I don't whether doing this will break any styles for consumers or not.

[2020-04-24 17:36] sandgraham commented on #3244
Hi @nicolad, the only real blocker for us on this is that we are not slated to release a major version until late this year. To bump this dependency right now we would need to make sure it does not break any of our own API, otherwise it will have to wait until v10 around September.

We would certainly welcome a PR if you find that it can be done without a breaking change though! Let me know if you

[2020-04-24 20:03] kakul opened #3267 "[Treeview] Support for composition in Treeview"
Currently the entire tree is generated using `data` prop that somewhat restricts the control over children nodes.

Exposing TreeView and TreeNode components could allow something like:
[code]

[2020-04-26 10:34] jayantbh commented on #3267
Hello! @chasestarr @gergelyke (not sure who to tag for this) we'll need this functionality for a Menu Ingestion (Eats) project we're working on. We wanted to ensure the technicalities of this made sense before we start working on a pull-request for it. 😄

[2020-04-27 11:12] joginder07 commented on #3267
Hey, this has already been discussed in issue [#2665](https://github.com/uber/baseweb/issues/2665) . Current API supports customisation of Tree Nodes via overrides.

[2020-04-27 12:48] jayantbh commented on #3267
Thanks for linking that issue @joginder07. Knowing that someone else was thinking along basically the same lines, and implemented the changes that they did to mitigate those concerns definitely helps align my thoughts on this... I think I'll attempt a demo at this to see how this works out. 😄

This github issue will hear back from me in about a day.

[2020-04-28 00:37] sandgraham opened #3272 "Popover & Menu applies keyboard focus styles"
https://codesandbox.io/s/as-a-dropdown-pzdxt?file=/index.js

When you hover over the button, the menu shows with keyboard focus styles. If you click away and hover again the styles are not applied.

[2020-04-28 17:08] #3263 closed

[2020-04-29 15:29] #3230 closed

[2020-05-01 00:23] chasestarr opened #3285 "StatefulPopover does not call mouse enter/leave callbacks"
It's unclear from the docs page that it only lists the api for the 'stateless' Popover. This leads people to believe that the mouse enter/leave callbacks work on the 'stateful' component. Right now the 'stateful' wrapper provides its own mouse enter/leave handlers to update the open state. It would need to compose the provided callback with its own.

[2020-05-01 00:24] chasestarr commented on #3285
Ideally, after the update this example would call the provided mouse enter/leave functions https://codesandbox.io/s/statefultooltip-xpt7o?file=/example.js

[2020-05-01 16:13] derekmisler opened #3290 "Import declaration conflicts with local declaration of 'SIZE'."
There's a naming conflict in `button-group/index.d.ts` and it's causing TS errors for us:

[code]

## Current Behavior

Typecheck fails with:
[code]

## Expected Behavior

There should be no conflict

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.73.2  |
| React   | 16.13.1 |
| browser | Firefox 76.0b8 (64-bit) |
| npm | 6.13.4 |
| Node | v12.16.1 |

- [x] I have

[2020-05-01 17:20] #3285 closed

[2020-05-01 19:29] #3290 closed

[2020-05-03 22:36] devanshj commented on #3265
We need the anchor ref (and hence the dom element) because we pass it while creating a `Popper` instance
https://github.com/uber/baseweb/blob/531544c401b5a601d290eb4a0228626359688bac/src/layer/tether.js#L73

As a matter of fact there's also a warning when the ref doesn't get set
https://github.com/uber/baseweb/blob/531544c401b5a601d290eb4a0228626359688bac/src/layer/tether.js#L47-L55

In the scenar

[2020-05-04 18:06] chasestarr commented on #3265
There's an error logged on initial load of the codesandbox example (shown below).

[2020-05-04 18:18] #2652 closed

[2020-05-04 18:23] devanshj commented on #3265
I agree on the part that forwarding ref is a must and is the users responsibility. But the error is on our expense that we blindly (clone and) render a non ref forwarding functional component with a ref, it would be better to log an error/warning that tells the user to use forwardRef because it's _our_ requirement.

[2020-05-05 16:58] #3194 closed

[2020-05-05 18:40] YashGadle opened #3300 "[StatefulMenu] items when disabled are still clickable"
The menu items inside `StatefulMenu` are clickable even if we pass `disabled: true` for that item.
This happens when we use `getRequiredItemProp`.

Here is a sandbox to reproduce.
https://codesandbox.io/s/baseui-menu-disable-bug-qwpqm

## Current Behavior
The StatefulMenu's `onItemSelect` is getting triggered even when its prop `disabled: true`. So we have to handle this behavior in our own callba

[2020-05-05 21:59] chasestarr commented on #3087
Brief update after speaking with our design team about this feature request. There are no plans to work on the feature, it currently works well-enough for our use cases, but we would welcome a contribution.

[2020-05-06 11:00] andriuss opened #3301 "[Form Control] logs out error for some child components"
https://codesandbox.io/s/formcontrol-86gye?file=/example.js

## Current Behavior

Form Control outputs error for some child components. Example in codesandbox (look at the console tab).

Console error output:
Warning: Received `false` for a non-boolean attribute `error`.
[code]

## Expected Behavior

No error should not be in the output.

## Your Environment

| Tech    | Version |
| ------- | ----

[2020-05-06 13:37] shubh28 opened #3302 "OnClick property on Icon gives typescript error."
## Current Behavior

I am working with baseui, reactjs and typescript.  When I try and attach an onClick event to icon I get typescript error `_Property 'onClick' does not exist on type 'IntrinsicAttributes & IconProps_`.
 Code to replicate it:

    import { Delete } from "baseui/icon";
    function DeleteIcon() {
        render(){
            return <Delete size={32} onClick={() => console.log("h

[2020-05-06 21:40] chasestarr opened #3303 "[Notification] Children flow type definition incompatible with array"
## Current Behavior

Given the code:

[code]

We get the error below

[code]

More subtle, but semantically equivalent is when multiple JSX nodes are children of the `Notification` component, we get the same error

[code]

## Expected Behavior

The code examples above should not raise a flow error

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.73.2  |

[2020-05-06 21:42] alan-oliv commented on #3188
Hi @chasestarr and @sandgraham, I'm interested in working on this.

[2020-05-08 15:18] alan-oliv commented on #3188
@chasestarr this [PR](https://github.com/uber/baseweb/pull/3306) closes this issue, thanks for allowing my contribution on this

[2020-05-08 15:58] #3188 closed

[2020-05-10 22:17] git-ced opened #3307 "Allow to use some override types"
## Current Behavior

There are some override interface from other components that i can use in typescript. I use it when I separate my styles from my components e.g

[code]

But there are others that doesn't have it like the Menu Overrides, when i checked it, its not exportable. So i created one for myself

[code]

And I also noticed that the names of the other interface is not uniform, like for t

[2020-05-11 22:59] kirbycool commented on #2804
@chasestarr This is still an issue. Trying typing in the inputs here https://codesandbox.io/s/input-lpfxg?file=/example.js

[2020-05-12 01:27] rohitb4 commented on #3303
@chasestarr can I look into this issue?

[2020-05-13 11:31] stanleyjohnson opened #3320 "Expose LayersContext in baseweb/layer"
## Current Behavior

We use BaseProvider but want to change the location of the LayersManager to somwhere higher up in our component tree because of stacking context(z-index) issues.

We want to override the 'host' to the LayersContext. To do this, we need the LayersContext exposed in the file `baseweb/layer/index.js` so that we can inject a LayersProvider & Consumer below BaseProvider and overrid

[2020-05-13 12:05] stackyism opened #3322 "isFocusVisible behaves differently based on its import path ( /utils & /esm/utils )"
When we wrap our App with `{ BaseProvider } from 'baseui';`
LayersManager invokes **initFocusVisible** from  `baseui/esm/utils/focusVisible`.

Now when we use,
`import { isFocusVisible } from 'baseui/utils/focusVisible';`
**isFocusVisible** becomes faulty as **initFocusVisible** of `baseui/utils/focusVisible` was never invoked.
Hence, focusVisible.js is not working as singleton due to different co

[2020-05-13 12:17] stackyism commented on #3322
So, I'm trying to create a custom BaseButton which has all the style resets plus the accessibility built-in something similar to material UI.
In case, utils/index.js is not supposed to be exposed, I'll have to write my own custom LayersManager which invoked non esm focusVisible.

I would be more than happy to help create a merge request of it is supposed to be exposed or work on exposing BaseButto

[2020-05-13 16:12] #3300 closed

[2020-05-13 17:13] chasestarr commented on #3322
Thanks for the detailed report @stackyism. Can you share a bit more about why a custom `BaseButton` is required? We have considered `focusVisible` a private API so far. @tajo, do you have an opinion on if it should be exported or not?

[2020-05-13 17:24] sandgraham commented on #3322
@stackyism - have you confirmed this behavior locally? This looks very similar to [an issue](https://github.com/codesandbox/codesandbox-client/issues/4006) with the bundler in CodeSandbox.

If you do get this issue locally with your app, can you tell us a bit more about how your app is bundled?

[2020-05-13 19:36] tajo commented on #3322
We can / should expose focusVisible. The only reason why it's private is missing documentation.

[2020-05-13 20:54] stackyism commented on #3322
@chasestarr Thank you so much for your quick response.

We are trying to make a general clickable component which can adhere to any design and have all accessibility properties.
Trying to achieve this with an amalgamation of style resetting similar to `BaseButton` from `baseui/button/styled-components` & handler logic from [ButtonBase](https://github.com/mui-org/material-ui/blob/master/packages/ma

[2020-05-13 20:59] stackyism commented on #3322
@saminzadeh Thank you for your quick response as well.

I've been able to reproduce this issue locally in my app.
And for more clarification, I reproduced this with create-react-app as well. [Recording](https://www.loom.com/share/5838bf523476400aa9afbfc4afcfbdfe)
[package.json](https://pastebin.com/1jQ8Z5DB) of create-react-app I created with the code from earlier [sandbox](https://codesandbox.io/

[2020-05-13 21:05] stackyism commented on #3322
@tajo

Wow! This sounds great.
I would love to pick this up.
##
Some helpful information required to proceed:
- What all APIs you'd like to get exposed from `baseui/utils` folder in its **index.js** ?
- Any references to the kind of documentation you're expecting for the same.

[2020-05-13 21:55] tajo commented on #3322
isFocusVisible, handleBlurVisible, initFocusVisible, teardown (should be renamed to teardownVisible probably)

- I would try to improve flow types and add Typescript types.
- Explaining why the focus ring is important for a11y.
- Design issues with the focus ring (mouse clicks should not make it visible)
- Styling with :focus-visible, the polyfill
- Why and how we implement this functionality in J

[2020-05-13 22:25] stackyism commented on #3322
@tajo sounds great!
I had done some [reading](https://github.com/WICG/focus-visible) based upon the reference provided in the `focusVisible.js` file.
Let me share a rough draft addressing all the points you mentioned above by tomorrow.
I would like to pick this up.

Please let me know if you'd like me to follow any guidelines or any more details regarding this.
Thanks! :)

[2020-05-13 22:43] #3320 closed

[2020-05-14 03:23] png-prakash opened #3332 "How to show ToasterContainer when get response from server instead of button click?"
https://codesandbox.io/s/mihqy?module=/example.js&file=/example.js:231-247
Example in baseweb

const userData = {
      username: 'test'
    };
axios.post(Constants.APIURL + 'user/add', userData, {
      headers: {
        'Authorization' : `Bearer ${token}`
      }
    })
    .then(response => {
      if (response.data.status === 'success') {
        alert('User added successfully');  //Show toas

[2020-05-14 03:32] houmark commented on #3332
Toast is very well documented and you can open a toast simply by using `toaster.info(<>message</a>)` as long as you make sure that your component has `ToasterContainer` in one way or the other.

Much more here: https://baseweb.design/components/toast/

[2020-05-14 03:36] gergelyke commented on #3332
thanks @houmark

[2020-05-14 03:36] #3332 closed

[2020-05-14 16:23] chasestarr opened #3334 "[Slider] Handle 'jumps' when min value is negative"
reproducing sandbox: https://codesandbox.io/s/slider-yzqrx

![slider-jump](https://user-images.githubusercontent.com/5317799/81959545-7a86ba80-95c4-11ea-84c1-ad6f0d13d00f.gif)

## Current Behavior

If `min` value is negative, slow handle drags cause 'jumping' when handle value is positive.

## Expected Behavior

Handle should not jump

## Your Environment

| Tech    | Version |
| ------- | -------

[2020-05-14 23:46] chasestarr commented on #3301
Sorry for overlooking this. `FormControl` components should only wrap `Input` components (or similar like `Datepicker`). It forwards some accessibility props through to the input element. We don't plan on changing the current functionality, but feel free to share more about your situation

[2020-05-14 23:47] chasestarr commented on #3302
Click handlers should not be added to `Icon` components for accessibility purposes. Try wrapping it in a `Button` https://baseweb.design/components/button#shapes

[2020-05-14 23:47] #3302 closed

[2020-05-14 23:50] chasestarr commented on #3259
There has not been much design capacity to spec this out, so they are leaving it up to the implementor to make some sensible decisions. Something close to material ui is preferable. We've pushed this effort higher in our own priority and I expect it to be taken on within the next month or so

[2020-05-15 16:54] h4m3d opened #3343 "Question: How change 'svg > path' fill color of custom Tab title in non $active mode?"
I have this code
[code]
I want, when the svg tab is not active. it's Icon becomes 'red' too, like the text.
styletron doesn't support css selectors, any suggestion how can I achieve this?

[2020-05-15 19:59] sandgraham commented on #3343
How about using `color="inherit"` on the `Icon`?

https://stackblitz.com/edit/react-o3hkhz?file=src/example.js

[2020-05-15 21:22] chasestarr commented on #3272
cannot reproduce

[2020-05-15 21:22] #3272 closed

[2020-05-16 17:21] #3343 closed

[2020-05-19 08:00] Barathwaja commented on #3262
For getting pointer cursor, below snippet should be added.

`const appDisplayName = (
    <StyledLink
      $style={{
        textDecoration: 'none',
        color: 'inherit',
        ':hover': {color: 'inherit'},
        ':visited': {color: 'inherit'}
      }}
      href={'#'}

      Navigation Bar
    </StyledLink>
  );

<AppNavBar
         appDisplayName={appDisplayName}
          mainNav={[]}

[2020-05-19 08:20] Barathwaja opened #3348 "App Nav Bar - mainNav should hide if false or null array"
## Current Behavior
In the AppNavBar Component, the mainNav if the value is not give or empty array, the list icon appears and on performing click event on icon it fails and asks for avatar and other components.

**Icon Screenshot** - list icon
![image](https://user-images.githubusercontent.com/5066436/82302632-7d741780-99d7-11ea-8b05-5cfa9b6cd7bc.png)

**OnClick Event Screenshot**
![image](https:

[2020-05-19 15:44] lucasterra commented on #1153
@IgorWilbert There is now a `Tag` component, which should serve the purpose of a `Badge` component.
https://baseweb.design/components/tag/

[2020-05-19 18:21] sandgraham commented on #3262
I don't see this when I hover over main nav items. Any other steps to reproduce? Browser? Custom code?

[2020-05-19 18:24] sandgraham commented on #3348
@Barathwaja could you include a reproducing stackblitz please? You can fork [this one](https://stackblitz.com/edit/react-uyhcq7?file=src/example.js).

[2020-05-19 20:54] thinkpadder1 opened #3349 "[Treeview] Support for drag and drop in Treeview"
## Feature description
[Drag and Drop List](https://baseweb.design/components/dnd-list/) allows users to create vertically sortable lists supporting drag and drop, touch or keyboard input.

[Tree View](https://baseweb.design/components/tree-view/) should let users do the same but respect hierarchy.

## Use cases

- Sorting bookmarks like you can in a web browser
- Moving files & folders like a fil

[2020-05-19 21:02] Barathwaja commented on #3348
@sandgraham - Yes please check this [stackblitz](https://stackblitz.com/edit/react-uyhcq7-akq6hk?file=src/example.js) for this issue.

[2020-05-19 22:44] wseagar commented on #3262
I just checked and it appears to have been fixed. I did have a work around but I assumed it should be a pointer cursor by default.

We can close this. Thanks!

[2020-05-19 22:44] #3262 closed

[2020-05-20 03:36] michaelaflores opened #3353 "[Menu] Child menu does not have a method to indicate which of its provided items was selected"
## Current Behavior

To create a child menu, the documentation shows how to use `getChildMenu` and provide a function which will create a child menu. However, there doesn't seem to be a built-in method of indicating which of the provided items was clicked.

## Expected Behavior

Should be some built-in way of indicating which item was clicked on click, rather than doing some reading of the DOM on

[2020-05-20 05:14] sandgraham commented on #3348
Thanks @Barathwaja.

[2020-05-20 05:15] sandgraham commented on #3349
This does sound like a nifty feature. @tajo @nadiia What do y'all think?

[2020-05-20 09:09] leyanlo opened #3354 "Popover broken in IE11"
![ie11-base-web-popover 2020-05-20 02_02_18](https://user-images.githubusercontent.com/1285326/82427858-81875000-9a3e-11ea-9152-776bff05270d.gif)

It looks like the Popover component does not work on IE11. I looked at older versions on the documentation site, and the last working version was in Base Web v7.8.0.

![ie11-base-web-popover-v7 2020-05-20 02_09_22](https://user-images.githubusercontent.

[2020-05-20 17:50] chasestarr commented on #3353
Hi @michaelaflores here is an example of how to do this https://jd59yh.run.stackblitz.io

[2020-05-20 17:50] #3353 closed

[2020-05-20 17:52] tajo commented on #3349
It is but also a lot of work. `react-movable` would be no help here because of the hierarchy.

[2020-05-20 18:41] nadiia commented on #3349
Sounds like a fancy but a little expensive feature. I'd say it's worth investigating.

[2020-05-20 18:54] sandgraham commented on #3349
@thinkpadder1 we don't have any internal asks for this functionality so no plans to implement it. If you wanted to give it a shot we would be happy to review but we won't be dedicating much to developing it on our end right now.

[2020-05-20 22:49] thinkpadder1 commented on #3349
Decided to use [react-sortable-tree](https://github.com/frontend-collective/react-sortable-tree) in the short term. In the future, I'll look into bringing dnd and some other features from `react-sortable-tree` to `TreeView`.

Closing for now, but feel free to reopen. Also, thank you for the prompt responses!

[2020-05-21 16:39] guymaor86 opened #3356 "[FileUploader] - Make the spinner optional when an error message is shown"
When an error message is shown in the File Uploader component, also the spinner is shown by default.
I think having the ability to not show the spinner by default would be great
![image](https://user-images.githubusercontent.com/8980910/82582328-2002d680-9b4f-11ea-8fb9-62726fee7e9a.png)

(thought it was a feature more than a bug but correct me if I'm wrong)
Also, I can try to do this with a little

[2020-05-21 22:41] sandgraham commented on #3356
I agree that the spinner looks a bit odd in the error state. The only thing you can do to avoid this at the moment is to set `progressAmount={0}` which will show an empty bar instead of the spinner. That isn't great so we should update component.

One option is to add a new prop, `{boolean} [hideProgressOnError = false]`. I believe there are still some cases where you might want to show the progre

[2020-05-22 07:58] 94151 commented on #3334
@chasestarr  Can i look into this bug.

[2020-05-22 11:09] Barathwaja opened #3357 "FlexGridItem throws error for borderRadius"
## Current Behavior

When I add borderRadius to prop, the FlexGridItem errors.
![image](https://user-images.githubusercontent.com/5066436/82661950-a5b77c80-9c4a-11ea-8018-868945f3e3c7.png)

Even though in this document [Flex Grid Document](https://baseweb.design/components/flex-grid/) there no API for that, is there an alternative approach for this to add borderRadius??

## Your Environment
Please

[2020-05-22 15:16] ksjogo opened #3358 "dnd list inside modal will render items under the modal when dragging"
## Current Behavior

dnd list inside modal will render items under the modal when dragging

## Expected Behavior

dnd list inside modal will render items over the modal when dragging

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | ^9.74.0  |
| React   | ^16.13.1        |
| browser | Firefox        |

- [x] I have searched the [issues](https://github.com/uber/baseweb/i

[2020-05-22 16:38] guymaor86 commented on #3356
thanks @sandgraham for the response
i tried already the `progressAmount={0}` but i liked the spinner better than the empty bar

i agree with you that we should not remove it the progress bar completely but have it as an option to remove it.

with that said, i'll try implementing the `{boolean} [hideProgressOnError = false]` you suggested

[2020-05-24 00:15] angus-c opened #3361 "[ListItem] Enable overrides at the ListItemLabel level"
**What I want to do**

example: render a list where each item has two parts, letters in black and numbers in grey
[code]

**How I want to do it**
Use an override at the `ListItemLabel` level
[code]

**Other things I tried**
1.
[code]
2.
[code]
3. Using an `endEnhancer` for the second label. However the `EndEnhancerContainer` override seems to only apply to the container, so I can't override the co

[2020-05-25 09:47] git-ced opened #3362 "Feature: StyledLink Prop Types"
## Feature description

`StyledLink` doesn't have proper prop types. I can put any props that i want. Would be better if it has a prop type instead of `<any>`.

For example, If i use `target` i can put anything that i want (string, bool, etc). I expect that i can only put a string there or even more specific `'_blank' | '_self' | '_parent' | '_top' `.  Even `href` itself, in the documentation the

[2020-05-26 15:42] gergelyke commented on #3357
👋

the flexgrid component does not support the borderRadius prop

you can do something like this instead:

[code]

this works, because under the hood, flexgrid uses the Block component

[2020-05-26 15:42] #3357 closed

[2020-05-26 15:42] gergelyke commented on #3358
@ksjogo would you mind adding a stackblitz repro?

[2020-05-26 15:46] gergelyke commented on #3362
@git-ced  are you using flow or typescript?

[2020-05-26 15:52] rohitb4 commented on #3303
@chasestarr should we allow for all types in the array?

[2020-05-26 19:29] sandgraham commented on #3356
@guymaor86 - I spoke with our designers and it seems like we can just hide the spinner when there is an error. So there is no need for a new prop. If you were planning to do this soon feel free to open a PR and we will get it merged. Otherwise, we can likely get to it in the next couple weeks.

[2020-05-26 21:20] nadiia commented on #3358
Is it BaseWeb's modal? Do you have any `zIndex` set on the `BaseProvider`?

[2020-05-26 21:52] git-ced commented on #3362
I'm using typescript.

[2020-05-26 21:55] ksjogo commented on #3358
Yes, it is baseweb's modal and a zindex is set. It seems the transformed li is created without using the base provider?

[2020-05-26 23:20] angus-c commented on #3361
If we decide to do this, I'm happy to take a stab at the PR

[2020-05-27 02:26] sandgraham commented on #3354
Hi @leyanlo - I've tested the popover in isolation on IE11 and things seemed to work. I think this might be an issue with the documentation site itself. Are you able to reproduce this issue in your application?

[2020-05-27 03:13] guymaor86 commented on #3356
ok, i'll try to get to it soon

[2020-05-27 09:42] leyanlo commented on #3354
Ah sorry yes this only concerning the documentation site. Application works fine :-)

[2020-05-27 15:08] gergelyke commented on #3361
this makes sense to me - @angus-c just assigned the issue to you, thanks!

[2020-05-27 16:26] mramosvi opened #3366 "Tab component is not responsive"
https://stackblitz.com/edit/react-pibsdy-6tyfl3

## Current Behavior

Tab component is not looking properly on iPad and mobile devices, it seems is not responsive at all and when there are 4 or more tabs don't looks properly. Also when having many tabs a scroll appears below of the page.

## Expected Behavior

Tab component should be adaptative, so must have an option to allow horizontally scroll

[2020-05-27 16:52] ajbogh opened #3368 "Inconsistent capitalization for exports - Datepicker, TimePicker"
The Datepicker component is exported as "Datepicker" with a lowercase "p" while "TimePicker" is exported as with an uppercase "P". These "Picker" components should have consistent casing.

## Current Behavior

[code]

## Expected Behavior

Since "Picker" is a separate word, it should be capitalized in both instances.

[code]
It's possible to export `Datepicker` for backwards compatibility, as well

[2020-05-27 16:54] gergelyke commented on #3368
@ajbogh that's a good point - would you mind sending a PR?

[2020-05-27 16:56] gergelyke commented on #3366
@mraam for this specific component, mobile was not a primary consideration - with that being said, we'd be happy to accept contributions that improve it. Would you be up for sending a PR fixing it?

[2020-05-27 17:37] sandgraham commented on #3366
@mramosvi In the mean time, you can [add an `overflowX: scroll` to the `TabBar`](https://stackblitz.com/edit/react-pibsdy-xz3faw?file=src/example.js).

[2020-05-27 18:09] #3368 closed

[2020-05-28 02:08] michaelaflores commented on #3353
@chasestarr just a heads up, that example doesn't load for me (stuck on "Starting dev server").

[2020-05-28 06:02] sandgraham commented on #3353
@michaelaflores - what browser do you use? It is working for me on latest Chrome.

[2020-05-28 07:33] mramosvi commented on #3366
ok well is not a mobile issue really, if you use tab in a small layout or if you use many tab items, tabs component will not show properly because is not responsive.

[2020-05-28 07:35] mramosvi commented on #3366
Yes but is not a properly solution for desktop because is not swappable so is not a usable solution for user

[2020-05-28 13:41] gergelyke commented on #3366
@mraam would you be up to send a PR fixing it?

[2020-05-28 16:26] #3348 closed

[2020-05-28 16:54] Barathwaja commented on #3348
Thanks @nadiia , Can i do npm install to get this latest change?

[2020-05-28 18:03] chasestarr commented on #3303
I believe `children` should be typed as `children?: React.Node` like in the tag component

[2020-05-28 18:26] nadiia commented on #3348
@Barathwaja Created a release here #3375, will be published once merged.

[2020-05-28 21:57] balaclark opened #3376 "AccordionOverrides typescript type incomplete."
## Current Behavior
Only `Root` is defined in the typescript type for AccordionOverrides. There are several other valid overrides as [described in the documentation](https://baseweb.design/components/accordion/). This causes typescript warnings and the typescript production build fails due to it thinking that an incorrect override is provided.

## Expected Behavior
There are no warnings with using

[2020-05-28 21:58] gergelyke commented on #3376
@balaclark thanks for opening this issue - would you mind sending a PR fixing it?

[2020-05-28 21:59] balaclark commented on #3376
Sure

[2020-05-28 22:08] gergelyke commented on #3376
thank you!

[2020-05-28 22:24] sandgraham commented on #3366
@mramosvi - What do you mean by swappable? I think scrolling horizontally through tabs is a fine experience if the area is very narrow.

[2020-05-28 22:40] balaclark commented on #3376
@gergelyke done!

[2020-05-29 00:09] sandgraham commented on #3334
Hi @94151 - are you still planning to work on this bug?

[2020-05-29 00:44] #3354 closed

[2020-05-29 04:44] leyanlo commented on #3354
Yay thanks!

[2020-06-02 04:32] guymaor86 commented on #3356
Hey @sandgraham
I'm trying to push upstream but I'm getting permission denied.
How do I get added as a contributor?

[2020-06-02 04:36] houmark commented on #3356
@guymaor86 You fork Baseweb, create a branch in that fork and then a PR from that branch against the main Baseweb fork. If accepted, it will be merged in to the master of Baseweb.

[2020-06-02 04:37] guymaor86 commented on #3356
oh ok, maybe worth adding that documentation to the contributing page? unless i missed it

[2020-06-02 04:41] houmark commented on #3356
Yeah, it's kinda mentioned that like most other Open Source projects, Baseweb expects PR's, but I agree that the contributor guide could have a step by step guide on how to contribute more specifically.

[2020-06-02 08:07] mramosvi commented on #3366
In desktop there are no natural mouse horizontally scroll, only if user put mouse inside tabs zone, so you need to offer an usable solution that works on mobile and desktop as well. Usually, horizontal scroll is solved with arrows or swippable option in desktop.

[2020-06-02 08:09] mramosvi commented on #3366
Sorry but I'm not going to fix this, have no time at the moment, I would like to know if you are planning to solve that because i think it is a library important gap.

Thank you.

[2020-06-02 15:16] guymaor86 commented on #3356
@houmark i can open a pr to add some documentation around that if you guys would like it

[2020-06-02 15:24] jonsadka opened #3390 "Block element to recognize negative margin prop"
Currently, the block element support props like `marginRight="scale800"`. Would be nice if these props would also support negative margins, like `marginRight="-scale800"`.

[2020-06-02 20:18] curtislin7 opened #3394 "[TableSemantic] Expose row and rowIndex to TableSemantic/Table component"
Related to #3208. Recently, the TableBuilder component was updated to expose col, colIndex, row, and rowIndex such that overrides could access these props (useful for highlighting rows/columns). This has only been done for the TableBuilder component, and not for the table-semantic/table.js component. My request is that this new develop be extended to that other component as well. Given the PR that

[2020-06-02 20:22] sandgraham commented on #3366
@mramosvi There are no plans to update the Tab component for enhanced mobile interactivity. We don't have any internal requirements for such an enhancement. There are also a few low-effort solutions available right now, such as applying some overflow scrolling via [overrides](https://stackblitz.com/edit/react-pibsdy-xz3faw?file=src/example.js) or using a [vertical tab list](https://baseweb.design/

[2020-06-02 20:40] shannonmoeller commented on #3394
Whoops! Sorry about that. A PR would be awesome.

[2020-06-02 20:45] curtislin7 commented on #3394
@shannonmoeller on it now, thanks!

[2020-06-03 07:34] mramosvi commented on #3366
Hello, ok thank you. However is not only a mobile issue, tab component is not responsive at all, so in my opinion it is a seriously gap that need to be fixed if you say that BaseWeb library is a responsive library, because now it is not.

[2020-06-03 14:34] gergelyke commented on #3366
@mramosvi that's how free open-source software is - if you need a feature/fix, and there is no one else to work on it, it's your job to fix it

as Graham said, we welcome any PRs, and are happy to provide guidance, but we won't be able to work on this in the near future

[2020-06-04 16:37] jackieleighh opened #3398 "Expose ref to lowest level components"
## Feature description
Would it be possible to cascade a ref of the lowest level component up the chain for form components (specifically select)?  I need to be able to focus the select component, but cannot as I can't access the ref for the underlying component.  Cascading the ref up using forwardRef should fix this

https://reactjs.org/docs/forwarding-refs.html

[2020-06-04 17:47] #3394 closed

[2020-06-04 22:05] joselarios opened #3400 "Grid Table: Loading"
Is there a way to show loading progress with the Grid Table component? (Loading is available in the Table and Data Table component, but it is not clear to me if, or how, loading works with Grid Table).

Thank you in advance for your help!

[2020-06-05 21:06] briant1234 opened #3404 "React Ref Warning when using Baseweb button group with mode "radio""
## Reproduce

To reproduce, I added the button group component to my react app, and passed it the mode prop set to "radio"

## Current Behavior

I've imported baseweb's "ButtonGroup" component, and added it to my react app, using the "Radio" mode. In the console, I get the error that function components cannot be given refs:
![image](https://user-images.githubusercontent.com/8219120/83922462-53985

[2020-06-08 16:34] jayantbh opened #3407 "[TreeView] Ability to set selected node externally and disabling node selection by default"
## Feature description

Right now I'm unaware of a reasonable way by which we can set a node to be selected from outside the TreeView component. It would be great if it could work on a combination of supplying `nodeId` and `onChangeNode` props. This makes it possible to set the `nodeId` externally, and to preserve existing functionality if you don't want to set `nodeId` by checking for the presenc

[2020-06-08 22:52] #3398 closed

[2020-06-09 18:29] #3334 closed

[2020-06-09 18:41] chasestarr commented on #3400
Hi @joselarios if your data is loading, just replace the table or the contents of the table with a loading message. See this example for a starting direction: https://stackblitz.com/edit/react-b8gyw6?file=src/example.js

[2020-06-09 18:41] #3400 closed

[2020-06-09 18:42] chasestarr commented on #3404
Closing due to not being able to reproduce the issue. @briant1234 If you like to continue the conversation, please tag me and include a repro

[2020-06-09 18:42] #3404 closed

[2020-06-09 18:48] chasestarr commented on #3390
Block is mostly in maintenance mode at this point. We will only be sending bug fixes to it

[2020-06-09 18:48] #3390 closed

[2020-06-09 19:46] nadiia commented on #3334
`react-range@1.6.7` with a fix is published

[2020-06-10 09:51] leyanlo opened #3410 "Icons add extra attributes to dom"
Icons add props to the dom that are unnecessary.

E.g.
[code]

Renders as:
[code]

The size attribute is not necessary, as it is added as width/height rules by Styletron. Color is also not necessary, as it is added as color/fill rules by Styletron.

I believe this is due to the nature of React.forwardRef(), where setting the prop will get passed all the way down to the svg.

[2020-06-10 22:17] chasestarr opened #3411 "[radio-group] component should accept id prop"
This is possible to apply through overrides, but would be preferable if id can be provided through top-level props. FormControl component will apply a `for` attr to the label if it exists on the wrapped component

[2020-06-10 22:45] chasestarr commented on #3411
here is the workaround https://stackblitz.com/edit/react-taybaa?file=src/example.js clearly annoying that it doesn't work like other components

[2020-06-11 07:16] Ritwik880 opened #3413 "Creating a switch that controls theme mode"
During Daytime(under direct sunlight), it becomes unable to operate many functions and also, brightness required is much more.

[2020-06-11 07:27] #3413 closed

[2020-06-11 11:40] grrowl opened #3414 "ToasterContainer sets toasterRef on constructor(), not on mount"
## Current Behavior

* Any time ToasterContainer is constructed, it overwrites the static `toasterRef`. This isn't very Reacty(tm), especially moving into Suspense, since component instantiation doesn't always mean it will be mounted (and therefore shouldn't be the new handler for `toaster.show()` calls)
* In our fairly complex next.js based application, we find ToasterContainer's constructor is f

[2020-06-11 23:22] chasestarr commented on #3414
Thank you for the report @grrowl. Can you include a reproduction case displaying the navigation change bug that we can test against?

[2020-06-12 19:10] klyap opened #3419 "[Timepicker] Picker can't be set to "null" value and placeholder text doesn't show up"
## Current Behavior
When the `nullable` and `placeholder` props don't seem to do anything. When I set the value of the picker to be `null`, the placeholder text doesn't show up.

[code]

## Expected Behavior
I expect that when I set the value of the picker to null, the placeholder text will show up in the time picker.

## Your Environment
Tech | Version
-- | --
Base UI | https://baseweb.design/com

[2020-06-12 19:43] chasestarr commented on #3047
I forget which PR fixed this bug, but can no longer reproduce the issue on the docs site

[2020-06-12 19:43] #3047 closed

[2020-06-12 22:13] #3419 closed

[2020-06-15 17:27] nadiia commented on #3349
There was another request for this feature. Reopening it so it's on our radar.

[2020-06-15 18:23] sharath1709 commented on #3349
This feature would be super helpful for menu reader project. see [this](https://engwiki.uberinternal.com/display/EATSENG/Menu+Reader) to understand more about menu reader. Menu reader is hosted [here](menus.uberinternal.com/menureader). We already implemented a bunch of stuff using treeview and would now like to add the ability to drag and drop menu items. Having treeview support drag and drop wou

[2020-06-19 02:35] maraisr opened #3428 "Grid-Table: ARIA violation"
When a [table-grid] is used, each of the body cells have the `role="gridcell"` applied, however the wai-aria 1.1 spec articulate that they **MUST** be placed inside a role="row", as quoted "Authors MUST ensure elements with role gridcell are contained in, or owned by, an element with the role row."

I've tested this with my iPhone's voice over feature using the examples; for which it doesn't read

[2020-06-19 15:09] bkapus2 opened #3429 "Calendar picker: external value does produces unexpected cell color"
Example:
This can be seeing in the demo provided by
https://baseweb.design/components/datepicker/

## Current Behavior

1.  Type in a date into the input.
2. Click Enter.
3. The selected cell is not solid black.
4. Hover over the cell.
5. The selected cell is now solid black.

## Expected Behavior

The selected cell should be black without having to hover over it.

There must be some expectation t

[2020-06-19 22:07] adenta commented on #2574
@LaurenReillyW2G were you able to get any clarity here?

[2020-06-21 14:24] joginder07 commented on #3349
@gergelyke , I would be happy to contribute to this.

[2020-06-22 14:27] gergelyke commented on #3349
that'd be awesome, @joginder07 ! I recommend you talk with the team on Slack, I think we had some ideas on how to best go about it

[2020-06-22 16:51] chasestarr commented on #3428
Thank you for the report. Good point, `gridcell` should be removed. According to this [mdn page on css-grid](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/CSS_Grid_Layout_and_Accessibility#Grid_and_the_danger_of_markup_flattening) adding a wrapper element is possible once subgrid is more widely supported

[2020-06-22 17:23] jgillich opened #3430 "ToasterContainer breaks Next.js SSR"
ToasterContainer breaks server side rendering with Next.js, causing it to show a white page that will only render with JavaScript enabled.

The way Next.js handles this is very poor, there is no error message whatsoever and you basically just notice one day that SSR doesn't work. So I might also report this in Next.js, but there's probably something that can be done in baseweb as well.

I haven't

[2020-06-22 17:38] jgillich commented on #3430
I falsely assumed this was triggered by importing alone. So this works as a workaround:

[code]

So this is probably caused by the [toasterRef](https://github.com/uber/baseweb/blob/master/src/toast/toaster.js#L47) variable, which makes #3414 a related issue. Using context could be a solution here.

@grrowl can you confirm this issue?

[2020-06-22 18:06] chasestarr commented on #3430
Thank you for the report @jgillich. We use nextjs for our docs site, and the [toast page](https://baseweb.design/components/toast) seems to work fine. Can you please review the [source code](https://github.com/uber/baseweb/tree/master/documentation-site) and maybe identify the difference in setup?

[2020-06-22 18:32] jgillich commented on #3430
Sure. It looks like only elements inside `ToasterContainer` are swallowed by it, the rest continues to render fine. Interestingly, the [runnable examples don't wrap the Toast elements inside ToasterContainer](https://github.com/uber/baseweb/blob/master/documentation-site/examples/toast/basic.js#L23), so I'm not sure if this even a requirement. But the main example at the top does it that way.

Wit

[2020-06-22 18:34] jgillich commented on #3430
You can get the same by changing my example to:

[code]

-> page is still rendered, but toasts are invisible

[2020-06-22 22:43] maraisr commented on #3428
No thank you! Love you guys. I recently solved this using `display: contents` on the wrapping div, which seems to have solved it also. But looking forward to what you guys come up with! <3

[2020-06-23 01:06] grrowl commented on #3430
This may share a root cause with my issue, which has been tricky to track down. It _does_ break on any owner of the ToasterContainer being subject to `cloneElement`. I think in our stack either some graphql or styled-components related pre-render is causing `toasterRef` to be reassigned even though the component assigned to `toasterRef` is never mounted.

I'm hoping the baseweb team will accept a

[2020-06-23 11:42] jgillich commented on #3430
I think the SSR issue is that the component [returns null unless `state.isMounted` is set](https://github.com/uber/baseweb/blob/master/src/toast/toaster.js#L207), which is set in `componentDidMount` - **after** the first render (SSR only calls render once and never calls componentDidMount). Fix should be to return props.children instead of null.

But while we're at it, we could also move it over t

[2020-06-23 17:57] chasestarr commented on #3428
Glad you could resolve. I don't think we will be taking the same `contents` approach since it is not supported in safari at the moment. I appreciate the heads-up.

This issue is a good first-time-contribution if anyone is interested. `role="gridcell"` from `table-grid` cell elements

[2020-06-23 18:19] chasestarr commented on #3430
Thanks for the investigation folks. We will investigate the issue

[2020-06-24 08:26] Bomkas opened #3433 "Warning: Invalid attribute name: `$size`"
When I import an icon along this path

This error appears in the console

`The Warning: Invalid attribute name: '$ size'`
<img width="462" alt="Screen Shot 2020-06-24 at 11 21 37" src="https://user-images.githubusercontent.com/31337482/85521403-e0775080-b60c-11ea-8547-badf22bba185.png">

## My Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.84.0  |
| React   | v16.12.0 |
|

[2020-06-25 06:29] maraisr commented on #3428
Think the "not supported" there relates to unusual behavior when applied to specific elements. In our case though you'd be applying it to a `div`, which works 100% in Safari.

We could either introduce a `role="row"`—or remove `role="gridcell"`. Which one would you think we do?

[2020-06-25 16:23] chasestarr commented on #3428
Oh I missed the row above 😆 I'm happy to review a PR that introduces a wrapping row. Not sure if it makes sense built-in to the component itself, but maybe update documentation site examples to include it

[2020-06-25 18:05] chasestarr commented on #3433
Can you please share a reproduction of this bug? https://stackblitz.com/edit/react-acr6yc?file=src/example.js

[2020-06-25 22:56] S0Lucky4Y0u commented on #3433
This needs to b pulled it is a violation of google

[2020-06-26 20:51] chasestarr commented on #3429
Is this behavior expected @nadiia?

[2020-06-29 14:28] 4eshircat opened #3439 "Icon library FontAwesome overriders generated classes."
Icon library FontAwesome use their own class **.fa** which overrides generated by BaseWeb classes.
And when these classes are applied, visual problems occur — you can check it below.

![The Alpinist 2020-06-29 12-15-34](https://user-images.githubusercontent.com/1543843/86017875-414bc200-ba2d-11ea-8efc-60df4a585e4f.png)
![The Alpinist 2020-06-29 12-21-41](https://user-images.githubusercontent.com/1

[2020-06-29 15:20] gergelyke commented on #3439
I believe you can use the `prefix` option on the Styletron engine: https://www.styletron.org/api-reference#options

[2020-06-29 17:27] nadiia commented on #3429
When it's black it means the date is selected and highlighted currently. I don't think it's an issue here. But I found another bug looking into it: it doesn't set tab-index on the newly selected day, so if the new typed in date is in a different month it doesn't let you arrow down into the calendar while keyboard navigating.

[2020-06-30 00:18] ajbogh opened #3444 "Calendar component doesn't dismiss the hover effect when monthsShown={2}"
## Current Behavior

When hovering the mouse over the multiple-month calendar (link below), the hover effect doesn't go away when the mouse exits the calendars.

https://baseweb.design/components/datepicker/#calendar-with-multiple-months

![Peek 2020-06-29 17-16](https://user-images.githubusercontent.com/161761/86068564-89b6b000-ba2c-11ea-9e42-14e001d905b9.gif)

## Expected Behavior

The hover eff

[2020-06-30 14:41] 4eshircat commented on #3439
@gergelyke yes this approach works like a charm.
Thank you 🙌🏻

I just used prefix there:
`const engine = new Styletron({ prefix: '_' });`

[2020-06-30 14:41] #3439 closed

[2020-06-30 17:33] #3411 closed

[2020-07-01 17:00] jackieleighh opened #3448 "ButtonGroup responsive styling"
ButtonGroup components do not line wrap - they should line wrap responsively if the container is smaller than the group.

## Current Behavior
buttons do not wrap to next line

## Expected Behavior
buttons should be pushed onto next line

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v?.?.?  |
| React   |         |
| browser |         |

- [ ] I have searched the [iss

[2020-07-01 22:45] kimasenbeck opened #3449 "Character limit for text input box"
Feature request:
characterLimit prop on input box (https://baseweb.design/components/input/)
Could also apply on https://baseweb.design/components/textarea/

Character limit text box UI which could serve as example:
![image](https://user-images.githubusercontent.com/10892241/86298201-0d4dd980-bbb2-11ea-9d33-b2ed46411caa.png)

Note: I'm an Uber engineer, and would be very willing to take this on as

[2020-07-01 23:23] sandgraham opened #3450 "Combobox example is misleading"
The [combobox example](https://baseweb.design/components/combobox/#combobox) at the top of the page is a bit misleading. It seems broken because no filtering is being done in the example code.

[2020-07-01 23:23] jackieleighh opened #3451 "Combobox filter trigger"
#2526  Feature description

Could a filter trigger be added to combobox?  Similarly to how slack works when typing, then # is pressed and a list of channels is expanded, then you continue typing and it goes away

[2020-07-02 02:00] kahwee commented on #3449
Maybe we use just use `maxLength`?

It's part of HTML input.

This doesn't give the visual word count indicator you shown in your example though.

[2020-07-02 02:32] kahwee commented on #3433
I think this only happens when you do a createTheme and customized the icons. The customized icons are returned as an SVG and so `$size` gets exposed to the HTML element as an invalid attribute.

[2020-07-02 16:27] cbranch101 opened #3452 "[Tag] isHovered and isFocused don't do anything"
isFocused and isHovered are in the prop types but don't change the hover or focused state

[2020-07-02 17:25] chasestarr commented on #3433
Thank you @kahwee we can investigate

[2020-07-02 17:36] chasestarr commented on #3449
Related issue here: https://github.com/uber/baseweb/issues/2990 Happy to accept a PR that adds `maxLength` to the top-level api

[2020-07-02 17:38] chasestarr commented on #3301
Closing, but feel free to continue if you have more information

[2020-07-02 17:38] #3301 closed

[2020-07-02 17:45] kimasenbeck commented on #3449
Excellent! I'll look to have a PR out as soon as I can.

[2020-07-02 17:45] kimasenbeck commented on #2990
We discussed this in https://github.com/uber/baseweb/issues/3449
I'll look to have a PR out as soon as I can.

[2020-07-02 22:12] jonsadka opened #3455 "[combobox] re-open options menu when re-focusing on input with text"
The combobox does not re-display results list when re-clicking into the input.

## Steps to reproduce interaction
- click on combobox input
- type to see results list
- click out to close results list
- click on combobox input
- expect options to re-appear but they dont until you type. this is not-ideal behavior because to see the results again, you need to add another character then delete it

##

[2020-07-04 22:29] larcho opened #3457 "Internal Billing Problem"
I want to start with an apology by saying that I'm aware that this is not related to Baseweb, but I need a software developer at Uber to take a look at this.

I've been struggling with support since weeks with no success because they are not able to see the seemingly internal issue your billing system has with an outstanding transaction.

I currently have an outstanding invoice of PYG 18, which in

[2020-07-05 14:44] matchatype opened #3458 "[Question] Theme settings for tab element focus"
Hitting the tab key to switch focus adds an outline to the focused element set to color accent600. Is there a theme override setting to control the style of focused elements globally?

[2020-07-06 13:06] 4eshircat opened #3459 "Select Popover override doesn't work"
I need to add `zIndex: 200` to Popover but it seems that  all other props works as expected except Popover.
It doesn't work even on the Select's landing page:
https://baseweb.design/components/select/

My code looks like this:
[code]

[2020-07-06 14:20] gergelyke commented on #3457
Hey @larcho - I am sorry for your troubles, but this is not something we can help here. I am going to close this issue.

[2020-07-06 14:20] #3457 closed

[2020-07-06 14:30] gergelyke commented on #3458
hey @matchatype - we use `theme.colors.accent` for the outline, so you'd have to change that. I am going to close this issue, but feel free to reopen, if you have further questions

[2020-07-06 14:30] #3458 closed

[2020-07-06 14:47] matchatype commented on #3458
Many thanks @gergelyke That's consistent with my findings, however my question was about how to control that with theming. For example, I might want to set the outline to a different color or tint in the scale, and adding other rules like border and borderRadius. How would you achieve that?

[2020-07-06 17:36] sandgraham commented on #3458
@matchatype We don't have a theme property for setting the focus outline color specifically. The only way to customize the color is to change `theme.colors.accent` by [customizing your theme](https://baseweb.design/guides/theming/#a-custom-theme). Unfortunately, if you don't want to change the `accent` color in your theme, you will have to override the focus styling for each component manually.

[2020-07-07 16:10] chasestarr commented on #3449
Sounds good, Thanks!

[2020-07-07 16:18] chasestarr commented on #3459
Styles applied to baseui's `Popover` component will not have any effect. You may want to investigate the `mountNode` prop or try applying the styles to the `DropdownContainer` override

[2020-07-07 18:40] #3428 closed

[2020-07-08 06:11] abishekram opened #3466 "Hover color change in button"
Currently there is buttonPrimaryHover to update primary color on hover. I could not able to  update text color on hover.

In button , there is no ishovered props. Is there any way to achieve this ?

[2020-07-08 14:26] gergelyke commented on #3466
You can use [overrides](https://baseweb.design/guides/understanding-overrides/) with https://www.styletron.org/concepts#media-queries-and-pseudo-classes

[2020-07-08 14:26] #3466 closed

[2020-07-08 14:28] #3429 closed

[2020-07-09 15:33] uber-ngd opened #3467 "Add an inputRef prop to TimePicker"
## Feature description
Currently unable to pass a ref to TimePicker, making it difficult to manually focus on the control.

[2020-07-09 16:34] chasestarr commented on #3467
It's available on the Select override. See this sandbox for an example https://stackblitz.com/edit/react-bypinu

[2020-07-09 16:34] #3467 closed

[2020-07-10 07:24] shdq opened #3470 "[Card] title ignores HeadingLevel and renders as <h1> all the time"
Hello. First of all, thank you for the base web!

## Current Behavior
Example code:

[code]
`<Card title="This is card title">` renders as `<h1>` anyway.

Stackblitz to reproduce [Link]( https://stackblitz.com/edit/react-yd3ejd?file=src%2Fexample.js)

## Expected Behavior

`<Card title="This is card title">` renders as `<h2>`.

Moreover, I suggest adding `<StyledHeader>` like `<StyledBody>` and `<

[2020-07-10 15:15] gergelyke commented on #3470
I tend to agree with the proposal - however, I think it would be a breaking change, right? Do you think we could do it in a non-breaking way?

[2020-07-10 21:31] chasestarr commented on #3459
Going to close for now, but feel free to continue the conversation if it doesn't work for you

[2020-07-10 21:31] #3459 closed

[2020-07-11 16:14] airhorns opened #3476 "[Checkbox] onChange doesn't fire on click when using React Concurrent mode"
React's upcoming Concurrent mode has all sorts of awesome new patterns like Suspense and `useTransition`. When using Concurrent mode, baseui's `Checkbox` component doesn't check. The `onChange` handler never fires on click. It does fire however if you tab focus to the checkbox and press space.

Preview issue here: https://baseweb-react-concurrent-checkbox.stackblitz.io (edit here: https://stackbli

[2020-07-13 09:28] sivaraj-v commented on #2737
[code]

Getting warning Messages as :
`browser.es5.es.js?42d3:456 Styles `{"borderWidth":"1px"}` and `{"borderTopWidth":0}` in object yielding class "cj ck ag af cl cm cn co cp cq cr cs ct cu cv cw cx cy cz d0 d1 d2 d3 d4 d5 d6 d7 d8 cc d9 cd da db dc dd de df dg dh di dp dq dl dm ax dr ds" may result in unexpected behavior. Mixing shorthand and longhand properties within the same style object is

[2020-07-13 09:59] houmark commented on #2737
The correct longhand in overrides to avoid conflicts are `borderRightWidth`, `borderLeftWidth`, `borderTopWidth` and `borderBottomWidth`.

[2020-07-13 10:17] peironggg opened #3477 "Type wrong for ToggleIcon's component in Accordian component's override when used with Typescript"
## Current Behavior
This problem only occurs when used with Typescript. Within the Accordian component's override prop, I overrode the ToggleIcon I want to be displayed to be an "up" or "down" chevron (depending on whether the Accordian is expanded or collapsed) instead of the default "plus" sign.
The problem I believe is due to the type of the "component" prop of ToggleIcon, which does not expect

[2020-07-13 14:11] shdq commented on #3470
It is breaking change. But both `<StyledHeader>` and `title` can coexist for some time. Mark `title` as deprecated in docs and drop it in the future releases.

[2020-07-13 14:18] gergelyke commented on #3470
That seems like a reasonable approach. Is it something you'd be willing to take on?

[2020-07-13 14:23] gergelyke commented on #3477
thank you for the report @peironggg - is it something you can help with?

[2020-07-14 01:59] peironggg commented on #3477
I don't mind contributing but I am not completely sure of the way the project is structured. From what I understand all I need to do is change the types?

[2020-07-14 11:21] shdq commented on #3470
I'd like to take it, but I need some guidance. First of all, is it about implementation of `<StyledHeader>`? If so, should I fix `<HeadingLevel>` ignorance by `title`?

[2020-07-14 11:42] TanyaChauhan9 opened #3483 "Flexible sizes of emoticons"
I want to use this emoticons component but currently the sizes of the emojis are too big and their sizes are not configurable.
It would be really helpful if these sizes can be made configurable.

[2020-07-14 14:59] gergelyke commented on #3470
Yes, I believe we should fix that - probably it won't be a StyledHeader component, as it will include some logic, probably just call it `Header`?

[2020-07-14 15:00] gergelyke commented on #3477
That's correct - I believe this is the only file you have to modify: https://github.com/uber/baseweb/blob/master/src/accordion/index.d.ts

[2020-07-14 17:53] #3477 closed

[2020-07-15 14:33] arpitprod opened #3487 "Datepicker overrides Input backgroundColor not changing"
## Current Behavior

I want to change [DatePicker](https://baseweb.design/components/datepicker/) Input color to white color but it's not changing. You can see in [stackblitz code](https://react-hfnn3z.stackblitz.io)

## Expected Behavior

`DatePicker` color should change like `Input` and `Select`

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.85.3  |
| React   |

[2020-07-15 16:43] chasestarr opened #3488 "[DataTable] Create example documenting custom column filter/sort"
There should be an example of this on the docs site, but right now it's only hidden in integration tests:  https://github.com/uber/baseweb/blob/master/src/data-table/__tests__/data-table.scenario.js#L137-L220

[2020-07-15 19:49] jonsadka opened #3492 "[Combobox] Support an `onSearch` method for input execution"
## Use case

A user can type in the input bar and hit `Enter` or click the Start / End Enhancer to execute a search without choosing an option. This is a common design paradigm for search bars.

## How to achieve this with Combobox today

The current workaround for this is to pass an Input override of `onKeyUp` that listens to `Enter` events. However, even with this approach the Combobox cannot be

[2020-07-16 21:04] #3492 closed

[2020-07-17 02:56] airhorns commented on #3476
Update: this is probably a bug in the experimental Concurrent mode of React itself, we reproduced it outside baseweb over in that React issue.

[2020-07-17 13:35] simPod opened #3509 "Tabs motion is missing"
Hello, I found https://baseweb.design/components/tabs-motion/ section in documentation. I have the same version installed as is in docs header (9.86.0). However, there's no tabs-motion module in node_modules. Am I doing something wrong? Thanks!

![image](https://user-images.githubusercontent.com/327717/87791810-2eb1f500-c843-11ea-89de-37a8f411dc89.png)

[2020-07-17 14:59] gergelyke commented on #3509
hey! we'll cut a release later today, it will be included in 9.87. sorry about the confusion!

[2020-07-17 14:59] #3509 closed

[2020-07-17 16:41] simPod commented on #3509
Ah, I had perfect timing it seems :D thanks!

[2020-07-18 23:33] gergelyke commented on #3483
closed by https://github.com/uber/baseweb/pull/3505

[2020-07-18 23:33] #3483 closed

[2020-07-20 16:53] chasestarr commented on #3259
Here's the first version of the skeleton completed by @jiaoy14 https://github.com/uber/baseweb/pull/3472

[2020-07-20 21:49] houmark opened #3519 "[TabsMotion] If Tabs are wrapped in form, the form submits on tab change"
## Current Behavior

Please see this Stackblitz for example:
https://stackblitz.com/edit/react-szam3j?file=src/example.js

This is different behavior than the old tabs component.

## Expected Behavior

Only the tab changing, no submission of a wrapping form.

I think the solution is simple, and that is to add `type="button"` to the Tab button, if no type is set, it will default to submit.

I have

[2020-07-20 22:04] houmark commented on #3519
That's what I call fast fixing :) Early adopter here, loving this new component in terms of design and animation, and besides this one, it was very simple to swap the components out.

[2020-07-20 22:23] #3519 closed

[2020-07-20 22:25] gergelyke commented on #3519
sure, you are welcome 👍

and yeah, you should set up a local dev env for Base Web :) should be pretty simple, but let us know if you run into any issues!

[2020-07-21 08:00] jpkontreras opened #3522 "Implementing an active state in menu"
Im trying to set the active property on the menu with no luck
What i been trying so far

[code]
Where i can obtain the actual item being rendered on the overrides object so i can match it with my state selection ?
am i doing it wrong ?

[2020-07-21 10:50] #3259 closed

[2020-07-21 17:46] sandgraham commented on #3522
Hey @jpkontreras - I'm not entirely sure what you are trying to do but to control the "active" item with a `StatefulMenu` you can use the `initialState` and `stateReducer` props. That looks something like this:
[code]
In the `stateReducer` you can return a new state with whichever `highlightedIndex` you want, which effectively controls the "active" item.

[2020-07-21 18:00] #3522 closed

[2020-07-21 18:56] ZivJia opened #3526 "toaster Root cannot be override"
## Current Behavior

I want to override the toaster Root with a z-index. Cuz set z-index by overriding Body does not work. But by directly change the z-index of Root does work. My code is as the following:
[code]
Those overrides do not apply to the UI component
## Expected Behavior

I should be able to apply Root override to toaster component.

| Tech    | Version |
| ------- | ------- |
| Base UI

[2020-07-21 19:16] #3526 closed

[2020-07-22 09:09] 4eshircat opened #3527 "DatePicker component. How to start a week from Monday?"
Actually I already asked a question in the title :)
I didn't find how to do this so can you drop a hint please?

Thank you 🙏🏻

[2020-07-22 12:53] shdq opened #3528 "[Slider] click[touch] area of a track is too narrow, impossible to change the value by clicking on [touching] the track"
## Current Behavior

If you have only 2-3-4 steps in the slider it's almost impossible to change the value by clicking on [touching] the track.
Also when you start pulling the thumb you have to move it precisely on the desired value or it won't change.

[Stackblitz to try](https://stackblitz.com/edit/react-rbupcr)

[code]

## Expected Behavior

Clicking on [touching] the track should change to the

[2020-07-22 13:22] shdq commented on #3527
Hello Mikhail.

You should import locale from `date-fns`, I suppose it's `ru` and pass it to the datepicker as a prop. It will do the magic.

There is an example with customized `mask` and `placeholder` and `formatString`.

[code]

[2020-07-22 14:02] kizmo04 opened #3529 "[File-uploader] Allow to override Spinner"
## Feature description
I'm trying to override `Spinner` component in `FileUploader` component. I want to change spinner's active path color. but there is no way overrides Spinner component styles.
that would be great to have an opportunity to override spinner component. Is there anyone working on this issue? If not, may I take it?

[2020-07-22 15:14] gergelyke commented on #3529
that would be a great addition! I've just assigned this issue to you, thanks @kizmo04!

[2020-07-22 15:19] gergelyke commented on #3527
thank you @shdq 🤗

[2020-07-22 15:19] #3527 closed

[2020-07-22 15:19] gergelyke commented on #3527
for future reference, the corresponding doc site example can be found here: https://baseweb.design/components/datepicker/#datepicker-with-localization

[2020-07-22 15:21] gergelyke commented on #3528
It seems like that something we should address in https://github.com/tajo/react-range

@shdq is it something you could help with?

[2020-07-23 12:57] 4eshircat commented on #3527
@shdq @gergelyke thanks a lot guys!
I'm very appreciate your help 😌🙏🏻

[2020-07-24 08:00] 4eshircat commented on #3459
Hi @chasestarr!
Thank you for your answer. I tried both variants you suggested and couldn't get the desired result.

I'm using Select inside a modal window with _z-index: 1031_ and dropdown list displayed behind the window.
I tried to add _z-index: 1032_ to DropdownContainer as you advised but this z-index doesn't help to bring it in front.

Also, I havn't figured out how to mount the dropdown to

[2020-07-24 08:13] 4eshircat opened #3545 "[Select] Value attribute of input inside Select component stays empty on Select change."
Hi!
I'm using a [react-hook-form](http://react-hook-form.com) library that validates fields based on the name and value attributes. The problem is that the Select component doesn't update the value attribute of its input when it changes.
Therefore, the Select component cannot pass validation even when it is valid.

So my question is, how can I update the input value attribute that is inside the co

[2020-07-24 16:05] gergelyke commented on #3545
hey @4eshircat 👋

I am not familiar with that library, but is it possible to expect the Select's value prop directly, instead of from the DOM?

If not, would it be something you'd be willing to help with, and raise a PR?

[2020-07-24 19:18] frangeris opened #3547 "DatepickerOverrides interface is not exposing InputWrapper as overrides prop"
[DatepickerOverrides](https://github.com/uber/baseweb/blob/master/src/datepicker/index.d.ts#L114) interface is not exposing [InputWrapper](https://github.com/uber/baseweb/blob/master/src/datepicker/types.js#L56) as overrides prop giving types errors when using `override` in `Datepicker` component

## Current Behavior

[code]
![image](https://user-images.githubusercontent.com/811381/88427023-8e227e

[2020-07-27 10:02] simPod commented on #1948
@chasestarr I'd still love to do it. `<Tab {...commonTabProps}` is only a workaround

See https://codesandbox.io/s/baseweb-nklju?file=/src/example.tsx

[2020-07-27 10:51] simPod opened #3548 "Allow to extend/customize TabPanel globally"
I attempted to extend TabPanel:

[code]

But AFAIK it's not possible to use it this way as it's impossible to override TabPanel component within `tab-motion` `Root` as it's rendered directly by mapping `Tab` children.

https://github.com/uber/baseweb/blob/5f92bdfef0a8461e79f9517623eb4288bf552577/src/tabs-motion/tabs.js#L224

[2020-07-27 10:52] simPod commented on #1948
I have created more relevant followup here https://github.com/uber/baseweb/issues/3548

[2020-07-27 12:14] 4eshircat commented on #3545
Unfortunately not, but I think there are many other libraries out there that work with DOM directly. So I think this is an important issue.

Okay, I will try 👌🏻

[2020-07-27 15:15] gergelyke commented on #3548
@sandgraham can you help with this question?

[2020-07-27 21:44] sandgraham commented on #3548
Hi @simPod there are a few ways to do this- depending on what you want to accomplish.

You can use your custom component using overrides [as in this example](https://stackblitz.com/edit/react-bscfkq?file=src/example.js):

[code]

If you only want to override styles you can avoid passing in a full component and just override styles:
[code]

Also, if you only want to remove padding, TabPanel has a s

[2020-07-27 22:05] sandgraham commented on #3529
This was added in #3541. You can override the Spinner now like so:
[code]

[2020-07-27 22:05] #3529 closed

[2020-07-27 22:08] sandgraham commented on #3476
Thanks for the update @airhorns - I'll close for now, but let us know if there is something we could change to better support concurrent mode going forwards.

[2020-07-27 22:08] #3476 closed

[2020-07-27 22:29] sandgraham commented on #3487
Here is an [example](https://stackblitz.com/edit/react-vjufuy?file=src/example.js) of how to do this. You have to use what we call a [Nested Override](https://baseweb.design/guides/understanding-overrides/#override-nested-components).

[2020-07-27 22:33] #3487 closed

[2020-07-27 23:03] #3547 closed

[2020-07-27 23:10] sandgraham commented on #3545
@4eshircat would [controlling a hidden input](https://stackblitz.com/edit/react-28mrly?file=src/example.js) work for your use case?

[2020-07-27 23:24] sandgraham commented on #3366
The new [tabs-motion](https://baseweb.design/components/tabs-motion/) component solves some of the responsive issues that the initial Tab component had. Please give that a try if you need something more flexible.

[2020-07-27 23:24] #3366 closed

[2020-07-28 00:13] mramosvi commented on #3366
Hello, yes I understand how open-source software works but as I said, you cannot say your open-source library is totally responsive when is not the case. Also, I don't think that is my job to fix anything, I'm using the library but have no time to contribute it as I'm contributing to other libraries as well, so I think that I did my job to open an issue when anyone else sees it.

[2020-07-28 00:14] mramosvi commented on #3366
Hello, ok thank you so much. I will try this new component and see if it works well. 👍

[2020-07-28 06:32] simPod commented on #3548
Hi @sandgraham, thanks for your response. Though my point is that I cannot do this globally by creating custom component or something similar. Let's say I do this for all my tabs

[code]

and then decide to add `paddingBottom: 0` so I have to change it on all places. Instead, if I was able to create my component that encapsulates my general tab definition, I could just change it there.

[2020-07-28 06:43] houmark commented on #3548
I'd usually keep the style object in a system-wide file and import it per component and then if I need to tweak it on one page, I'd just do:

[code]

But I don't see why you cannot make a wrapping component that outputs the outer Tab component.

[2020-07-28 06:47] simPod commented on #3548
doing the same now, don't fancy it much though.

I tried so but it does not work for some reason, I guess it's because of some internal design of rendering Tab and TabPanels 🤔

https://codesandbox.io/s/baseweb-nklju?file=/src/example.tsx

[2020-07-28 18:45] #3433 closed

[2020-07-28 18:46] sandgraham commented on #3548
@simPod this approach doesn't work because the `Tab` components are never rendered - they are mapped to internal `Tab` and `TabPanel` components. If you want to create a wrapper for the `Tabs` component it should look something like [this sandbox](https://codesandbox.io/s/baseweb-tabs-motion-custom-g7n52?file=/src/example.tsx). Note, you might want to deep merge overrides passed in with the custom

[2020-07-28 18:49] simPod commented on #3548
Yes, I have found this out as I have been examining rendering logic in https://github.com/uber/baseweb/blob/5f92bdfef0a8461e79f9517623eb4288bf552577/src/tabs-motion/tabs.js#L224

So the recommended solution is to extend Tabs instead of Tab. Will do, thanks!

[2020-07-28 18:59] #3548 closed

[2020-07-29 01:38] airhorns opened #3557 "[Menu] Keyboard events must bubble for menu key navigation to work"
Right now, `<Menu/>` attaches keyboard events to the document in order to implement moving the focused menu item around. This means that if any parent component wants to stop the propagation of the event, it can't, without breaking the Menu functionality. A parent component might want to stop the propagation of the event because there are other grandparents also listening for events.

Imagine a `<

[2020-07-29 11:05] 4eshircat commented on #3545
Thank you for your reply 🙌🏻
Yes, I did it this way, but it doesn't looks like the solution from the box. I mean when you can use a component like a standard select without having to think about how it's built 🤷🏻‍♂️

[2020-07-29 17:10] sandgraham commented on #3545
@4eshircat Glad you found a workaround. If you could, would you mind creating a small sandbox reproducing your initial issue with this library? Might be a small change on our side could make the integration smoother with these types of form libraries.

[2020-07-29 17:51] chasestarr commented on #3557
It's been a bit since working on the feature, but my guess it was just some continuation of a naive proof-of-concept. After some quick prototyping adding a keydown listener to the root list element works after some testing for menu. It's currently broken for the select component though https://github.com/uber/baseweb/pull/3558

[2020-07-30 20:06] konradkalemba commented on #3545
Hey @4eshircat

React Hook Form library has a [`Controller` component](https://react-hook-form.com/api/#Controller) made to deal with custom form components. I used it with success in my projects, here's a snippet:

[code]

Make sure to set `defaultValues` of your select input in `useForm` hook though. Otherwise it won't reset itself when using `reset` method.

If you plan to use it more than once

[2020-07-30 21:08] chasestarr commented on #3459
Here's an example: https://stackblitz.com/edit/react-ghzc1m-equjpx

[2020-08-03 14:57] liegeandlief opened #3572 "TypeScript locale definition does not align with docs"
## Current Behavior

The shape of the locale file described at https://baseweb.design/guides/internationalization/ does not match the TypeScript definition in `baseui/locale.ts`. For instance the docs define many more date picker strings than the TypeScript interface. When passing an object of the shape described in the docs to the `LocaleProvider` I get a type error because it does not match the

[2020-08-04 16:15] chasestarr commented on #3572
Thanks for the report @liegeandlief We primarily use flow types and the typescript definitions are copied from flow so there are bound to be discrepancies. Feel free to submit a PR correcting it!

[2020-08-04 19:35] liegeandlief commented on #3572
@chasestarr I have updated the TypeScript locale types to match the Flow types. See the PR at https://github.com/uber/baseweb/pull/3576

[2020-08-04 20:14] #3572 closed

[2020-08-05 10:24] liegeandlief opened #3584 "inputTextDisabled theme property does not work"
I have noticed that the theme property `inputTextDisabled` does not seem to do anything. This can be replicated at https://baseweb.design/components/input/ by changing the colour of `inputTextDisabled` in the Theme tab and then ticking disabled in the Props tab. You will see that the colour set in the Theme tab does not get applied to the input's text.

## Your Environment

| Tech    | Version |
|

[2020-08-05 13:01] shdq commented on #3470
I looked at the code and it seems intentional to render card title as `<h1>` inside `<section>` according to [whatwg recommendation](https://html.spec.whatwg.org/multipage/sections.html#headings-and-sections) (the last example).
And title style can be changed through `<Card>` overrides:
[code]

[2020-08-05 13:01] #3470 closed

[2020-08-05 22:50] #3455 closed

[2020-08-06 19:11] #3303 closed

[2020-08-06 23:55] chasestarr commented on #3450
@sandgraham I attempted to work on this, but I was not quite sure how a more complex example would look like in yard

[2020-08-07 03:41] rohitb4 commented on #3584
@chasestarr can I look into this?

[2020-08-07 12:57] hhvys opened #3609 "Ability to disable focusLock in Modal"
## Feature description
Currently, FocusLock is applied to modal, making all outside elements non-focusable.
User should be able to choose whether focusLock should be enabled or not.

[2020-08-07 12:58] hhvys commented on #3609
In Popover, there is one prop `focusLock` to control this behaviour.

[2020-08-07 17:06] chasestarr commented on #3214
Sorry for the late reply, but completing this feature would likely require getting a ref to the clear element and checking in the focus handler to not open the calendar if that element is clicked

[2020-08-07 17:08] chasestarr commented on #3199
See [this example](https://baseweb.design/components/table#table-cell-examples) for how to handle horizontal scrolling

[2020-08-07 17:08] #3199 closed

[2020-08-07 17:10] chasestarr commented on #3103
We deprecated the ability to pass dynamic props function to overrides

[2020-08-07 17:10] #3103 closed

[2020-08-07 17:12] chasestarr commented on #3045
This was fixed in a previous release

[2020-08-07 17:12] #3045 closed

[2020-08-07 17:15] chasestarr commented on #3073
I'm going to close this issue since the error only comes up in codesandbox. Let me know if we can get a full app to similarly throw

[2020-08-07 17:15] #3073 closed

[2020-08-07 23:17] chasestarr commented on #2574
Apologies for taking so long to update this. Hopefully the improvements linked above will be more useful

[2020-08-07 23:19] chasestarr commented on #2595
I'm going to close this PR since it's currently possible through overrides

[2020-08-07 23:19] #2595 closed

[2020-08-09 21:52] jonsadka commented on #2872
@gergelyke @chasestarr any further thoughts about this?

Seems odd I'd get an error doing something like:
[code]

[2020-08-10 16:34] chasestarr commented on #2872
I believe it's just because it's left out of the TS props definition here https://github.com/uber/baseweb/blob/master/src/block/index.d.ts#L215 I can put up a diff later today

[2020-08-10 16:35] #3265 closed

[2020-08-10 16:36] #2990 closed

[2020-08-10 16:36] #3449 closed

[2020-08-10 16:36] #2574 closed

[2020-08-10 18:21] #2872 closed

[2020-08-10 20:35] #3361 closed

[2020-08-10 23:30] #3451 closed

[2020-08-10 23:30] #3609 closed

[2020-08-11 00:52] vqrulane opened #3626 "Select doesn't update when new options are provided"
## Current Behavior
The prop `options` in `<Select />` changes, but they aren't rendered. Instead, I see "No results".

## Expected Behavior
The component renders new options.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | 9.92.0 |
| React   | 16.9.0 |
| browser | Latest Firefox DE |

- [ x ] I have searched the [issues](https://github.com/uber/baseweb/issues) of thi

[2020-08-11 00:59] vqrulane commented on #3626
Additional information: it updates on input reset, which is not an option for me.

[2020-08-11 14:04] 4eshircat commented on #3545
Thank you for this very detailed answer!
Everything works like a charm 😌

[2020-08-11 14:04] #3545 closed

[2020-08-11 14:56] 4eshircat commented on #3459
Thank you for you detailed answer with example 🙌🏻

But can you answer why the mount div should be outside the modal?

[2020-08-12 16:54] chasestarr commented on #3626
Can you please share a reproduction example? Try using this as a base: https://stackblitz.com/edit/react-bs5wda?file=src/example.js

[2020-08-13 00:09] tomcwatts commented on #3448
Would the desired behaviour be to simply wrap each button that overflows the container onto the next line? I think from a UI perspective that might not be ideal as usually you would want to do something like stack all buttons vertically or collapse them into a single select dropdown at a certain breakpoint or when they can no longer fit.

[2020-08-13 13:14] airhorns commented on #3557
Looks like #3631 might address this too for anyone following along

[2020-08-14 05:06] mramosvi opened #3638 "Tag component don't allow you to change icon through theme definition"
Issue detected when try to change through theme definitions the icon tag component. Other components allow to change the icon throughout the Theme, like Button or Paginator, but in the tag component, seems like the <svg> icon is not using the Theme in the core library.

You could see this issue in this stackblitz:
https://stackblitz.com/edit/wb6upm--run?file=src/example.js

## Current Behavior
Whe

[2020-08-14 19:45] bwolfe-celartem opened #3639 "eslint-plugin-baseui not updating with baseui publish"
According to docs, the eslint plugin should be auto-published on each new baseUI release.

## Current Behavior

https://www.npmjs.com/package/eslint-plugin-baseui
eslint-plugin-baseui is still on 9.85.2

## Expected Behavior

eslint-plugin-baseui should be on 9.95.0

As near as I can tell, the work around alpha builds in 9.85.3 broke the auto-publish of the eslint plugin.  Tagging @chasestarr and

[2020-08-14 21:08] bwolfe-celartem commented on #3639
Fixed with #3641 , thanks!

[2020-08-14 21:08] #3639 closed

[2020-08-15 12:34] sirshikher opened #3643 "Codesandbox in Readme file"
Description:
Codesandbox link provided in the readme file shows **(node:81) DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead**  and 500 error.
![Screenshot from 2020-08-15 17-57-26](https://user-images.githubusercontent.com/47721408/90312386-b0b83b00-df21-11ea-9ae9-5144ae9e17f1.jpg)

[2020-08-17 18:26] chasestarr commented on #3626
Closing this, but feel free to share a reproduction. If I understand the bug report correctly, I don't think it's an issue. We have lots of known applications that fetch select options

[2020-08-17 18:26] #3626 closed

[2020-08-17 18:50] ajbogh opened #3645 "Feature Request: Update TimezonePicker format"
## Problem

The timezone picker display format is very confusing and out of order. The display follows:

`Country/Location (GMT -xx:yy)`
**Or**
`TimeCode - Country/Location (GMT -xx:yy)`
**Or**
`Etc/GMT+6 (GMT -06:00)`
**Or**
`TimeCode - Timecode (GMT -xx:yy)`

All of these formats are sprinkled together with no ordering besides the offset at the end of the text (shown in the image below).

![Scre

[2020-08-17 18:57] ajbogh opened #3646 "Feature Request: Add Timezone Map similar to Ubuntu's timezone picker"
The timezone picker includes a long list of locations, making it difficult to find the desired timezone. A great feature of various OSes is a timezone map which displays the world separated into timezone regions. Selecting a timezone is as easy as clicking on the map near the desired location.

## Feature description

Create a method of displaying a timezone map to select the timezone. This can be

[2020-08-17 20:26] sandgraham commented on #3645
This seems reasonable. I'll bring this up at our next design sync.

[2020-08-17 20:29] sandgraham commented on #3646
I'll bring it up at our next design sync. That said, I don't think it makes sense to include it in `baseweb` unless this type of input is much more common than I realize. If we were to include it, it would likely need to be a new component for bundling purposes.

[2020-08-17 20:37] joaopaulobdac opened #3647 "Make button's focus outline consistent with its shape"
## Current Behavior

Using a theme with custom `buttonBorderRadius`: **(baseweb is using the `outline` css property here)**

![Peek 2020-08-17 17-27](https://user-images.githubusercontent.com/62244135/90441262-0a01a500-e0af-11ea-991b-5c6176242822.gif)

When I set the button's shape to `pill` it looks right, but it ends up overriding the `buttonBorderRadius` theme property: **(baseweb is now using

[2020-08-17 21:48] jiaoy14 commented on #3557
"Menu keyboard navigation doesn't work if keyboard event are stopPropagation'd anywhere along the chain to the document, which might be necessary to prevent double keyboard navigation behaviours in nested trees"

 @airhorns Could you please help reproduce this example? I try to reproduce it but fail.

[2020-08-18 10:54] vqrulane commented on #3626
It's likely I used the wrong component for the problem I was trying to solve. `<Combobox />` did work for me. Sorry for late response.

[2020-08-18 14:14] airhorns commented on #3557
I too struggled to reproduce this! Figured it out though, here's a reproduction where the top element has a .stopPropagation call in a parent and the bottom element doesn't: https://stackblitz.com/edit/react-hcwvyo?file=src/index.js

The key bit in why this example is broken is that it is using React `17.0.0-rc.0` which I was also using locally when I encountered this issue! And, it super makes se

[2020-08-18 15:46] akre54 opened #3651 "Chinese calendar dates wrong"
Viewing a Datepicker from a Chinese locale displays only the character `星` for the day of week in the CalendarHeader.

## Current Behavior
<img width="456" alt="Screen Shot 2020-08-03 at 5 16 11 PM (1)" src="https://user-images.githubusercontent.com/931368/90534067-87bcc380-e136-11ea-9c31-eac1e9709818.png">

Displayed: 星, 星, 星, 星, 星, 星, 星

The offending function appears to be [`getWeekdayMinInLoca

[2020-08-18 16:36] jiaoy14 commented on #3557
Very appreciate your example and thanks for your blog @airhorns .

Here is another example: https://stackblitz.com/edit/react-hcwvyo-2urmsk?file=src/example.js.

We don't use any `stopPropagation` here. For now if we focus on the container(area outside the `menu`), only father component will react with keyboard behavior . This is because https://github.com/uber/baseweb/blob/e8f95c91498fbbc023a41f2

[2020-08-18 21:48] #3651 closed

[2020-08-18 23:26] chasestarr opened #3659 "[styled] relax prop type when no style object provided"
Instantiating a styletron-component like `styled('div')` is valid (although not very useful) but will type props as exactly `{||}`. This type makes it so the created element will not accept any props. This should be relaxed to `{}`.

https://github.com/uber/baseweb/blob/master/src/styles/styled.js#L38

[2020-08-18 23:33] chasestarr commented on #3659
The code below should pass flow type-check

[code]

[2020-08-19 10:28] stackyism opened #3660 "[Textarea] documentation breaks on changing adjoined knob"
In the Textarea documentation page,
changing the value of adjoined prop breaks and gives the error
`TypeError: Cannot read property 'left' of undefined`
Reproduce [video](https://www.loom.com/share/81078fd4eee4433382c675d5fe5d20a9)

## Current Behavior

## Expected Behavior

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | 9.95.2  |
| React   |    ^16.9.0     |
| browse

[2020-08-19 21:42] stackyism commented on #3322
@chasestarr I apologise as I was busy with my own work.
Is it fine if I pick this up over this weekend ?

Thanks.

[2020-08-20 00:13] sandgraham opened #3664 "tabs $active styling is inconsistent"
This [stackblitz](https://stackblitz.com/edit/react-efalcs-rhmdrf?file=src/example.js) shows an odd behavior where the `$active` styling only appears on mouse-down on one of the inactive tabs.

Worth reproducing outside stackblitz to be sure.

[2020-08-20 01:31] houmark commented on #3557
I can confirm this by testing React 17 RC, that event propagation is broken. Enter on `<Select />` no longer works.

[2020-08-20 02:40] airhorns commented on #3557
@houmark on which baseui version? If it's `master`, #3631 has since landed which means there may be another issue afoot!

[2020-08-20 02:45] houmark commented on #3557
I was on 9.95.2, but I'll try out master to verify if this is fixed with #3631. I'll report back here later.

[2020-08-20 04:36] houmark commented on #3557
Sorry, still unable to get baseui installed for development locally. I've tried cloning and npm linking my project but my project fails to start with the following error:

`Module not found: Can't resolve 'baseui' in '/Folder/username/Folder/project/src'`

The contributing guide is a bit weak on this part, and I'm afraid I don't have more time to try things here. It would really be nice with a bit

[2020-08-20 14:57] refrigeratorstory opened #3667 "[Input, TextArea] defer initial autoFocus and add focus lock"
Fix in issue #2997 needs to be extended further to at least Input and TextArea components.

Reproducible code:
[code]

## Current Behavior
See original issue #2997
(Scrolls to window top)

## Expected Behavior
See original issue #2997
(Should stay in place)

## Your Environment
Base UI v9.95.1
React 16.13.1
Firefox ESR

- [X] I have searched the [issues](https://github.com/uber/baseweb/issues) of

[2020-08-20 16:39] lotust commented on #3664
`$active` styling appears after active tab loses focus, so any mouse event outside of tab anywhere on screen (not just on other inactive tabs) actually triggers styling to render properly

[2020-08-20 17:10] chasestarr commented on #3410
Created this example to reproduce the issue https://stackblitz.com/edit/react-jdp6ag?file=src/index.js

[2020-08-20 17:21] chasestarr opened #3668 "[React RC17] Audit and fix issues after upgrading"
Extension from recent `Menu` event propagation issue: https://github.com/uber/baseweb/issues/3557#issuecomment-675503964

React's upcoming release breaks some event delegation patterns where event listeners are attached to `document`. See more information here: https://reactjs.org/blog/2020/08/10/react-v17-rc.html#changes-to-event-delegation

[2020-08-20 17:27] chasestarr commented on #3557
Thanks for investigating further everyone. I imagine there will be more issues as a result of updating to the react 17 release candidate. I created a new issue to track any related issues because (I believe) this particular bug has been fixed. Testing process would likely include cloning the baseui repo locally, updating to the RC, and running the test suite. Let me know if this issue needs to be

[2020-08-20 17:27] #3557 closed

[2020-08-20 18:45] #3660 closed

[2020-08-20 20:25] cobaltwhite opened #3671 "Access to props (name, id) onChange for Select and DatePicker components"
<Select /> and <DatePicker /> don't offer the option of accessing name, id and other props once onChange event triggers. This is accessible in <Input />  through ({target: {name, value}).

## Feature description
Access to these variable is needed specially when the component are being used in a child container where handle function is passed on from the master container through props to the childr

[2020-08-20 22:06] chasestarr commented on #3671
@cobaltwhite can you please provide an example of what you are looking for?

[2020-08-20 23:10] chasestarr opened #3675 "themedUseStyletron hook is not matched by the rules-of-hooks lint rule"
We have some 'themed' styletron wrappers in baseweb for when developers add items to the theme and want to get that type propagated through to constructing styletron-components. These function names are `themedStyled`, `themedWithStyle`, and `themedUseStyletron`. As described in the title, `themedUseStyletron` is a react hook and must be prefixed with `use` to be matched by the lint rule.

A simpl

[2020-08-20 23:32] cobaltwhite commented on #3671
Sure, I am managing the states of series of baseweb components within a master component including the onChange handlers listed below. These functions are passed on as props to child components where contain baseweb form components such as input, checkbox, select and datepicker. I am trying to capture the name or id from the event in order to update the state at the master level. I can very easily

[2020-08-21 00:05] #3452 closed

[2020-08-23 04:33] Abisar opened #3680 "Wrong spacing of Navigation Bar in RTL"
## Current Behavior
Navigation Bar in RTL mode has the wrong margin and paddings:
- In smaller screens, there is no space between the toggle icon and app name.
- There is no space between profile picture and username.
- Titles in UserNav has the wrong padding.
- Wrong margin on :first-child and :last-child of mainNav items.

![image](https://user-images.githubusercontent.com/18389149/90970639-d8f4

[2020-08-24 14:26] zacharymostowsky opened #3681 "Typescript Toast autoFocus prop missing from index.d.ts"
Hi,

I think the autoFocus prop is missing from the index.d.ts file? After adding it to the ToastProps definiton I was able to successfully use the prop when creating a `<Toast>` element.

[PR Link](https://github.com/uber/baseweb/pull/3682)

Thanks,
Zach

[2020-08-24 17:13] chasestarr commented on #3671
Thank you. The main problem is that `onChange` handler calls may not be associated with specific DOM events like the simpler input and checkbox components. You can always add additional parameters to the callback like below

function MyComponent() {
  return (
    <Datepicker onChange={({date}) => setState({...prevState, 'datepicker-name': date })}
  );
}

[2020-08-24 20:17] #3681 closed

[2020-08-25 10:24] cobaltwhite commented on #3671
Thank you. The issue I am facing is that I cant't get the target and subsequently 'name' from it. I have a master component with multiple children. Baseweb components are used within the children, so in order to handle the change from a master level by passing it through props, I either have to write a single onChange handler which I did for Input and Checkbox, or one for each component in the cas

[2020-08-25 19:42] wael-mohamed opened #3688 "reversed rounded corner on RTL with enhancers"
## Current Behavior

<img width="645" alt="Screen Shot 2020-08-25 at 20 40 41" src="https://user-images.githubusercontent.com/24360200/91219877-40749b00-e713-11ea-9ad2-1524a44049d4.png">

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.95.2  |
| React   |     v^ 16.13.1   |
| browser |   chrome      |

- [x] I have searched the [issues](https://github.com/uber/basew

[2020-08-25 19:53] chasestarr commented on #3688
Thanks for the report @wael-mohamed Can you please share a reproduction case? You can fork this example to get started https://stackblitz.com/edit/react-dckpko?file=src/example.js

[2020-08-25 22:27] sandgraham commented on #3646
Hey @ajbogh - I spoke with design and we aren't planning to support this feature in Base. If you think it is something worth considering further, you and your team's designer can reach out to the design platform team. Feel free to ping me if you need any help with that.

[2020-08-25 22:27] #3646 closed

[2020-08-27 21:43] jirikolarik opened #3702 "Click on opened Select closes and reopens select"
When you click on already opened select, it closes and reopens.

## Current Behavior
This breaks the default behaviour, when double-click is supposed to select a word and tripple-click select the whole input. Also cmd+a doesn't select the content of the input.

That makes the component totally unusable as it breaks the expected behaviour.

It can be seen directly on the website: https://baseweb.de

[2020-08-27 21:58] chasestarr commented on #3702
Thanks for reporting the issue @jirikolarik. We've build the `Select` component to align closer towards the html `select` element. You may want to look into the base web `Combobox` to get good text editing support

[2020-08-28 07:10] jirikolarik commented on #3702
I understand, would it worth to consider similar behavior to react-select https://react-select.com/home in this use case?

My initial problen how I come to this inclusion is that after selecting a value (or reopening) the cursor is at the end, which gives user impression of deleting the text before typing.

What do you think?

[2020-08-28 07:12] jirikolarik commented on #3702
Happy to work on it

[2020-08-28 18:52] chasestarr commented on #3702
Are you suggesting that clicks on the input field should not cause the listbox to close? The react-select link you shared seems to have similar behavior to the base web select. I noticed that react-select will place the cursor at the beginning of the text input, is that what you would prefer?

[2020-08-28 21:00] gergelyke opened #3706 "Visual theme editor"
It would be awesome to have a real-time, visual theme editor for the doc site, so folks can customize themes more easily.

[2020-08-28 21:21] chasestarr opened #3707 "[Accordion] Icon shrinks when texts overflows to multiple lines"
example: https://stackblitz.com/edit/react-d3zk7x?file=src/example.js

<img width="593" alt="Screen Shot 2020-08-28 at 2 20 34 PM" src="https://user-images.githubusercontent.com/5317799/91616003-a80c2f80-e939-11ea-9bc0-017f78589783.png">

[2020-08-28 21:22] sandgraham opened #3708 "Accordion toggle icon shrinks"
Toggle icon shrinks when accordion title has multiple lines.

![image](https://user-images.githubusercontent.com/1939257/91616105-ea357100-e939-11ea-9c1e-1b02aab1e720.png)

[2020-08-28 23:52] sandgraham commented on #3708
Duplicate of #3707.

[2020-08-28 23:52] #3708 closed

[2020-08-29 01:28] houmark commented on #3557
I did a casual manual test of `Select`'s and our entire web app in React 17-RC1 and the `Select` problem seems to be fixed. Until now I have not found any other issues with Baseweb in React 17.

[2020-08-29 01:28] houmark commented on #3668
Just posting this here to make sure it's not missed:

I did a casual manual test of `Select`'s and our entire web app in React 17-RC1 and the `Select` problem seems to be fixed. Until now I have not found any other issues with Baseweb in React 17.

[2020-08-29 13:34] airhorns commented on #3557
@houmark there's also this issue with Baseweb checkboxes https://github.com/uber/baseweb/issues/3476 . It's actually React bug, not a Baseweb bug, but I'm not sure if it's in 17-RC1 or just the experimental releases, and it only affects Concurrent mode if you're using that.

[2020-08-29 20:32] gergelyke commented on #3706
Feel free to assign this to me, I'd be happy to take a stab at it

[2020-08-31 20:28] chasestarr commented on #3668
There may be a checkbox issue described here: https://github.com/uber/baseweb/issues/3557#issuecomment-683290811

[2020-08-31 22:04] houmark opened #3713 "PhoneInput EndEnhancer not styleable in most recent Baseweb"
## Current Behavior

In earlier Baseweb versions it was possible to add an EndEnhancer to `PhoneInput`, though it seems this was either not documented or part of the "playground" for that component.

Nonetheless it worked and we have some buttons on the right of some PhoneInputs.

In the most recent version it no longer seems possible to style the EndEnhancer in any way using overrides. For exampl

[2020-08-31 22:20] houmark commented on #3713
After testing a bit more I can confirm that this changed between 9.97.0 and 9.98.0, most likely in commit ee54ebf8ca30cc63bbe8fc21e9b1120d9321802a.

For some fields, I've been able to apply the following override with success, but it doesn't work for `PhoneInput`:

[code]

Also note that a padding was added, which makes buttons and icons with backgrounds not good looking visually as the input adds

[2020-08-31 23:46] houmark commented on #3713
FWIW, I was able to override the EndEnhancer using a nested override on the `PhoneInput`:

[code]

[2020-09-01 00:05] jiaoy14 commented on #3713
Yeah, thanks for pointing this out. We are currently making design changes to several components. As you can see, we make some spacing and color change.

We are sorry for the trouble for those who applied the previous design. Nested override is a good way for these.

[2020-09-01 08:19] jirikolarik commented on #3702
I'm suggesting to place the cursor in the beginning, to give user the feeling he can just start typing. When the cursor is at the end it feels like you need to remove whatever is ahead first.

But you have broader user base, nobody else had an issue with this behaviour?

[2020-09-01 16:35] chasestarr commented on #3702
This issue has not been raised in the past, but placing the cursor at the beginning seems like a fine way to better indicate behavior

[2020-09-02 08:03] HachimDev opened #3722 "Wrong KIND (colors) for Secondary button"
**Current behavior :**

secondary button is similar to primary button.
Line 329 and 330 in _/src/button/styled-components.js_
bug in :
[code]

**Your Environment**
Base UI v9.98.0
React 16.13.1
Google Chrome

**Expected Behavior**
[code]

[2020-09-02 16:28] chasestarr commented on #3722
Can you please share a reproduction case? Use this to get started https://stackblitz.com/edit/react-x8syzn?file=src/example.js

[2020-09-03 17:24] arraydude opened #3728 "Tooltip component fails when a functional component is passed as child"
When I do this:
[code]

where Link is:
[code]

and Tooltip is:
[code]

I'm getting this:

[code]

## Current Behavior

It fails and the tooltip won't show up

## Expected Behavior

The tooltip should work.
## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.98.0 |
| React   |     16.13.1   |
| browser |      all   |

- [x] I have searched the [issues](https://github.com

[2020-09-03 17:41] wael-mohamed commented on #3688
please check this [link](https://stackblitz.com/edit/react-dckpko-27onsl?file=src/index.js)

[2020-09-03 18:25] sandgraham commented on #3688
@wael-mohamed - We've had a recent design change to input enhancers. Check out [this fork](https://stackblitz.com/edit/react-dckpko-b2n58o?file=src%2Fexample.js) of your example using the latest baseweb.

As you can see from the stackblitz link, updating to the latest version should sort out RTL this issue for you. If you find other RTL issues though please let us know!

[2020-09-03 18:25] #3688 closed

[2020-09-03 18:41] sandgraham commented on #3728
You will need to wrap the functional component in a [`React.forwardRef`](https://reactjs.org/docs/forwarding-refs.html) - otherwise we don't know where to attach the `ref`.

[code]

[2020-09-03 18:41] #3728 closed

[2020-09-03 18:42] wael-mohamed commented on #3688
It works fine, thanks for your patience

[2020-09-04 17:05] joaopaulobdac opened #3732 "Type mismatch between shorthand and longhand style overrides"
I'm trying to create little helper functions to make writing longhand properties easier/shorter. Example context:

[code]

But it seems the `style` override expects a different type than `StyleObject`:

[code]

I can inspect the expected type from `style`:

[code]

It wants a `StyleObject`.

But when using the longhand versions:

[code]

It seems like now `style` wants `StandardLonghandProperties`

[2020-09-04 23:36] #3643 closed

[2020-09-09 14:32] simPod opened #3740 "[Textarea] TS type def does not include clearOnEscape prop"
## Current Behavior

Docs states there's `clearOnEscape` prop on `Textarea`
[code]

but there is none. Should it be there?

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.98.0  |

- [x] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe that this is not a duplicate.

[2020-09-09 21:43] dheroying opened #3741 "How to disable mouse hover event in emojin and start rating?"
## Feature description
I need to disable the emoji and start rating in some cases.
So I removed the onclick event and only set the value as static.
But when I hover the mouse on emoji and starts, still I can see that the color of emojis are changing.
So how to make emojis and start as read only?

[2020-09-09 21:46] tajo commented on #3528
Fixing this in react-range and soon here.

[2020-09-09 23:49] chasestarr commented on #3741
We haven't had a need to do this in our projects but would be happy to accept a pull request. I would start by looking here https://github.com/uber/baseweb/tree/master/src/rating

[2020-09-09 23:51] chasestarr commented on #3740
Hi @simPod try setting the 'clearable' prop to true

[2020-09-10 06:00] simPod commented on #3740
That one works, my issue here is with `clearOnEscape` whether it actually should exists or not be in docs? Can send a PR eventually to remove it.

[2020-09-10 16:53] chasestarr commented on #3740
Right, `clearOnEscape` does not have an effect unless `clearable` is true

[2020-09-10 17:29] simPod commented on #3740
But the prop `clearOnEscape` does not exists neither on `TextareaProps` or `BaseInputProps`. Is that a bug?

[2020-09-10 18:44] chasestarr commented on #3740
Here is the type def of `BaseInputProps` https://github.com/uber/baseweb/blob/master/src/input/types.js#L128

[2020-09-10 20:20] #3647 closed

[2020-09-10 23:34] bwolfe-celartem opened #3746 "Menu/StatefulMenu index.d.ts type mismatch"
The TS types for Menu are out of sync from the Flow types.

## Current Behavior

`overrides` is missing the `OptgroupHeader` option.

## Expected Behavior

`overrides` should contain `OptgroupHeader`

## Your Environment

Issue goes back to #2458, adding option groups to menus.

- [X] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe that this is n

[2020-09-11 08:41] simPod commented on #3740
It is somehow not being propagated into the distribution. I'm on version 9.99.0 but in node_modules/baseui/input/index.d.ts there's this definition

[code]

It's very different from the master. How is so?

[2020-09-11 16:14] chasestarr commented on #3740
Oh I linked the flow type file, it looks like it's missing from the ts types. We don't use ts at uber so we're not able to proactively catch issues there. Please open up a PR if you'd like to add it. I will update this issue title to reflect that task

[2020-09-11 16:15] #3746 closed

[2020-09-11 17:47] chasestarr opened #3750 "[DataTable] Add props to initially sort stateful table"
Similar to how `initialFilters` are implemented: https://github.com/uber/baseweb/blob/master/src/data-table/types.js#L82

[2020-09-12 01:42] rohitb4 commented on #3675
@chasestarr can I work on this?

[2020-09-12 15:42] connor4312 opened #3755 "[DatePicker] Triggers `findDOMNode` error in strict mode"
## Current Behavior

1. Have any date picker in React 16.13.1

1. This warning is shown:

[code]

## Expected Behavior

No deprecation warning is shown :)

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.99.0  |
| React   |  16.13.1 |

- [x] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe that this is not a duplica

[2020-09-13 07:59] RisingGeek commented on #3659
I would like to work on this issue. Please assign this to me.

[2020-09-14 13:39] airhorns commented on #3476
For any intrepid travellers who come along trying to solve this same issue, the React core team suggested `ReactDOM.flushSync(() => { ... })` wrappers around things that set state in focus change handlers. I hacked those into a fork of baseui and it fixed this issue for experimental React versions.

[2020-09-14 21:30] #3750 closed

[2020-09-15 17:32] #3659 closed

[2020-09-15 19:30] RisingGeek commented on #3450
What enhancement is to be added? I can see that filtering is already implemented here: [https://baseweb.design/components/combobox/#filtered-options](url)

[2020-09-15 20:20] #3740 closed

[2020-09-15 23:15] sandgraham commented on #3450
I think it is fine to close this. The initial intention was to update the yard example to better showcase the typical filtering use case for the combobox.

[2020-09-15 23:15] #3450 closed

[2020-09-16 19:50] JerHowden opened #3768 "Can't Override Tag Styles in Multi Select Component"
## Current Behavior

Tag in a Select with the `multi` prop does not take override styling on the website or my local environment.

<img width="584" alt="Screen Shot 2020-09-16 at 2 44 41 PM" src="https://user-images.githubusercontent.com/18561982/93384993-2c601d00-f82b-11ea-8a3a-866b8eb5da77.png">

## Expected Behavior

The Tag should be outlined and have the background color of Warning200

## You

[2020-09-16 23:05] ksnyder9801 commented on #3410
Related example where even more attributes are added by TreeView (and then passed through Icon, etc.), particularly when the icons are overridden in the theme by a non-`styled` component:
https://stackblitz.com/edit/react-mx9asp?file=src/index.js

[2020-09-17 01:52] PHILLIPS71 opened #3771 "StyledLink not exporting StyletronComponent"
When using StyledLink component it does not export a StyletronComponent, it exports a React Function Component. Accroding to the docs https://baseweb.design/guides/theming/#extension

## Current Behavior

The results in Typescript complaining about no overload matches this call when using StyledLink in withStyled

[code]

## Expected Behavior

Typescript should not complain about the types being u

[2020-09-17 06:01] joaopaulobdac commented on #3647
Hey @sandgraham, thank you! Do you think it would be feasible to completely replace `outline` in general? I have also encountered this issue with rounded checkboxes now, and I imagine I will again with other focused components as well

[2020-09-17 18:38] sandgraham commented on #3647
@joaopaulobdac - I think it makes sense to do this for anything that can be rounded via the theme at the very least. I'll make a new issue to track that effort.

[2020-09-17 18:40] sandgraham opened #3772 "Focus outlines should respect element border radius"
Initially documented for button corners in #3647, we should do a sweep to make sure every component's focused states respect possible rounded corners.

[2020-09-17 19:37] #3680 closed

[2020-09-17 21:44] #3771 closed

[2020-09-17 22:50] sandgraham opened #3774 "Add overrides to Table component"
Currently you need to rebuild the Table yourself using styled components to modify anything.

[2020-09-18 06:06] png-prakash opened #3775 "Input type - number - not showing increment and decrement button in responsive view"
Hi

In chrome, not showing increment and decrement button not showing in input field for number format in mobile view. In firefox it showing properly

[code]

https://react-m5jiet.stackblitz.io/

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.99.0  |
| React   |   16.12.0      |
| browser |     Chrome    |

[2020-09-18 09:59] asherccohen commented on #1370
Is there a way to extend mediaQueries? there are way more screen sizes than the 3 values set by BaseUI. I tried with Theme Overrides and I can see the added value to my theme object but then somehow at runtime this is not used in my style.

[2020-09-18 16:47] chasestarr commented on #3775
This looks like appropriate behavior for chrome users. See a default number input on mdn here https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number

[2020-09-18 16:47] #3775 closed

[2020-09-18 17:39] sandgraham commented on #1370
This section of the theming guide focuses on extending the default theme with new properties: https://baseweb.design/guides/theming/#customizing-the-theme-type

[2020-09-19 06:53] asherccohen commented on #1370
Ok but this means my custom mediaQueries will not be part of the existing ones.

To read them from the theme I would have to do:
`theme.customMediaQuery.xxLarge`

instead of:

`theme.mediaQuery.xxLarge`

And on top of that I would have to create my own MediaQuery type instead of using the one from baseUi.

Any suggestion?

[2020-09-20 14:26] ashish-kale commented on #3774
I can pick this up

[2020-09-21 04:13] austingreco opened #3777 "react-router StyledLink"
It would be nice to be able to use the baseui style with a react-router `<Link>` element. Could we provide the style of StyledLink as an exportable function, or maybe export a wrapper which would allow you to pass in a `Link` component to be styled instead of `'a'`.

[2020-09-21 05:45] sandgraham commented on #1370
@asherccohen Right now the only way to do something like this would be to create your own theme type that overrides the `mediaQuery` part of our default themes. [Here](https://flow.org/try/#0PTAEE0HsFdQYwIYDtQEsC2AHSAnALqHgBYCmAziaAGY6TqgBGCF0qAdBwFCdXRJx5UkFHBwkEeEgBVS6EgBMAyngCeAGwUAeAMLQyeOjJJypAPgAUASlABvTqFBi80HCiugAvKdsBfANygINQIANYknD48fAJCImIS0rIKAOqoxMrqJDp6BuhGJhbWdg5OLm7WXr4BQVSh4ZG8-IL

[2020-09-21 06:04] sandgraham commented on #3777
You can do this:
[code]
Or check out [this example](https://stackblitz.com/edit/react-iungpy?file=src%2Fexample.js).

[2020-09-21 06:04] #3777 closed

[2020-09-21 09:37] asherccohen commented on #1370
Great, that helped. Your example used Flow.
This is the TypeScript version:

[code]

It would be nice to have the real Breakpoints and MediaQuery types to avoid having to create them here.

[2020-09-22 03:56] adenta commented on #3777
This tactic does not play nicely with typescript defs

[2020-09-22 05:23] hhvys commented on #3702
@chasestarr @jirikolarik  I faced a similar issue with select. Please checkout [this example](https://stackblitz.com/run?file=src/example.js).

When the outer element is focusable(tab-index applied) select closes & reopens by itself. But if there isn't any parent focusable parent of the select, select just closes on clicking again.

Not sure if it's an issue in Popover.

![ezgif com-video-to-gif](

[2020-09-22 17:49] sandgraham commented on #1370
@asherccohen Ah okay, they are exported in Flow, but not Typescript. Opened #3779.

[2020-09-22 17:51] sandgraham commented on #3777
@adenta - Since we use Flow internally we don't have coverage for a TS version of this. If you think we need to fix something on our end could you open a new issue for the errors you're seeing in TS?

[2020-09-23 09:35] DiegoGrandeAlagon opened #3781 "ContextMenu component"
## ContextMenu component
I would like to create the contextMenu component based on the Popover. Does the library have any properties or components for that?
Thanks in advance

[2020-09-23 16:26] chasestarr commented on #3702
Thanks for reporting @hhvys Can you double check the example link? It doesn't seem to work for me

[2020-09-23 16:27] chasestarr commented on #3781
Hi @DiegoGrandeAlagon Can you please describe what you mean by a context menu? You can use baseui's `Menu` component inside of a `Popover` to do what I assume you're looking for

[2020-09-23 16:37] DiegoGrandeAlagon commented on #3781
Yes, that's the idea. My problem is that I need to open the Popover with the right-click event. A possible solution is to use the stateless component but I want to keep the rest of the properties (e.g. onClickOutside()). Any idea?

[2020-09-23 17:09] hhvys commented on #3702
@chasestarr Please check now. I've updated the link.

[2020-09-23 18:19] chasestarr commented on #3781
Here's how I would do it https://stackblitz.com/edit/react-3zoxj8?file=src/example.js

[2020-09-24 00:13] leyanlo opened #3784 "Invalid property value"
There’s an invalid property value in the Link styled component:
[code]
https://github.com/uber/baseweb/blob/master/src/link/styled-components.js#L41

<img width="1390" alt="Screen Shot 2020-09-23 at 5 11 27 PM" src="https://user-images.githubusercontent.com/1285326/94086497-0228d500-fdc0-11ea-9f68-f7f28bfca07b.png">

Not sure what this was supposed to be, but right now this does nothing.

[2020-09-24 10:38] DiegoGrandeAlagon commented on #3781
Great solution!!!

[2020-09-24 10:38] #3781 closed

[2020-09-24 14:12] RisingGeek opened #3785 "[DatePicker] triggers Invalid DOM property `readonly`"
DatePicker component gives the following warning - Invalid DOM property `readonly`. Did you mean `readOnly`?

## Current Behavior
Warning for `readonly` DOM property

## Expected Behavior
Warning should not be there

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | 9.101.0 |
| React   | 16.13.1 |
| browser | Chrome 85.0.4183.121 |

- [x] I have searched the [issues](htt

[2020-09-24 19:32] chasestarr commented on #3785
Can you please share a reproducing example? Use this to get started https://stackblitz.com/edit/react-gmsb66?file=src/example.js

[2020-09-24 20:02] RisingGeek commented on #3785
I am not getting the warning in Stackblitz. But, when I run the project locally and open datepicker component, I get the warning

[2020-09-25 16:30] #3784 closed

[2020-09-26 05:22] RisingGeek commented on #3675
Are you working on this?

[2020-09-26 20:29] janjaromirhorak opened #3789 "[DatePicker] displays wrong date when formatted as d.M.yyyy"
## Current Behavior
When a `formatString` attribue is set to `d.M.yyyy` and no `mask` attribute is provided, the date `2020/09/25` is displayed as `2.5.9202` instead of `25.9.2020`. When the `mask` attribute is explicitly set to `null`, the date is displayed correctly.

## Expected Behavior
The date should be displayed as `25.9.2020` when no `mask` attribute is provided.

## Your Environment
Tech

[2020-09-27 02:58] rohitb4 commented on #3675
@RisingGeek I've not started working on it yet, you can work on it.

[2020-09-28 11:30] mckoon opened #3790 "Input: Typescript Type Missing new 'maxLength' prop"
#2990 added a new 'maxLength' prop to the Input component.

The 'maxLength' prop is missing from the TypeScript definitions, preventing it from being used in TypeScript projects:
https://github.com/uber/baseweb/blob/master/src/input/index.d.ts#L37

## Current Behavior
TypeScript builds fail if 'maxLength' is used on an 'Input'.

[code]

## Expected Behavior
TypeScript builds work.

## Your Environ

[2020-09-29 14:13] fabianlee1211 opened #3792 "Feature: Modular and less opinionated usage"
## Feature description
Are there any plans on letting us install components individually in the future like what other UI libraries do, for example MaterialUI and ChakraUI? And also any possibility to not rely on `styletron` and overrides, and simply let us implement any styling system we want?

It will be great to be able plug and play some incredible components like DatePicker / Timezone etc. wi

[2020-09-29 15:16] MihirGH commented on #3790
I'd like to take up this issue. I'll raise the PR shortly or will ask for help if stuck.

[2020-09-29 16:56] chasestarr commented on #3792
Hi @fabianlee1211. If I understand correctly, you can replace any sub-component through overrides as [described here](https://baseweb.design/guides/understanding-overrides/#override-the-entire-subcomponent). With that, I think whatever styling option would work fine.

There's no plan to create some styling abstraction to plugin other options. Besides personal preference, are there technical issues

[2020-09-29 18:48] #3790 closed

[2020-09-30 16:53] chasestarr commented on #3768
This is available as a nested override. Example here https://stackblitz.com/edit/react-sud3pn?file=src/example.js

We're looking into how to best document when this is the case. Thank you for opening the issue

[2020-09-30 16:53] #3768 closed

[2020-10-01 17:06] Deliaz opened #3799 "[DataTable] Change type for columns title"
Even though it seems to work correctly:
<img width="263" alt="Screenshot 2020-10-01 at 20 03 13" src="https://user-images.githubusercontent.com/4865430/94840505-2c623e80-0421-11eb-8704-46c571a01e81.png">

It is still not supported by the `title` type:
https://github.com/uber/baseweb/blob/e87a9b59cf637a82f8f2e99ffc71f601a46ff6d9/src/data-table/types.js#L30

What do you think about the idea to chang

[2020-10-02 09:04] MihirGH commented on #3789
From the code, I can see that, if the `mask` from the props to DatePicker is non-null (undefined also works) then the `mask` that gets passed to the react-input-mask is computed inside DatePicker via replacing all the letters by 9.

Otherwise if it is null, then the empty string is passed as the mask.

Should we do the same if the mask from the props is undefined, i.e. sending empty string as the

[2020-10-02 09:07] MihirGH commented on #3789
CC: @gergelyke for the visibility

[2020-10-02 15:23] konradkalemba opened #3806 "Documentation sites for few previous versions aren't working"
## Current Behavior

The following documentation sites for previous Base Web versions aren't working.

1. https://v9-101-0.baseweb.design/
2. https://v9-100-0.baseweb.design/
3. https://v9-99-0.baseweb.design/
4. https://v9-98-0.baseweb.design/
5. https://v9-96-0.baseweb.design/

<details>
  <summary>Chrome error screenshot</summary>

  ![image](https://user-images.githubusercontent.com/8682104/94

[2020-10-04 10:40] konradkalemba commented on #3755
Base Web makes use of external lib to provide masked input functionality -- to be more specific [this one](https://github.com/sanniassin/react-input-mask). And it's the source of the bug. There is an open issue for this: https://github.com/sanniassin/react-input-mask/issues/198 However the lib seems to be abandoned ;/

[2020-10-04 12:26] maulik1729 commented on #3707
@tajo @chasestarr @sandgraham please review this change

[2020-10-05 16:40] colinnielsen opened #3808 "Fix Broken Slack Invite Link"
https://baseweb.design/getting-started/learn/ has a slack invite link that is now expired.

## Current Behavior
When the Slack link is clicked and the user is redirected, slack returns the following error:
"This link is no longer active"
![image](https://user-images.githubusercontent.com/33375223/95107096-a848d900-06f6-11eb-92b6-064a82d3465d.png)

## Expected Behavior

I should be invited to the S

[2020-10-05 16:48] #3307 closed

[2020-10-05 19:16] chasestarr commented on #3806
Thanks for reporting. New deployments should be fixed now and I've published these missing versions.

[2020-10-05 19:16] #3806 closed

[2020-10-05 19:17] #3808 closed

[2020-10-07 06:05] wamburu opened #3811 "Slider error onChange: Cannot read property 'getBoundingClientRect'"
## Current Behavior

Slider throws
`Error in react-range@1.8.0/lib/utils.js Cannot read property 'getBoundingClientRect' of null` when trying to change value.

Repo: https://stackblitz.com/edit/react-y8yshw

This seems to be an issue with [`react-range >= v1.7.0` ]https://github.com/tajo/react-range/blob/a8d5a9d9562aa742995581c6e64b4f31a036fc72/src/utils.ts#L434) or maybe am just missing something

[2020-10-07 11:49] matigda opened #3812 "AppNavBar hides on some resolutions when there are more than 3 breakpoints"
Hi there,
first of all I want to say that you guys made huge job and I really appreciate it. I've been using baseweb for a while now and performance + customization + amount of components is really great! Nevertheless here is something that I think is not doing as it should be.

https://stackblitz.com/edit/react-udm2n3?file=src/index.js

## Current Behavior

Change size of wireframe with UI in giv

[2020-10-07 22:44] chasestarr commented on #3812
Thanks for the feedback @matigda. I think this is a good feature for the component. What do you think the api would look like?

[2020-10-07 22:51] chasestarr commented on #3811
I tested this a bit and it's only reproducible in stackblitz. Is it causing you issues in your application?

[2020-10-07 22:54] chasestarr opened #3814 "[Snackbar] Feature test for ResizeObserver"
When unit testing the snackbar component with something like react-testing-library, you currently need to mock `ResizeObserver` because it's not available in jsdom. This can be avoided by testing if the class exists on window before calling it. Below is an example of how to mock it out in the meantime.

[code]

[2020-10-07 23:15] #3362 closed

[2020-10-07 23:18] chasestarr commented on #3799
We use the title to populate the filter dropdown options ([src](https://github.com/uber/baseweb/blob/master/src/data-table/filter-menu.js#L190)). How do you suggest handling that when the title is a node?

[2020-10-08 03:58] wamburu commented on #3811
Yes. Just redid it in a new react-app and it throws the error in the dev tools console.
Here is a repo to reproduce it locally https://github.com/wamburu/baseui-slider

[2020-10-08 10:22] matigda commented on #3812
Well it depends whether allowing responsive values in `overrides` is doable :) If so then I think something like that would be acceptable:

[code]

Also keep in mind that this API is backward compatible and follows your current approach.

But if it is something that is out of reach for a long time then maybe something like prop `mobileViewSwitchBreakpoint : string | number` where string is just pl

[2020-10-08 16:44] chasestarr opened #3818 "[Select] explicitly flow typed options causes error"
Given this example:

[code]

Flow raises the error below:

[code]

`_optgroup` and other properties on the `OptionT` type are optional and should operate fine without it. Expected behavior would be that the example at the top passes flow check

[2020-10-08 16:47] chasestarr commented on #3811
Thank you for creating that repro case

[2020-10-08 17:51] Deliaz commented on #3799
Thanks for sharing this detail. It is a good question then.
I do not see any automated options, but to add a new property to the column, to separate the title and its filter option.

[2020-10-08 18:40] #2980 closed

[2020-10-08 19:01] sandgraham opened #3820 "[Progress Steps] Design update issues"
See comment here: https://github.com/uber/baseweb/pull/3703#issuecomment-698003566

- Need to fix dark mode node backgrounds
- Margin between nodes seems a bit large

[2020-10-09 09:12] akshatnitd commented on #3820
@sandgraham Can I work on it?

[2020-10-09 21:04] #3707 closed

[2020-10-12 18:37] joaopaulobdac opened #3823 "[DatePicker] onClose is not called when a range is picked"
## Current Behavior

[StackBlitz link that reproduces the issue](https://stackblitz.com/edit/react-egsqk7?file=src/example.js)

When a range is picked, the calendar closes but `onClose` is not called.
But if you don't pick a range and instead click outside of the calendar, `onClose` gets called twice.

## Expected Behavior

`onClose` should be called every time the calendar closes, and it should n

[2020-10-12 20:28] sandgraham commented on #3820
@akshatnitd - Just assigned it to you -- thanks!

[2020-10-14 11:53] chimp1nski opened #3824 "Button round styling wrongfully uses 50% border radius"
As far as I can see, the `<Button shape="round" />` styling isn't implemented correctly.
Instead of having rounded corners, the buttons is rendered in an ellipse.

## Current Behavior

`<Button shape="round" />` uses `border-radius: 50%` in order to round it's corners.
This results in the button rendering as an ellipse.

![image](https://user-images.githubusercontent.com/34653237/95985122-7cc79c00

[2020-10-14 14:23] jmorton-wescef commented on #3039
I would like to vote for this feature also. Very useful I think.

[2020-10-14 14:25] jmorton-wescef commented on #3039
In the meantime if you have any pointers on how this might be implemented in the grid-table those would be very much appreciated. Thanks.

[2020-10-14 17:12] chasestarr commented on #3824
Round is meant to be used with single icons. See [this example](https://baseweb.design/components/button#shapes) for different available shapes. There's a pill shape as well if you need horizontal buttons with rounded corners

[2020-10-14 17:12] #3824 closed

[2020-10-14 19:22] chimp1nski commented on #3824
@chasestarr Hm ... so then "round" and "circle" are kind of redundant. As far as I can see from the docs and implementation "circle" is what you are describing while round is meant as "rounded" button. At least this is how I always implement it in my component libraries.

Thanks for your feedback and time though.
Consider reopening my PR if round is actually what I am thinking it is.

[2020-10-15 06:42] zebralight opened #3827 "Select does not respond to clicks when it is placed as a child of Radio component"
https://codesandbox.io/s/practical-sun-njcvr?file=/src/index.js
## Current Behavior
clicking on select does not yield a response when a child of Radio component.  A vanilla select element does respond as does the Input element as shown in the linked example.

## Expected Behavior
clicking on select should bring up options menu

## Your Environment
macos catalina

| Tech    | Version |
| ------- |

[2020-10-15 14:14] enes-get-local opened #3828 "How to access dropdown in PhoneInput component"
How to access dropdown events in PhoneInput component ? For example I want to prevent dropdown opening in automatic form filling.
![image](https://user-images.githubusercontent.com/70728456/96141567-d05fe580-0f09-11eb-86e9-23bbc8045639.png)

i can not see any way of access this dropdown

[2020-10-15 17:29] sandgraham commented on #3828
Can you share a reproduction of this behavior using StackBlitz? You can fork [this sandbox](https://stackblitz.com/edit/react-xtufax?file=src/example.js).

[2020-10-15 18:02] sandgraham commented on #3824
@chimp1nski - `circle` also locks in the height/width to have a 1:1 aspect ratio. This was added after `round`, which was initially only meant to be used with single icons. I'm not sure what your use case is but `pill` is good for wider content that you want to have rounded corners, and `circle` is good whenever you want a perfect circle (good for 1:1 aspect ratio content).

But if you have a new

[2020-10-15 18:48] chimp1nski commented on #3824
@sandgraham Hi and thanks again for the reply and clarification. The scenario is fairly simple. Rounded corners (not pills just a ~0.25em radius) are widely used across various designs. Looking at the GitHub iOS App right now and it's actually all I can see 😅

I couldn't find any way so far to easily add this to baseui without custom css. That's why I thougt the rounded shape is made for that.

If

[2020-10-15 18:58] sandgraham commented on #3824
@chimp1nski - ah I think I see what you need. So we do have [some properties on the theme](https://github.com/uber/baseweb/blob/master/src/themes/shared/borders.js#L50) that allow you to configure border radii across the system. When you create your theme you can do something like this:
[code]

I think that'll help. If you need even more control you might have to create an intermediary component t

[2020-10-15 19:02] chimp1nski commented on #3824
Aah wow thanks for the hint. I am still wrapping my head around baseui. Really like it so far. Well I guess this solves my usecase. Thanks very much for taking your time!! Really appreciate it.

[2020-10-16 09:31] enes-get-local commented on #3828
https://stackblitz.com/edit/react-xtufax-jbel29?file=src/example.js

[2020-10-16 13:03] enes-get-local commented on #3828
https://app.slack.com/client/TCGFTAJMS/CCGJPJA1H/thread/CCGJPJA1H-1602770813.051700

There is thrad that we discuss

[2020-10-16 17:15] chasestarr commented on #3827
Hi @zebralight I've personally never seen this pattern of nesting a select within a radio element. So we're probably not going to address this ourselves but feel free to submit a PR to fix

[2020-10-17 01:34] andersonms1 opened #3835 "Components overwriting the device width"
Some components are overwriting the device with. And possible not accepting className object configurations.

![](https://i.giphy.com/media/dhVA3hzgacTUNvMQz8/giphy.gif)

Running in smarthphones emulated by chrome dev tools.

Reproduced: https://stackblitz.com/edit/react-fyhjk8?file=src%2FApp.js

## Current Behavior

Component is trespassing device width.

## Expected Behavior

Component don`t gro

[2020-10-19 10:13] simPod opened #3837 "[Snackbar] Allow to modify zindex"
## Feature description

Currently these CSS options are applied to snackbar cointainer

[code]

However, it is not possible to specify zIndex. In my layout there are several components like navbar with z-index set and those are positioned above snackbar now.

[2020-10-19 11:19] simPod commented on #3837
I guess this does the trick

`<SnackbarProvider overrides={{ PlacementContainer: { style: { zIndex: 5000 } } }}>`

[2020-10-19 11:19] #3837 closed

[2020-10-19 11:26] simPod opened #3838 "[SnackBar] Allow to change default duration"
## Feature description

Currently the default duration of SnackBar is `DURATION.short`. I'd like to change it to `DURATION.medium` globally.

[2020-10-19 17:40] chasestarr commented on #3835
Hi try this https://stackblitz.com/edit/react-rqupua?file=src/example.js Learn more about overrides here: https://baseweb.design/guides/understanding-overrides/

[2020-10-19 17:40] #3835 closed

[2020-10-19 18:51] #3811 closed

[2020-10-19 19:31] wamburu commented on #3811
Thanks for the fix.

[2020-10-20 07:47] taksuparth opened #3840 "Interactive elements inside of a StatefulTooltip do not receive focus"
## Current Behavior

Inside Modal, interactive elements wrapped inside StatefulTooltip is not getting focused while navigating via tab.
[Issue Demo](https://stackblitz.com/edit/react-hykhyi?file=package.json)

## Expected Behavior

Inside modal, every interactive element should get focused when navigating with tab.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.10

[2020-10-20 12:18] ariannargesi opened #3843 "refresh icon"
## hey, I was exploring the BaseWeb icons and I notice that there is no refresh icon available!!!

[2020-10-20 18:50] chasestarr commented on #3843
We only publish icons that are required for our components. There are lots of icon packages available on npm. Try making a search for those

[2020-10-20 18:50] #3843 closed

[2020-10-20 19:14] chasestarr opened #3845 "[styles] expand shorthand css properties"
There are many cases in the styletron code where there are shorthand properties used. This is a problem when using the styletron-atomic engine where class order is not guaranteed. Searching the codebase for `padding:` for example should return no results

[2020-10-21 10:15] alisahindev opened #3846 "US Country code input is asked for every time even when it is already selected initially"
US Country code input is asked for every time even when it is already selected initially
https://stackblitz.com/edit/react-xtufax-jbel29?file=src/example.js

## Current Behavior
The US isoCode comes already selected when the component is created. When the user enters a phone number based on a usa isoCode, then there is no need to open the usa dropdown option again

## Expected Behavior
If the valu

[2020-10-21 15:28] kahwee commented on #3845
Can we have a lint rule for this? A lot of our codebases have `padding`, `background`, `border` and `margin` etc.

[2020-10-21 18:35] chasestarr commented on #3846
The form autocomplete is a browser vender feature so not something we have much control over. I can't reproduce the behavior but my guess is that it is trying to focus the first available element. Does it behave the same on this example? https://stackblitz.com/edit/react-xtufax-emq48i?file=src/example.js

[2020-10-21 22:16] #3838 closed

[2020-10-21 23:11] AEgan opened #3847 "[Checkbox] Controlled Checkbox fires two events on click when parent controls its state"
Clicking a Checkbox where the parent component controls the state fires two events, and the state remains the same

stackblitz: https://stackblitz.com/edit/react-ypuuaz?file=src/example.js

minimal component:
[code]

## Current Behavior

Clicking on the checkbox causes the above `div`'s `onClick` to fire twice with two events. I believe `event.target` for the first event is [this span](https://git

[2020-10-22 10:48] DiegoGrandeAlagon opened #3849 "Split the library into different packages"
I'm developing a component library based on your library and I've noticed that the size of my package has increased a lot after installing BaseUI. I have thoroughly reviewed what dependencies are causing this, and have seen that the "timezone-support" package is 22MB in size.
Is there any way to remove this dependency or have you planned to split the library into different packages to choose which

[2020-10-22 12:00] muhammadsammy opened #3850 "Mobile touch effect on `RadioGroup` or its children is shown on the whole `RadioGroup` component"
https://baseweb.design/components/radio

## Current Behavior
Touch effect is shown for the whole the `RadioGroup` component and its children when it's touched (or any of its children)

![base_web](https://user-images.githubusercontent.com/35064832/96868837-dfe1b000-146e-11eb-8847-d3f05d35ebb0.gif)

## Expected Behavior
Mobile touch effect should only be for the component touched only.

## Your Env

[2020-10-22 13:55] enes-get-local commented on #3846
it is not same behave. Let me explain how you can reproduce :

1 - Open Chrome or Edge and go to address tab
![image](https://user-images.githubusercontent.com/70728456/96880989-779ec880-1486-11eb-9a7f-93f6368561ad.png)
2 - Create new address record. Fill phone number and select country United States and save record.
![image](https://user-images.githubusercontent.com/70728456/96881187-ac128480-148

[2020-10-22 15:29] joe-oli opened #3851 "Drag and Drop List (dnd-list) - does API provide a way to Add an Item programmatically ?"
I searched the API and all documentation, and there does not appear to be a way to Add an item after you set initialState ?

So in essence, I have to unmount the component, and remount it again, to achieve Addition. Is this the correct way of doing it ?

[2020-10-22 17:40] chasestarr commented on #3850
It looks like you may have react-dev-tools open or some other tool. Can you reproduce with chrome dev tools closed?

[2020-10-22 17:41] chasestarr commented on #3851
You'll need to use the stateless version and manage items within your own app's state https://baseweb.design/components/dnd-list/#drag-and-drop-basic-usage