[2019-08-01 18:20] gergelyke opened #1670 "[RTL] Checkbox"
To reproduce, open the dev tools, and run `document.dir = 'rtl'`

AC:

* the component should have the same spacings and structure in `rtl` too.

<img width="289" alt="Screen Shot 2019-08-01 at 11 18 59 AM" src="https://user-images.githubusercontent.com/2174968/62317283-37e95c80-b44e-11e9-86a6-be0250c08945.png">
<img width="292" alt="Screen Shot 2019-08-01 at 11 18 54 AM" src="https://user-images.

[2019-08-01 18:22] gergelyke opened #1671 "[RTL] Input"
To reproduce, open the dev tools, and run `document.dir = 'rtl'`

AC:

* the component should have the same spacings and structure in `rtl` too.

<img width="623" alt="Screen Shot 2019-08-01 at 11 21 38 AM" src="https://user-images.githubusercontent.com/2174968/62317494-ae865a00-b44e-11e9-8d02-bd175286f842.png">
<img width="620" alt="Screen Shot 2019-08-01 at 11 21 33 AM" src="https://user-images.

[2019-08-01 18:29] gergelyke opened #1672 "[RTL] Payment"
To reproduce, open the dev tools, and run `document.dir = 'rtl'`

AC:

* the component should have the same spacings and structure in `rtl` too.
<img width="598" alt="Screen Shot 2019-08-01 at 11 28 20 AM" src="https://user-images.githubusercontent.com/2174968/62317999-ab3f9e00-b44f-11e9-9468-8f38f264d602.png">
<img width="601" alt="Screen Shot 2019-08-01 at 11 28 14 AM" src="https://user-images.g

[2019-08-01 18:34] gergelyke opened #1673 "[RTL] Radio"
To reproduce, open the dev tools, and run `document.dir = 'rtl'`

AC:

* the component should have the same spacings and structure in `rtl` too.
<img width="307" alt="Screen Shot 2019-08-01 at 11 32 53 AM" src="https://user-images.githubusercontent.com/2174968/62318257-46387800-b450-11e9-99c1-305790a69abe.png">
<img width="257" alt="Screen Shot 2019-08-01 at 11 32 48 AM" src="https://user-images.g

[2019-08-01 18:34] #1662 closed

[2019-08-01 18:36] #1546 closed

[2019-08-01 18:59] gergelyke opened #1675 "[RTL] Slider"
To reproduce, open the dev tools, and run `document.dir = 'rtl'`

AC:

* the component should have the same spacings and structure in `rtl` too.

<img width="617" alt="Screen Shot 2019-08-01 at 11 58 38 AM" src="https://user-images.githubusercontent.com/2174968/62319877-c7ddd500-b453-11e9-83f0-a6b5542cb65e.png">
<img width="1107" alt="Screen Shot 2019-08-01 at 11 58 32 AM" src="https://user-images

[2019-08-01 19:01] gergelyke opened #1676 "[RTL] Datepicker"
To reproduce, open the dev tools, and run `document.dir = 'rtl'`

AC:

* the component should have the same spacings and structure in `rtl` too.

<img width="324" alt="Screen Shot 2019-08-01 at 12 01 10 PM" src="https://user-images.githubusercontent.com/2174968/62320028-1be8b980-b454-11e9-8b0c-57a0b74ffa15.png">
<img width="323" alt="Screen Shot 2019-08-01 at 12 00 58 PM" src="https://user-images.

[2019-08-01 19:03] gergelyke opened #1677 "[RTL] Menu"
To reproduce, open the dev tools, and run `document.dir = 'rtl'`

AC:

* the component should have the same spacings and structure in `rtl` too.
* menu should open to the left

<img width="577" alt="Screen Shot 2019-08-01 at 12 03 15 PM" src="https://user-images.githubusercontent.com/2174968/62320167-6b2eea00-b454-11e9-996e-b91605739e5a.png">
<img width="585" alt="Screen Shot 2019-08-01 at 12 03 0

[2019-08-01 19:05] gergelyke opened #1678 "[RTL] Select"
To reproduce, open the dev tools, and run `document.dir = 'rtl'`

AC:

* the component should have the same spacings and structure in `rtl` too.

<img width="604" alt="Screen Shot 2019-08-01 at 12 04 58 PM" src="https://user-images.githubusercontent.com/2174968/62320268-9ca7b580-b454-11e9-800a-bfecca0ec623.png">
<img width="609" alt="Screen Shot 2019-08-01 at 12 04 51 PM" src="https://user-images.

[2019-08-01 19:06] gergelyke commented on #1603
closing this in favour of https://github.com/uber-web/baseui/issues/1678

[2019-08-01 19:06] #1603 closed

[2019-08-01 19:08] gergelyke opened #1679 "[RTL] Pagination"
To reproduce, open the dev tools, and run `document.dir = 'rtl'`

AC:

* the component should have the same spacings and structure in `rtl` too.

<img width="394" alt="Screen Shot 2019-08-01 at 12 08 00 PM" src="https://user-images.githubusercontent.com/2174968/62320442-0aec7800-b455-11e9-9341-1ddae8bc58e3.png">
<img width="390" alt="Screen Shot 2019-08-01 at 12 07 54 PM" src="https://user-images.

[2019-08-01 19:10] gergelyke opened #1680 "[RTL] dnd"
To reproduce, open the dev tools, and run `document.dir = 'rtl'`

AC:

* the component should have the same spacings and structure in `rtl` too.

<img width="237" alt="Screen Shot 2019-08-01 at 12 09 36 PM" src="https://user-images.githubusercontent.com/2174968/62320540-46874200-b455-11e9-9dee-f93a08d4f155.png">
<img width="255" alt="Screen Shot 2019-08-01 at 12 09 23 PM" src="https://user-images.

[2019-08-01 19:11] gergelyke opened #1681 "[RTL] Tag"
To reproduce, open the dev tools, and run `document.dir = 'rtl'`

AC:

* the component should have the same spacings and structure in `rtl` too.

<img width="299" alt="Screen Shot 2019-08-01 at 12 11 02 PM" src="https://user-images.githubusercontent.com/2174968/62320615-75051d00-b455-11e9-809a-8a6dbc2db2de.png">
<img width="291" alt="Screen Shot 2019-08-01 at 12 10 54 PM" src="https://user-images.

[2019-08-01 19:14] gergelyke opened #1682 "[RTL] Progress steps"
To reproduce, open the dev tools, and run `document.dir = 'rtl'`

AC:

* the component should have the same spacings and structure in `rtl` too.
* in rtl, the progress indicator should be on the right side

<img width="288" alt="Screen Shot 2019-08-01 at 12 14 07 PM" src="https://user-images.githubusercontent.com/2174968/62320767-f52b8280-b455-11e9-857f-78753fa8fa5c.png">
<img width="314" alt="Scr

[2019-08-01 19:20] gergelyke opened #1683 "[RTL] Modal"
To reproduce, open the dev tools, and run `document.dir = 'rtl'`

AC:

* the component should have the same spacings and structure in `rtl` too.
* everything should be mirrored in the modal for RTL - currently they look the same
<img width="501" alt="Screen Shot 2019-08-01 at 12 17 04 PM" src="https://user-images.githubusercontent.com/2174968/62321095-b3e7a280-b456-11e9-9969-ade062902f2c.png">

[2019-08-01 21:27] gergelyke commented on #1662
thanks @aitchiss @houmark - this was fixed and released in 8.13.0

[2019-08-02 18:52] #1682 closed

[2019-08-02 21:16] #1670 closed

[2019-08-02 23:55] schnerd opened #1691 "Invalid DOM nesting warnings in Modal"
## Current Behavior

As a result of #1627, the modal component will now emit numerous warnings about invalid dom nesting if you end up using a block-level tag like `<div>` inside of a ModalBody:

![image](https://user-images.githubusercontent.com/875591/62403989-ed4b0b80-b545-11e9-9fc9-cd12e46df082.png)

The Modal probably shouldn't make too many assumptions about what the consumer will put in Mod

[2019-08-03 01:19] houmark commented on #1691
I agree with @schnerd on a less opinionated approach on this. I know that these breaking changes were done with the purpose of improving SEO out of the box, but I would have liked to see more sensible defaults. `$as="div"` is in pretty much every modal and I had to fix that when updating to avoid errors. For us, almost all modals have some kind of UI and not just a text, so expecting content use a

[2019-08-03 01:40] gergelyke commented on #1691
That makes sense - I'll roll this back first thing Monday morning

[2019-08-03 01:43] houmark commented on #1691
Thanks a lot for listening to the feedback, and the development pace you guys are putting in is really great — it's hard to keep up with even updating to the latest version :)

[2019-08-05 10:52] tajo commented on #1691
#1694 reverts it

[2019-08-05 14:18] #1691 closed

[2019-08-05 15:47] #1555 closed

[2019-08-05 15:47] #1610 closed

[2019-08-05 15:47] #1615 closed

[2019-08-06 10:20] tajo commented on #1273
We have the first component using live-editable example. https://baseweb.design/components/button/

[2019-08-06 10:20] #1273 closed

[2019-08-06 18:00] #1668 closed

[2019-08-07 08:29] NameFILIP commented on #1600
Hello, I understand that it looks good when there are less open issues on Github, but the problem still exists and I think the issue can be reopened.

[2019-08-07 16:22] gergelyke commented on #1600
@NameFILIP it's not an issue with the component itself, but how you assign unique keys to the Toasts you create - if I am correct. This approach, for example, seems to be working: https://codesandbox.io/s/toast-notification-basic-usage-3kt4o

Is there anything stopping you from using the stateful version?

[2019-08-08 15:21] chasestarr opened #1726 "Component page on doc site should link to the component's type definition file"
Type definitions on the documentation site are mechanically generated and _do not spark joy_. Developers often need to open up a component's type file anyway to better read it. It may be useful to directly link to the source in addition to displaying the types in the website.

[2019-08-08 15:27] shannonmoeller commented on #1726
Not sure how hard it would be, but it would be awesome if the type in the docs linked to the specific line in the source where the type is defined. Clicking `union` here for example:

![image](https://user-images.githubusercontent.com/155164/62715998-be59ed00-b9be-11e9-8b21-0403225b8861.png)

[2019-08-08 15:32] #1651 closed

[2019-08-09 04:46] NameFILIP commented on #1600
In this case, I will have to add a `uuid` property to the notification which is an overhead (might be not the worst thing to add though). The override works for me, so I'm probably going to keep it like that.

Notifications are added to the state (array of notifications) on some failure actions. This state is passed to the component and displayed. On clicking close I want to hide notification and

[2019-08-09 16:44] #1669 closed

[2019-08-09 16:44] #1671 closed

[2019-08-09 16:45] #1672 closed

[2019-08-09 16:45] #1673 closed

[2019-08-09 16:45] #1676 closed

[2019-08-09 16:45] #1677 closed

[2019-08-09 16:45] #1678 closed

[2019-08-09 16:45] #1679 closed

[2019-08-09 16:45] #1680 closed

[2019-08-09 16:45] #1681 closed

[2019-08-09 16:45] #1683 closed

[2019-08-14 07:17] agnimitrapathak opened #1743 "Usability of left section and respective content"
Here is the scenario. You can run through the following steps:

1. Land on the site https://baseweb.design
2. Click on **Usage** tab in the left section
3. You notice the content section changes to the "**Base Web Quickstart**"
4. Scroll the page to say **Date Picker**
5. The content section shows date picker but here is the issue _The left section is no longer in view of the user. So to go to say

[2019-08-15 15:30] jaredpalmer opened #1754 "Formik Interop"
I noticed [in the roadmap](https://baseweb.design/getting-started/roadmap/) that Formik support is on deck. Would be happy to assist.

[2019-08-16 15:24] chasestarr opened #1760 "[Datepicker] value type is better defined as a tuple"
Right now, the `Datepicker` component's value type is `Date | Date[]`. The component will only operate on two dates at most so would be better defined as a tuple: `Date | [?Date, ?Date]`

[2019-08-16 17:57] gergelyke commented on #1754
Hi @jaredpalmer - thanks for offering help! Probably the documentation site's wording is misleading, in that table we wanted to list things that we decided not to include in Base Web. I am sorry for the confusion and I am going to update the wording.

[2019-08-16 17:57] #1754 closed

[2019-08-19 19:23] houmark commented on #1658
@jh3y I'm trying to just make my toast a bit wider than normal, because I have it positioned in the top/center but no matter what overrides I put, it stays around the same width as with no override.

Can it be that `width: auto` is just not being applied? Ideally, I would like to keep a slightly longer text on one line if the browser width allows it but no matter what I do, it stays the same width

[2019-08-19 19:27] houmark opened #1769 "How to have two Toast's on the same page/component in two different locations?"
## Current Behavior

I have a UI where I would like to have a confirmation toast in the lower right side and an "information" toast which would be in the top center.

How can I add two toasts within the same component, and then programmatically address each one of them individually?

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v8.16.4  |
| React   |     16.8.6    |

[2019-08-19 20:22] JeremyRH opened #1770 "Puppeteer included as a dependency when downloading from npm"
When consuming baseui from npm's registry, puppeteer is included as a dependency instead of dev dependency. This causes puppeteer (and Chromium) to be downloaded by anyone using baseui.

The reason for this is the npm script `e2e:test:ci`, specifically `yarn add puppeteer` [[link]](https://github.com/uber-web/baseui/blob/e8ddf05b54a7166733a95ba5c1c3651d297d3600/package.json#L41). I don't see why `

[2019-08-19 20:54] gergelyke commented on #1769
hi @houmark - from a strictly UX point of view, probably notification should always pop up from the same spot, no matter if they are confirmation or information

with that said, I am not sure how to achieve that - Nadiia, can you help with this? is it possible with the current setup?

[2019-08-19 21:52] houmark commented on #1769
I somewhat agree and disagree :) Notifications in relation to user interaction is always the same place, but notifications from third party changes (less important to notice) can go on a different location for me without being confusing.

[2019-08-19 22:41] #1770 closed

[2019-08-20 09:14] menberg opened #1775 "Export dark-theme-colors.js to create a custom theme based on dark-theme"
## Feature description

Would it be possible to export https://github.com/uber-web/baseui/blob/master/src/themes/dark-theme-colors.js in https://github.com/uber-web/baseui/blob/master/src/themes/index.js so that we can create a custom theme based on Base Web's default dark-theme, like described on https://baseweb.design/theming/custom-themes/? I guess we need access to dark-theme-colors.js for thi

[2019-08-20 15:48] gergelyke commented on #1775
hi @menberg - have you checked out this part of the docs ? https://baseweb.design/theming/custom-themes/#creating-a-custom-theme

Essentially, you can do something like this:

[code]

[2019-08-20 15:48] gergelyke commented on #1775
Closing this for now - please reopen if this doesn't work for you!

[2019-08-20 21:36] menberg commented on #1775
Dear Gergely, thanks for your help. When doing it like in the example above, `yourTheme` contains a lot of `undefined` colors property values:

[code]
This leads to an error when rendering the page:

[code]
I'm using Next.js according to the official example: https://github.com/zeit/next.js/tree/canary/examples/with-styletron

To avoid the undefined values, I wanted to include the dark-theme-color

[2019-08-21 01:14] kirbydcool opened #1779 "Button border longhand properties don't work consistently"
BaseButton has `border: none` here https://github.com/uber-web/baseui/blob/master/src/button/styled-components.js#L18.

This can conflict with longhand border properties and override them (whichever style is defined last wins). This means that the application of longhand properties depends on which order styletron generates the classes internally.

I haven't been able to get a reproducible codesan

[2019-08-21 15:15] #1675 closed

[2019-08-21 17:44] menberg commented on #1775
I'm not allowed to reopen this issue.

[2019-08-23 08:43] VladimirMilenko opened #1788 "[A11Y] Tag has role="button" and aria-label="button" when it's not clickable"
`Tag` has role="button" and aria-label="button" when it's not clickable, this violates the A11y rules :)

https://codesandbox.io/s/gz23x?module=/example.js

## Current Behavior
`Tag` has role="button" and aria-label="button"

## Expected Behavior
`Tag` shouldn't have a role and aria-label

| Tech    | Version |
| ------- | ------- |
| Base UI | v8.16.5 |

- [x] I have searched the [issues](https:/

[2019-08-23 08:44] VladimirMilenko commented on #1788
As a workaround I'm still able to set this via:
[code]

[2019-08-23 15:27] gergelyke commented on #1788
@VladimirMilenko thanks for the report! any chance you have the time to put together a PR fixing it?

[2019-08-23 22:54] houmark commented on #1577
@rohitb4 did you decide not to attack this one? I may give it a shot if you won't.

[2019-08-26 16:38] kylegach opened #1794 "[Select] Cursor inserted at beginning instead of end of value"
## Current Behavior

Sandbox: https://codesandbox.io/s/ndonk?module=/example.tsx

1. Select an option
1. Click into the Select
1. Notice the text cursor is inserted at the beginning of the value

## Expected Behavior

1. Select an option
1. Click into the Select
1. The text cursor is inserted at the end of the value

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v8.1

[2019-08-26 19:17] Patil2099 commented on #1794
@gergelyke Can I work on this issue?

[2019-08-27 11:10] rbrishabh commented on #1635
Hey! Can I take this up?

[2019-08-28 16:36] kylegach opened #1803 "[Select] Nested StatefulMenu overrides not working correctly"
## Current Behavior

Providing nested overrides to StatefulMenu seems to blow away some of the props provided to Select (namely, `labelKey` and `getOptionLabel`, but perhaps others).

[Illustrative sandbox](https://codesandbox.io/s/select-with-nested-overrides-broken-sdmzb?module=/example.js)

## Expected Behavior

Overrides would only affect the expected overridden aspects of the component(s).

#

[2019-08-29 05:31] rohit012 commented on #1788
@gergelyke Working on the issue, will share a PR ASAP.

[2019-08-29 15:49] qqingvarqq opened #1807 "Popover incorrect behavior when a component inside content is focused"
## Reproducible example
[Codesandbox url](https://codesandbox.io/s/popover-opens-on-click-9hsdb?module=/example.js)
## Current Behavior
When we open Popover and set focus on any inner components, (only when mounting component) Scroll position of the body changed (scroll goes up), but if we set focus anytime later everything is ok.
## Expected Behavior
When we open Popover and set focus on any inne

[2019-08-29 17:23] akshatnitd opened #1809 "Close button on modal in dark theme is not visible"
## Current Behavior
The close button on modal in dark theme is not visible and only appears on hover

![Aug-29-2019 22-46-17](https://user-images.githubusercontent.com/12656846/63962061-cd105d00-caaf-11e9-81e2-9b06719f9297.gif)

## Expected Behavior
The close button should be clearly visible and have a contrast with default background colour

## Your Environment

| Tech    | Version |
| ------- |

[2019-08-29 18:00] Shubhamchinda commented on #1788
Hey, can I take this ?

[2019-08-29 18:02] gergelyke commented on #1788
@Shubhamchinda - sorry, @rohit012 just fixed it :) there are a few more help wanted issues, if you are interested!

[2019-08-29 18:11] Shubhamchinda commented on #1788
Yeah, I missed it. Sorry!
I'll be around if something comes up! :)

[2019-08-29 20:57] #1788 closed

[2019-08-29 23:35] #1809 closed

[2019-08-30 05:39] akshatnitd opened #1819 "Add a netlify demo link format on the PR template"
## Feature description
- Add a netlify demo link format on the PR template, so that the contributors can see their changes after deployment to netlify

[2019-08-30 15:33] #1819 closed

[2019-08-30 21:10] btford opened #1821 "[Select] Improve generality of Select"
Let's look at an example use of of `Select` to illustrate a problem.

Say I have an array of objects like this that I'd like to use in my `Select` component:

[code]

I want to display the items, combining together `city` and `state`, and pass along `someHash` to my onChange event handler whenever it changes. So I write this in my app:

[code]

Because `Select` needs a flat object to read the `lab

[2019-08-30 23:24] uberzhen opened #1827 "Base UI Select value type"
I am using Base UI Select a lot and also having this problem. In other frameworks, value of  Select is a string or int, but in Base UI Select, the value is an array. This already brought some issues on value mapping when we migrated to Base UI.

I also suggest to add a prop like `valueKey` or `valueOutput` to customize the value of Select.

[2019-08-31 00:00] sandgraham commented on #1827
Please keep discussion of this in #1821.

[2019-08-31 00:00] #1827 closed

[2019-09-03 20:31] makkBit commented on #1807
Hi ! working on this..

[2019-09-03 21:50] kimasenbeck opened #1830 "[Table Sort] Fails to sort when user clicks on negative space in column header"
Issue: Columns can only be sorted by clicking on the text within column header.
Expected: should be able to sort column by clicking anywhere within header (including negative space, not just on text) Clicking on the text is counterintuitive, and may lead to many users failing to discover sorting functionality.

For an example, play around with table header on [this page](https://baseweb.design/com

[2019-09-03 22:08] nadiia commented on #1821
@btford Thank you for bringing up the issue!
Here is a solution example to the first part of this issue https://codesandbox.io/embed/select-basic-usage-ftz3c . You don't need to remap the options list and can render custom label based on any prop of the option. The `labelKey` should be only used in a simple case where one would want to use a single prop value as a label. So to handle your case you

[2019-09-03 22:18] chasestarr commented on #1830
Considered this when first building the component and chose to implement similar to [material design](https://material-ui.com/components/tables/#sorting-amp-selecting). I suppose there are different opinions on what's a preferable UX 🤷‍♂ Happy to accept a PR with an additional configuration that allows for the whole cell to be clicked (needs to ensure it works with sort + filter).

[2019-09-03 22:27] btford commented on #1821
Thanks for the response Nadia!

I think this is a bad idea– you lose type safety, and you end up encoding semantic issues in strings. You're also adding more bytes for an option that not everyone needs. I'm not sure how sensitive your team is to keeping these components lean, but I think it's important for shared components.

Using `getOptionLabel` and `getValueLabel` solves part of the issue, but

[2019-09-03 22:44] nadiia commented on #1821
@btford The `onChange`'s type looks like this currently:
[code]
So it get's the current value, ref to the latest option that was added or deleted, and the change type. Is `option` in here what you'll need?

[2019-09-03 22:53] btford commented on #1821
Err, kind of. I suppose what I'm asking is that we entirely drop `value` as a concept and only have the `OptionT`, and that `OptionT` be parametric rather than static. If you have an `OptionT` you can always derive `ValueT`. There's no reason `Select` needs to have this additional responsibility.

I think we're starting to get in the weeds here a bit. It's probably easier to continue the conversat

[2019-09-03 22:55] nadiia commented on #1821
We'd need `valueT` for the multi-select.

[2019-09-03 23:06] btford commented on #1821
Oh, hmm. That does make things more difficult. I didn't realize multi-select and select where implemented within the same component.

If the types are going to be correct, multi-select needs to be a completely distinct component. In one case, you probably want `onChange` to receive a parametric `OptionT | null`, and on the other it should receive `$ReadOnlyArray<OptionT>`, where an empty selection

[2019-09-04 00:16] lczhao opened #1831 "[Tab] Support mouse events"
## Feature description
Currently there is no mouse event API for Tab. so making a tooltip pops up when user hover a tab is impossible.
even if I wrap `Tab` around `Tooltip` or `Popover` doesn't do it. (since `Tabs` checks immediate child `=== Tab` I think?)

an Ideal scenario would be:

[code]

[2019-09-05 07:15] akshatnitd opened #1838 "[DatePicker] Months out of range of max and min date are shown on calendar header dropdown"
## Current Behavior
- Months out of range of max and min date are shown on calendar header dropdown. Suppose if we set the `maxDate = {new Date()}`, all the months of the year are shown.

## Expected Behavior
- Months only in range of max and min date should be shown on calendar header dropdown

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v8.17.1 |
| React   |  v16

[2019-09-05 23:52] rohit012 commented on #1830
For sort use case we can pass extra config to SortableHeadCell component and based on that we set listeners and cursor css attribute on HeadCell or SortableLabel.

Filtering seems complicated. In case of filtering, we have a separate Filter component which accepts filter function and is inside StyledHeadCell component. So applying filter function and css cursor property on StyledHeadCell doesn't s

[2019-09-06 18:03] chasestarr commented on #1635
closed the strict mode addition pr, but wanted to make sure this is no longer an issue. I can't reproduce the double toast described in the original post

https://deploy-preview-1844--baseui.netlify.com/components/toast/

[2019-09-06 18:03] chasestarr commented on #1635
closing for now, but we can reopen if this is still a problem

[2019-09-06 18:03] #1635 closed

[2019-09-06 18:14] chasestarr commented on #1830
here is an example of combining the two https://codesandbox.io/s/table-with-column-filtering-d2ldk no need for a new sort header component

[2019-09-06 18:23] chasestarr commented on #1830
I've prototyped something similar here https://github.com/uber-web/baseui/blob/master/src/data-table/header-cell.js#L93-L100 for a more feature-rich data table (fyi not ready for general use)

[2019-09-09 17:14] rohit012 commented on #1830
@chasestarr thanks for clarification. Pls let me know what you think about the PR.

[2019-09-09 18:20] #1838 closed

[2019-09-09 23:35] chasestarr opened #1866 "commit message lint provides no resolution information"
when a contributor's commit message does not pass validation, the  help message does not provide useful information. it says that you need a subject and type, without explaining what those are.

`fix(component-name): the thing i did`

[2019-09-11 22:12] #1830 closed

[2019-09-11 23:07] chasestarr commented on #1830
Thank you @rohit012 for contributing this change, and thank you to @kimasenbeck for bringing up the opportunity for improvement

[2019-09-11 23:23] jasonbarone opened #1885 "[Button] Pill shape doesn't work"
## Current Behavior

The pill shape does not work in base ui 9.0.0. Codesandbox here: https://codesandbox.io/s/basic-usage-mvw32

## Expected Behavior
"pill" shape string or type should trigger pill shape style.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.0.0  |
| React   |  16.9.0       |

- [x] I have searched the [issues](https://github.com/uber-web/baseui/i

[2019-09-11 23:24] gergelyke commented on #1885
hi Jason! it's being released right now under 9.1.0

[2019-09-11 23:24] #1885 closed

[2019-09-13 07:00] matchatype opened #1895 "BaseProvider introducing unwanted structure"
Using BaseProvider with Next.js introduces extra `div` elements within `#__nextjs` root, which makes it difficult to style.

Please, check 👉 https://github.com/zeit/next.js/issues/8722 for details and reproduction.

## Current Behavior
Rendered structure is similar to the following:

[code]

## Expected Behavior
Wanted structure should look somewhat like the following. Alternatively, would be grea

[2019-09-13 07:57] matchatype commented on #1895
NVM: v9.2.0 just shipped, with the ability to override both AppContainer and LayersManager 😬

[2019-09-13 07:57] #1895 closed

[2019-09-13 16:30] chasestarr commented on #1579
closing, but useful for future flow reference

[2019-09-13 16:30] #1579 closed

[2019-09-14 22:24] qcho commented on #1444
unstale ^_^

[2019-09-17 17:27] Firenze11 opened #1908 "Component border width should be parameterized and changeable through theme"
## Feature description
Currently border width of `Select` is hardcoded https://github.com/uber-web/baseui/blob/master/src/select/styled-components.js#L200
This should be parameterized as part of theme, to support use cases such as really dense component layout.

[2019-09-17 18:45] NameFILIP opened #1910 "Flow error: An index signature declaring the expected key / value type is missing in object literal"
Flowtype complains about passing a variable of type `TagKindT` to the `kind` property of the `Tag` component.

See the [example](https://flow.org/try/#0JYWwDg9gTgLgBAJQKYEMDGMA0cDecYCeYScAchACYkC+cAZlBCHAORSoYsBQXSAHpFhw0EAHYBneAGkAkqQAicALxwA2lzitRSAK4woKADYtMG1mCigUUAibMtI44DGAA3JHc0sA7tdHBRAHNPLSRAlBd3EJY0HUkmOwBdADp2Ch00JAAKLIBrAIoAWRQwbFykAgBKZQA+XDN80SKS1XKCROU4NoBuM3YYHShRLoLisF7qbBxqSt6uEQ

[2019-09-18 02:35] choyongjoon opened #1915 "Types of some event props are not correct"
Types of some event props are not correct. So It makes TS error.

## Current Behavior

For example, the `onClick` prop of `Button`:

https://github.com/uber-web/baseui/blob/b6d360058ee827041d75c8f407822f4d579a571b/src/button/index.d.ts#L47

## Expected Behavior

It should be
[code]

or

[code]
## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.0.0  |

- [x] I have sear

[2019-09-18 02:45] choyongjoon commented on #1915
You can search all cases (in all `index.d.ts` files) through this regex:
[code]
and replace with this regex:
[code]

[2019-09-18 11:27] matchatype opened #1916 "Datepicker in popover breaks as it doesn't return consistent value"
Datepicker returns a date object if you focus on the input and then click on any date. However, if you start typing, the date object returns wrapped inside an array.

From then on, the Datepicker component is broken and you are not able to select and click on a date anymore.

I thought `range={false}` would fix it, but in my experience it doesn't.

![Screen Capture on 2019-09-18 at 13-23-48](https

[2019-09-18 15:19] aitchiss opened #1917 "Datepicker no longer respects placeholder or formats correctly as of v8.18.0"
As of the update to v8.18.0, Datepicker no longer seems to respect placeholder props, and formatting of selected date appears to be broken.

## Current Behavior

See reproducing codesandbox here: https://codesandbox.io/embed/datepicker-in-a-popover-f258c

Notice that:
- Placeholder for date is always YYYY/MM/DD regardless of prop
- Formatting to UK date string "dd/MM/yyyy" results in output e.g. 0

[2019-09-18 15:46] gergelyke commented on #1915
thanks for opening the issue @choyongjoon ! would you mind sending a PR fixing it?

[2019-09-18 15:49] gergelyke commented on #1917
Hi @aitchiss - thank for opening this issue! It was a regression introduced in the 8.x release, and fixed in 9.x. As we are not backporting any fixes, please upgrade to the latest version. If for some reason you cannot do that, I'd recommend using an earlier Base Web version.

[2019-09-18 15:49] #1917 closed

[2019-09-18 16:00] gergelyke commented on #1910
@NameFILIP can you please provide what version of Base Web you are on? Also, an example using base imports?

[2019-09-18 17:48] NameFILIP commented on #1910
I'm using `8.10.0`. Yes, I copied the type definitions in the example from the node_modules files

[2019-09-18 20:05] #1916 closed

[2019-09-18 22:17] gergelyke commented on #1916
The fixed was released in 9.3.2 - please let us know if you run into further issues!

[2019-09-19 00:04] #1659 closed

[2019-09-19 00:04] #1575 closed

[2019-09-19 00:04] #1578 closed

[2019-09-19 00:04] #1548 closed

[2019-09-19 00:04] #1562 closed

[2019-09-19 00:04] #1304 closed

[2019-09-19 00:04] #1370 closed

[2019-09-19 00:04] #1515 closed

[2019-09-19 00:04] #883 closed

[2019-09-19 00:04] #1109 closed

[2019-09-19 00:04] #1224 closed

[2019-09-19 00:08] houmark commented on #1769
Awaiting response on this one, but I think this needs new development to be possible.

[2019-09-19 02:02] choyongjoon commented on #1915
Ok. I sent a PR.

[2019-09-19 15:11] gergelyke commented on #1769
Hi @houmark - this is not something the core team can take on, as our internal design always use one Toast only. If you have the bandwidth to contribute, we can potentially land it :)

[2019-09-19 15:13] gergelyke commented on #1915
Thank you, we'll review later today!

[2019-09-19 15:27] houmark commented on #1769
Understood, but can we then set the proper labels and remove stale so it isn't forgotten?

[2019-09-19 15:35] gergelyke commented on #1769
done :)

[2019-09-19 17:57] paramoshkinandrew opened #1927 "Wrong "Start time" label for "endTime" (Datepicker component)"
`timeSelectEnd` has a wrong label `Start time` rather than `End time`

The reason is [https://github.com/uber-web/baseui/blob/master/src/datepicker/calendar.js#L417](https://github.com/uber-web/baseui/blob/master/src/datepicker/calendar.js#L417).
`renderTimeSelect` function is being called twice for start and end date, but the function has a fixed label.

[code]
Screenshot:
![image](https://user-i

[2019-09-19 18:00] gergelyke commented on #1927
@paramoshkinandrew thank you for opening this - any chance you can send a PR fixing it?

[2019-09-19 18:11] paramoshkinandrew commented on #1927
I will try to do it today

[2019-09-19 19:02] #1915 closed

[2019-09-19 20:17] chasestarr commented on #1910
Seems to be related to the way that `KINDS` is built. Switching from an array + reduce to an explicit object removes errors. [try-flow](https://flow.org/try/#0JYWwDg9gTgLgBAJQKYEMDGMA0cDecYCeYScAchACYkC+cAZlBCHAORSoYsBQXSAHpFhw0EAHYBneAGkAkqQAicALy4ucOKKQBXGFBQAbAFytNOvfpaY1cMFFAooBYy1v3HLOF2o8RE+ABUUAHMpYFEKZTgAeQAjACskDAA6BiQkAC8kAApZBQBKAG4uQmI4QJCwin9IgBIpJAJxAB4SpAg6MuDQ8IA+IuKiEnKABUYwcUicAB

[2019-09-20 00:04] #1743 closed

[2019-09-20 00:04] #849 closed

[2019-09-20 00:04] #1444 closed

[2019-09-20 00:04] #208 closed

[2019-09-20 00:04] #375 closed

[2019-09-20 00:04] #139 closed

[2019-09-20 17:25] #1910 closed

[2019-09-20 17:29] chasestarr commented on #1910
Thanks for reporting!

[2019-09-20 21:38] #1927 closed

[2019-09-22 00:06] #1760 closed

[2019-09-25 10:50] simPod opened #1948 "Wrapping Tab into React.FC prevents tab switching"
I might be doing it wrong but I tried to wrap `Tab` into another component as

[code]

However, when this is used within `<StatefulTabs>` tab switching stops working.

Example https://codesandbox.io/s/uncontrolled-tabs-usage-3e5y2 There are two usage types, first is my wrap attempt, second is typical documented approach to show it works just fine that way.

| Tech    | Version |
| ------- | ------

[2019-09-25 12:26] makkBit commented on #1807
Scroll on focus is default behaviour.
This can be prevent by passing object to `focus()`
[code]
or by explicity scrolling to current x and y position on focus
[code]

Please correct me if I am wrong.
@gergelyke

[2019-09-25 15:55] gergelyke commented on #1948
hi @simPod

this is not a supperted use-case - if you want to make sure this approach works, you have to look under the hood of the tabs component and implement the layer that connects the Tab components to the parent Tab

[2019-09-25 15:56] gergelyke commented on #1948
What do you want to achieve?

[2019-09-25 16:01] gergelyke commented on #1807
I tend to agree with @makkBit - this doesn't seem like a bug in Base Web

[2019-09-25 19:10] Firenze11 opened #1954 "Allow a list of string/number/boolean values to be passed as select options"
##  Feature description

Right now `options` is only limited to list of objects:
`options nullable $ReadOnlyArray<$ReadOnly<object>> = []`
Would be valuable to allow directly passing list of strings or numbers to it, to prevent having to converting string/number representation back to objects during usage.

[2019-09-25 19:29] gergelyke commented on #1954
@Firenze11 I'd like to ask you to consolidate your feedback into this issue, that we've opened to discuss Select improvements: https://github.com/uber-web/baseui/issues/1821

[2019-09-25 19:29] #1954 closed

[2019-09-25 19:53] Firenze11 commented on #1821
Right now `options` is only limited to list of objects:
`options nullable $ReadOnlyArray<$ReadOnly<object>> = []`
Would be valuable to allow directly passing list of strings or numbers to it, to prevent having to converting string/number representation back to objects during usage.

[2019-09-25 20:27] Firenze11 opened #1956 "z-index of select options is not as high as slider knob"
## Current Behavior

z-index of select options is not as high as slider knob, which causes weird effect when the select option is open and overlays on the slider.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.4.2 |

- [x] I have searched the [issues](https://github.com/uber-web/baseui/issues) of this repository and believe that this is not a duplicate.

[2019-09-25 20:28] gergelyke commented on #1956
@Firenze11 can I ask you to create a codesandbox that reproduces this issue please?

[2019-09-25 21:12] nadiia commented on #1956
Added a fix here https://github.com/tajo/react-range/pull/39

[2019-09-25 21:49] nadiia commented on #1956
`react-range@1.4.1` with a fix is published

[2019-09-25 21:49] #1956 closed

[2019-09-25 21:52] Firenze11 commented on #1956
That's so fast!! Thank you!

[2019-09-26 00:05] #1775 closed

[2019-09-26 08:59] simPod commented on #1948
Thanks for reply, got it.

I just wanted to simplify sharing of common attributes like `overrides`. Now I refactored it to having ` const commonTabProps = { overrides: {...}, ... }` and constructing tabs as `<Tab {...commonTabProps}`

[2019-09-26 18:13] notbrett opened #1964 "Figma (or Sketch) File for Base Web"
## Feature description

Having a Figma (or Sketch) file with all the Base Web stuff in it would allow for quick composition by a Design team. It would also increase collaboration and facilitate better “everyone on the same page” conversations among Engineering and Product. It really helps to be able to show a component in Figma and have it be visually identical (or similar enough) that Engineering

[2019-09-26 18:15] gergelyke commented on #1964
Hi @notbrett - if you are using Framer, there is already a Base Web library published. Would that work?

[2019-09-26 18:24] notbrett commented on #1964
Oh cool! Alas, I tried Framer X when it first came out. Thus, I can’t check out the library without buying a subscription. (This is the big win for Figma as it has a great free tier.) Thanks for info!

[2019-09-26 18:24] #1964 closed

[2019-09-27 21:39] kimasenbeck commented on #1794
@Patil2099 are you still looking into this issue?

[2019-09-27 21:44] kimasenbeck commented on #1577
@houmark looks like this has been marked as stale. Are you still looking into this issue?

[2019-09-27 21:47] houmark commented on #1577
I would like to but had no time recently, I was awaiting if @rohitb4 had anything in progress.

[2019-09-29 22:42] qqingvarqq commented on #1807
Hi @makkBit
Could you provide code sandbox example, where this problem fixed, unfortunately for me, this solution does not work?
[code]
I briefly looked at this problem, and find out that for some reason Popover rendered in a wrong place on the initial render. It rendered from
initial position
[code]
to
[code]
but when you close Popover and press open button again everything works correct
It rende

[2019-09-30 02:00] choyongjoon opened #1971 "[Datepicker] 'Composed range pickers' example displays default range mask"
https://baseweb.design/components/datepicker/#composed-range-pickers

'Composed range pickers' uses custom `formatDisplayValue` to display the two dates separately. But cuurently the input displays default range mask.

## Current Behavior

The Start Date shows `2019/04/01 -     /  /  `
The End Date shows `2019/04/10 -     /  /  `

## Expected Behavior

The Start Date shows `2019/04/01`
The End Dat

[2019-09-30 06:15] choyongjoon opened #1972 "[Datepicker] If the range is sM or eM, it is not highligted"
If the range is sM (start-of-month) or eM (end-of-month), it is not highligted

https://codesandbox.io/s/datepicker-in-a-popover-4bbju

~Click range datepicker below. And check today in the calendar.~
Click range datepicker below. And check 9/30 in the calendar.

## Current Behavior

~Today (2019/09/30) is not highligted.~
(2019/09/30) is not highligted.

## Expected Behavior

~Today (2019/09/30)

[2019-09-30 21:10] #1972 closed

[2019-10-01 05:59] choyongjoon opened #1980 "[Datepicker] Fix color of selected day after #1972"
I found that I missed the color style in the fix of #1972

## Current Behavior

<img width="617" alt="스크린샷 2019-10-01 오후 2 55 48" src="https://user-images.githubusercontent.com/1563230/65937738-c9c81280-e45b-11e9-82e9-2c7b24c14892.png">

## Expected Behavior

The color of the selected day must be white

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.6.0  |

[2019-10-01 06:13] amandeep224 opened #1981 "FileUploader - The 'ComponentMessage' override gets rendered twice."
When a component is passed as a ComponentMessage overrides in overrides prop to the FileUploader component, it gets rendered twice.

Code Sandbox link:
[https://codesandbox.io/s/file-uploader-basic-usage-f855b](url)

(See the example.js file)

[2019-10-01 16:09] gergelyke commented on #1981
hi @amandeep224 - it happens, because we use that wrapper for two messages: https://github.com/uber-web/baseui/blob/master/src/file-uploader/file-uploader.js#L98-L109

if you want to change the text, please refer to https://baseweb.design/guides/internationalization/

[2019-10-01 16:09] #1981 closed

[2019-10-01 22:25] choyongjoon commented on #1980
The start date and end date must be same and either start-of-month or end-of-month.

[2019-10-02 00:06] #1726 closed

[2019-10-02 16:22] kahwee opened #1994 "Datepicker exclusion doesn't look right"
##  Current Behavior

Date exclusion always to leave the first and the last day looking enabled. Looks like a styling issue

Using filterDate with a function to return false doesn't disable the the month back and forward navigator. (I understand why this is tricky but the docs could point out the differences more)

Also clicking on the month selector when includeDates is set to today yields a full

[2019-10-02 16:43] zsobral opened #1995 "calendar quick select locale"
Hi,

`baseui/src/datepicker/calendar.js` QUICK_SELECT_ACTIONS is missing locale

[code]

[2019-10-02 18:47] chasestarr opened #1998 "[Select] highlight inconsistencies with native select"
reproducing codesandbox: https://codesandbox.io/s/select-similar-to-native-select-6mwuq

'highlighted' - indicates mouse hover/keyboard navigation target.
'selected' - the visual equivalent of the option specified by the component's 'value' prop.

## Current Behavior

On dropdown open, the 'highlighted' option begins with the first option no matter if there is a 'selected' option or not.

## Expec

[2019-10-02 19:47] gergelyke commented on #1998
Did a quick investigation - it seems like the `highlighted ` prop is coming from the `Menu` component

[2019-10-02 21:12] gergelyke commented on #1994
@kahwee any chance you could help us with fixing it?

[2019-10-02 21:14] gergelyke commented on #1995
Hi @zsobral - thank you for opening this. As a workaround, you can pass in the `quickSelectOptions` prop. Also, any chance you can open a PR fixing it?

[2019-10-03 00:11] #1794 closed

[2019-10-03 00:11] #1803 closed

[2019-10-03 01:51] houmark commented on #1577
Please re-open this one and maybe tweak the bot to not close issues when someone comments, because it will just suppress low priority bug fixes like this one.

[2019-10-03 09:45] zsobral commented on #1995
ok, thanks. Sure, np

[2019-10-03 13:33] ashish-kale commented on #1998
@chasestarr @gergelyke Can you check https://github.com/uber-web/baseui/pull/2004 for this ? Also, I am unable to add label to it, can you please add it?

[2019-10-03 16:55] kahwee commented on #1994
I was hoping your team can get to it soon. ;)

Gotta finish our P0s first and I can dig deeper.

If anyone is free to take this up, please go ahead first.

Thanks!

[2019-10-03 18:19] #1980 closed

[2019-10-07 14:17] MarcusMorba opened #2029 "a11y-issue: menu is a listbox"
https://baseweb.design/components/menu/

## Current Behavior
The menu component behaves like a listbox and uses listbox markup/aria (https://w3c.github.io/aria-practices/#Listbox). Also they recommended (optional) keyboard access patterns are not supported (Home/End).

## Expected Behavior
Have the tags, roles and behaviour of a menu: https://w3c.github.io/aria-practices/#menu . Support of the rec

[2019-10-07 20:16] #1994 closed

[2019-10-07 21:49] chasestarr commented on #1948
Seems like the issue is resolved. Let me know if it should be re-opened

[2019-10-07 21:49] #1948 closed

[2019-10-09 15:27] chasestarr opened #2048 "[Select] multi height changes when 0/1 options selected"
## Current Behavior

visible on the docs site https://baseweb.design/components/select/#select-as-multi-pick-search
- open the dropdown
- select an option
- notice that the input height grows from 40px to 44px
- only affects the default and compact sizes, large is stable

## Expected Behavior

height should be consistent

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI |

[2019-10-09 16:04] chasestarr commented on #1998
Thank you @ashish-kale - PR merged and will be included in the next release

[2019-10-09 16:11] chasestarr commented on #2029
Agreed that the component name is misleading since it does operate more like a listbox, but I think it's a mistake that we will need to accept. Consumers of baseui will not be particularly happy to update their application code because of a component name change. Do you think we could add more information to the documentation page? Please feel free to open up a PR with documentation improvements.

[2019-10-09 16:18] chasestarr commented on #1831
I'm not exactly sure what you want to achieve, but here are some possible examples: https://codesandbox.io/s/controlled-tabs-usage-3uo57

[2019-10-09 16:18] #1831 closed

[2019-10-09 16:24] chasestarr commented on #1769
I helped someone figure this out the other day, sharing here: https://codesandbox.io/s/toaster-basic-usage-4rqld

closing, let me know if this does not work for you

[2019-10-09 16:24] #1769 closed

[2019-10-09 17:25] #1995 closed

[2019-10-09 22:58] houmark commented on #1769
Nice! That's great and simple. I had thoughts in that direction actually but didn't get around to try it out.

[2019-10-09 22:58] houmark commented on #1769
Maybe this should be added to Toast docs for anyone else to know how this can be done.

[2019-10-10 15:42] gergelyke commented on #1769
@houmark can you please open a PR adding this as an example?

[2019-10-11 02:33] shannonmoeller commented on #1562
Stale, but not abandoned.

[2019-10-11 16:32] chasestarr opened #2073 "[Select] SelectArrow overrides not applied"
## Current Behavior

See [here](https://baseweb.design/components/select/?code=import%20*%20as%20React%20from%20"react"%3B%0Aimport%20%7B%20Select%20%7D%20from%20"baseui%2Fselect"%3B%0A%0Aexport%20default%20()%20%3D>%20%7B%0A%20%20const%20%5Bvalue%2C%20setValue%5D%20%3D%20React.useState(%5B%5D)%3B%0A%20%20return%20(%0A%20%20%20%20<Select%0A%20%20%20%20%20%20options%3D%7B%5B%0A%20%20%20%20%20%20%20

[2019-10-11 17:12] csinge-uber commented on #2073
Following the override documentation and styling tab - The select arrow components can't be styled using the same method as the other overrides. I think its important to keep the overrides consistent with overridable components.

@chasestarr has provided a workaround for now

[code]

[2019-10-11 17:16] csinge-uber commented on #2073
It also appears other Icon overrides are not working

Looking through the code, I suspect the problem is because its not passing through the overrides to the Icons.

[2019-10-11 17:24] csinge-uber opened #2074 "Provide the ability toggle the selected overlay in the styling tool"
My team finds the Styled Overrides tab really useful, the only issue is you can't deselect the last components overlay that you were overriding. Could you provide the ability to turn this on and off so that you can see your freshly styled component in all its glory.

[2019-10-11 17:28] chasestarr commented on #2074
Given the example below, Is the suggestion that after `Root` is open clicking on `Input` should remove the overlay from `Root`?

<img width="726" alt="Screen Shot 2019-10-11 at 10 27 00 AM" src="https://user-images.githubusercontent.com/5317799/66671863-d265d900-ec11-11e9-835a-bb5d91de1b9f.png">

[2019-10-11 18:04] csinge-uber commented on #2074
That part appears to work. I would actually like to turn off the overlay
completely when I am styling a component.

For example, the overlay is an orange color, if I change the background
from grey to white it's hard to tell if the change was applied.

On Fri, Oct 11, 2019 at 10:28 AM Chase Starr <notifications@github.com>
wrote:

[2019-10-11 19:46] chasestarr commented on #2074
what happens when you click 'empty'? is that what you intend?

[2019-10-11 20:06] csinge-uber commented on #2074
Yes, empty has the right effect. Some of the confusion was on me I would
often click into the Root then start editing another component.

Happy to close this request

On Fri, Oct 11, 2019 at 12:46 PM Chase Starr <notifications@github.com>
wrote:

[2019-10-11 22:03] antoniott15 opened #2077 "Accordion overrides not working"
Examples of accordion in base UI web are incorrect or overrides on accordion are not working.

I'm trying to override the background color of the content and don't work for me, in the example given should work.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v8.11.0  |
| React   | 16.8.6 |
| browser |  Chrome   |

- [ X] I have searched the [issues](https://github.com

[2019-10-11 22:11] #2074 closed

[2019-10-14 00:30] houmark commented on #1462
PR still awaiting approval and merge, hope that happens soon... please remove stale tag.

[2019-10-14 15:35] gergelyke commented on #2048
hi @r4zorgeek - sure, thank you for offering your help!

I've just assigned the issue to you

[2019-10-15 20:59] chasestarr commented on #1577
@houmark this seems to have been resolved at some point. Here's what the same sandbox looks like with latest baseui release: https://codesandbox.io/s/block-with-grid-usage-imd7b I'll try to pin down at what point it changed, but hopefully we can simply add a regression test and resolve this issue

@Hrily were you seeing incorrect behavior when working on your fix?

[2019-10-15 21:10] chasestarr commented on #1577
seems to have been one of the changes below that 'fixed' it

- https://github.com/uber/baseweb/pull/2004
- https://github.com/uber/baseweb/pull/2063

and was just released in the 9.8.0 version

[2019-10-15 21:27] gergelyke commented on #2077
@antoniott15 - please fork a codesandbox, and provide a repro

[2019-10-15 21:45] houmark commented on #2048
This seems to affect more situations for us. We have 3 Select's next to each other, two of them multiple and the last one is a single select. The multiple renders 4px less tall than the single Select (when multiple are empty as they expand in height with "tags" added).

Our "hotfix" has been to force the `minHeight` of the multiple through overrides. It does not matter what sizes the fields are (b

[2019-10-15 21:54] houmark commented on #1577
@chasestarr Yes I am also seeing a full-width field now on 9.8.0, which is actually quite annoying in that particular UI :) On to figure out how I can make it a `minWidth` when empty and full-width of its container when it has options.

[2019-10-16 04:09] #2077 closed

[2019-10-16 05:12] Hrily commented on #1577
Yes, and it was because I was using v9.7.1

[2019-10-16 15:08] chasestarr opened #2100 "[ButtonGroup] cannot differentiate between checkbox mode select/hover/focus state"
## Current Behavior

View [this](https://baseweb.design/components/button-group/#checkbox-mode) `ButtonGroup` example.
- Click the middle button to 'deselect' it
- Notice that the middle button's color does not change
- Hover over right button
- Notice that the right button's color matches the previously 'deselected' middle button
- Click on the right button to 'select' it
- Notice that the middle

[2019-10-16 17:32] chasestarr commented on #2100
Note: this only applies to the light theme

[2019-10-16 18:12] sandgraham commented on #2100
I think the v9 gray changes are compounded with the odd legacy behavior in #1222. after you click a button it is focused- which when the focus state is the same as selected makes it seem like you didn't actually click it. click again and it is selected again 😠

Prob need to add some more differentiation between the states.

[2019-10-17 13:00] MarcusMorba opened #2110 "[Datepicker] option to change date format to e.g. DD.MM.YYYY"
## Feature description
At the moment I can only see a support for a US date format: YYYY/MM/DD
How to change the format to DD.MM.YYYY?

[2019-10-17 13:32] MarcusMorba commented on #2029
Updated and corrected the missing keyboard keys to: Home and End

A short section on the documentation page in regards of accessibility which mentions the listbox markup and behavior would help for sure.

[2019-10-17 13:35] MarcusMorba commented on #2029
Regarding the renaming: if renamed, that´s never nice for developers and should not be done in minor versions. But maybe it can be handled with a major update?

[2019-10-17 14:54] matchatype opened #2111 "ListItemLabel color cannot be overridden"
I think in ListItemLabel the color class is given too close to the label itself, and I'm not able to override it. I can override colors for any other component in ListItem, just not the Label. To reproduce, just try changing the color using the live demo in the docs: https://baseweb.design/components/list/

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.8.0  |

- [x] I have searched th

[2019-10-17 15:46] chasestarr opened #2113 "[Menu] Add recommended Home/End key actions"
## Feature description

as described in this issue: https://github.com/uber/baseweb/issues/2029, the baseui menu does not accept home/end keys to navigate the options. Recommended interaction is detailed here: https://w3c.github.io/aria-practices/#Listbox

TLDR:
- Home press highlights the first menu option.
- End press highlights the last menu option

[2019-10-17 15:47] chasestarr commented on #2113
maybe something like, (shift + up/down) would be similarly appropriate for quick navigation?

[2019-10-17 16:49] rbrishabh commented on #2113
Hey @chasestarr! I would like to look into this! :)

[2019-10-17 18:12] chasestarr commented on #2113
Let's only implement the home/end at the moment. Save shift modifier for later

[2019-10-17 19:12] #2073 closed

[2019-10-17 20:38] r4zorgeek commented on #2048
@chasestarr @gergelyke Hey I am new to open source so can you please help me with this. I tried navigating through the files it seems complicated. Please guide me.

My guess is this problem is occurring due to scaling property of CSS.

[2019-10-17 23:16] chasestarr commented on #2048
I believe it has something to do with this function https://github.com/uber/baseweb/blob/master/src/select/styled-components.js#L25

[2019-10-18 06:02] choyongjoon opened #2128 "[Datepicker] Fix behavior of MonthYearSelect and NextMonthButton with multiple months"
In Calendar with multiple months, the MonthYearSelect and NextMonthButton of 2nd month is not working correctly.

MonthYearSelect: If October is selected in the 2nd month, the 2nd month will be November. And the 1st month will be October

NextMonthButton: If NextMonthButton is clicked, the months are increased by 2

And when `orientation={ORIENTATION.horizontal}` is applied, the MonthYearSelect is

[2019-10-18 17:10] gergelyke commented on #2128
hi @choyongjoon - thanks for opening the issue! based on the description, I am not sure if I fully understand the issue. Any chance you can do a screen recording, and post a gif?

[2019-10-18 21:13] chasestarr commented on #2128
Ah I see what you mean, styles guides from our designers define that the month titles should not be interactive if more than one month is displayed. In that case, this is a bug, and `orientation = undefined` should operate the same as `orientation = ORIENTATION.horizontal`.

[2019-10-18 21:13] chasestarr commented on #2128
To reproduce, comment out the `orientation` prop from the codesandbox example linked above

[2019-10-19 21:11] andersonba opened #2144 "[Typescript] Missing align prop in StatefulRadioGroup component"
Codesanbox
https://codesandbox.io/s/horizontal-alignment-m1yxf?eslint=1&fontsize=14&module=%2Fexample.tsx

## Current Behavior

I can't use the "align" property with the StatefulRadioGroup.

<img width="606" alt="image" src="https://user-images.githubusercontent.com/1501013/67151361-149bb400-f2bd-11e9-8b90-bc7170362855.png">

## Expected Behavior

Should work properly with the same properties from

[2019-10-21 17:28] #2144 closed

[2019-10-23 21:49] NameFILIP opened #2165 "`disabled` flag on the `FormControl` does not disable the `Input`"
Try it on the latest (v9.10.0):
* https://baseweb.design/components/form-control/

or in the CodeSandbox:
* https://codesandbox.io/s/ot57p?module=/example.js

[2019-10-24 00:13] #1908 closed

[2019-10-25 07:42] choyongjoon commented on #2128
@chasestarr You're right. I missed to remove the `orientation` prop and fork the codesandbox example. I modified the link. So I wrote multiple issues about displaying multiple months in here. 1) When `orientation = undefined`, there is a interactive month select. 2) the interactive month select is not working correctly. 3) the next month button is working differently with the prev month button. If

[2019-10-25 08:01] choyongjoon commented on #2128
@gergelyke I uploade 2 gifs. Thanks for your comment.

[2019-10-26 00:46] btford commented on #1821
This is not stale! I have a PR incoming

[2019-10-27 13:27] r4zorgeek commented on #2048
@gergelyke Hey have you fixed this issue?

[2019-10-28 10:28] vik-buchinski opened #2180 "Slider rtl=true track issue"
The slider's pin goes to the 2 positions to the right when I click on it.

Example: https://codesandbox.io/s/slider-598fq
Video: https://drive.google.com/file/d/1NMgXhTh4O631dQyss7t5azt5UoBXQRz8/view?usp=sharing

## Current Behavior
The slider's pin goes to the 2 positions to the right when I click on it.

## Expected Behavior

Slider's track goes to exact position where the user clicked.

## Your

[2019-10-28 12:54] MarcusMorba opened #2181 "[Datepicker] Accessibility Improvements"
## Current Behavior
Compared to the w3c example (https://w3c.github.io/aria-practices/examples/dialog-modal/datepicker-dialog.html) the datepicker component has several issues to discuss.

~~1. calendar has role=application
this role is not recommended and should be removed. From : https://w3c.github.io/using-aria/#using-application
As of this writing, when application mode is set, many screen rea

[2019-10-28 12:56] MarcusMorba commented on #2181
Please have a look and give a first feedback of your opinions for further descriptions. Thanks.

[2019-10-28 16:31] gergelyke commented on #2180
Hi @vik-buchinski - it seems like once you apply the `dir="rtl"` attribute to the body, it works. In codesandbox, that part is missing. Also, if you try the documentation site in the RTL mode, that works too (the upper right paragraph icon).

Have you tried it in your app?

[2019-10-28 16:33] gergelyke commented on #2181
These look valid - what do you think @nadiia ?

@MarcusMorba, would you be up for taking these issues, one by one, and sending PRs?

[2019-10-28 16:42] gergelyke commented on #2048
yes, going to merge today - sorry for taking it from you, but we had quite some internal folks bumping the prio on this one

[2019-10-28 16:54] #2048 closed

[2019-10-28 16:55] vik-buchinski commented on #2180
@gergelyke

Sorry, but it is not missing, it is there, please look at the index.html.
Also, I tried to reproduse the issue on the website, and it also seems like there. Seems like it somehow around min/max/step values.
Video: https://drive.google.com/file/d/1QkzR3UB0N5EqprrWOUsOQJ1If11CzfE_/view?usp=sharing

[2019-10-28 17:06] gergelyke commented on #2180
Okay, I see - the issue arise when there are min values defined - I'll look into this today

[2019-10-28 22:22] gergelyke commented on #2180
@vik-buchinski I have a PR up that fixes it: https://github.com/tajo/react-range/pull/48

[2019-10-29 00:00] #2180 closed

[2019-10-29 13:14] r4zorgeek commented on #2048
@gergelyke It's okay. Actually it was my mistake I couldn't complete in time because I was busy with college. Let me know any other issues which will be good for me(new to open source).

[2019-10-30 20:09] conradreuter opened #2200 "useStyletron no longer returns a hook"
According to https://github.com/styletron/styletron/pull/340, `useStyletron` no longer returns a hook.

This should be reflected in the docs, which currently makes it seem like it is a hook.
https://baseweb.design/components/use-styletron/

[2019-10-30 21:07] NameFILIP opened #2201 "Create a `base16` baseweb theme definition"
It would be nice to have a `base16` theme definition somewhere since it is a popular theming standard.

Use-case: I want to use a `react-json-tree` which uses `base16` format for theming: https://github.com/reduxjs/redux-devtools/tree/master/packages/react-json-tree#theming.

Base16 description - http://chriskempson.com/projects/base16/

[2019-10-31 00:15] gergelyke commented on #1971
this was fixed in an earlier commit

[2019-10-31 00:15] #1971 closed

[2019-10-31 16:01] chasestarr opened #2205 "[Datepicker] delete all text does not trigger onChange"
https://codesandbox.io/s/datepicker-ujmts

## Current Behavior

highlight all text in input
press backspace/delete
onChange is not called

## Expected Behavior

following the above repro steps, I expect onchange to be called. value to be determined

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.12.0  |

[2019-10-31 19:29] chasestarr opened #2208 "[Accordion] toggle icon overrides not properly applied"
The `ToggleIcon` overrides on `Panel` is not properly configured. When the icons are 'globally' overridden. See https://codesandbox.io/s/pagination-icon-overrides-yt38g for reproduction

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.12.0  |

- [x] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe that this is not a

[2019-11-01 17:19] huaying opened #2215 "[Select] got a weird behavior while using "Zhuyin""
Thanks you guys for creating the amazing library!
Here I want to explain a strange behavior happening while I was typing zhuyin with Select component.

[Zhuyin](https://en.wikipedia.org/wiki/Bopomofo) is a major input method for Taiwanese.
When you use zhuyin to type Chinese, It first shows a predicted word and you get a chance to correct it if the word is not what you want. You eventually press "

[2019-11-01 18:33] gergelyke commented on #2215
@huaying thanks for opening the issue - would the expected behavior be that the input is cleared? once the option is created?

[2019-11-02 05:29] houmark opened #2224 "Regression: Modal closes when an open Select is going outside the Modal"
## Current Behavior
When a Select is inside a small Modal, and you open and click an option, the Modal closes unexpectedly. I believe this is a regression introduced in 9.13.0 potentially from #2206.

The demo on the Baseweb website has this behavior as well:
https://baseweb.design/components/select/#select-in-a-modal-dialog

The 9.12.0 demo does not have this behavior:
https://v9-12-0.baseweb.des

[2019-11-02 10:31] huaying commented on #2215
Yeah the extra input "中文" should be cleared, thanks!

[2019-11-04 18:18] gergelyke commented on #2215
@huaying - I couldn't reproduce the issue - can you help me what am I missing?

![ezgif-6-cb35404e4038](https://user-images.githubusercontent.com/2174968/68146218-5c8d1e80-feec-11e9-9463-180c1faa0894.gif)

[2019-11-04 18:56] houmark commented on #2224
@gergelyke Not sure how bad the bug was which was fixed and introduced the regression, but this one seems to be a bigger issue, so if there's no easy fix, maybe the other bugfix should be reverted?

[2019-11-04 18:57] gergelyke commented on #2224
@houmark - exactly what we are doing right now :) @nadiia will revert this, and we'll release a patch shortly

[2019-11-04 19:13] houmark commented on #2224
Great! I was just a bit confused by the "help wanted" tag, which made it seem like it may not become fixed or the regression reverted.

[2019-11-04 19:59] #2224 closed

[2019-11-04 20:37] chasestarr opened #2227 "[DataTable] Boolean column should display false on left, true on right"
swap the alignment of true/false on the data table boolean column

[2019-11-04 21:34] chasestarr opened #2230 "[DataTable] Numerical column accepts a format function"
For example, suppose I want to render a number formatted to a particular currency that is not US dollar

[2019-11-04 22:26] #2208 closed

[2019-11-04 22:57] chasestarr opened #2233 "[DataTable] Filters can be positioned outside of table context"
Consider the situation where I want to build and edit filters outside of the `Add Filter` button menu. What's the best way to send that information from a separate react tree to the table contents? One suggested option was to manage this information through react context providers/consumers. We should put together a prototype to test the ergonomics/pitfalls of doing so.

[2019-11-04 23:00] chasestarr opened #2234 "[DataTable] Filter tags should be the same height as the 'Add Filter' button"
<img width="798" alt="Screen Shot 2019-11-04 at 3 00 40 PM" src="https://user-images.githubusercontent.com/5317799/68165284-e56b8080-ff13-11e9-974e-e63064ca42f1.png">

[2019-11-05 19:00] #2227 closed

[2019-11-05 20:55] gergelyke commented on #2215
closing for now - please reopen if you can still reproduce the issue

[2019-11-05 20:55] #2215 closed

[2019-11-05 21:46] #2234 closed

[2019-11-06 07:51] huaying commented on #2215
Hi, thanks for trying Zhuyin :).
ㄕㄨㄟ (mapping to 'f' 'j' 'o' respectively) can not actually consist of a character. You have to do something like ㄕㄨㄟˇ ('f' 'j' 'o' '3') and press enter to form a character "水" (it means water by the way).

[2019-11-06 20:38] conradreuter opened #2251 "[Select] Placeholder is capitalized"
## Current Behavior

`<Select />` puts the placeholder `noResultsMsg` into title case through `text-transform: capitalize`.

## Expected Behavior

It shouldn't.

- [x] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe that this is not a duplicate.

[2019-11-06 21:37] #2251 closed

[2019-11-07 03:31] houmark opened #2257 "Make it possible to jump "show password icon" on password fields"
## Feature description

I've been looking but can't seem to find any option to override and show `tabIndex="-1"` on the "show password" icon when a field is type password.

In a normal form flow the user will fill in fields and hit tab to move to the next field, but when you have a password field it will jump to icon and hitting the wrong key after that will accidentally show your password, which

[2019-11-07 08:44] LXSMNSYC opened #2258 "Docs: Overriding password masking mechanism"
## Current Behavior

<img width="616" alt="image" src="https://user-images.githubusercontent.com/4783372/68373130-329e5b00-017d-11ea-9919-2874231f1276.png">

According to the docs, the way to override the mask toggle button feature is to pass an Override object which replaces the mask toggle button component.

I tried using the same shape of the Override object as given in the examples, but it see

[2019-11-07 09:20] LXSMNSYC opened #2259 "Docs/Feature: Show, Hide and Blank icons missing from baseui/icon"
<img width="557" alt="image" src="https://user-images.githubusercontent.com/4783372/68375983-bf97e300-0182-11ea-88a3-b6a0144f16d8.png">
<img width="556" alt="image" src="https://user-images.githubusercontent.com/4783372/68376000-c888b480-0182-11ea-9b6f-17565f12be05.png">

Show, Hide and Blank icons are missing from the module 'baseui/icon' exports, even the standalone modules are not working (Docs

[2019-11-07 16:52] gergelyke commented on #2257
Hi @houmark

you can achieve it this way:

[code]

I think the current default behavior is correct, as we have to make sure it's reachable with the keyboard too.

Regarding contributions, we do not expect you to ship typescript definitions - we are happy to help with them. You can find the contribution guidelines here: https://github.com/uber/baseweb/blob/master/CONTRIBUTING.md

Please reopen, if

[2019-11-07 16:52] #2257 closed

[2019-11-07 17:49] gergelyke commented on #2258
You can do something like this : https://codesandbox.io/s/input-for-passwords-44emc

[2019-11-07 17:51] gergelyke commented on #2259
Hi @LXSMNSYC - currently, you cannot manually change imports in the editor on the docs site. I've verified, and it works in codesandbox, so you should be good :)

[2019-11-07 17:51] #2259 closed

[2019-11-07 18:19] #2258 closed

[2019-11-07 19:14] houmark commented on #2257
Very cool. Was not aware of props in that way. I had forgotten. The docs site does not have a lot of examples with doing props overrides, so you may consider adding this to the doc site as an example?

I will try to get into contributing soonish, but first I should learn Baseweb better because most of ones need is already possible with the flexible overrides.

[2019-11-07 19:15] gergelyke commented on #2257
I think this example would make a good first contribution - what do you think? :)

[2019-11-07 22:18] rohit012 commented on #2181
@gergelyke I can try some fixes described here, one by one. Please suggest if it is okay ..

[2019-11-07 22:19] gergelyke commented on #2181
that sounds perfect

[2019-11-07 22:42] nadiia commented on #2181
Thank you, @MarcusMorba, for putting this list together. The second point on adding a button to open a dialog is valid but needs to be approved by design. It can also be added optionally when composing the calendar with an input.

[2019-11-08 02:28] chasestarr opened #2269 "[TimePicker] Does not support null values"
## Feature description

Consider the situation where we have a form that has an optional time selection. Right now, the timepicker always selects the closest time to 'now' but in that case we will always have a value set.

See here for a hack around it, but less that ideal: https://codesandbox.io/s/timepicker-placeholder-hack-bfiyi Nullable values should be built into the component

[2019-11-08 04:23] LXSMNSYC commented on #2259
Btw, this isn't just on the demo, I tried it on Base 9.14 and looked up the type definitions

[2019-11-08 04:25] LXSMNSYC commented on #2258
the problem is that I am using TypeScript and it isn't the type definitions.

[2019-11-08 17:56] #2233 closed

[2019-11-08 23:36] #2269 closed

[2019-11-09 08:24] huaying commented on #2215
Hi @gergelyke,  The [PR](https://github.com/uber/baseweb/pull/2284) above is to solve this issue. Please take a look, thanks.

The basic idea is that we don't want to take into account  the Enter key events from Zhuyin.

[2019-11-10 19:07] adenta opened #2285 "Allow FormControl access to label 'for' Property"
It would be nice for accessibility's sake to be able to link labels to inputs within BaseWeb.

[2019-11-11 04:10] MusaBajwa commented on #2205
May I work on this if possible.

[2019-11-11 17:04] gergelyke commented on #2205
Yes, thank you @MusaBajwa  - I'll just assign the ticket to you

[2019-11-11 17:27] gergelyke commented on #2285
Hi @adenta - it's handled for you automatically. If you go to https://baseweb.design/components/form-control/#examples, and click "Input label", the focus is automatically transferred.

This is what we do under the hood: https://github.com/uber/baseweb/blob/master/src/form-control/form-control.js#L87

Please feel free to reopen if you are looking for something else!

[2019-11-11 17:27] #2285 closed

[2019-11-12 16:00] sebastianpantin opened #2298 "[Theming] Custom theme broken between v9.5.0 and v9.5.1"
## Current Behavior
 I have defined a custom theme based on the light theme where I override only the primary colors.
I set all the primary colors to "blue" which should set the background color of, for example, buttons of secondary type to be blue.

The problem is that when upgrading from v9.5.0 to v9.5.1 (and later) only the styling of my home page is styled according to this custom theme and an

[2019-11-12 17:22] gergelyke commented on #2298
@sebastianpantin can you please create a codesandbox that reproduces the issues?

[2019-11-13 07:12] sebastianpantin commented on #2298
I found out the problem. I had imported the button component for example by writting:
`import {Button} from "baseui/button/index";` instead of `import {Button} from "baseui/button";`

[2019-11-13 07:12] #2298 closed

[2019-11-14 06:12] Ratna037 opened #2313 "Found a security issue"
Hello Team,

Can you please let me know that can I disclose a security vulnerability here ?

or please tell me the right way to disclose the vulnerability report .

[2019-11-14 06:25] gergelyke commented on #2313
hi @Ratna037 - please send an email to gnemeth@uber.com

thank you!

[2019-11-14 23:55] nadiia opened #2318 "[theme]: Refactor theme creator"
# Feature description
- remove `zIndex` from the theme object;
- remove legacy semantic colors from the theme object `color-deprecated-semantic-tokens.js`;
- make `primitives` optional in theme creator, possibly remove its usage in `createTheme` completely;
- revisit primitives type, possibly separate color and font primitives.

[2019-11-15 02:57] #2313 closed

[2019-11-15 02:57] gergelyke commented on #2313
we'll follow up in that email - thank you for the report @Ratna037

[2019-11-15 07:26] LXSMNSYC opened #2324 "[Theme] Uses Dark Theme Primitives but still displays Light Theme"
Hello.

Our site is currently using the dark theme primitives, but it is weird to see that the primitive values are different from the output.

[code]

For example, this datepicker:

<img width="378" alt="image" src="https://user-images.githubusercontent.com/4783372/68924529-05286180-07bc-11ea-81bb-d7fbb6557d19.png">

which is very weird, considering the dark-theme-colors declared as:
[code]

but

[2019-11-15 07:29] LXSMNSYC commented on #2324
Calendar output:
<img width="389" alt="image" src="https://user-images.githubusercontent.com/4783372/68924860-a6afb300-07bc-11ea-8a9a-f107c4fc3489.png">

[2019-11-15 07:33] LXSMNSYC commented on #2324
Nevermind, I didn't you had to provide the DarkTheme fields to the custom theme.

[2019-11-15 07:33] #2324 closed

[2019-11-15 20:44] ODAVING commented on #2318
I think I'll be able to do this

[2019-11-15 21:00] ODAVING commented on #2318
I was unable to find `color-deprecated-semantic-tokens.js` also in `themes/creator.js`  semantic colors you requested doesn't contain anything under it.

[2019-11-17 04:28] andersonba opened #2330 "[Input] wrong height in input password compact mode"
## Current Behavior

Wrong height due to the "show password text" button

![2019-11-17 04 28 02](https://user-images.githubusercontent.com/1501013/69003017-afa2a080-08f2-11ea-9c17-9e78dbed4115.gif)

## Expected Behavior

To have the same size as the common field in the compact mode

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.19.0  |
| React   |         |
| brow

[2019-11-17 14:01] andersonba opened #2331 "[RadioGroup] Wrapping items in horizontal mode"
## Current Behavior

https://codesandbox.io/s/radiogroup-wj1m1?module=/example.js

![image](https://user-images.githubusercontent.com/1501013/69008386-b3114880-0941-11ea-909d-1e02e196ce61.png)

## Expected Behavior

Wrap the items in newlines. (flex-wrap fixes it)

![image](https://user-images.githubusercontent.com/1501013/69008381-a5f45980-0941-11ea-8b9c-3d521fb7a896.png)

## Your Environment

|

[2019-11-18 12:46] rbrishabh commented on #2113
Sorry for the delay! Working on this today!

[2019-11-18 14:48] nazariydolfin opened #2332 "Inconsistent usage of overrides for styling + no highlight of MultiValue + no effect after changing colour"
When using the StyleOverride tab for a Select component, with multi prop enabled and a couple of options selected (i.e. multi-select), then:

(1) Clicking on MultiValue does not highlight the tags
(2) Applying background color or any other style attribute has no effect on the tags
(3) It is not clear that MultiValue is an instance of a Tag. Ideally, this should be shown somewhere.
(4) Your overrid

[2019-11-18 16:31] jcready opened #2333 "Add ability to de-duplicate toaster notifications"
The `toaster` export from `"baseui/toast"` is **very** handy. I was wondering if it might be possible to provide the ability to de-duplicate the toaster notifications such that I could prevent multiple "toast" notifications appearing with the same content and also allow me to update the properties of said notification. I imagine adding an optional `id` (or possibly use the existing `key` property)

[2019-11-18 16:33] gergelyke commented on #2332
hi @nazariydolfin - have you tried [this link](https://join.slack.com/t/baseui/shared_invite/enQtNDI0NTgwMjU0NDUyLWQ0M2RhZWNiMDAwNDA4MDFiOWQyNmViODNkMzFmZDczYzM4MDliNjU3MmZhYWE5YjZhZmJjZWY0MDIxZjdkYzE)? It seems to be working for me

[2019-11-18 16:35] gergelyke commented on #2332
Also, regarding your original question, this is a known issue - currently, the StyleOverride tab does not support nested overrides. This is something we'll work on in the coming weeks. Closing for now, but please feel free to re-open for further discussion!

[2019-11-18 16:35] #2332 closed

[2019-11-18 17:00] gergelyke commented on #2331
@andersonba thanks for the report! would you mind opening a PR fixing it?

[2019-11-18 18:15] #2330 closed

[2019-11-19 12:14] sebastianpantin opened #2346 "[Notification] Force line break in message"
Example at https://codesandbox.io/s/notification-qiwp0

## Current Behavior
Inserting `\n`in the string doesn't line break the message.

## Expected Behavior
Should give a line break at the position where I input `\n`.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.17.0  |
| React   |  v16.11.0  |
| browser | Chrome |

- [x] I have searched the [issues](https://gi

[2019-11-19 15:35] kahwee commented on #2346
You can do this https://codesandbox.io/s/notification-dls2y?fontsize=14&hidenavigation=1&theme=dark

Use it with caution though.

If the message is determined using user input, there's a possibility the user can inject arbitrary scripts that could compromise security.

[2019-11-19 16:07] sebastianpantin commented on #2346
Realised that you could do it like in this codesandbox: https://codesandbox.io/s/notification-jde02
No need for the `dangerouslySetInnerHTML`.

[2019-11-19 16:07] #2346 closed

[2019-11-19 18:03] #2331 closed

[2019-11-19 21:43] gergelyke opened #2349 "Make Datepicker aria labels i18-n compliant"
Currently, the labels are hardcoded: https://github.com/uber/baseweb/blob/838965328fcf286a2d014871b513bcd72e1fd1a7/src/datepicker/day.js#L207-L227

We should expose them through the LocaleContext

[2019-11-20 14:56] nazariyv opened #2352 "[theme]: Input does not change color"
This does not change the color of the fill to white:

[code]
any idea why?

[2019-11-20 15:04] nazariyv commented on #2352
need to match the shape of the theme object as here:https://baseweb.design/guides/theming/#the-shape-of-the-theme-file

so that would be:
[code]

[2019-11-20 15:04] #2352 closed

[2019-11-20 21:45] uParkA opened #2356 "Datepicker property mask argument has flow errors"
Currently, trying to use the `mask` property inside the `Datepicker` component. According to the [Baseui Docs](https://baseweb.design/components/datepicker/#datepicker-with-localization) you can pass the argument `null` into it. Unfortunately, flow errors occur saying that it can only be a string.

<img width="930" alt="Screen Shot 2019-11-20 at 4 41 13 PM" src="https://user-images.githubuserconte

[2019-11-21 01:35] tvst opened #2361 "Latest radio buttons look lopsided"
When I go to https://baseweb.design/components/radio/ the radio buttons look like this:

![lopsided_radio_button](https://user-images.githubusercontent.com/690814/69292628-72246880-0bbb-11ea-88a1-3ef991d9cc1a.png)

Notice how the top and right edges are wider than the bottom and left ones.

More info:
* This is on Base Web 9.21.1, but I can repro all the way down to v5 (but not v4).
* I'm on Ubunt

[2019-11-21 12:53] akshaymarch7 opened #2364 "[Radio] UI distorts when align="horizontal""
## Current Behavior
UI distorts when align="horizontal"

Steps to Reproduce:

- Open - [https://baseweb.design/components/radio/](https://baseweb.design/components/radio/)
- Select `align="horizontal"`

![image](https://user-images.githubusercontent.com/12824231/69339521-859f0480-0c8b-11ea-96d7-333135790955.png)

## Expected Behavior
UI should render properly

## Your Environment

| Tech    | Vers

[2019-11-21 22:18] #2356 closed

[2019-11-22 00:44] eekbatani commented on #2364
I can go ahead and try to get this fixed if you don't mind assigning the issue to me.

[2019-11-22 00:47] gergelyke commented on #2364
thank you @eekbatani

[2019-11-22 01:46] chasestarr commented on #1577
Closing, thanks @Hrily for adding a regression test

[2019-11-22 01:46] #1577 closed

[2019-11-22 10:10] jafaryfarzaneh commented on #2349
I am working on it.

[2019-11-22 13:51] rohitb4 commented on #2181
Can I try fixing a few items mentioned in the issue @gergelyke

[2019-11-22 16:48] neggi opened #2368 "Theme doesn't work with electron-webpack"
## Current Behavior
I am provinding theme values like this
[code]
It did nothing to the button
the logged theme value shows that it was changed.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.22.0  |
| React   | 16.9.0 |
| electron | 5.0.6 |

My set up is similar to this
https://github.com/electron-userland/electron-webpack-quick-start
- [X] I have searched the [i

[2019-11-22 16:56] gergelyke commented on #2368
hi @neggi - thank you for opening the issue

I've checked, and in the browser env it works: https://codesandbox.io/s/electron-dgwx6

Sadly, we don't have the time to investigate this issue - if you do, please let us know, so we can incorporate any changes necessary.

[2019-11-22 16:58] gergelyke commented on #2181
Sure thing - I've just assigned it to you

[2019-11-22 17:03] gergelyke commented on #2349
thank you - I am going to assign it to you

[2019-11-22 17:04] jafaryfarzaneh commented on #2349
Thanks, I already pushed it ;)

[2019-11-22 17:33] neggi commented on #2368
thanks, @gergelyke for the reply
I found that the theme object received by the button is not what the base provider have by logging the $theme value in button overrides.

[2019-11-22 20:57] neggi commented on #2368
The problem was with the electron-webpack setup, change the configuration to create-react-app worked inside electron.

[2019-11-22 22:24] #2349 closed

[2019-11-23 22:15] ODAVING commented on #2361
I can work on this issue :), if it's still available

[2019-11-25 10:34] #2368 closed

[2019-11-25 12:39] dpenny opened #2377 "[DataTable] - exportable Filter and/or Editable components"
# Feature description
My application has 'List Tables' for managing social media campaigns across various platforms.

For example, we have a table representing campaigns in twitter with various fields - ie each row is a twitter campaign, and each column is a field such as campaign name, status, budget, etc.

We want some of these fields to be editable inline.

We currently have a custom `DataTable

[2019-11-25 17:25] chasestarr commented on #2377
My concern is that it may be troublesome to transform your row/column data into the format that the `FilterMenu` expects, since it is tightly coupled to the `DataTable`. You can test it out by importing the `FilterMenu` from `baseui/data-table/filter-menu.js`, but we don't follow semantic versioning on file-level imports. Let me know how it goes and then we can consider exporting it at the directo

[2019-11-25 22:22] #2200 closed

[2019-11-26 15:00] wajeehsheikh commented on #2165
I can take a shot at fixing it!

[2019-11-26 16:44] gergelyke commented on #2165
thank you @wajeehsheikh

[2019-11-27 22:46] NameFILIP opened #2396 "Datepicker is missing the size property"
I would like to have a `compact` [Datepicker](https://baseweb.design/components/datepicker/), similar to `Input`, `Select`, etc, but the `size` property is missing in the component.

Would it be possible to add it?

[2019-11-28 23:58] KarlaChen commented on #2361
Hi, @tvst, Can I get more information?

[2019-11-29 20:01] mrtnbroder opened #2400 "[Datepicker] formatString behaves unexpected"
## Current Behavior

When formatString equals something like `MMMM yyyy`, then it shows as a weird value.

[https://baseweb.design/components/datepicker/](https://baseweb.design/components/datepicker/?code=import%20*%20as%20React%20from%20%22react%22%3B%0Aimport%20%7B%20Datepicker%20%7D%20from%20%22baseui%2Fdatepicker%22%3B%0A%0Aexport%20default%20()%20%3D%3E%20%7B%0A%20%20const%20%5Bvalue%2C%20se

[2019-11-30 07:35] houmark commented on #2346
I believe a more correct and cleaner way would be to use an override and use `white-space: pre-line` instead of `white-space: pre`.

Something like:

[code]

This will also work in a `toaster` where you cannot use a function with a child `div`.

[2019-12-01 03:10] wajeehsheikh commented on #2165
So after looking into this bug. The solution is, for the disabled button to add the `disabled` prop in the `<Input />` tag like this:

<img width="300" alt="Screen Shot 2019-11-30 at 9 51 44 PM" src="https://user-images.githubusercontent.com/37858452/69908713-ed0c3100-13bc-11ea-94b1-68388805b53f.png">

Instead it adds the `disabled` prop in the `</FormControl>` tag like this:

<img width="300" alt

[2019-12-01 04:25] julianruizsa opened #2401 "Phone Input component is breaking the app when filtering country flags and search dont find results"
## Current Behavior
If you set up custom flags on phone input component and try to filter on countries and the search don't find any result on country list, throws an error and break the app.

## Expected Behavior
You should be able to filter countries (with custom flags) and don't get an error.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.23.1  |
| React   |  1

[2019-12-01 07:24] sijad opened #2402 "[DataTable] loading state"
## Feature description

show loading inside DataTable to let user know data are fetching from external resources.

[2019-12-01 07:27] sijad opened #2403 "[DataTable] ability to change empty state component"
## Feature description

currently it's not possible to customize [empty state](https://github.com/uber/baseweb/blob/db8c89e3284a63df9f28fa954d3430b8f5ac3ea4/src/data-table/data-table.js#L314-L323) component.

[2019-12-02 16:17] gergelyke commented on #2165
@wajeehsheikh I believe @NameFILIP 's point was that the FormControl component should automatically propagate the `disabled` property to its' children - is that correct?

[2019-12-02 16:19] gergelyke commented on #2401
@julianruizsa thank you for the report - I'll look into this right now

[2019-12-02 17:26] gergelyke commented on #2400
hi @mrtnbroder - for some of the formatters, you have to provide a locale object to work. you can find an example for that here: https://codesandbox.io/s/datepicker-with-localization-nk11z

I'll make a PR to make it more highlighted in the documentation

[2019-12-02 17:56] #2400 closed

[2019-12-02 18:02] gergelyke commented on #2401
actually, I am not that familiar with this component - @sandgraham when you have the time, can you look into this please?

[2019-12-02 18:09] sandgraham commented on #2401
Was able to reproduce here: https://codesandbox.io/s/phone-input-custom-flag-filter-bug-oyo6q

Will look into this today.

[2019-12-02 18:09] gergelyke commented on #2401
Thank you Graham

[2019-12-02 18:18] #2396 closed

[2019-12-02 20:50] lczhao opened #2407 "[DataTable] Ability to rearrange columns"
## Feature description
Ability to rearrange a columns using drag & drop behavior.
Example:
https://material-table.com/#/docs/features/grouping

Click on any of the examples, drag and drop columns to re-order them.

[2019-12-02 23:25] #2401 closed

[2019-12-03 02:02] NameFILIP commented on #2165
Correct. Otherwise, I need to pass the `disabled` property to both `FormControl` and `Input` which is redundant

[2019-12-03 08:05] tvst commented on #2361
Sure @KarlaChen ! What do you need exactly?

[2019-12-03 13:38] KarlaChen commented on #2361
@tvst Sorry, I have so bug fixing right now, don't think I have time to fix it.

[2019-12-03 22:57] #2165 closed

[2019-12-04 00:46] tconkling opened #2417 "Slider: can't select values that are not multiple of step"
https://codesandbox.io/s/slider-4ngs0

## Current Behavior

I have a slider with current value = 1 and step = 2. When I drag the slider one step to the right, the current value becomes 4.

## Expected Behavior

I expect to get a current value of 3. It seems like Slider doesn't allow selecting values, via user interaction, that are not a multiple of "step".

## Your Environment

| Tech    | Version

[2019-12-04 01:27] tconkling opened #2418 "Datepicker: years before 2000 cause several issues"
https://codesandbox.io/s/datepicker-tkn6r

## Current Behavior

If I set the current value or the minDate of a Datepicker to a date before Y2K, I see the following behaviors:

(See the [linked codesandbox](https://codesandbox.io/s/datepicker-tkn6r) for an example that behaves problematically)

- I can't use the left-arrow button to select months _before_ Jan 2000 (despite my minDate being earlier

[2019-12-04 16:36] gergelyke commented on #2418
@tconkling can you help us look into this?

[2019-12-04 17:24] chasestarr commented on #2417
It looks like the available steps should consider the min value. Given `value = 2`, `min = 2`, and `step = 3`, I similarly expect the first available step to be `5`.

When determining if the slider "in-progress" value lands on a step, the component should calculate `(inProgressValue - min) % step`

[2019-12-04 17:26] gergelyke commented on #2417
yeah - I'll put up a diff today to react-range to fix it

[2019-12-04 21:27] kantuni commented on #2418
Hi @gergelyke,

I'll try send you the PR tomorrow.

[2019-12-04 22:36] #2417 closed

[2019-12-05 11:58] rohitb4 commented on #2113
Can I look into this issue? @chasestarr

[2019-12-05 19:29] chasestarr commented on #2113
@rohitb4 I would wait a day or two to see if @rbrishabh is still looking into it, but after that I imagine it's fine

[2019-12-06 10:52] kantuni commented on #2418
Here you go: https://github.com/uber/baseweb/pull/2430

[2019-12-06 21:50] leyanlo opened #2433 "docs(modal): untoggling autoFocus should set to false"
Docs site playground for Modal is confusing for autoFocus prop. Since autoFocus defaults to true, toggling it does not have to add it as a prop to the component. More importantly, untoggling autoFocus should explicitly set the prop to false to work.

https://baseweb.design/components/modal

- [x] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe th

[2019-12-07 01:03] sandgraham opened #2434 "Cannot change font size of Select"
On baseui v9.27.0 there is some strange behavior when trying to override the font size of a Select:

![selectissuefontsize](https://user-images.githubusercontent.com/1939257/70366146-16f4a600-184a-11ea-9db9-cf966d82fb32.gif)

This is targeting `Input` and `ControlContainer` with overrides. Note, this used to work in v8.

[Reproduction here](https://baseweb.design/components/select/?code=import%20*

[2019-12-07 08:57] MarcusMorba commented on #2181
Thanks to all. Will post future issues one by one for the latest releases I´ll check next week. Sorry for the very delayed response. Last weeks have been pretty busy.

[2019-12-07 08:59] MarcusMorba commented on #2110
Thanks

[2019-12-07 20:48] kirbycool opened #2435 "[Modal] Closing nested modals with ESC leaves body scroll locked"
If you open nested modals and close them both by pressing ESC, the body scroll lock doesn't get reset properly.
This is reproducible in the nested modal example from the docs (I tried in both Chrome and FF).
1. Go to https://baseweb.design/components/modal/#adding-nested-modals
2. Open the modal and the nested modal
3. Press ESC to close the modals
4. The body isn't scrollable

I dug in a bit, and

[2019-12-09 09:34] Mater opened #2436 "Datepicker with positive prop"
## Current Behavior
`Datepicker` with `positive` prop, error in console.

Same problem with `MaskedInput` (`Datepicker` uses it)

## Expected Behavior
No errors

## Your Environment

https://codesandbox.io/s/datepicker-ciotw

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.27.0  |
| React   | 16.8.6  |
| browser |  Google Chrome Version 78.0.3904.108 (Official Build) (64-bit) |

- [x] I

[2019-12-09 11:00] rohitb4 commented on #2113
@chasestarr can I look into this issue now?

[2019-12-09 11:10] rbrishabh commented on #2113
Hey @rohit012 ! You can ake this up!

I have been really busy with other ones! This one is all yours! ;)

[2019-12-09 16:51] gergelyke commented on #2434
I believe it's related to this part https://github.com/uber/baseweb/blob/master/src/select/autosize-input.js#L63-L70

[2019-12-09 17:03] gergelyke commented on #2433
@tajo should we address this/move the ticket to react-view?

[2019-12-09 17:16] gergelyke commented on #2435
@kirbycool thank you for the bug report! any chance you could send a PR fixing it?

[2019-12-09 17:32] kirbycool commented on #2435
Sure! I'll take a stab at it when I get some free time.

[2019-12-09 17:33] gergelyke commented on #2435
thank you! 🤗

[2019-12-09 19:27] #2436 closed

[2019-12-09 20:23] cbranch101 opened #2442 "Export override helpers"
## Feature description

We're working on our own shared component library that extends base web, and we'd like to be able to implement overrides in our components.  To achieve that, exporting `getOverrideProps` `getOverrides` and `getOverride` and any other helpers you think are necessary to implement overrides would be very helpful.

[2019-12-09 20:27] gergelyke commented on #2442
@cbranch101 would you mind sending a PR with your proposed solution?

[2019-12-10 21:14] gergelyke commented on #1462
this was fixed in a previous release

[2019-12-10 21:14] #1462 closed

[2019-12-10 21:15] #1807 closed

[2019-12-11 23:55] #2434 closed

[2019-12-12 08:38] a-peltier opened #2469 "[Typescript] RadioGroup and Radio's onChange prop is not typed like the native input"
First of all : I'd like to say that baseweb is a great project : I have been using it for personal projects for a while now, and we were able to use it in my company since the typescript definitions have been added, so thank you all 🎉

## Current Behavior

Currently, in typescript we need to cast the `event.target` in the `onChange` event handler, even though it is not needed for a native radio in

[2019-12-12 18:24] shoshannamb opened #2470 "[DataTable] Drag-to-resize for table columns"
## Feature description

This is a major blocker for us using the BaseWeb Data Table in our applications. Otherwise, it looks great!

[2019-12-12 19:06] VladimirMilenko commented on #2442
@cbranch101 I believe, you can already do it by importing it directly from baseweb.

[code]
You can see, all the exported functions:

https://github.com/uber/baseweb/blob/master/src/helpers/overrides.js

[2019-12-12 19:11] chasestarr commented on #2470
Do you have any specific requirements about the feature besides it being available?

[2019-12-12 19:14] chasestarr opened #2471 "[DatePicker] date select on right calendar shifts to left"
example reproduction: https://codesandbox.io/s/cg7bt?module=/example.js

## Current Behavior

1. select a date in the right calendar
2. notice that the previously right calendar is now on the left

## Expected Behavior

1. select a date in the right calendar
2. calendars should not change position

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.29.0  |

- [x] I hav

[2019-12-12 19:16] benmkramer commented on #2471
Thanks Chase. I agree this might not be a big deal and users might generally select the start date first, so advancing the calendar gives them more range automatically. However, if there are users or use-cases that might lean towards picking an end date first, then it could be nice to configure this auto-advancement.

[2019-12-12 19:20] shoshannamb commented on #2470
Nope.

[2019-12-12 19:42] chasestarr commented on #2471
I'm going to mark this issue as an `enhancement` to provide the ability to configure this behavior since we now want the position shifting to be default behavior.

[2019-12-12 20:47] cbranch101 commented on #2442
Awesome, that's what I needed.

[2019-12-12 20:47] #2442 closed

[2019-12-12 22:56] gergelyke commented on #2469
Hi @a-peltier thank you, please send a PR :)

[2019-12-13 01:04] chasestarr commented on #2470
Do you currently use a custom table or another open source project?

[2019-12-13 18:10] #2469 closed

[2019-12-13 23:13] chasestarr commented on #2470
proof of concept here: https://github.com/uber/baseweb/pull/2486

and example: https://baseweb-git-data-table-column-resize.uber-ui-platform.now.sh/components/unstable-data-table/#basic-usage

[2019-12-13 23:13] gregostrowski opened #2487 "[DataTable] Filter Errors when mapping from object"
I get errors with Numerical Filtering and Categorical Filtering when my `mapDataToValue` function is getting a value from an object.

eg:  `mapDataToValue: (data) => data.title,`

You can see the behavior in your examples, as the 3rd one, Custom Line Height, maps data from an object, compared to the other two that only map directly from a value.

https://codesandbox.io/s/9kqoq?module=/example.js

[2019-12-14 00:14] #2435 closed

[2019-12-16 14:47] shoshannamb commented on #2470
We're currently using react-data-grid, but would like to move away from it in Q1.

That looks really nice! I agree with the comment that, ideally, you wouldn't be able to drag the column smaller than the minimum size.

[2019-12-16 19:05] chasestarr commented on #2487
thank you, investigating today

[2019-12-17 18:38] loklaan opened #2506 "Light theme always present when bundling"
- [x] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe that this is not a duplicate.

Elloooo - great work on this DS, it's really pleasant!

## Current Behavior

When bundling a baseui app with webpack/rollup/etc, a chunk of modules under `baseui/themes` (or `baseui/esm/themes`) are included, even if they're unused (such as providing a custom the

[2019-12-17 18:41] gergelyke commented on #2506
@loklaan - thank you for opening the issue

Can you help me if that 20kbs is pre gzip/minification? I had the impression that the whole theme shouldn't be more that a few kbs (gzipped + minified)

[2019-12-17 20:26] loklaan commented on #2506
@gergelyke no problem!

Should have added yeah, that was pre gzip. The gzip diff, given the exclusion of `light-theme.js`/`creator.js`/`light-theme-primitives.js` etc, was ~\*-4kb\*.

[2019-12-17 21:33] #2487 closed

[2019-12-18 19:20] NameFILIP opened #2512 "Type mismatch for `borderTopStyle` property"
I'm getting a type mismatch for `borderTopStyle` property:
[code]

## Current Behavior

Error:
[code]

## Expected Behavior

No Error

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.6.0  |
| styletron-standard   | v3.0.3   |

- [+] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe that this is not a duplicate.

[2019-12-18 19:28] gergelyke commented on #2512
@NameFILIP can you also add the flow version your project uses and the styletron-react version?

[2019-12-18 20:46] chasestarr opened #2513 "[ThemeProvider][BaseProvider] Popover mounts new divs to end of body element"
If an application does not use the `BaseProvider`, `Popover` portaling will leave behind an empty div. What are some ways that baseui can warn developers that `BaseProvider` is missing?

[2019-12-18 20:48] chasestarr commented on #2513
Adding an warning to `ThemeProvider` may not be the right way to go because there are legitimate use-cases to use that separate from `BaseProvider`. Maybe warn if the `Layer` component fails to find the `BaseProvider`?

[2019-12-18 20:54] chasestarr commented on #2512
I believe this has to do with how `borderStyle` is typed as `string` which is not valid. Not sure why it passes when `theme.borders.border400` is spread though

[2019-12-19 03:39] NameFILIP commented on #2512
Flow: 0.105.2
styletron-react: 5.2.4

[2019-12-19 06:22] Mater opened #2521 "Datepicker with clearable prop"
## Current Behavior
`Datepicker` with `clearable` prop, error in console.

## Expected Behavior
No errors

## Your Environment

https://codesandbox.io/s/datepicker-s2t2u

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.33.0  |
| React   | 16.8.6  |
| browser |  Google Chrome Version 79.0.3945.79 (Official Build) (64-bit) |

- [x] I have searched the [issues](https://github.com/uber/base

[2019-12-19 17:55] #2521 closed

[2019-12-19 19:25] tonioloewald opened #2525 "Dark Mode"
When I'm in dark mode (i.e. always) when I go to the baseweb.design story book and navigate between items, the entire UI flips back to light mode and then back to dark.

[2019-12-19 19:28] gergelyke commented on #2525
hi Tonio - can you help us what browser are you using?

[2019-12-19 19:37] gergelyke commented on #2525
oh, nvm, I could repro

[2019-12-19 20:42] mraines4 opened #2527 "[table] allow data to be an array of objects"
It looks like the data only takes an array of objects and the column headers only takes an array of strings.
## Feature description
Is there any way to pass in an array of objects (as in a response from an api request) and use the keys as the column headers and the objects as data rows?

[2019-12-19 21:05] #2525 closed

[2019-12-20 16:11] chasestarr opened #2533 "[Datepicker] Disable keyboard opening on mobile devices"
Feature request from @jonsadka:

[2019-12-20 16:20] chasestarr commented on #2527
Hi @mraines4 this component was designed to be as simple as possible and because of that there is no key indexing API to learn. Your application can transform the data however you prefer before passing it to the table component. You could consider building a function that does the mapping from object to rows/columns yourself.

[2019-12-20 16:20] #2527 closed

[2019-12-20 21:44] jonsadka commented on #2533
@chasestarr see attached photo for the experience opening the date picker on mobile devices.

![4D55461B-61AB-4C59-961B-8C2AFDF9A459](https://user-images.githubusercontent.com/6504944/71294884-cc395a80-232e-11ea-819f-3cd6a599ffab.png)

[2019-12-20 22:26] chasestarr commented on #2533
It looks like applying the "readonly" attribute to the input element should suffice: https://codesandbox.io/s/datepicker-1yqnc but it does render an invalid attribute error in react. Surprisingly it recommends "readOnly" which does not work properly

[2019-12-20 22:33] jonsadka commented on #2533
Interesting. Will apply that fix but I suppose the question is wether this should be default behavior for the datepicker.

[2019-12-20 22:38] chasestarr commented on #2533
yeah should be a good stopgap for you now, we will likely add a control to toggle this

[2019-12-21 08:18] leyanlo opened #2537 "Select does not respond to options updates"
Select component no longer responds properly to options updates after #2476. I believe this is because this.options is assigned in componentDidUpdate(), which happens after render().

See broken behavior in v9.33.0 (search for aqua)
https://codesandbox.io/s/select-search-broken-v9330-523iv?module=%2Fexample.js

See working behavior in v9.30.0 (search for aqua)
https://codesandbox.io/s/select-searc

[2019-12-21 09:10] leyanlo opened #2539 "Select: no way to order optgroups"
Select added support for optgroups in #2476, but was built with as an object, which is unordered.

Current implementation example:
[code]

We should support ordering, maybe by keeping options as an array, e.g.
[code]

[2019-12-23 17:45] #2537 closed

[2019-12-24 22:04] ebati opened #2547 "[PhoneInput] typescript type and flow type not matching"
## Current Behavior

[Flow type](https://github.com/uber/baseweb/blob/bc4e68595c81b7d872896976b46952c4e0d38f48/src/phone-input/types.js#L87) is correct but [typescript type](https://github.com/uber/baseweb/blob/bc4e68595c81b7d872896976b46952c4e0d38f48/src/phone-input/index.d.ts#L325) missing some props.

## Expected Behavior

Both should match

## Your Environment

| Tech    | Version |
| -------

[2019-12-25 03:40] jonsadka opened #2549 "[Card] Expose `srcset` attribute for <HeaderImage /> in <Card />"
## Feature description
In addition to the [`src` attribute](https://github.com/uber/baseweb/blob/master/src/card/card.js#L67) on the `<Card />` component, it would be helpful to pass an optional `srcset` attribute ([mdn](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#attr-srcset)). For example

[code]

[2019-12-26 01:07] rastalamm opened #2552 "Step and decimals past the tenth place"
## Feature description
The ability to have the Slider value to have the same number of decimals as the step definition.

Pending the resolution of [this bug](https://github.com/tajo/react-range/issues/53) in [react-range](https://github.com/tajo/react-range), a `decimal` or `step` parameter  to the `useThumbOverlap` function for the [slider component](https://github.com/uber/baseweb/blob/master/sr

[2019-12-31 00:06] lianga888 opened #2555 "[StatefulMenu] Add optional href for menu item"
It would be useful to be able to supply an href alongside a label to navigate to that destination on click, instead of supplying an `onItemSelect` callback that pushes history.

The benefit of the href over a callback is that you can "Open Link in New Tab", for example.

[A solution where you supply an anchor as the label](https://codesandbox.io/s/statefulmenu-zcso6) is insufficient because only a

[2019-12-31 20:05] reco opened #2556 "TimePicker set step to 1 crashes app"
There should be a way to let users choose time town to the minute.

[2020-01-02 16:39] gergelyke commented on #2547
@ebati thank you for opening this bugreport! could you help us sending a PR to fix it?

[2020-01-02 16:47] gergelyke commented on #2549
@jonsadka thank you for opening this issue! any chance you can help us add this feature by submitting a PR?

[2020-01-02 17:16] gergelyke commented on #2556
@reco can you please provide an example code on what crashes the app?

[2020-01-02 17:19] reco commented on #2556
hey @gergelyke sure.

1. go to https://baseweb.design/components/time-picker/
2. set the step to 1
3. click the time picker

→ browser window unresponsive.

[2020-01-02 17:31] gergelyke commented on #2556
oh, I see - thank you! do you want us to look into this or any chance you can help us track it down?

[2020-01-02 17:40] reco commented on #2556
i think the issue here is that step 1 would render 3600 options. that's just too much.
i think we should have a text input mode on the time picker... thoughts?

yes i would be happy to contribute.

[2020-01-02 21:43] ebati commented on #2547
I tried to update typescript type definition. But i need some help.

Type definition in Flow show requirement of at least listed properties but for typescript type definition shows exact type.

Since the extra fields in phone-input is forwarded to input, there need to be a relation between phone-input props and input props, or combination of all props need to be listed under phone-input. How shoul

[2020-01-02 22:08] #2205 closed

[2020-01-03 04:00] NameFILIP opened #2559 "Display time in the input field of the Datepicker"
## Feature description
When `timeSelectStart` is added to the `Datepicker` a time selector appears on the dropdown panel, but the time is not visible in the input. It would be good to display it there for clarity.

![image](https://user-images.githubusercontent.com/834796/71706540-733fdc80-2d9a-11ea-8824-7ac8a36865a2.png)

https://codesandbox.io/s/datepicker-skdk2?fontsize=14&hidenavigation=1&them

[2020-01-03 05:57] rohitb4 commented on #2555
@gergelyke Can I work on this?

[2020-01-03 16:43] gergelyke commented on #2555
of course, thank you @rohitb4

[2020-01-03 18:04] #2113 closed

[2020-01-03 18:26] jrhone opened #2561 "Set number of visible options in Selectbox"
Is it possible to limit the number of visible options in a select box?

So if there's 50 options we only display 10 and the user can scroll to see the rest instead of displaying all 50?

The HTML Select input has a size attribute but it doesn't seem to be supported by BaseWeb, https://www.w3schools.com/tags/att_select_size.asp

If not possible could you add support for this feature?

Thanks!

[2020-01-03 18:29] gergelyke commented on #2561
hi @jrhone 👋

it's a bit hidden in the props docs, but you can use the `maxDropdownHeight` property to set the height of the dropdown, like here: https://bit.ly/37vOjIz

we don't plan to support the same functionality as the native `size` property

I hope it helps!

[2020-01-03 18:29] #2561 closed

[2020-01-03 21:25] bencohen2 opened #2562 "ProgressSteps override to increase length of ContentTail doesn't work in IE11"
We want to make the `ContentTail` longer than the default, so we used an override on `StyledContentTail`. This works in Chrome but not in IE11 - in IE11, the tail is still too short and doesn't connect all the way to the next dot.

Codesandbox:
https://codesandbox.io/s/progress-steps-ie-bug-nm238

The relevant override is:
[code]

## Current Behavior
The `ContentTail` is too short, this is an IE11

[2020-01-03 22:15] gergelyke commented on #2559
thank you for opening this @NameFILIP - any chance you'd have the time to work on it?

[2020-01-03 22:20] gergelyke commented on #2559
Hm, on second thought, I wonder if it would make more sense to highlight this example, as we already have a specialized component for picking times: https://baseweb.design/components/datepicker/#composed-single-pickers

[2020-01-03 22:33] gergelyke opened #2563 "Calendar time selector does not call onChage"
When using the calendar with the built-in time picker, the onChange prop is not called when a time is selected.

Reproducible here: https://baseweb.design/components/datepicker/#composed-single-pickers

[2020-01-04 05:36] NameFILIP commented on #2559
I guess I can try to use a composed one.

P.S. `timeSelectEnd` property doesn't seem to work on the web:
![image](https://user-images.githubusercontent.com/834796/71760341-0ba89080-2e71-11ea-99f2-d63c88f7fb24.png)

[2020-01-06 10:56] akshatnitd commented on #2563
@gergelyke Can I work on it?

[2020-01-06 11:04] akshatnitd commented on #2559
@NameFILIP I think it works when you select a range of dates.

[2020-01-06 12:50] akshatnitd commented on #2563
I have found a solution to it. Let me know if I can go ahead and raise a PR.

[2020-01-06 16:01] gergelyke commented on #2563
@akshatnitd please do! 🤗 I'd also like to ask you to add a regression e2e test to make sure it won't happen again

[2020-01-06 16:16] bencohen2 commented on #2562
Why is the length of the `ContentTail` implemented using an `:after` CSS selector, rather than making the 'tail' part of the tail its own `div`? I.e. why not make it a `div` with length and width, etc.? It seems like that would be more extensible and more be easier to override.

[2020-01-06 16:39] akshatnitd commented on #2563
@gergelyke Sure, will do.

[2020-01-06 16:41] gergelyke commented on #2563
thank you!

[2020-01-06 16:41] gergelyke commented on #2556
@chasestarr what do you think, how should we handle this case?

[2020-01-06 16:49] chasestarr commented on #2470
@shoshannamb Please review this feature and provide feedback on if it meets your needs https://baseweb-git-data-table-column-resize.uber-ui-platform.now.sh/components/unstable-data-table/

[2020-01-06 16:52] shoshannamb commented on #2470
Looks great, thank you!

[2020-01-06 17:02] chasestarr commented on #2556
We could add windowing to the list, although every time-picker will need to pay for the additional bundle size even if there is a small number of options. Maybe an extra ~7kb is acceptable?

My personal opinion is that minute precision is a suboptimal user experience compared to 'creatable' times, especially given a 24 hour range. One situation I think that level of granularity would be successful

[2020-01-06 17:13] gergelyke commented on #2556
that makes perfect sense - @reco would creatable times work for you?

[2020-01-06 17:30] chasestarr commented on #2470
Thanks, gonna merge it in today

[2020-01-06 23:47] NameFILIP opened #2571 "Export Timezone type from the timezonepicker/types"
## Feature description
I would like to use the `Timezone` type in my application (redux state, callbacks, etc). Please export it from the timezonepicker/types:
[code]
(https://github.com/uber/baseweb/blob/master/src/timezonepicker/types.js#L35)

[2020-01-06 23:54] gergelyke commented on #2571
@NameFILIP would you mind creating a PR for this?

[2020-01-07 07:45] NameFILIP opened #2573 "TimePicker and TimezonePicker are missing the size prop"
## Feature description
Please add the `size` property to the `TimePicker` and `TimezonePicker`. Similar to https://github.com/uber/baseweb/issues/2396.

[2020-01-07 15:36] nbdn commented on #2549
@gergelyke Can I work on this?
I'm using baseweb at work, and I found this library wondeful.  So I'm very interesting if I have any chance to work on it

[2020-01-07 16:01] LaurenReillyW2G opened #2574 "Internationalization Documentation is Vague"
## Feature description
I was reading through the i18n section of the documentation and it was not very clear how to use this and what kind of features it has. I think that the internationalization documentation should be updated.

A few specific things:
-Can it format data per language such as time, date, currency, pluralizations?
-How do you switch between languages, and when you switch does it u

[2020-01-07 16:22] lianga888 opened #2575 "[DataTable] Search with capital characters yields no matches"
The "Base usage" example in the docs highlights this issue https://baseweb.design/components/unstable-data-table/#basic-usage

## Current Behavior

If your search term contains capital letters, it fails to match any results. For example, a search for "Scooter" yields nothing, despite that exact string being present in the `categorical` column. A search for "scooter" yields results as expected

##

[2020-01-07 16:22] gergelyke commented on #2549
yes, please do! 🤗 - also, may I ask you to let us know how you use base web here? https://github.com/uber/baseweb/issues/1889

[2020-01-07 17:10] jonsadka commented on #2549
Sorry just seeing this. @nbdn let me know if I can help in any way

[2020-01-07 17:11] rastalamm commented on #2552
I have a [working branch](https://github.com/uber/baseweb/compare/master...rastalamm:pass-step-to-react-range?expand=1) for this.

Currently blocked (failing `yarn test`) - I have a [fix in a different project/PR](https://github.com/tajo/react-range/pull/56) that needs to be pulled in and released, prior to me finalizing and creating a PR to fix this. Will update my branch when possible

[2020-01-07 18:55] #2573 closed

[2020-01-07 19:05] chasestarr commented on #2402
Linked PR contributes a loading state to the flexbox-based `table` component. The loading state on this `data-table` will simply be text similar to how the empty state is rendered
<img width="620" alt="Screen Shot 2020-01-07 at 11 04 56 AM" src="https://user-images.githubusercontent.com/5317799/71921362-902f3380-313d-11ea-965b-06a9781f8df8.png">

[2020-01-07 19:23] #2575 closed

[2020-01-07 19:23] #2571 closed

[2020-01-07 22:04] chasestarr opened #2586 "[Select] Log warning if provided value is not an array"
The Select component fails with no information if the provided value is not an array. If the node env is dev, it should check and log a warning.

[2020-01-08 01:18] #2586 closed

[2020-01-08 05:59] sijad opened #2589 "[DataTable] support RTL"
## Feature description

add RTL support for DataTable

[2020-01-08 16:27] #2563 closed

[2020-01-08 18:36] reco opened #2591 "Tags Input example on page has errors"
Error Message:

`Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?`

https://codesandbox.io/s/pvhll?module=/example.js

- [x] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe that this is not a duplicate.

<img width="1436" alt="Screen Shot 2020-01-08 at 11 53 50 AM" s

[2020-01-08 18:42] reco commented on #2556
hey @chasestarr i agree. a full timepicker like what material does is overkill.

my use case really needs all values possible, i ended up using `<input type=range>` for hours and min ad a select for am/pm.

this could be an option on the time picker maybe?

[2020-01-08 19:21] chasestarr commented on #2556
Take a look at this example: https://codesandbox.io/s/calendar-with-time-select-actions-2wzte where a user will be able to type in a custom time at 1 min precision. Does that work for you?

[2020-01-08 22:04] supersonicclay opened #2592 "Full height DataTable"
## Current Behavior

Specifying `height: 100vh` on parent container produces produces double scrollbars and sometimes flickering
https://codesandbox.io/s/full-height-datatable-z90rj

![doublescroll](https://user-images.githubusercontent.com/469582/72124302-79e1cd00-3321-11ea-816d-702732c4daa4.gif)

## Expected Behavior

Table fills parent container with no double scrollbars and no flickering.

##

[2020-01-08 23:02] #2549 closed

[2020-01-08 23:03] supersonicclay commented on #2592
If I also put in `overflow: hidden` for attempt 2, then it gets rid of the double scrollbars and flickering. But seems like this shouldn't be needed.

[2020-01-08 23:34] chasestarr commented on #2592
The table grows to fill its parent element.  See [this example](https://codesandbox.io/s/full-height-datatable-j8nfv) illustrating how `height: 100%` is not sufficient. You may want to explore `vh` units to fill some portion of the viewport height

[2020-01-09 07:04] sijad opened #2594 "[Datepicker] support intl locales (non-gregorian calendars)"
## Feature description

adding intl support to Datepicker

[2020-01-09 10:07] nbdn opened #2595 "[Select] Add enhancer support"
In my usage, I found that start and end enhancers props are missing on the select component.

Eg: for this component
<img width="503" alt="Capture d’écran 2020-01-09 à 11 02 04" src="https://user-images.githubusercontent.com/32292384/72057921-876e6700-32cf-11ea-8786-542ec7281fc2.png">

Currently to achieve this, I have to tweak with the SearchIcon overrides and I have to handle the right button

[2020-01-09 16:41] gergelyke commented on #2595
The design recommendation for this use-case was to simply position the select next to the button with some padding, and we don't have guidelines for the design proposed above.

With that said, I'd be happy to accept contributions to make the above use-case easier. What do you think  @nadiia @chasestarr ?

[2020-01-09 16:59] chasestarr commented on #2595
The nice thing about overrides is not needing to provide this kind of API, but I'm fine with it if others find the current pattern too painful. At some point this becomes a documentation issue. Why does the Select component shuttle overrides through to the sub-component but not the timezone selector? Lots of repeated work if we want to add it for every component

[2020-01-09 17:42] gergelyke commented on #2594
thank you for opening this @sijad - do you think you could help us implement this?

[2020-01-09 18:09] sijad commented on #2594
sure, I've cheked both of those examples and I think this can be implimented using `intl.DateTimeFormat`

material-ui also were using intl before but now it's using date-io/jalaali (which uses moment internally). I'm not sure why they did droped intl?

[2020-01-09 18:52] gergelyke commented on #2594
yeah, I am not sure - you may be able to find some PRs and discussion around it

[2020-01-10 03:48] supersonicclay commented on #2592
Ok, ignore the `height: 100%`. The problem was that `html` and `body` needed to be `height: 100%` in order for the outer `div` to be full height. Or, as you mentioned, using `height: 100vh`.

But the secondary issue of double scroll bars is still an issue. This happens even with `height: 100vh`. Seems like the table is just a pixel or two too big which is making an extra scrollbar.

I updated the

[2020-01-10 20:40] chasestarr commented on #2592
Thanks for the reproduction. I will look into fixing it. Feel free to continue using the component and it should be resolved in a future baseui version with no api changes

[2020-01-10 21:54] #2470 closed

[2020-01-10 21:55] chasestarr commented on #2361
This seems to have been resolved. Please re-open if it can be reproduced in the latest version

[2020-01-10 21:55] #2361 closed

[2020-01-13 09:31] nbdn commented on #2591
Hi @gergelyke, I see nobody is assigned to this issue, can I work on it?

[2020-01-13 10:30] taviroquai opened #2609 "Smaller size than compact"
## Smaller size than compact

Currently, there are 3 sizes in the Base Web:
https://baseweb.design/components/button/#sizes

This request is to add a smaller size than compact.
I would sugest in the order of a 20px height, and be called "mini".

Some user interfaces in some web applications are very complex that need a considerable number of buttons in a small area.

This would be applied to all c

[2020-01-13 12:05] simPod opened #2610 "TabActive color"
Currently the color of active Tab is determined like this:

`color: $active ? colors.contentPrimary : colors.tabColor`

I'd like to be able to override color of active tab globally. Would it make sense to do something like

[code]
? Thanks

[2020-01-13 15:07] gergelyke commented on #2591
Please do, thank you @nbdn!

[2020-01-13 16:21] gergelyke commented on #2610
yes, that would work for your use-case @simPod

[2020-01-13 16:21] #2610 closed

[2020-01-13 16:23] simPod commented on #2610
@gergelyke thanks for response! However, there's no way to override that now if I'm not mistaken.

https://github.com/uber/baseweb/blob/3d6e3c4a40d4787aa080dc48bd8b7ffe121d61e9/src/tabs/styled-components.js#L22-L58

Should I implement it and send PR?

[2020-01-13 16:30] gergelyke commented on #2610
You can do something like this:

[code]

[2020-01-13 16:31] gergelyke commented on #2609
@taviroquai for now, this is not supported by the design system - I'll follow up with design if there is a desire to support this. Closing for now, but will reopen if we want to move forward with this!

[2020-01-13 21:37] NameFILIP commented on #2512
any updates on this issue?

[2020-01-13 22:18] chasestarr commented on #2512
We have a task in our backlog to take care of it, but it's not top priority at the moment. I expect it to be pulled into one of our upcoming sprints.

[2020-01-14 00:07] apguan opened #2617 "Select dynamically inject options"
When trying to load in options dynamically from a request, the dropdown doesn't show the updated options available.

[example demonstration](https://codesandbox.io/s/select-xp9bu?fontsize=14&hidenavigation=1&theme=dark) under  _example.js_

This example is a simple demonstration of the issue I'm facing when dynamically injecting options. I'd expect that changes in state should force a re-render, w

[2020-01-14 13:15] hc-codersatlas opened #2622 "Default Icons always present when overriding"
## Current Behavior

Icons are either declared constant or static imported.

## Expected Behavior

Icon constants declared in separate files and imported dynamically in case it gets overrided so file size can be reduced. E.g. Accordion +/-, The checkmark in Checkbox, Pagination arrows, etc...

[2020-01-14 15:01] sijad commented on #2594
currently baseui uses `date-fns.format` to format dates, which does not support non-gregorian calendars. changing it to use `intl.DateTimeFormat` would be a breaking change, any thoughts?

[2020-01-14 15:58] chasestarr opened #2623 "[Popover] Investigate react no-op warning"
https://codesandbox.io/s/statefulpopover-ioz2b
steps to reproduce:
open popover
click on select to open list of options
click OUTSIDE of popover
see Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method.

[2020-01-14 16:03] #2623 closed

[2020-01-14 16:20] chasestarr commented on #2617
The select component will filter options based on the entered text. Is that not working? If you type in 'blue' I would expect to see one option in the dropdown. You may want to recreate something similar to the linked sandbox below to populate options asynchronously

https://codesandbox.io/s/select-un4b6

[2020-01-14 16:39] gergelyke commented on #2594
we could add a property to make this opt-in, so it wouldn't be a breaking change - would that work?

[2020-01-14 17:54] sandgraham opened #2626 "LayoutGrid should allow for alternate CSS units."
## Feature description

Currently `LayoutGrid` has props and theme properties for `gutters`, `margins`, and `gaps`. These take numbers and use them for calculating relative widths and such. These values are then fixed to pixels.

Example:
[code]

The component should allow developers to specify other [CSS length units](https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_u

[2020-01-14 18:15] #2552 closed

[2020-01-14 23:17] lianga888 opened #2630 "[DataTable] Expose functionality to pass initial filters to `StatefulDataTable`, and call back on addition/removal of filters"
## Feature description

Provide the ability to provide optional props on `StatefulDataTable` to pass in initial filter state, and callbacks to call when we change these filters. It looks like these props are exposed on `DataTable` but not on `StatefulDataTable`.

The use-case in mind is enabling the ability to persist filter state, such that a user could define some default filters and have those

[2020-01-15 00:36] gergelyke commented on #1821
Closing for now - please feel free to reopen if you plan to work on this! :)

For reference, we've split the Select component since the creation of this ticket, and added a warning for value prop misuse: https://github.com/uber/baseweb/commit/1e6d1276645523b5e2020297668194f83cc551d5

[2020-01-15 00:36] #1821 closed

[2020-01-15 00:39] gergelyke commented on #2029
@MarcusMorba do you feel strongly about the renaming? if not, I'll close this story

[2020-01-15 00:40] gergelyke commented on #2181
@MarcusMorba I believe most of these are fixed - if not, can you create one story for each bug?

[2020-01-15 00:40] #2181 closed

[2020-01-15 00:44] gergelyke commented on #2377
@dpenny is this something you still need?

[2020-01-15 00:53] gergelyke commented on #2556
We also have an example for that here: https://baseweb.design/components/time-picker/#timepicker

Closing for now, but please feel free to reopen!

[2020-01-15 00:53] #2556 closed

[2020-01-15 00:54] gergelyke commented on #2562
I am not sure why we made that decision - can you send a PR fixing it?

[2020-01-15 01:04] gergelyke commented on #2559
@NameFILIP just checked with design, the current recommendation is to use the datepicker in combination with a timepicker:

<img width="601" alt="Screen Shot 2020-01-14 at 5 02 56 PM" src="https://user-images.githubusercontent.com/2174968/72395894-cb0e0a00-36ef-11ea-9e86-86733f7a2714.png">

as @akshatnitd pointed out, the timeEnd is only used in the range version

[2020-01-15 01:04] #2559 closed

[2020-01-15 01:42] kahwee commented on #1866
We can integrate [Danger JS](https://danger.systems/js/) which has BuildKite support however it lints PRs instead. Sample [danger file](https://github.com/facebook/react-native/blob/master/bots/dangerfile.js) from react-native.

[2020-01-15 04:43] karanisverma commented on #2626
I would like to pick this up!  This is my first time on base web project, it would be great if you can point of a specific file where I should start looking to solve this problem.

[2020-01-15 08:14] sijad commented on #2594
I've checked zendesk garden implementation and find out it's not a perfect solution because all of its calculations are based on Gregorian date and only show formatted values in UI and I think it's confusing for users.
for example number of days in a month might be different in Jalali or Hijri and Gregorian.

it's be possible to implement this correctly if it was possible to pass alternative date

[2020-01-15 08:45] joginder07 commented on #2230
@gergelyke , I can work on this.

[2020-01-15 10:02] simPod commented on #2610
That helped, thanks!

[2020-01-15 15:05] rohitb4 commented on #2589
@gergelyke can I work on this?

[2020-01-15 16:34] gergelyke commented on #2589
sure think, thank you @rohitb4 - just assigned it to you

[2020-01-15 16:38] gergelyke commented on #2626
thank you, just assign it to you @karanisverma - @sandgraham will be able to point you to the correct files, but I believe this is a good start: https://github.com/uber/baseweb/blob/master/src/layout-grid/styled-components.js

[2020-01-15 16:39] gergelyke commented on #2230
thank you @joginder07 - just assign this story to you

[2020-01-15 16:45] gergelyke commented on #2594
I think that makes sense - @nadiia do you think it should be done through top level props, or the overrides interface?

[2020-01-15 17:14] gergelyke commented on #2609
@taviroquai - jus talked with design, and they'd be open for an even smaller size. We've agreed, that it will be engineering-led, and they'll incorporate the size we come up with. With that said, they recommend that we first try to use a one size smaller font type, and one size smaller paddings.

You can find the current compact padding values here: https://github.com/uber/baseweb/blob/ddd276b8240

[2020-01-15 17:24] taviroquai commented on #2609
@gergelyke Thank you so much for the response!

Yes I can help, but I need some guidelines or a pratical example of how I can test this.

I've learned that I can create a custom theme... but how do I change these specific items (input padding and font size)?

Thanks!

[2020-01-15 17:26] gergelyke commented on #2609
let me put up a quick PR with me ideas

[2020-01-15 17:50] gergelyke commented on #2609
actually ended up doing the whole thing :D https://github.com/uber/baseweb/pull/2632

what do you think?

[2020-01-15 17:53] alee8 commented on #2591
The fix for this issue is to wrap the InputReplacement component in the example.js with React.createRef as follows:

const InputReplacement = React.forwardRef(
  ({ tags, removeTag, ...restProps }, ref) => {

[2020-01-15 18:09] gergelyke commented on #2547
@chasestarr @tajo can you help here? sadly, I am no flow or typescript expert

[2020-01-15 18:21] matthewharwood opened #2633 "Click Popover should trap focus and return focus to trigger when closed"
## General Summary

Popover with triggerType of "click" should follow the recommendations for dialogs and drawers in [WAI-ARIA Authoring Practices 1.1](https://www.w3.org/TR/wai-aria-practices/#dialog_drawer).

[Codesandbox](https://codesandbox.io/s/statefulpopover-jswmu)

## Current Behavior

Currently when popover opens the popover does not trap focus.  When closing the popover focus is reset to

[2020-01-15 18:58] tajo commented on #2547
@ebati Can we import `BaseInputProps` type from input and use that for phone input types?

[2020-01-15 20:22] gergelyke commented on #2633
thankyou @matthewharwood - any chance you could contribute this to the library?

[2020-01-15 20:54] sandgraham commented on #2626
Hi @karanisverma, thanks for offering to help on this.

I think the ideal change is to update the `grid` section of the theme to accept a `unit` property, which can be a CSS unit (`em`, `rem`, etc) but defaults to `px`. Here is the [relevant file](https://github.com/uber/baseweb/blob/master/src/themes/shared/grid.js).

Then on the component side of things, update it to use that theme value. It mig

[2020-01-15 20:56] apguan commented on #2617
I'm not looking to filter the options, but I found that using the filterOptions prop was a work-around for what I needed.

Why is it that if I were to dynamically pass options through like in my example, it doesn't work, but it works in your example? (bit of a under the hood question)

[2020-01-15 21:12] tonioloewald opened #2636 "Provide utility function to compute color by name"
## Problem

It's difficult to determine the computed value of a color from a Baseui theme at runtime (you can create a component, set its color, do some Javascript DOM fu to getComputedStyle and pull its color – but this involves fighting React every step of the way and you're still going to break if, say, the thing you're querying no longer gets assigned the color for some other reason (now it ha

[2020-01-15 22:30] chasestarr commented on #2617
I'm not really sure what does not work about your example. If I type in a bunch of spaces, all of the dropdown options appear

[2020-01-15 23:32] vicapow opened #2638 "Add a "native" option for select boxes"
In some case with a really large number of select options, the baseUI can be laggy compared to native select options. It would be nice to have a "native" option to use the built in select option in these cases.

As a demo, checkout: https://codesandbox.io/s/select-similar-to-native-select-hzivn?fontsize=14&hidenavigation=1&theme=dark

[2020-01-15 23:34] #2609 closed

[2020-01-15 23:35] gergelyke commented on #2638
hi @vicapow - would this example work for you? https://baseweb.design/components/select/#select-with-many-options

[2020-01-16 00:04] karanisverma commented on #2626
@gergelyke thanks for assigning this issue,  @sandgraham Thanks a lot for information. I like your approach of building grid api and if required adding flexibility to have nested girds with different units.

I will start looking into these pointer first and update here if I have other ideas to solve this problem.

[2020-01-16 00:15] vicapow commented on #2638
Oh yes. This works. Sorry I missed it.

[2020-01-16 00:15] #2638 closed

[2020-01-16 08:46] nbdn commented on #2591
@alee8 In fact you're right, but I think you miss that we need to pass the ref to the StyledInput component too (otherwise it will be undefined), I will make a relative PR in the next hours

[2020-01-16 09:25] taviroquai commented on #2609
@gergelyke Awesome work! Yes thats I meant.

I was thinking about an even smaller size:
[code]
This ends up nearly with a 20px height maximum.

But I can't complaint for your fast and awesome work! Thanks! :)

[2020-01-16 15:52] LaurenReillyW2G opened #2640 "Missing Types for createThemed* styling utilility factories"
## Current Behavior
Cannot import the createThemed* styling  utilities to use with typescript because they are missing types. Would prefer to not have to set the 'noImplicitAny' rule to false to use these.

Not able to find/import styling utility factory functions without allowing 'any' types in ts.config
## Expected Behavior

Ideally I could import these createThemed* functions with no issue, pro

[2020-01-16 16:50] gergelyke commented on #2640
thank you for reporting it @LaurenReillyW2G - any chance you'd be up to submitting a PR with the improvements?

[2020-01-16 16:52] gergelyke commented on #2609
For now, this is the smallest we can do without more fundamental changes - the reason for this is the multiselect component:

<img width="594" alt="Screen Shot 2020-01-16 at 8 51 26 AM" src="https://user-images.githubusercontent.com/2174968/72545172-75e00e80-383d-11ea-80d0-474920705775.png">

This is the smallest input size that can still host the Tag component.

[2020-01-16 19:03] matthewharwood commented on #2633
I think I should have sometime to work on it next week.

[2020-01-16 21:08] #2591 closed

[2020-01-16 23:49] #2403 closed

[2020-01-17 00:06] ericsoco opened #2649 "Forward `className` / `id` through to root HTML element"
##  Feature description

Currently, Base Web components (well, at least `Panel`, I haven't looked much into the others) don't forward className to their child root HTMLElements. This makes it prohibitively difficult to apply class names to them.

Our use case is a bit idiosyncratic: our integration test suite uses HTML `class`es and `id`s for Puppeteer selectors (which are just Javascript selector

[2020-01-17 00:14] gergelyke commented on #2649
@ericsoco - you can use the overrides to provide ids to the components: https://baseweb.design/guides/understanding-overrides/#introducing-overrides

would something like this work for you?

[2020-01-17 00:28] #2592 closed

[2020-01-17 00:44] ericsoco commented on #2649
Yes!

[code]

Does the trick. Thanks!

[2020-01-17 00:44] #2649 closed

[2020-01-17 01:17] foodforarabbit commented on #2633
@gergelyke I'm on @matthewharwood 's team so I'll coordinate with him to get this fixed

[2020-01-17 08:14] MarcusMorba commented on #2181
Great news. Will recheck and then create one story for each bug if necessary. THANKS.

[2020-01-17 18:04] ajbogh opened #2652 "Missing addEventListener and removeEventListener for Button type, Button should extend HTMLButtonElement"
The Button element does not include types for addEventListener or removeEventListener, so Typescript will complain when using those functions.

## Current Behavior

Typescript shows an error when using a HTMLButtonElement property that is not part of Button:

"Property 'addEventListener' does not exist on type 'Button'.ts(2339)"

The consumer cannot create a new type which extends both Button and

[2020-01-17 18:05] gergelyke commented on #2652
thank you for opening the issue @ajbogh - any chance you can help to contribute a fix for this?

[2020-01-17 18:06] ajbogh commented on #2652
I'll see what I can do but I have to timebox the problem. If I don't link a PR then I'll keep this open for someone else.

[2020-01-17 18:07] gergelyke commented on #2652
thank you

[2020-01-17 18:32] chasestarr commented on #2589
What do we expect to change in RTL? In google docs for example, does the column order reverse? Let's please determine the requirements before getting to far with development

[2020-01-17 18:37] chasestarr commented on #2636
Can you please add more detail? I'm not sure if I completely follow what purpose the utility function will serve. Is accessing a color from baseui's theme object not appropriate? For example, `theme.color.accent400` will give you a hex code that some npm packages can convert to other formats

[2020-01-17 20:13] sijad commented on #2589
I think reversed columns is very useful feature. Google docs also supports it (https://invidio.us/watch?v=aDXxnDQwQ3I).
Other elements like filters and bulk actions should also support RTL.

[2020-01-17 20:27] #2633 closed

[2020-01-18 01:27] foodforarabbit commented on #2533
![Screenshot_20200117-172551_Chrome](https://user-images.githubusercontent.com/2348903/72656210-a1065300-394e-11ea-847a-374152e8836c.jpg)

[2020-01-18 07:25] ajbogh commented on #2652
I looked into this for a little time but couldn't come up with a good solution. Extending the interfaces at a naive level doesn't seem to fix the problem. Admittedly, I lack the advanced knowledge of Typescript to define a more complex solution.

[2020-01-18 20:40] foodforarabbit commented on #2513
Yea I think adding a warning to Layer makes sense, it could warn about missing LayersManager or BaseProvider, depending on which way you want to push people towards.

We already check for `host` in Layer in order to switch between the host component and the document.body for inserting the divs, so in that same place we could console.warn about the missing Provider if no host is detected.

I can ma

[2020-01-18 21:05] foodforarabbit commented on #2471
will submit PR for this soon

[2020-01-19 04:21] foodforarabbit commented on #2333
I can help out with this feature.

I think it should work the way you think it should anyway, since popping up multiple toasts with the same key causes odd behavior (e.g. in the documentation, clicking "show more" for one toast updates all of them, closing one toast causes them all to disappear) and also might cause other issues (e.g. the Toast element uses the toast `key` property as the `key` pr

[2020-01-19 12:15] hc-codersatlas opened #2658 "Accordion as a stateful component missing ul"
Hi, maybe this is a documentation issue, but according to https://baseweb.design/components/accordion/ section "Accordion as a stateful component":

`<StatefulPanel title="Expandable panel">{content}</StatefulPanel>` is how it's used without the accordion wrapper. Using it this way creates a `<li>...</li>` without an enclosing `<ul>` and if used inside another list generates errors for React.

Is

[2020-01-19 15:14] karanisverma commented on #2626
Hi @sandgraham, @gergelyke
I have done some basic changes which allow users to specify alternate css units. I have a question around how are we going to handle default values for grid which are in px, for instance  in [grid.js](https://github.com/uber/baseweb/blob/master/src/themes/shared/grid.js) file 16, 36 etc represent px numbers. so should I create a function to convert px value to respective

[2020-01-19 19:37] karanisverma commented on #2626
After spending some time I understood that.. if user want to give alternate css units, they have to also share custom gridGutters and gridMargins with respect to that css unit
I tested with following values(converted default px to em) and seems to work just fine:

`gridGutters={[1,2,2]} gridMargins={[1,2,4]}`

Please confirm if my understand is correct or incorrect 😕

[2020-01-19 20:24] foodforarabbit commented on #2128
I was looking into this ticket. The "fix" is easy for this particular issue, but I just noticed a few things, not sure how we want to proceed with them

1) vertical seems to not be working at all. It isn't vertical.
2) the prev/next month arrows on each subsequent month seem to have the index added to the amount of months it changes by. So for example, even if we fix the horizontal display issue,

[2020-01-19 21:23] karanisverma commented on #2626
I tried this approach and added docs for the same, since I am new to styled components I am having hard time to understand why on theme override is reflecting on all the components(as a result currently all components are using `em` as unit)  here is a file where I am overriding theme: [custom-css-unit](https://github.com/karanisverma/baseweb/blob/feat/%232626/alternate-css-units-for-LayoutGrid/do

[2020-01-19 21:37] foodforarabbit commented on #2364
progress seemed to stall on this fix so I went ahead and finished it

[2020-01-20 05:16] grrowl commented on #2640
The DefinitelyTyped definitions for `styletron-react` might be a good reference/starting point: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/styletron-react/index.d.ts

[2020-01-20 22:09] foodforarabbit commented on #2562
I've submitted a PR to address the issue with the ContentTail being an :after instead of just the div itself

[2020-01-20 23:32] foodforarabbit commented on #2100
This is an easy fix but the hard part is deciding what colours should go where. Is there a style guide we can reference?

[2020-01-21 00:00] foodforarabbit commented on #2407
any opinions on what drag'n'drop library to use? The one we use for dnd-list (react-movable) does not support horizontal rearrangement.

I've used react-beautiful-dnd before and it is quite beautiful, but they had an issue with dragging within nested scrollable containers that was really ugly. Not sure if that was ever fixed.

[2020-01-21 05:39] 278kunal commented on #2658
@hc-codersatlas There must be a warning of  `validateDOMNesting(...).` that you must be getting when using `StatefulPanel` inside a list. Apparently React doesn't like nested components that don't have keys that make them distinguishable for its Virtual DOM.  Adding a unique key on parent list should solve it.  Please share the error message if this doesn't solve it.

[2020-01-21 06:53] hc-codersatlas commented on #2658
@278kunal yes I've added manual `<ul>` tags thanks. Figured as you say it would be good if baseweb addresses this as part of `StatefulPanel` so reported the issue.

[2020-01-21 10:10] 278kunal commented on #2658
@gergelyke Can I take this up ?

[2020-01-21 10:25] rohitb4 commented on #2589
We can do it similar to baseweb table component, which reverses the column as well in RTL. https://baseweb.design/components/table/

[2020-01-21 16:36] gergelyke commented on #2658
@278kunal sure - I am wondering, if we should simply update the example to wrap it an `<ul>` tag? That way, the StatefulPanel container would not assume anything on how it is used

[2020-01-21 16:43] gergelyke commented on #2407
would it be possible to build this without a third-party library?

[2020-01-21 16:59] gergelyke commented on #2652
@ajbogh can you help me understand what's your use case for the `addEventListener` handler?

[2020-01-21 17:15] gergelyke commented on #2652
that makes sense, thank you for the additional info!

[2020-01-21 17:34] sandgraham commented on #2100
@foodforarabbit Prob best thing is to create a PR with a potential (non-breaking) update and share with us/design to get feedback rather than wait for design to update this.

For a styleguide, you can look in Figma at Base specs/documentation (especially on tokens) or just pull from the [colors available on our theme](https://baseweb.design/guides/theming/#colors).

[2020-01-21 18:01] sandgraham commented on #2626
Hi @karanisverma, we were on holiday yesterday- sorry for late reply.

I agree. The defaults are based on pixels. If you want to use another unit it is pretty easy to update a few properties on the theme object.

That is actually exactly what we want! If you set theme grid values to `em` and update gutters and margins accordingly, then every `Grid` component should use those values as the defaults

[2020-01-21 18:20] foodforarabbit commented on #2407
Possibly, basic drag and drop is "easy" but then you get into all the weird
edge cases and you get into all the nice polish and feel and it gets pretty
complex.

Of course, this is just from someone who has a) implemented the most basic
of dnd and b) used libraries for anything more complex haha

So hopefully someone with more experience can weigh in

On Tue, Jan 21, 2020 at 8:43 AM Gergely Nemeth

[2020-01-21 18:21] karanisverma commented on #2626
@sandgraham thanks for the explanation. This really helps.. looking forward for feedback on PR. 🙌

[2020-01-21 20:06] matthewharwood opened #2665 "[Treeview] Ability to customize open/close overrides based on item"
## Feature description
I'm looking to create a TreeView component where each node could be customized. Today this is not possible without some pretty ugly hacks.

I can see two API Designs to make this work.

1 - The current API renders everything via initial data. This approach can work; however, each node does not have access to each entry of the initial data as props.  Each entry could be used

[2020-01-21 21:15] chasestarr commented on #2665
`label` also accepts a React.Node. Does this example meet your needs? https://codesandbox.io/s/overrides-usage-t5oy9

[2020-01-21 21:36] matthewharwood commented on #2665
@chasestarr I think this could almost work!  Can we change the chevron size from at a node level?  In my implementation we need to make it larger to match larger Labels.

https://imgur.com/HLFsdEf

[2020-01-21 21:38] #2513 closed

[2020-01-21 21:38] #2555 closed

[2020-01-21 22:39] chasestarr commented on #2665
I can't think of a work-around. The feature will need to be added in some way

[2020-01-22 07:16] houmark opened #2673 "Make it possible to lock modal completely"
## Feature description

This may be possible already, but I did not find a way, so here we go.

I'd like to be able to lock a modal from being closed by clicking on the modal backdrop (and potentially even clicking or removing the X in such cases).

There are use cases where the user is doing very important work in a modal or you want them to fully acknowledge a change before they can move on, and

[2020-01-22 18:11] matthewharwood commented on #2665
What protocol should  I rewrite this question. Or close this one and write another for this overridable icon feature?

[2020-01-22 21:49] #2333 closed

[2020-01-22 23:11] chasestarr opened #2680 "[table-grid] sortable header component"
Similar to https://baseweb.design/components/table/#table-with-sorting-by-a-column but for the table-grid component

[2020-01-22 23:16] chasestarr commented on #2673
Hmm I assumed that the `closeable` prop on `Modal` would do what you're looking for. https://codesandbox.io/s/modal-7khwy

This looks like a regression that needs to be fixed

[2020-01-22 23:17] gergelyke commented on #2539
After discussing this offline with the team, we've decided to close this for now, as this seems more of personal preference and not a significant improvement over the current API.

I'll also work on a document outlining what we believe should be part of base, and what should live outside. I'll link that here once I have a PR.

[2020-01-22 23:17] #2539 closed

[2020-01-22 23:19] chasestarr commented on #2665
Please comment with specific requirements beyond the edited title

[2020-01-22 23:24] houmark commented on #2673
Yes, `closable` should do that but currently has no effect.

[2020-01-23 03:06] #2562 closed

[2020-01-23 03:07] #2471 closed

[2020-01-23 11:03] karanisverma commented on #2626
Oh! I understood. so while adding an documentation and example, I should pass CSS unit by props. Currently I was passing it by theme.

[2020-01-23 14:50] zsobral opened #2685 "Popover memory leak"
https://codesandbox.io/s/statefulpopover-gpkjx

## Current Behavior

the browser freeze after some clicks. I need to open chrome task manager and end the process. When checking the task manager the memory usage keeps increasing

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.43.0 |
| React   | 16.12.0 |
| browser | chrome |

- [x] I have searched the [issues](https

[2020-01-23 16:23] gergelyke commented on #2673
I am working on this one

[2020-01-23 16:58] gergelyke commented on #2673
@chasestarr @houmark referenced a PR above with the "fix" - it seems like none of us noticed the tiny typo in the codesandbox :)

[2020-01-23 18:55] houmark commented on #2673
Reposting my comment here with additional thoughts:

That's so weird. I'm sure I tried this before and it didn't work. But I just tested and it works as intended with the right prop :)

Now that we are around, maybe deprecating this prop name and introduce either `isCloseable` or better `dismissOnClickOutside` which is the name used for Popover is a good idea to have more consistent naming?

After

[2020-01-23 18:58] houmark commented on #2673
And if this is something you'd accept, then the `Drawer` component should get all the same props in the same round, as it works and behaves almost the same as `Modal`, and was based off of `Modal`.

[2020-01-23 20:17] chasestarr commented on #2673
reopening because closing pr solved initial issue, but some improvements can be made. description here: https://github.com/uber/baseweb/pull/2686#pullrequestreview-347554259

[2020-01-23 20:43] supersonicclay opened #2690 "Menu divider"
## Feature description

How can I add a dividing line to a menu similar to bootstrap's Dropdown divider?
https://getbootstrap.com/docs/3.3/components/#dropdowns-divider

![image](https://user-images.githubusercontent.com/469582/73022206-52413900-3de6-11ea-8ba8-2cef86a59551.png)

Is there an ability to provide overrides on a per-item basis?

I got pretty close with this, but I'm wondering if there'

[2020-01-23 21:18] gergelyke commented on #2685
I suspect, this is an issue with codesandbox, as I couldn't reproduce here: https://baseweb.design/components/popover/

Closing for now, but please let us know if you can repro outside of codesandboc

[2020-01-23 21:21] zsobral commented on #2685
sorry, forgot to tell that is caused when using `triggerType="hover"`

[2020-01-23 21:26] zsobral commented on #2685
sorry, forgot to tell that is caused when using a StatefulPopover with content StatefulMenu and the  triggerType is hover

[2020-01-23 21:28] gergelyke commented on #2685
@zsobral could you reproduce the issue outside of codesandbox too?

[2020-01-23 21:30] zsobral commented on #2685
Yes, I'm using with create-react-app and chrome

Em qui, 23 de jan de 2020 18:28, Gergely Nemeth <notifications@github.com>
escreveu:

[2020-01-23 21:43] gergelyke commented on #2685
thank you

[2020-01-23 22:28] houmark commented on #2673
Thanks for re-opening. I take from your PR comment, that you are open to both my suggestions.

If that's the case, I may, unless @foodforarabbit beats me to it, attempt my first PR for these features as I think they are a perfect first case for someone with little TS experience :)

[2020-01-23 23:16] foodforarabbit commented on #2673
Hehe go ahead feel free to ask if you need help! This code-base is clean and nicely organized easy to learn on :D

[2020-01-23 23:50] #2364 closed

[2020-01-23 23:57] houmark commented on #2673
Honestly, my main issue is the initial setup, how to get everything going, including a setup where I can see changes done either in our UI (possibly with npm link) or in the playground. My only TS knowledge is reading various libraries that is based on TS including Baseweb. Our platform is JavaScript all around.

I saw recently some commits related to vscode which is my editor of choice, but not s

[2020-01-24 00:56] foodforarabbit commented on #2673
clone the repo, check out master, pull to make sure you have the latest.

install nvm if you haven't already
type `nvm use` (it will switch to the correct version of node, or prompt
you to install it)
(I don't know if yarn comes preinstalled but you might have to  install
that too, just do `npm install -g yarn`
then, similar to typical webpack app
`yarn` -> install dependencies
`yarn documentation

[2020-01-24 01:32] sewerynkalemba opened #2695 "Google Webfont implementation"
## Current Behavior

Imported webfont doesn't render as primary font in some(?) components.

https://codesandbox.io/s/button-k0hgm

## Expected Behavior

`primaryFontFamily` setting in theme's primitives should apply to all text inside app, unless there's more specific rule set.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.44.2  |
| React   |  v16.12.0 |
| brows

[2020-01-24 01:51] ryshiselect opened #2696 "Australian Format DD/MM/YYYY is not working in Datepicker"
Australian Format DD/MM/YYYY is not working in Datepicker
Replicate the issue here https://codesandbox.io/s/0zpii?module=/example.js.

## Current Behavior

When I type an Australian date format in the inputbox, the calendar doesn't change. Meaning it is not working properly and will not trigger an On Change.

## Expected Behavior

When I type using Australian Format, it should change the datepicke

[2020-01-24 08:27] #2695 closed

[2020-01-24 10:40] rohitb4 commented on #2589
@chasestarr can I implement it similar to baseweb table component?

[2020-01-24 16:27] raunofreiberg opened #2698 "[Documentation] Props not extracted in production"
## Current Behavior

Hovering over the component name in the Editor component does not show the props extracted by `extract-react-types`

![image](https://user-images.githubusercontent.com/23662329/73085177-f4d8e500-3ed6-11ea-9240-193e36c73afe.png)

https://baseweb.design/components/button/

## Expected Behavior

Props should be shown:

![image](https://user-images.githubusercontent.com/23662329/7

[2020-01-24 16:27] raunofreiberg commented on #2698
cc @tajo

[2020-01-24 16:29] gergelyke commented on #2698
I am looking into this

[2020-01-24 16:32] raunofreiberg commented on #2698
If it's of any help, then the props were extracted properly in the [deploy preview of #2686](https://baseweb-git-fix-modal-closeable.uber-ui-platform.now.sh/components/button).

The PR after (#2688) would then [display the issue.](https://baseweb-git-update-my-libs.uber-ui-platform.now.sh/components/button)

[2020-01-24 16:35] gergelyke commented on #2698
After a quick look, it seems like the issue is present in the netlify deploys, but not on the zeit bulds (we use netlify for the main domain, and zeit for the versioned docs site)

[2020-01-24 16:40] gergelyke commented on #2698
I was wrong, it worked on netlify before too https://5e29cc00fef63c2f4b85fce9--baseui.netlify.com/components/button/

[2020-01-24 16:49] raunofreiberg commented on #2698
I built the documentation locally and served it, and it work. So the issue has something to do with the deployment.

[2020-01-24 17:21] chasestarr commented on #2696
Thanks for the report, I was coincidentally just working on this issue. A fix should be up soon

[2020-01-24 17:21] gergelyke commented on #2696
oh cool, thank you Chase!

[2020-01-24 17:39] chasestarr commented on #2690
Design hasn't come to us with requirements for this feature so a top-level api has not been considered. Here is an example of how to configure overrides to achieve what you're looking for: https://codesandbox.io/s/statefulmenu-5m6l3

Also here is an example of grouping items: https://baseweb.design/components/menu/#menu-with-grouped-items

[2020-01-24 17:40] #2698 closed

[2020-01-24 18:24] matthewharwood opened #2702 "[Menu/MenuWithChildren] Should be SEO Friendly via the renderAll API"
The [Menu](https://baseweb.design/components/menu/) component does not render its List or Options until the user interacts with the StatefulMenu. This prevents content from being crawled properly because search engines don't interact with components.

Could we get a similar [`renderAll`](https://baseui.netlify.com/guides/seo/#tab) prop of Tabs or Accordion into the Menu and MenuWithChildren compon

[2020-01-24 18:30] matthewharwood opened #2703 "[Drawer] Should be SEO Friendly via the renderAll API"
The [Drawer](https://baseweb.design/components/drawer/) component does not render its DrawerBody  until the user interacts with the Drawer. This prevents content from being crawled properly because search engines don't interact with components.

The [`renderAll`](https://baseweb.design/guides/seo/#tab) API of Tabs or Accordion should be moved into the Drawer component, so that it is SEO friendly.

[2020-01-24 18:33] matthewharwood opened #2704 "[Popover] Should be SEO Friendly via the renderAll API"
The [Popover](https://baseweb.design/components/popover/) component does not render its Body  until the user interacts with the Popover. This prevents content from being crawled properly because search engines don't interact with components.

The [`renderAll`](https://baseweb.design/guides/seo/#tab) API of Tabs or Accordion should be moved into the Popover component, so that it's SEO friendly.

[2020-01-24 18:50] chasestarr commented on #2589
Can you please list the tasks required to accomplish the feature? My guess is that this will be a significant effort and I'd like to make sure a merged PR sufficiently meets those requirements

[2020-01-24 20:50] chasestarr commented on #2702
The similarity between this and the similar issues are that they all use `Popover` under-the-hood. Maybe there can be an approach on the popover component that can render the content hidden. It would be nice to solve all of those problems at once if possible

[2020-01-24 21:47] chasestarr commented on #2636
Feel free to comment further, but I'm going to close this issue for now

[2020-01-24 21:47] #2636 closed

[2020-01-25 00:44] rohitb4 commented on #2589
These are the tasks I've identified, please let me know if I missed something.
- Change rendering positions for each cell based on the direction
- Change column/row highlight logic on hover of header/row cell based on the direction
- Change rendering of sort icons within the header cell based on the direction
- Change rendering of cell separator based on the first or last cell of the row
- Change

[2020-01-25 00:50] foodforarabbit commented on #2704
I'll handle this one

[2020-01-25 00:50] foodforarabbit commented on #2703
I'll handle this one

[2020-01-25 00:50] foodforarabbit commented on #2702
I'll handle this one

[2020-01-25 00:51] foodforarabbit commented on #2665
I'll handle this one

[2020-01-25 21:39] foodforarabbit commented on #2665
- entirely customizable labels
- pass shared props / item props to label function?
- renderAll
- prop to allow only single branch open at a time

[2020-01-26 01:43] houmark commented on #2673
Thanks, this is very helpful. I'm already using ESlint, and fixing on autosave. I'll give a shot soon!

[2020-01-27 17:42] chasestarr commented on #2589
- reverse numerical column text-align
- filter UIs should be reversed

Thanks, a couple more that I thought of, but I think the list looks good

[2020-01-27 17:46] keshav-bohr commented on #2696
@ryshiselect
Try passing this as the prop `formatString={'dd/MM/yyyy'}` and you are good to go
I tried and it is working fine for me.

[2020-01-27 18:09] hlokavarapu opened #2720 "Add shared prop "$isExpanded" for component Unstable_StatefulTreeView"
## Feature description

For the base web component Unstable_StatefulTreeView, would it possible to add a shared prop "$isExpanded"?

One benefit is that, this feature would allow one to override TreeItem's background color using a style function on the condition that a given node is expanded.

This feature request is similar to $isSelected state prop for component StatefulList.

Thanks!!

[2020-01-27 18:11] gergelyke commented on #2720
@hlokavarapu I think this is addressed in one of the open PRs: https://github.com/uber/baseweb/pull/2716/files#diff-f2183ec5c2cc8724d1ad6728bec2260dR15

cc @foodforarabbit

[2020-01-27 18:15] chasestarr commented on #2690
I'm going to close this issue as it's not an approved pattern by base web designers, but I'll raise the idea with them

[2020-01-27 18:15] #2690 closed

[2020-01-27 19:23] foodforarabbit commented on #2720
I added the ability to override TreeLabel which is a component that renders the entire label - the expand / collapse icons, the icon container and the label itself. This component receives a prop isExpanded which you can use.

I looked briefly into copying over the sharedStyleProps pattern from other components but it looks like more rearrangement and planning of types would be helpful, its not to

[2020-01-27 19:33] chasestarr opened #2725 "[Popover] autoFocus property isn't copied from the StatefulPopover"
v9.46.0

It appears that the autoFocus property isn't copied from the StatefulPopover to the Popover. (it isn't included in the popoverProps that gets passed to the Popover).

You can see this on the documentation site.  [here](https://baseweb.design/components/popover/?code=import%20*%20as%20React%20from%20%22react%22%3B%0Aimport%20%7B%20StatefulPopover%20%7D%20from%20%22baseui%2Fpopover%22%3B%0A

[2020-01-27 19:34] chasestarr commented on #2725
cc @foodforarabbit since it seems related to https://github.com/uber/baseweb/pull/2650

[2020-01-27 21:32] #2725 closed

[2020-01-27 21:36] Xiot commented on #2725
Thanks for the super quick turnaround

[2020-01-27 22:33] #2702 closed

[2020-01-27 22:33] #2703 closed

[2020-01-27 22:33] #2704 closed

[2020-01-27 23:32] ryshiselect commented on #2696
@keshav-bohr , how did you do it? Do you click on the calendar? Or you input the date in the inputbox? You should input the date in the input box.

[2020-01-28 05:27] keshav-bohr commented on #2696
@ryshiselect
We are talking about to checks here.

- One is from the user perspective, He/She should specify the `formatString` from their end.

- Other is the issue here that we are talking about, onChange we are getting odd behaviour.

The second issue I am working on to fix.
As soon as my previous PR regarding the docs gets merged.
I can raise another one to fix the issue.

cc: @gergelyke @chas

[2020-01-28 07:31] keshav-bohr commented on #2696
Ideally.
We should not be having input for the datepicker.
Since, we have so many options to choose from, https://date-fns.org/v2.8.1/docs/format
If we have to give the input facility, then we need to fix some predefined popular formats in a dropdown or something.

Like
- dd/mm/yyyy
- mm/dd/yyyy
- yyyy/mm/dd
- yyyy/dd/mm

If we can have these options predefined for the input, then we can change in

[2020-01-28 08:21] haeguri opened #2737 "Button component uses shorthand css property for setting border width."
## Current Behavior

I using `Button` component in this project. And I set `border*Width` longhand css properties on my button component via `overrides` prop. But I saw this warning.

I'm already used longhand css property for setting border width.. So I read `Button` component source in this repository, I found out the suspect part.

https://github.com/uber/baseweb/blob/15886c506fa2f35ad5351e8396

[2020-01-28 13:47] hc-codersatlas opened #2739 "[select] filterOutSelected not working"
FilterOutSelected option not working

## Current Behavior

Doesn't filter

## Expected Behavior

Filters

## Your Environment

As per example in https://baseweb.design/components/select/ (also doesn't work locally)

Tested in latest Chrome.

[2020-01-28 16:59] gergelyke commented on #2739
hi @hc-codersatlas! `filterOutSelected ` is only taken into account when using a `multi` select - I'll update the docs to reflect this

[2020-01-28 16:59] #2739 closed

[2020-01-28 17:40] #2737 closed

[2020-01-28 19:36] #2418 closed

[2020-01-28 20:47] chasestarr commented on #2696
fyi this is the fix that I mentioned earlier https://github.com/uber/baseweb/pull/2731/commits/20e4fecf6a1214947b158e1adc77d6a26023e968

[2020-01-28 21:48] chasestarr opened #2752 "[Input] tags example with placeholder"
codesandbox: https://codesandbox.io/s/createdelete-tags-t1udk
docs site example: https://baseweb.design/components/input/#create-delete-tags

## Current Behavior

if tags are present, the placeholder text is visible

## Expected Behavior

if tags are present, placeholder text is _not_ visible

<img width="788" alt="Screen Shot 2020-01-28 at 1 41 37 PM" src="https://user-images.githubusercontent.co

[2020-01-28 23:08] jonsadka opened #2754 "Linter crashes when adding `eslint-plugin-baseui`"
Running `eslint` normally successfully completes with no errors. After adding `eslint-plugin-baseui`, I get the following error:
[code]

## Code referenced in error
[code]

## Current .eslintrc
[code]

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.29.0  |

- [x] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe tha

[2020-01-28 23:10] jonsadka commented on #2754
NOTE: Upgrading to baseui@9.47.2 does not appear to fix the issue

[2020-01-28 23:31] supersonicclay opened #2755 "Invisible notification when used in popover"
https://codesandbox.io/s/invisible-notification-889kq

## Current Behavior

![image](https://user-images.githubusercontent.com/469582/73314567-6c668700-41eb-11ea-9acc-a76904bad6a6.png)
`Notification` content is blank when used as popover content

## Expected Behavior

![image](https://user-images.githubusercontent.com/469582/73314590-80aa8400-41eb-11ea-86c0-b473bb0cf5a5.png)

## Your Environment

[2020-01-29 00:00] gergelyke commented on #2755
@foodforarabbit it seems to be broken because of this diff: https://github.com/uber/baseweb/pull/2650

I wonder, why that might be? 🤔

[2020-01-29 00:13] #2665 closed

[2020-01-29 00:27] foodforarabbit commented on #2755
hmm not sure, if you add
    `focusLock={false}`
to `StatefulPopover`
then it shows up again.

I will debug it later tonight

[2020-01-29 01:14] nadiia commented on #2755
It clears `animateInTimer` on focus triggered by `focusLock` https://github.com/uber/baseweb/blob/master/src/toast/toast.js#L115

[2020-01-29 05:18] keshav-bohr commented on #2696
Great.
Can we also merge https://github.com/uber/baseweb/pull/2722
This is just the doc change for better understanding

@chasestarr

[2020-01-29 05:19] keshav-bohr commented on #2696
Great.
This seems good.

[2020-01-29 14:15] ashish-kale commented on #2680
@chasestarr can you assign this to me?

[2020-01-29 16:47] #2230 closed

[2020-01-29 17:14] #2754 closed

[2020-01-29 18:29] #2720 closed

[2020-01-29 18:44] chasestarr opened #2760 "[ProgressSteps] Step overrides are clobbered by parent component"
reproduction [v8](https://codesandbox.io/s/progress-steps-dotted-usage-s2y2u) -> [v9](https://codesandbox.io/s/progresssteps-dsksp)

The code below should work similarly between v8 and v9
[code]

This children [mapping](https://github.com/uber/baseweb/blob/master/src/progress-steps/progress-steps.js#L32) in `ProgressSteps` should prioritize `Step`'s overrides if present and fallback to  parent ove

[2020-01-29 21:54] #2760 closed

[2020-01-29 22:01] houmark commented on #2755
I also have a modal where the Notification is not showing (`opacity: 0`) due to this regression. Is the PR not good to release?

[2020-01-29 22:02] gergelyke commented on #2755
I think we should add some test coverage first, to make sure we don't run into this issue again

[2020-01-29 22:06] houmark commented on #2755
I agree, but this is a regression that potentially is breaking existing installations in the wild. It "broke" ours - we did a hot patch with `opacity: 1` as an override, but this may affect others way worse.

[2020-01-29 22:07] houmark commented on #2755
So the fix could release and then a follow up with more tests covering it all imho.

[2020-01-29 22:08] gergelyke commented on #2755
that sounds reasonable to me - what do you think @nadiia ?

[2020-01-29 23:58] #2755 closed

[2020-01-30 00:59] grrowl commented on #2640
Here you go buddies, this is based on `styletron-react`'s styles and `baseui`'s flow types. Feel free to incorporate the module overrides into base web:

[code]

[2020-01-30 06:16] rohitb4 commented on #2589
Filter UI is already right with RTL, because there is no absolute positioning.
If there are no other concerns, I will start implementing these.

[2020-01-30 22:54] matthewharwood opened #2776 "Allow Menu component to take a startEnhancer and endEnhancer"
## Feature description
If we're making a [Menu with children](https://baseweb.design/components/menu/#menu-with-child-menu), we are unable to update the inner `ListItem` with a endEnhancer directly.  I've achieved with some very deep overriding but it becomes pretty silly.

I believe a good fix would be to make the [`ListItem` inside `option-list.js`](https://github.com/uber/baseweb/blob/master/sr

[2020-01-30 23:34] BenjaminFrench commented on #1998
@ashish-kale @chasestarr
I am experiencing what I believe to be incorrect highlight behavior with select when multi prop is enabled. This behavior can be observed at https://baseweb.design/components/select/#select-as-multi-pick-search

The first time I click in the select component, the dropdown renders and the first option is highlighted. The next time I click in the input, and subsequent clicks

[2020-01-31 00:38] chasestarr commented on #2696
thank you for the contribution

[2020-01-31 00:39] #2696 closed

[2020-01-31 04:50] keshav-bohr commented on #2696
@chasestarr
Please let me know if i can help you in any other issue resolution.
I would be happy to help :)
Thanks

[2020-01-31 10:21] ashish-kale commented on #1998
@BenjaminFrench I am not able to reproduce the issue in the link you sent, because in it the option which is selected is removed from the dropdown, which leaves nothing to highlight there. Can you sent a codesandbox link if you have can exactly repro the issue?

[2020-01-31 17:19] chasestarr commented on #2696
Thanks @keshav-bohr. We mark github issues with the [help wanted](https://github.com/uber/baseweb/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22) tag if we think it's something that could use some help

[2020-01-31 17:59] BenjaminFrench commented on #1998
@ashish-kale
Here is a codesandbox https://codesandbox.io/s/select-ojeth?fontsize=14&hidenavigation=1&theme=dark

To reproduce:
1. Click inside select component. Option 'AliceBlue' is highlighted - this is correct
2. Select option 'AliceBlue'. Dropdown menu disappears.
3. Click inside select component again. Now there is no option highlighted. Option 'AntiqueWhite' should be highlighted.   getHigh

[2020-01-31 20:23] houmark commented on #1998
For what it's worth, I agree with @BenjaminFrench's expected behavior.

[2020-01-31 22:23] chasestarr commented on #2776
There's quite a few challenges with the Menu component because of initial design decisions. It was essentially built with overrides being the default method of customizing everything. We've had to deal with it so far to avoid breaking changes, but open to some suggestions if anyone has dug into the implementation

[2020-02-01 05:16] andreimc commented on #2547
https://github.com/uber/baseweb/pull/2784

[2020-02-01 05:18] andreimc commented on #2547
this should fix the typescript errors, as a PhoneInput is an input we do the following a a workaround but PR is up

[code]

[2020-02-02 00:09] matthewharwood commented on #2776
If we're stuck with the current API to prevent breaking changes I think we should at least rename `ListItem` inside `option-list.js` and expose `[getItem](https://github.com/uber/baseweb/blob/master/src/menu/option-list.js#L70)` to the docs. I spent way more time than I'm proud to say, trying to figure out how to override `ListItem` because I thought it was a true `[List](https://baseweb.design/co

[2020-02-02 00:12] matthewharwood opened #2786 "[Menu] Children cannot set Popover zIndex."
Menu With children
https://codesandbox.io/s/3em3s?module=/example.js

Overrides need to be passed here
https://github.com/uber/baseweb/blob/master/src/menu/maybe-child-menu.js#L34
## Current Behavior

If we have a Menu with children We are unable to set zIndex of Child Popover.

## Expected Behavior

Ability to pass override props Child Popovers. In particular zIndex

## Your Environment

| Tech

[2020-02-03 19:52] candycanetrain opened #2788 "Numbers in Pagination buttons are not aligned"
## Current Behavior

https://baseweb.design/components/pagination/#pagination

Both the current page number and the max page number are not aligned by default:
![image](https://user-images.githubusercontent.com/19182744/73685135-728cb580-467a-11ea-8163-051cf9089546.png)

Current implementation seems to not allow for overrides that could fix this as both elements do not have an exclusively shared c

[2020-02-03 20:43] chasestarr commented on #1998
reopening since it looks like there are some unresolved issues

[2020-02-03 22:02] matthewharwood opened #2789 "[Menu] Option variant ListItemAnchor doesn't accept target or aria-label"
[Option-list/ListItemAnchor](https://github.com/uber/baseweb/blob/master/src/menu/option-list.js#L44) should accept a target and ariaLabel as a prop similar to href.

[Codesandbox](https://codesandbox.io/s/menu-basic-usage-imdhh)

[code]

[2020-02-04 09:18] ashish-kale commented on #1998
@BenjaminFrench @houmark @chasestarr raised PR for this

[2020-02-05 04:33] yosefanajjar commented on #2752
I looked at the docs example, it is not this way right now, so I think this one is fixed but there is no placeholder anymore even when there are no inputs

[2020-02-05 16:38] chasestarr commented on #2752
Thanks for looking into the issue @yosefanajjar, but the documentation site example does not include a placeholder value. Can you reproduce with the codesandbox, and update it to the latest baseui version?

[2020-02-05 18:07] #2626 closed

[2020-02-06 03:02] #2685 closed

[2020-02-06 05:57] yosefanajjar commented on #2752
So you just want me to add a placeholder to the current version of the input in baseui? either you want this or another thing I can handle it.

I have also found a bug in the tags when you delete the first one the next one is like selected to be deleted, I mean the hover without even hovering on the element, here is a video that can explain it in a better way  https://www.loom.com/share/e2c6c7e6c7

[2020-02-06 10:49] parigi-n opened #2800 "[Layout-grid] Adding style overrides"
I can't find any possibility to overrides anything in the LayoutGrid component like there is in all  others Base web components.
I would like to add some css properties directly on the div created by a Cell component, that i can't put in the children.

There should a possibility to overrides style in Cell component, or at least use the $style in StyledCell.

Thanks !

[2020-02-06 12:42] tangye1234 opened #2801 "Button will capture space key after being clicked"
## Current Behavior

When I click a `Button`, my pre-registered onkeydown listener for document will not be invoked upon I press 'space' key, I guess it is captured by the `Button` component and being stopped from propagation. Why and how can I avoid that?

## Expected Behavior

The component won't capture the space key event and swallow it

## Your Environment

| Tech    | Version |
| ------- | -

[2020-02-06 19:39] chasestarr opened #2803 "[Menu] child menu should render in a predictable dom position"
default: https://codesandbox.io/s/menu-with-child-menu-g6wfj
contained in popover: https://codesandbox.io/s/statefulpopover-2n01p

## Current Behavior

When a child menu is rendered from within popover content, clicks on the child menu close the top-level popover

## Expected Behavior

Clicks on child menus rendered in popover content do not close the top-level popover

[2020-02-06 19:43] chasestarr commented on #2801
Can you edit this codesandbox to reproduce the issue? https://codesandbox.io/s/button-kjo4t

[2020-02-06 20:15] AbdelOufkir opened #2804 "maxLength attribute does not work on input fields"
## Current Behavior

Adding a maxLength attribute to an Input field seems to be not working since the number of characters can be exceeded in that field

## Expected Behavior

As soon as the number of the characters hits the maxLength value the input field should stop accepting any additional input and only allow for editing the entered value

## Your Environment

| Tech    | Version |
| ------- |

[2020-02-07 17:11] chasestarr commented on #2789
This PR should fix the issue: https://github.com/uber/baseweb/pull/2805 Take a peek at some of the tests for how it can be levered. And below I've added an example that will work once [this change](https://github.com/uber/baseweb/pull/2811/files#diff-4c39c8879f4b8236c0f287fb36e0103cR44) is merged soon.

[code]

[2020-02-07 17:11] #2789 closed

[2020-02-07 18:45] #2786 closed

[2020-02-07 18:45] #2803 closed

[2020-02-07 18:46] chasestarr commented on #2680
Thank you @ashish-kale

[2020-02-07 18:46] #2680 closed

[2020-02-07 18:48] chasestarr commented on #2804
Can you please add a reproducing codesandbox? This should get you started: https://codesandbox.io/s/6vfqv?module=/example.js

[2020-02-07 18:49] chasestarr commented on #2617
Closing since it's been a couple weeks. Please add more detail if you're still experiencing the issue

[2020-02-07 18:49] #2617 closed

[2020-02-07 18:54] chasestarr commented on #185
Going to close this issue since it's been sitting around for a while with no progress on the remaining points. We can start a new task for adding a loading state if it's requested

[2020-02-07 18:54] #185 closed

[2020-02-07 21:02] sandgraham commented on #2800
We could probably add a top-level `overrides` to Grid for this purpose.

[code]

Curious about your use case though. What sort of CSS are you applying? Also, is this CSS something you apply to only one Cell or need applied to all Cells?

[2020-02-08 00:37] houmark opened #2822 "StyledTable crashes when nesting a table using span"
## Current Behavior

Having a Grid Table with a nested table above, where doing a `gridColumn="span 5"` crashes using the latest `styletron-react` and `styletron-engine-atomic`:

[code]

This is a forked demo of the documentation site, but with upgraded packages to the latest available version from npm (click on a row arrow to expand it):
https://codesandbox.io/s/nested-table-bulyr

This seems to

[2020-02-08 01:35] houmark commented on #2822
This seems to be related to this commit in `inline-style-prefixer` (styletron-react depends on it) which now expects a `/` in the `gridColumn` property to split on or it will fail:
https://github.com/robinweser/inline-style-prefixer/pull/186/files#diff-5b100f16ea6eb23ee5e65a270c3c0873R54

A workaround seems to be changing `span 5` to `1 / span 5` but that should not be needed.

[2020-02-08 02:55] houmark commented on #2822
Alternatively the long hand `gridColumnStart: 1` and `gridColumnEnd: span 5` will produce the same result. I guess all Baseweb needs to do, is update any example using the shorthand to ensure it does not break with newer versions of `inline-style-prefixer`.

[2020-02-08 03:02] houmark commented on #2822
This seems to be on the radar of `inline-style-prefixer` thanks to @matthewharwood:

https://github.com/robinweser/inline-style-prefixer/issues/176

[2020-02-08 03:13] matthewharwood commented on #2822
https://github.com/styletron/styletron/issues/358 For visibility.

[2020-02-10 06:16] ryshiselect opened #2824 "Masked Input does not have isFocus state"
Masked Input should have an isFocus state like the base Input has.

## Feature description
We have a functionality that when you focus an input (any kind), it should have a positive border color. This is possible in base Input but not in a mask Input.

[2020-02-10 11:17] sultanassi95 commented on #2752
@yosefanajjar Any updates on the tags/placeholder issue?

[2020-02-10 11:28] Mater opened #2825 "FormControl doesn't propagate error, positive, disabled props"
## Current Behavior

FormControl has logic to propagate error, positive and disabled props for child control.
It doesn't work for controls with `defaultProps`.

Example: FormControl with disabled and error. Input has default values for this props and propagation doesn't work. For positive it works, because no positive default in Input.
https://codesandbox.io/s/formcontrol-94fvj

Logic in FormContr

[2020-02-10 11:55] parigi-n commented on #2800
Thanks for your quick answer @sandgraham 😄
For my specific case, I need to apply property 'position: sticky' (on a specific media-query) to one Cell.

[2020-02-10 12:05] parigi-n commented on #2800
To be more specific, i used overrides on SideNavigation with media queries so that i can be more usable in mobile devices
![image](https://user-images.githubusercontent.com/20981240/74148494-daf10f00-4c05-11ea-9fa7-30e77026104d.png)
It's displayed inside a LayoutGrid.
I would like this to be become a sticky header in mobile

[2020-02-10 17:21] chasestarr commented on #2752
The nice thing about this particular issue is that not much is happening 'inside' the component. The Tag components are rendered using overrides and the state is managed in the consuming application. A quick solve if this is a blocker would be to conditionally apply the placeholder value like below

[code]

[2020-02-10 18:21] chasestarr commented on #2824
I believe this override is what you're looking for? https://codesandbox.io/s/maskedinput-m6h2e

[2020-02-10 18:21] #2824 closed

[2020-02-10 18:42] chasestarr commented on #2547
fixed in #2784

[2020-02-10 18:42] #2547 closed

[2020-02-10 18:44] chasestarr commented on #2433
fixed in https://github.com/uber/react-view/pull/23

[2020-02-10 18:44] #2433 closed

[2020-02-10 19:03] chasestarr commented on #1866
I think danger js looks interesting, but seems to be doing more than we need. Maybe we can look to it in the future if it's called for

[2020-02-10 20:02] matthewharwood commented on #2822
I made a diff to fix this:
https://github.com/robinweser/inline-style-prefixer/pull/190

[2020-02-10 20:35] houmark commented on #2822
We only use this span technique two places, so we decided to fix it by adding the correct shorthand "1 / span 5". Happy to see you submitted a PR.

[2020-02-10 21:12] #1866 closed

[2020-02-10 21:40] sandgraham commented on #2800
@parigi-n Gotcha. I think there is a legitimate case to add style overrides to `Grid` & `Cell`. The current API is a bit too restrictive.

However I wonder if you could do something like this for your current design: https://codesandbox.io/s/sticky-cells-n373j

The idea being that you can use custom CSS on an element wrapping the `Grid` component (`Outer` in example) and elements directly inside o

[2020-02-10 21:58] yosefanajjar commented on #2752
@sultanassi95 I will be working on it very soon, just doing a Linux setup the past day, and @chasestarr what do you think about the other bug? should I write an issue for it? or you would do it

[2020-02-10 22:10] chasestarr commented on #2752
Sure, feel free to open an issue with that bug

[2020-02-10 22:23] yosefanajjar commented on #2752
@sultanassi95 maybe you can open up a new issue with that bug and start working on it whenever you're free?

[2020-02-11 10:05] parigi-n commented on #2800
@sandgraham Yeah i think so too, not just for my case, but more because of baseui components policy to be so open to customization.
Thanks for taking the time to search a solution !
However, in your exemple, the whole Grid is sticky. I need only one Cell sticky over the Grid, as this navbar get back to side (thanks to responsive span values), without being sticky, in desktop resolution
![image](ht

[2020-02-11 11:01] sultanassi95 commented on #2752
I was thinking of a more general solution to this particular case, which involves investigating the `inputProps` casted from the `getOverrides` helper.

It looked like: `const placeholder = inputProps.tags.length ? null : this.props.placeholder`, that'ld be in the scope of the render method of the BaseInput component.

I ran into the TS type check trouble while running the test script, which is ki

[2020-02-11 16:07] raunofreiberg opened #2831 "[Documentation] Tooltip missing relevant scope config"
## Current Behavior

Tooltip example is broken in https://baseweb.design/components/tooltip/

Hovering on the Tooltip would show:

![image](https://user-images.githubusercontent.com/23662329/74254428-1ae4ee80-4cf9-11ea-8312-af425f03aaff.png)

## Expected Behavior

Tooltip hover should work properly.

## Your Environment

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.52.0  |
| React

[2020-02-11 17:28] #2831 closed

[2020-02-11 18:08] matthewharwood commented on #2822
@houmark @chasestarr the robinweser/inline-style-prefixer#190 has been landed

[2020-02-11 20:16] #2100 closed

[2020-02-11 21:58] chasestarr opened #2836 "[Select] in loading state shows spinner deprecation warning"
Developers can't take any action on spinners nested in other components. We need to either silence the error where we want to or move to the new spinner in select. Main downside of moving to the new spinner is that it does not expose the same overrides

[2020-02-11 22:46] chasestarr opened #2837 "[Button] height changes between loading/not loading states"
Latest baseui release. Related to https://github.com/uber/baseweb/pull/2821#issuecomment-584880396. It can be reproduced by changing the size prop on Button doc page and then toggling the loading state.

[2020-02-12 02:04] #2801 closed

[2020-02-12 10:41] boenrobot opened #2838 "[Select] Add "name" to override input's name"
## Feature description

A select element creates a UI around an HTML input element, and allows a user to its ID via the "id" attribute. However, it doesn't allow setting the "name". I would like to still identify the select within the form, but not identify it across the page (which is what ID is for).

I can (and do as a workaround right now) use
[code]

but for a use case this typical, I should

[2020-02-12 16:02] gergelyke commented on #2838
Historically, we recommended folks to use the overrides in these cases - but with that said, I am not against the top-level prop either. If we'd do this, however, we should make this a sweeping change across all input components.

Also, what other props we'd expose?

What do you all think @nadiia @sandgraham @chasestarr @tajo

[2020-02-12 17:47] nadiia commented on #2838
It's a good point you brought up! We should add the `name` prop to the top-level select API.

[2020-02-12 17:49] gergelyke commented on #2838
if we do this, for consistency-sake, should we add this to all input components?

[2020-02-12 17:55] chasestarr commented on #2470
So you are aware @shoshannamb I'm going to be changing this feature to be off by default in the next release https://github.com/uber/baseweb/pull/2840

[2020-02-12 23:46] chasestarr commented on #2837
@houmark Thanks for raising the issue. A fix has been published in v9.52.2

[2020-02-13 02:02] houmark commented on #2837
I'm sorry @chasestarr — but I'm still seeing the same height change with v9.52.2 for both a large button and a default-sized button. This may again be due to overrides or a different font-size or something. I'll test more tonight and provide more feedback.

Having said that, I'm not sure the fix with different `sizing.scale` is the safest solution, but I may not understand it well enough. Another

[2020-02-13 17:26] nadiia commented on #2838
Yes, we should revisit all form components and make sure they expose `id`, `name`, `aria-label`, `aria-labelledby`, `aria-describedby`, `required`, `disabled`, `autofocus`, `type`, `value`, `alt`, `autocomplete` where applicable.

[2020-02-13 17:53] chasestarr commented on #2837
I can't reproduce on our docs site editor, but good point about overrides. If button font size has been overridden, it will continue to change height. Is that what you have going on in your application?

[2020-02-13 18:10] chasestarr commented on #2822
I think this can be safely closed since we specify `styletron-engine-atomic` to be the latest minor version in `package.json`. Thank you for putting in the upstream pr @matthewharwood

[2020-02-13 18:10] #2822 closed

[2020-02-13 19:05] houmark commented on #2837
No, we don't have any font sizes changes, our theme tweaks are only colors and media breakpoints.

I've narrowed it down to a global style we have:

[code]

This should not really break anything and while this one may be obtrusive, it's also "normal" practice to have this style in modern applications. If we drop that style, then most of our design breaks. Maybe this is simply missing in the div's

[2020-02-13 19:18] houmark commented on #2837
I think this change is gonna create a lot of problems. Maybe this should be reverted until a proper solution that as sensible can be thought out.

This is a Code Sandbox, forked from the documentation site, and no other modifications has been done than a quick and dirty loading state change:
https://codesandbox.io/s/button-zvifg

Note how the button sizes down when loading. This may be due to miss

[2020-02-13 19:22] houmark commented on #2837
I've now added the border-box CSS style in index.html and the button is resizing its height when the loading state changes.

[2020-02-13 20:03] houmark commented on #2837
I did a "hot patch" on our CSS to be like this, which fixed the height changes on buttons when `isLoading` is true:

[code]

Baseweb should maybe handle that?

I think a better long term solution is a ref on the button to measure the height and keeping that exact height while loading, though I am not sure if different box-sizing will still affect that, though it should be possible to reset that an

[2020-02-13 20:23] #2788 closed

[2020-02-13 21:21] #2402 closed

[2020-02-13 21:21] #2630 closed

[2020-02-13 21:51] chasestarr commented on #2533
This PR added how to do this in an example: https://github.com/uber/baseweb/pull/2711

[2020-02-13 21:51] #2533 closed

[2020-02-13 22:11] gergelyke commented on #2838
sounds great, thanks Nadiia - @boenrobot any chance you could help us shipping this by putting up diffs for each components?

[2020-02-13 22:37] chasestarr commented on #2837
Applying global styles to elements is not something we can sustainably support, but I'm happy to push a fix for this particular situation

[2020-02-13 22:56] houmark commented on #2837
Maybe you misunderstood me. My main purpose is that the button is not sensible to common inherited global CSS styles like `box-sizing`, not to be too opinionated about how CSS needs to be done in order for it to work.

I'll test the fix once released and report back!

And just for the record, it's not semantically correct to have a `div` inside a `button` so fixing that may be a good idea and woul

[2020-02-13 22:58] houmark commented on #2837
`span` is semantically correct, so replacing the spinner to be a span when inside a button (and maybe also in other tags that does not allow a child div) may be a good solution. I don't think there should be any issues with making the span act as a div for the spinner.

[2020-02-13 23:34] chasestarr commented on #2837
Sure, pushed a commit with it as a span

[2020-02-13 23:35] houmark commented on #2837
Great, I was thinking that just making it a span in all situations could work.

I'll test and report back!

[2020-02-14 17:42] #2752 closed

[2020-02-14 18:44] chasestarr opened #2862 "[Accordion] Document how to create a custom panel component"
It's unclear that props need to be shuttled through a custom wrapper to a `Panel` component. We should add an example that shows this on the docs site

[sandbox](https://codesandbox.io/s/accordion-u5q0q)

[2020-02-15 00:07] #2837 closed

[2020-02-17 11:31] raunofreiberg commented on #2698
The issue seems to have re-appeared in production: https://baseweb.design/components/button/

[2020-02-17 14:04] conradreuter opened #2869 "baseui/deprecated-component-api is too aggressive"
## Current Behavior

baseui/deprecated-component-api complains about this:

[code]

## Expected Behavior

It should only complain about the spinner component from baseui.

- [x ] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe that this is not a duplicate.

[2020-02-17 21:01] VladimirMilenko opened #2870 "[TimePicker] Selecting 12:00 AM returns current date"
## Current Behavior
When selecting 12:00 AM value is ignored as seconds equals 0. And therefore time picker selects current date.

https://github.com/uber/baseweb/blob/master/src/timepicker/timepicker.js#L163
[code]

## Expected Behavior

Set 12:00 AM of current date.

## Your Environment

https://codesandbox.io/s/timepicker-n5968

| Tech    | Version |
| ------- | ------- |
| Base UI | v9.54.0  |

[2020-02-18 18:49] jonsadka opened #2872 "[Block] Setting `className` on a `Block` element results in a TypeScript error"
Setting `className` on a `Block` element results in a TypeScript error:

https://codesandbox.io/s/block-basic-usage-dny94

<img width="649" alt="Screen Shot 2020-02-18 at 10 47 12 AM" src="https://user-images.githubusercontent.com/6504944/74767621-0d20f300-523c-11ea-9780-c3a027adfe7b.png">

## Current Behavior

TypeScript error

## Expected Behavior

No TypeScript error

- [x] I have searched the

[2020-02-18 18:53] gergelyke commented on #2872
I think this is by design? Currently, I don't think any component supports this

[2020-02-18 19:08] jonsadka commented on #2872
Seems odd that this `className` wouldnt be a supported prop / attribute since it's available on nearly all JSX elements.

I know it can be set as an override but this behavior is inconsistent with FlowJS which does not throw an error

[2020-02-18 20:56] gergelyke commented on #2698
checking

[2020-02-18 22:23] #2870 closed

[2020-02-19 18:32] chasestarr opened #2884 "[Select] option with href property renders as anchor in dropdown"
This is an unintended side-effect of https://github.com/uber/baseweb/pull/2631 which adds anchor rendering to the `Menu` component. I can't think of a use-case for rendering the anchor in the select dropdown. We should probably disable this feature when rendered from the select component since it's somewhat of a regression on existing applications

## Current Behavior

options with the `href` prop

[2020-02-20 16:20] rohitb4 commented on #2884
Do existing applications use href within select, I thought #2631 introduced href in menu and select.

[2020-02-20 19:25] chasestarr opened #2894 "[DataTable] add callback to stateful component on column sort change"
The component includes filter callbacks, it should propagate sort listeners to fetch different data based on sort direction

[2020-02-20 19:29] chasestarr commented on #2884
I edited the original message to be more clear. It doesn't make much sense to render an anchor element in a select dropdown. The select component is supposed to act similarly to html select element, which does not cause a page navigation when an option is clicked

[2020-02-20 20:44] chasestarr opened #2895 "[DataTable] add initialSelectedRowIds to stateful component"
similar to `initialFilters` https://github.com/uber/baseweb/blob/master/src/data-table/types.js#L81 but it can load the stateful component with pre-populated selection

[2020-02-20 22:30] chasestarr opened #2897 "[TextArea] docs site includes props that do not apply"
I believe the configuration for react-view on this page is reusing the config from `Input`. It includes many extra props that do not apply and should be removed

[2020-02-20 22:43] #2869 closed

[2020-02-21 03:42] rohitb4 commented on #2895
@chasestarr can I work on this?

[2020-02-21 10:36] parigi-n commented on #2800
@sandgraham Thanks for the PR, you rock ! Reviewed the PR and it seems to properly add all the functionalities i described 😃

[2020-02-21 11:48] png-prakash opened #2902 "how to use KIND for button and notifications?"
import { Button, KIND, SIZE } from "baseui/button";
import {Notification, KIND} from 'baseui/notification';

I got error like Parsing error: Identifier 'KIND' has already been declared

If I remove KIND in notification, KIND not working

[2020-02-21 16:18] gergelyke commented on #2902
you can do something likethis

[code]

[2020-02-21 16:18] #2902 closed

[2020-02-21 16:46] #2589 closed

[2020-02-22 17:58] matthewharwood opened #2907 "[Button] Mini size - text and icons are vertically centered"
[CodePen](https://codesandbox.io/s/t7twj?module=/example.js)

## Current Behavior
The text and loading icons for mini buttons are slightly off from vertical center

## Expected Behavior

Loading and text should be properly centered on mini sized buttons

- [x] I have searched the [issues](https://github.com/uber/baseweb/issues) of this repository and believe that this is not a duplicate.